<div id="anaSlider">
    <div>
        <div class="container-fluid" style="
            background-image:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(/images/slider/slider1.jpg);
            background-repeat: no-repeat;
            background-size:cover;
            background-position-x: center;
            background-position-y: bottom;
            ">
            <div class="container p-0">
                <img src="images/slider/slider1.jpg" alt="">
            </div>
        </div>
    </div>
    <div>
        <div class="container-fluid">
            <div class="container">
                slide 2
            </div>
        </div>
    </div>
    <div>
        <div class="container-fluid">
            <div class="container">
                slide 3
            </div>
        </div>
    </div>
</div>