<div id="anaSlider">
    <div>
        <div class="container-fluid slide slide1">
            <div class="container p-0">
                <img src="{{#eq language 'en'}}../{{/eq}}images/headers/home-slider/kadin.jpg" class="img-fluid" alt="Orta yaşlarda, başörtülü, maske, kulaklık ve eldiven takmış kadınlar, yürüyen bir bandın iki yanında ayakta sıralanmışlar. Bandın üzerinde bulunan maden taşlarını ayıklıyorlar.">
            </div>
        </div>
    </div>
    <div>
        <div class="container-fluid slide slide2">
            <div class="container p-0">
                <img src="{{#eq language 'en'}}../{{/eq}}images/headers/home-slider/genc.jpg" class="img-fluid" alt="Kırsal bir arazide ayakta duran bir grup genç, sırtı kameraya dönük gömlekli bir erkeğin anlattıklarını dinliyorlar.">
            </div>
        </div>
    </div>
    <div>
        <div class="container-fluid slide slide3">
            <div class="container p-0">
                <img src="{{#eq language 'en'}}../{{/eq}}images/headers/home-slider/engelli.jpg" class="img-fluid" alt="Açık havada taş merdivenlerin iki basamağına arka arkaya oturmuş dokuz küçük çocuk ellerini havaya kaldırmış şekilde, işaret dilinde alkış işaretini yaparken, gülümseyerek poz veriyorlar.">
            </div>
        </div>
    </div>
</div>