<div class="d-inline js-font-increase color-icons">A <span class="sr-only">{{#eq language 'tr'}}Büyük yazı fontu{{else}}Big text font{{/eq}}</span></div>
<div class="d-inline js-font-normal color-icons">A <span class="sr-only">{{#eq language 'tr'}}Orta yazı fontu{{else}}Normal text font{{/eq}}</span></div>
<div class="d-inline js-font-decrease color-icons">A <span class="sr-only">{{#eq language 'tr'}}Küçük yazı fontu{{else}}Small text font{{/eq}}</span></div>