{{!-- <div class="row my-4 d-block position-relative" style="z-index:1;">
    <div class="col-12 text-right"> --}}
<span class="js-font-increase color-icons">A</span>
<span class="js-font-normal color-icons">A</span>
<span class="js-font-decrease color-icons">A</span>
{{!--     </div>
</div> --}}