<div class="row d-block position-relative" style="z-index:1;">
    <div class="col-12 my-4 text-right">
        <span class="js-font-decrease">A</span> <span class="js-font-normal">A</span> <span class="js-font-increase">A</span>
    </div>
</div>