<section id="slidersection">
    {{> anaSlider}}
</section>

<section id="contentsection">
    <div class="container">
        {{> fontResizer}}
        {{!-- MESSAGE FROM CHAIRMAN --}}
        <div class="row">
            <div class="col-12 text-center">
                <div class="border-bottom-yesil color-yesil bold mt-5 mb-3">MESSAGE FROM CHAIRMAN</div>
            </div>
            <div class="col-lg-3 text-center">
                <img src="../images/baskanin-mesaji-anasayfa.png" class="img-fluid my-3" alt="">
            </div>
            <div class="col-lg-9 d-flex flex-column justify-content-center">
                <p>The Sabancı Foundation has been doing philanthropic work with the principle of “sharing what we have obtained from these lands with its people” as adopted by our founder Hacı Ömer Sabancı for 45 years. We are very happy with the fact that we have granted 148 projects in 74 provinces across Turkey to date within the scope of this Grant Programs that we initiated 12 years ago with the mission to contribute to education, cultural and social developments, which is also the main goal of our Foundation.</p>
                <a class="bold color-kahve mt-3" href="message-from-chairman.hbs" role="button">Read more...</a>
            </div>
        </div>
        {{!-- GRANT PROGRAMS IN BRIEF --}}
        <div class="row">
            <div class="col-12 text-center">
                <div class="border-bottom-yesil color-yesil bold mt-5 mb-3">GRANT PROGRAMS IN BRIEF</div>
            </div>
            <div class="col-lg-3 text-center">
                <img src="../images/hibe-programi-hakkinda-anasayfa.png" class="img-fluid my-3" alt="">
            </div>
            <div class="col-lg-9 d-flex flex-column justify-content-center">
                <p>The Sabancı Foundation has been doing philanthropic work with the principle of “sharing what we have obtained from these lands with its people” as adopted by our founder Hacı Ömer Sabancı for 45 years. We are very happy with the fact that we have granted 148 projects in 74 provinces across Turkey to date within the scope of this Grant Programs that we initiated 12 years ago with the mission to contribute to education, cultural and social developments, which is also the main goal of our Foundation.</p>
                <a class="bold color-kahve mt-3" href="grant-programs-in-brief.hbs" role="button">Read more...</a>
            </div>
        </div>
        {{!-- GRANT PROGRAMS MAP 2019-2020 --}}
        <div class="row">
            <div class="col-12 text-center">
                <div class="border-bottom-yesil color-yesil bold mt-5 mb-3">GRANT PROGRAMS MAP 2019-2020</div>
            </div>
            <div class="col-12 text-center my-5">
                {{> hibe-programi-haritasi}}
            </div>
        </div>
        {{!-- SAYILARLA HİBELER --}}
        <div class="row">
            <div class="col-12 text-center">
                <div class="border-bottom-yesil color-yesil bold my-5">INFOGRAPHICS</div>
            </div>
            <div class="col-12">
                {{> infographics}}
            </div>
        </div>
        {{!-- KÜNYE --}}
        <div class="row">
            <div class="col-12 text-center kunye mt-5">
                <div class="dropup">
                    <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Künye ENG...
                    </button>
                    <div class="dropdown-menu">
                        <p class="bold">EKİM ZAMANI 2019-2020 <br>Sabancı Vakfı Hibe Programı Öyküleri</p>
                        <p>Ekim 2020, İstanbul</p>
                        <p>Yazar <br><strong>Yağmur Çalışkan</strong></p>
                        <p>Editör <br><strong>Zeynep Arslan</strong></p>
                        <p>Çeviri <br><strong>Burçin İçdem</strong></p>
                        <p>Web Tasarımı <br><strong>Murat Özgül ve Evren Çağlayan</strong></p>
                        <p>Fotoğraflar <br><strong>Emir Uzun</strong></p>
                        <p>Bu yayın Sabancı Vakfı Hibe Programları kapsamında hazırlanmıştır.</p>
                        <p>SABANCI VAKFI <br>Sabancı Center, 4. Levent 34330 İstanbul <br>T +90 212 385 88 00 F +90 212 385 88 11 <br><a href="http://www.sabancivakfi.org" target="_blank">www.sabancivakfi.org</a></p>
                        <p>Bütün hakları Sabancı Vakfı’na aittir. <br>2020 © SABANCI VAKFI</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>