<section id="slidersection">
    {{> anaSlider}}
</section>

<section id="contentsection">
    <div class="container" id="main-content">
        {{> fontResizer}}
        {{!-- BAŞKANI’NIN MESAJI --}}
        <div class="row">
            <div class="col-12 text-center">
                <h6 class="border-bottom-yesil color-yesil bold mt-5 mb-3">BAŞKAN’IN MESAJI</h6>
            </div>
            <div class="col-lg-3 text-center">
                <img src="images/baskanin-mesaji-anasayfa.png" class="img-fluid my-3" alt="">
            </div>
            <div class="col-lg-9 d-flex flex-column justify-content-center">
                <p>Sabancı Vakfı olarak, “Bu topraklardan kazandıklarımızı bu toprakların insanlarıyla paylaşmak” ilkesiyle 46 yıldır hayırseverlik çalışmalarımızı sürdürüyoruz. Toplumsal gelişmeye katkıda bulunan aktörlerin başında gelen sivil toplum kuruluşlarını destekleme hedefiyle 13 yıl önce başladığımız Hibe Programları kapsamında bugüne kadar Türkiye’nin 76 ilinde 162 projeye hibe desteği vermenin memnuniyeti içindeyiz.</p>
                <a class="bold color-kahve mt-3 font-resize" href="baskanin-mesaji.hbs" role="button">Devamını oku...</a>
            </div>
        </div>
        {{!-- HİBE PROGRAMI HAKKINDA --}}
        <div class="row">
            <div class="col-12 text-center">
                <h6 class="border-bottom-yesil color-yesil bold mt-5 mb-3">HİBE PROGRAMLARI HAKKINDA</h6>
            </div>
            <div class="col-lg-3 text-center">
                <img src="images/hibe-programi-hakkinda-anasayfa.png" class="img-fluid my-3" alt="">
            </div>
            <div class="col-lg-9 d-flex flex-column justify-content-center">
                <p>Sabancı Vakfı, Hibe Programları’nı ilk defa 2007 yılında, kadın, genç ve engellilere yönelik projeler yürüten sivil toplum kuruluşlarını desteklemek üzere hayata geçirdi.</p>
                <a class="bold color-kahve mt-3 font-resize" href="hibe-programi-hakkinda.hbs" role="button">Devamını oku...</a>
            </div>
        </div>
        {{!-- HİBE PROGRAMLARI HARİTASI 2019-2020 --}}
        <div class="row">
            <div class="col-12 text-center">
                <h6 class="border-bottom-yesil color-yesil bold mt-5 mb-3">HİBE PROGRAMLARI HARİTASI 2019-2020</h6>
            </div>
            <div class="col-12 text-center my-5">
                {{> hibe-programi-haritasi}}
            </div>
        </div>
        {{!-- SAYILARLA HİBELER --}}
        <div class="row">
            <div class="col-12 text-center">
                <h6 class="border-bottom-yesil color-yesil bold my-5">İNFOGRAFİKLER</h6>
            </div>
            <div class="col-12 my-5">
                {{> infografikler}}
            </div>
        </div>
        {{!-- KÜNYE --}}
        <div class="row">
            <div class="col-12 text-center kunye mt-5">
                <div class="dropup">
                    <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Künye
                    </button>
                    <div class="dropdown-menu">
                        <p class="bold mt-0">EKİM ZAMANI 2019-2020<br>Sabancı Vakfı Hibe Programı Öyküleri</p>
                        <p>Yazar <br><strong>Yağmur Çalışkan ve Nazlı Sönmez</strong></p>
                        <p>Editör <br><strong>Zeynep Arslan</strong></p>
                        <p>Çeviri <br><strong>Burçin İçdem</strong></p>
                        <p>Web Tasarımı <br><strong>Murat Özgül ve Evren Çağlayan</strong></p>
                        <p>Fotoğraflar <br><strong>Emir Uzun</strong></p>
                        <p>Bu yayın Sabancı Vakfı Hibe Programları kapsamında hazırlanmıştır.</p>
                        <p>SABANCI VAKFI <br>Sabancı Center, 4. Levent 34330 İstanbul <br><strong>T</strong> +90 212 385 88 00 <strong>F</strong> +90 212 385 88 11</p>
                        <p>Bütün hakları Sabancı Vakfı’na aittir. <br>2020 © SABANCI VAKFI</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>