<section id="slidersection">
    {{> anaSlider}}
</section>

<section id="contentsection">
    <div class="container" id="main-content">
        {{> fontResizer}}
        {{!-- MESSAGE FROM CHAIR --}}
        <div class="row">
            <div class="col-12 text-center">
                <div class="border-bottom-yesil color-yesil bold mt-5 mb-3">MESSAGE FROM CHAIR</div>
            </div>
            <div class="col-lg-3 text-center">
                <img src="../images/baskanin-mesaji-anasayfa.png" class="img-fluid my-3" alt="">
            </div>
            <div class="col-lg-9 d-flex flex-column justify-content-center">
                <p>The Sabancı Foundation has been doing philanthropic work with the principle of “sharing what we have obtained from these lands with its people” for 46 years. We are very happy with the fact that we have supported 162 projects in 76 provinces across Turkey with grants to date within the scope of the Grant Programs we initiated 13 years ago with the mission to support civil society organizations as the most prominent actors that contribute to social developments.</p>
                <a class="bold color-kahve mt-3" href="message-from-chair.hbs" role="button">Read more...</a>
            </div>
        </div>
        {{!-- GRANT PROGRAMS IN BRIEF --}}
        <div class="row">
            <div class="col-12 text-center">
                <div class="border-bottom-yesil color-yesil bold mt-5 mb-3">GRANT PROGRAMS IN BRIEF</div>
            </div>
            <div class="col-lg-3 text-center">
                <img src="../images/hibe-programi-hakkinda-anasayfa.png" class="img-fluid my-3" alt="">
            </div>
            <div class="col-lg-9 d-flex flex-column justify-content-center">
                <p>The Sabancı Foundation initiated its Grant Programs in 2007 to support civil society organizations engaged in projects for women, youth and people with disabilities.</p>
                <a class="bold color-kahve mt-3" href="grant-programs-in-brief.hbs" role="button">Read more...</a>
            </div>
        </div>
        {{!-- GRANT PROGRAMS MAP 2019-2020 --}}
        <div class="row">
            <div class="col-12 text-center">
                <div class="border-bottom-yesil color-yesil bold mt-5 mb-3">GRANT PROGRAMS MAP 2019-2020</div>
            </div>
            <div class="col-12 text-center my-5">
                {{> hibe-programi-haritasi}}
            </div>
        </div>
        {{!-- SAYILARLA HİBELER --}}
        <div class="row">
            <div class="col-12 text-center">
                <div class="border-bottom-yesil color-yesil bold my-5">INFOGRAPHICS</div>
            </div>
            <div class="col-12">
                {{> infographics}}
            </div>
        </div>
        {{!-- COPYRIGHT --}}
        <div class="row">
            <div class="col-12 text-center kunye mt-5">
                <div class="dropup">
                    <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Copyright Page
                    </button>
                    <div class="dropdown-menu">
                        <p class="bold">SOWING SEASON 2019-2020 <br>Sabancı Foundation Grant Program Stories</p>
                        <p>October 2020, İstanbul</p>
                        <p>Writer <br><strong>Yağmur Çalışkan ve Nazlı Sönmez</strong></p>
                        <div class="d-flex justify-content-around">
                            <p>Editor <br><strong>Zeynep Arslan</strong></p>
                            <p>Translator <br><strong>Burçin İçdem</strong></p>
                        </div>
                        <p>Web Design <br><strong>Murat Özgül ve Evren Çağlayan</strong></p>
                        <p>Photographs <br><strong>Emir Uzun</strong></p>
                        <p>This publication has been developed and published within the scope of the Sabancı Foundation Grant Programs.</p>
                        <p>SABANCI VAKFI <br>Sabancı Center, 4. Levent 34330 İstanbul <br>T +90 212 385 88 00 F +90 212 385 88 11 <br><a href="http://www.sabancivakfi.org" target="_blank">www.sabancivakfi.org</a></p>
                        <p>All rights reserved to Sabancı Foundation. <br>2020 © SABANCI VAKFI</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>