<section id="slidersection">
    {{> anaSlider}}
</section>

<section id="contentsection">
    <div class="container">
        {{!-- BAŞKANI’NIN MESAJI --}}
        <div class="row">
            <div class="col-12 text-center">
                <div class="border-bottom-yesil color-yesil bold mt-5 mb-3">BAŞKANI’NIN MESAJI</div>
            </div>
            <div class="col-lg-3 text-center">
                <img src="images/baskanin-mesaji-anasayfa.png" class="img-fluid my-3" alt="">
            </div>
            <div class="col-lg-9 d-flex flex-column justify-content-center">
                <p>Sabancı Vakfı olarak, kurucumuz Hacı Ömer Sabancı’nın “Bu topraklardan kazandıklarımızı bu toprakların insanlarıyla paylaşmak” ilkesiyle 45 yıldır hayırseverlik çalışmalarımızı sürdürüyoruz. Vakfımızın ana hedefi olan eğitime, kültürel ve toplumsal gelişmeye katkıda bulunma misyonundan hareketle, 12 yıl önce başladığımız Hibe Programları’yla bugüne kadar Türkiye’nin 74 ilinde 148 projeye hibe desteği vermenin mutluluğu içerisindeyiz.</p>
                <a class="bold color-kahve mt-3" href="baskanin-mesaji.hbs" role="button">Devamını oku...</a>
            </div>
        </div>
        {{!-- HİBE PROGRAMI HAKKINDA --}}
        <div class="row">
            <div class="col-12 text-center">
                <div class="border-bottom-yesil color-yesil bold mt-5 mb-3">HİBE PROGRAMI HAKKINDA</div>
            </div>
            <div class="col-lg-3 text-center">
                <img src="images/hibe-programi-hakkinda-anasayfa.png" class="img-fluid my-3" alt="">
            </div>
            <div class="col-lg-9 d-flex flex-column justify-content-center">
                <p>Sabancı Vakfı olarak, kurucumuz Hacı Ömer Sabancı’nın “Bu topraklardan kazandıklarımızı bu toprakların insanlarıyla paylaşmak” ilkesiyle 45 yıldır hayırseverlik çalışmalarımızı sürdürüyoruz. Vakfımızın ana hedefi olan eğitime, kültürel ve toplumsal gelişmeye katkıda bulunma misyonundan hareketle, 12 yıl önce başladığımız Hibe Programları’yla bugüne kadar Türkiye’nin 74 ilinde 148 projeye hibe desteği vermenin mutluluğu içerisindeyiz.</p>
                <a class="bold color-kahve mt-3" href="hibe-programi-hakkinda.hbs" role="button">Devamını oku...</a>
            </div>
        </div>
        {{!-- HİBE PROGRAMLARI HARİTASI 2019-2020 --}}
        <div class="row">
            <div class="col-12 text-center">
                <div class="border-bottom-yesil color-yesil bold mt-5 mb-3">HİBE PROGRAMLARI HARİTASI 2019-2020</div>
            </div>
            <div class="col-12 text-center my-5">
                {{> hibe-programi-haritasi}}
            </div>
        </div>
        {{!-- SAYILARLA HİBELER --}}
        <div class="row">
            <div class="col-12 text-center">
                <div class="border-bottom-yesil color-yesil bold my-5">SAYILARLA HİBELER</div>
            </div>
            <div class="col-12">
                <div id="sayilarla-hibeler-slider">
                    <div>
                        {{> sayilarla-hibeler-slider/yuvarlak-185}}
                    </div>
                    <div>
                        {{> sayilarla-hibeler-slider/yuvarlak-750}}
                    </div>
                    <div>
                        {{> sayilarla-hibeler-slider/yuvarlak-148}}
                    </div>
                    <div>
                        {{> sayilarla-hibeler-slider/yuvarlak-185}}
                    </div>
                    <div>
                        {{> sayilarla-hibeler-slider/yuvarlak-750}}
                    </div>
                    <div>
                        {{> sayilarla-hibeler-slider/yuvarlak-148}}
                    </div>
                    <div>
                        {{> sayilarla-hibeler-slider/yuvarlak-185}}
                    </div>
                    <div>
                        {{> sayilarla-hibeler-slider/yuvarlak-750}}
                    </div>
                    <div>
                        {{> sayilarla-hibeler-slider/yuvarlak-148}}
                    </div>
                </div>
            </div>
        </div>
        {{!-- KÜNYE --}}
        <div class="row">
            <div class="col-12 text-center kunye mt-5">
                <div class="dropup">
                    <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Künye
                    </button>
                    <div class="dropdown-menu" style="font-family:odudo_slablight;font-size:.65rem;text-align:center;width:292px;padding:1rem 1rem 0;">
                        <p class="bold">EKİM ZAMANI 2019-2020 <br>Sabancı Vakfı Hibe Programı Öyküleri</p>
                        <p>Ekim 2020, İstanbul</p>
                        <p>Yazar <br>Yağmur Çalışkan</p>
                        <p>Editör <br>Zeynep Arslan</p>
                        <p>Çeviri <br>Burçin İçdem</p>
                        <p>Web Tasarımı <br>Murat Özgül ve Evren Çağlayan</p>
                        <p>Fotoğraflar <br>Emir Uzun</p>
                        <p>Bu yayın Sabancı Vakfı Hibe Programları kapsamında hazırlanmıştır.</p>
                        <p>SABANCI VAKFI <br>Sabancı Center, 4. Levent 34330 İstanbul <br>T +90 212 385 88 00 F +90 212 385 88 11 <br><a href="http://www.sabancivakfi.org" target="_blank">www.sabancivakfi.org</a></p>
                        <p>Bütün hakları Sabancı Vakfı’na aittir. <br>2020 © SABANCI VAKFI</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>