<div id="fullpage">
    <div class="section" id="section1">Kalite odaklı mühendislik çözümleri</div>
    <div class="section" id="section2">Entegre yapı</div>
    <div class="section" id="section3">CSIA Uluslararası Kontrol Sistemleri Birliği'nin2020 listesine göre dünyanın 37. en büyük sistem entegratörü</div>
    <div class="section" id="section4">300+ proje ile 25 ülkede faaliyet</div>
    <div class="section" id="section5">Uluslararası Akreditasyon Belgeleri</div>
    <div class="section" id="section6">3 Kıtada Ofis 6 Ülkede Acente Ağı</div>
    <div class="section" id="section7">
        {{> homeFlow}}
    </div>
</div>