<div id="sayilarla-hibeler-slider">
    <div>
        {{> sayilarla-hibeler-slider/yuvarlak-13}}
    </div>
    <div>
        {{> sayilarla-hibeler-slider/yuvarlak-25}}
    </div>
    <div>
        {{> sayilarla-hibeler-slider/yuvarlak-76}}
    </div>
    <div>
        {{> sayilarla-hibeler-slider/yuvarlak-162}}
    </div>
    <div>
        {{> sayilarla-hibeler-slider/yuvarlak-223}}
    </div>
    <div>
        {{> sayilarla-hibeler-slider/yuvarlak-900}}
    </div>
</div>