<div id="sayilarla-hibeler-slider">
    <div>
        {{> sayilarla-hibeler-slider/yuvarlak-76-en}}
    </div>
    <div>
        {{> sayilarla-hibeler-slider/yuvarlak-162-en}}
    </div>
    <div>
        {{> sayilarla-hibeler-slider/yuvarlak-223-en}}
    </div>
    <div>
        {{> sayilarla-hibeler-slider/yuvarlak-900-en}}
    </div>
</div>