<nav class="navbar navbar-expand-xl navbar-light bg-light" id="nav">
    <div class="container px-sm-3">
        <a class="navbar-brand d-xl-none" href="#">
            <img src="images/sabanci-vakfi-logo-mavi.svg" style="width: auto;height:25px;" alt="">
        </a>
        <button class="navbar-toggler hamburger hamburger--spring ml-auto" type="button"> <span class="hamburger-box"> <span class="hamburger-inner"></span> </span> </button>
        <div class="collapse navbar-collapse" id="navbars">
            <ul class="navbar-nav w-100">
                <li class="nav-item mr-auto dropdown" id="menuitem1">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">EKİM ZAMANI HİBE ÖYKÜLERİ 2019-2020 <span class="sr-only">(current)</span></a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Yüksekova’da Kadın Olmak</a>
                        <a class="dropdown-item" href="#">Yüksekova’da Kadın Olmak</a>
                        <a class="dropdown-item" href="#">Yüksekova’da Kadın Olmak</a>
                        <a class="dropdown-item" href="#">Yüksekova’da Kadın Olmak</a>
                    </div>
                </li>
                <li class="nav-item" id="menuitem2">
                    <a class="nav-link" href="#">BAŞKAN’IN MESAJI</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">HİBE PROGRAMI HAKKINDA</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown02">
                        <a class="dropdown-item" href="#">Neden Kadın, Genç ve Engelliler?</a>
                        <a class="dropdown-item" href="#">Neden Sivil Toplum Kuruluşları?</a>
                        <a class="dropdown-item" href="#">Hibe Programları Süreci Nasıl İşler?</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SAYILARLA HİBELER</a>
                    <div class="dropdown-menu dropdown-menu-xl-right" aria-labelledby="dropdown03">
                        <a class="dropdown-item" href="#">Projeler Haritası</a>
                        <a class="dropdown-item" href="#">İnfografikler</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>