<nav class="navbar navbar-expand-xl" id="nav">
    <div class="container px-sm-3 px-xl-0">
        <a class="navbar-brand d-xl-none" href="index.hbs">
            <img src="../images/sabanci-vakfi-logo-mavi.svg" style="width: auto;height:23px;" class="unscrolled-image" alt="">
            <img src="../images/sabanci-vakfi-logo-whiteII.svg" style="width: auto;height:23px;" class="scrolled-image" alt="">
        </a>
        <button class="navbar-toggler hamburger hamburger--spring ml-auto" type="button"> <span class="hamburger-box"> <span class="hamburger-inner"></span> </span> </button>
        <div class="collapse navbar-collapse" id="navbars">
            <ul class="navbar-nav w-100">
                <li class="nav-item mr-auto dropdown" id="menuitem1">
                    <a class="nav-link" href="#" id="dropdown01">
                        <div>SOWING SEASON GRANT PROGRAM STORIES 2019-2020</div>
                    </a>
                    <a href="#" class="nav-link dropdown-toggle dropdown-toggle-split p-0" id="dropdown01-ok" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="academy-on-living-with-allergy.hbs">Academy on Living with Allergy</a>
                        <a class="dropdown-item" href="teachers-first-for-children.hbs">Teachers First for Children</a>
                        <a class="dropdown-item" href="before-its-too-late-istanbul.hbs">Before It’s Too Late - İstanbul</a>
                        <a class="dropdown-item" href="disability-rights-in-education.hbs">Disability Rights in Education</a>
                        <a class="dropdown-item" href="accessible-science-education.hbs">Accessible Science Education</a>
                        <a class="dropdown-item" href="youth-work-academy.hbs">Youth Work Academy</a>
                        <a class="dropdown-item" href="strong-woman-strong-cooperative.hbs">Strong Women Strong Cooperative</a>
                        <a class="dropdown-item" href="dream-designers.hbs">Dream Designers</a>
                        <a class="dropdown-item" href="bilingual-reading-development.hbs">Bilingual Reading Development</a>
                        <a class="dropdown-item" href="women-brigthen-the-mine-with-their-light.hbs">Women Brigthen the Mine with Their Light</a>
                        <a class="dropdown-item" href="rural-teachers.hbs">Rural Teachers</a>
                        <a class="dropdown-item" href="being-a-woman-in-yuksekova.hbs">Being a Woman in Yüksekova</a>
                    </div>
                </li>
                <li class="nav-item" id="menuitem0">
                    <a class="nav-link" href="index.hbs">
                        <div>HOME</div>
                    </a>
                </li>
                <li class="nav-item" id="menuitem2">
                    <a class="nav-link" href="message-from-chair.hbs">
                        <div>MESSAGE FROM CHAIRMAN</div>
                    </a>
                </li>
                <li class="nav-item dropdown" id="menuitem3">
                    <a class="nav-link" href="#" id="dropdown02">
                        <div>GRANT PROGRAMS IN BRIEF</div>
                    </a>
                    <a href="#" class="nav-link dropdown-toggle dropdown-toggle-split p-0" id="dropdown02-ok" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown02">
                        <a class="dropdown-item" href="grant-programs-in-brief.hbs">Why Women, Youth and People with Disabilities?</a>
                        <a class="dropdown-item" href="grant-programs-in-brief.hbs">Why Civil Society Organizations?</a>
                        <a class="dropdown-item" href="grant-programs-in-brief.hbs">How does the Process of Grant Programs work?</a>
                    </div>
                </li>
                <li class="nav-item dropdown" id="menuitem4">
                    <a class="nav-link" href="#" id="dropdown03">
                        <div>SAYILARLA HİBELER</div>
                    </a>
                    <a href="#" class="nav-link dropdown-toggle dropdown-toggle-split p-0" id="dropdown03-ok" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown03">
                        <a class="dropdown-item" href="sayilarla-hibeler.hbs">Grant Programs Map</a>
                        <a class="dropdown-item" href="sayilarla-hibeler.hbs">Infographics</a>
                    </div>
                </li>
                <li class="nav-item" id="menuitem5">
                    <a class="nav-link" href="{{ langlink }}">
                        <div>TR</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>