<div class="container-fluid sv-header-back-80" id="footer">
    <div class="container sv-header-back">
        <div class="row py-4">
            <div class="col-lg-4 text-center text-lg-left">
                <img src="{{#eq language 'en'}}../{{/eq}}images/sabanci-vakfi-logo-white.svg" style="width:auto;height:25px" alt="Sabancı Vakfı">
            </div>
            <div class="col-lg-5 text-white text-center py-3 py-lg-0">
                {{#eq language 'tr'}}Tüm hakları saklıdır{{else}}All rights reserved{{/eq}}. Sabancı Vakfı © 2020
            </div>
            <div class="col-lg-3 text-white text-center text-lg-right">
                <a class="mx-1" href="https://www.facebook.com/sabanci.vakfi" target="_blank"><i class="fab fa-14x fa-facebook-f"></i></a>
                <a class="mx-1" href="https://twitter.com/SABANCIVAKFI" target="_blank"><i class="fab fa-14x fa-twitter"></i></a>
                <a class="mx-1" href="https://vimeo.com/user60748751" target="_blank"><i class="fab fa-14x fa-vimeo-v"></i></a>
                <a class="mx-1" href="https://www.instagram.com/sabancivakfi/" target="_blank"><i class="fab fa-14x fa-instagram"></i></a>
                <a class="mx-1" href="https://www.youtube.com/channel/UCZhjDQKnEM_oxZUK2X2MiwA" target="_blank"><i class="fab fa-14x fa-youtube"></i></a>
            </div>
        </div>
    </div>
</div>