<div class="container-fluid sv-header-back-80 d-none d-xl-block">
    <div class="container sv-header-back">
        <a href="https://www.sabancivakfi.org" target="_blank">
            <div class="mx-auto py-4 text-center">
                <img src="{{#eq language 'en'}}../{{/eq}}images/sabanci-vakfi-logo-white.svg" style="width:auto;height:26px" alt="Sabancı Vakfı">
            </div>
        </a>
    </div>
</div>