<div class="container-fluid sv-header-back-80">
    <div class="container sv-header-back">
        <div class="row py-4">
            <div class="col-lg-4 text-center text-lg-left">
                <img src="images/sabanci-vakfi-logo-white.svg" style="width:auto;height:25px" alt="Sabancı Vakfı">
            </div>
            <div class="col-lg-5 text-white text-center py-3 py-lg-0">
                Tüm hakları saklıdır. Sabancı Vakfı © 2020
            </div>
            <div class="col-lg-3 text-white text-center text-lg-right">
                <i class="fab fa-14x fa-facebook-square"></i>
                <i class="fab fa-14x fa-twitter-square"></i>
                <i class="fab fa-14x fa-vimeo-square"></i>
                <i class="fab fa-14x fa-instagram-square"></i>
                <i class="fab fa-14x fa-youtube-square"></i>
            </div>
        </div>
    </div>
</div>