---
language: en
title: Academy on Living with Allergy
description: Have you ever failed to do anything which seems ordinary to everybody? Does a kind of food that everyone eats, for example, cause life-threatening damage to your skin or digestive system when it enters your body? Or can you imagine the uneasiness felt by a person who has become vulnerable to even minor diseases due to their drug allergies?
script: ../js/content/alerji-ile-yasam-akademisi.js
langlink: ../alerji-ile-yasam-akademisi.hbs
bodyClass: engelli
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="alerji-ile-yasam-akademisi-back">
        <div class="container px-0">
            <img src="../images/alerji-ile-yasam-akademisi/alerji-ile-yasam-akademisi-1.jpg" class="img-fluid" alt="Üç yetişkin kadın ve bir kız, bir oğlan çocuğu ayakta, gülümseyerek poz veriyor. Kadınlardan ikisinin üzerinde doktor önlüğü var.">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> engelli-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://facebook.com/alerjidernegi/ " target="_blank"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook link</span></a>
                <a class="mx-1 color-icons" href="https://twitter.com/AlerjiDernegi " target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter link</span></a>
                <a class="mx-1 color-icons" href="https://instagram.com/alerjiileyasamdernegi" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram link</span></a>
                <a class="mx-1 color-icons" href="https://youtube.com/channel/UClimSU-7dFQF-JvOof7Xfbg" target="_blank"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube link</span></a>
                <a class="mx-1 color-icons" href="http://alerjiakademisi.alerjidernegi.org.tr" target="_blank"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Website link</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-engelli text-center border-bottom-grade mb-3">LIVING WITH ALLERGY ASSOCIATION</h4>
                <h3 class="font-175 bold color-engelli text-center">ACADEMY ON LIVING WITH ALLERGY</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-engelli mb-3">Possible If Families Grow Stronger: Equal Rights for Allergic Kids</h6>
                <p>Have you ever failed to do anything which seems ordinary to everybody? Does a kind of food that everyone eats, for example, cause life-threatening damage to your skin or digestive system when it enters your body? Or can you imagine the uneasiness felt by a person who has become vulnerable to even minor diseases due to their drug allergies?</p>
                <p>Not all of our characteristics are documented on our IDs. We are responsible for recognizing and looking out for both our needs and the needs of our circles. The only way we can build a life where healthy development is possible for everyone is if we work together.</p>
                <p>Allergies are not all about simple rashes or sneezes, contrary to common belief. Some kinds of allergies can threaten a patient’s life unless provided with quick medical response. Yet, there is still no treatment that can eliminate allergic diseases. Therefore, the course of our story can change with early diagnosis and awareness, which means it is crucial to recognize the symptoms as early as childhood. This allows starting the treatment without delay.</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="../images/alerji-ile-yasam-akademisi/alerji-ile-yasam-akademisi-2.jpg" class="img-fluid" alt="Gülümseyen bir kadın ve kucağında bir bebek var. Kadının elinde taşıdığı yuvarlak kartonda hapşıran bir çocuk ikonu var ve alerji bulaşıcı değildir yazıyor."></p>
            </div>

            <div class="col-12">
                <p>Parents’ acknowledgement of the disease and ways of treatment helps their kid grow as a healthy individual, improves school attendance, and reduces the chance of hospitalization and even death. What kids need the most in this process of dealing with both physical and psychological loads of allergies is their caretakers to be mentally and emotionally strong. So, how can this be possible given your physician or nurse cannot do magic to change your level of consciousness in a flash during your short-time visits? For example, would a learning platform that is easily accessible to every family, no matter where they live or what status they have, economically or socially, be a solution?</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/alerji-ile-yasam-akademisi/alerji-ile-yasam-akademisi-3.jpg" class="img-fluid" alt="Yeşil bir duvar önünde sarı saçlı ve doktor önlüklü bir kadın var. Sırtı dönük, ayakta duran kameraman konuşmakta olan kadını kameraya çekiyor."></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/alerji-ile-yasam-akademisi/alerji-ile-yasam-akademisi-4.jpg" class="img-fluid" alt="Yeşil bir duvar önünde takım elbiseli, gözlüklü orta yaşlı bir erkek var. Vidyo çekimi için konuşuyor."></p>
            </div>
            <div class="col-12">
                <p class="my-4"><img src="../images/alerji-ile-yasam-akademisi/alerji-ile-yasam-akademisi-10.jpg" class="img-fluid" alt="İki ayrı ekranda vidyo çekiminin ve vidyo kurgu işlemlerinin görüntüleri bulunuyor."></p>
            </div>

            <div class="col-12">
                <p>Introducing the Living with Allergy Association founded by the families of 16 allergic children!</p>
                <p>This association is a first in Turkey and they have been restlessly working since the very first day of their journey with the goal to share the precautions that should be taken for allergic children. They have provided guidance to more than 40 thousand families to make their life easier with allergies. They experienced that it is difficult to reach out to wide audience in an effective way by just using face-to-face programs. Only metropolitan citizens can attend such meetings as well as pregnant women and new mothers, them being the primary target group of the association. In the possibility that some can’t attend, the Academy on Living with Allergy platform involves a video library accessible from everywhere and to everyone. The platform supports families by being a reliable source of information even during such challenging times when there is restricted access to hospitals, as in the case of the global COVID-19 pandemic.</p>
            </div>

            <div class="col-12 text-center my-4">
                <a href="https://alerjiakademisi.alerjidernegi.org.tr" target="_blank">
                    <img src="../images/alerji-ile-yasam-akademisi/logo.png" class="img-fluid" alt="Alerji ile Yaşam Akademisi logosu">
                </a>
            </div>

            <div class="col-12">
                <p>This started with the questionnaires completed by specialist physicians, nurses, psychologists, and patient representatives and patients’ relatives from 20 different cities. The results revealed some tips about the most challenging aspects for families. The next step was to shoot videos under 50 titles determined with guidance provided by the families. Each video features physicians, nurses and specialists from the Cerrahpaşa Medical Faculty Department of Pediatrics Division of Immunology-Allergy and Infectious Diseases who share information about topics the families want to know. What do food labels tell me? How do I use the medical equipment provided for treatment, how do I take care of my child, or how can I make my kid follow their diet and help them deal with the discrimination they may face in school?</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box turuncu-box">“I can breathe again with the Academy on Living with Allergy,” says Sahabe Tan, a patient’s relative from Antalya, and summarizes how the platform has made life easier for her: “I was out of breath raising my allergic son, who is six years old now, and telling my inner circle about how serious the disease was, and I unfortunately saw they did not take it seriously. We now have a platform that can train both my family and my circles!”</p>
            </div>

            <div class="col-12">
                <p>The Association welcomes visitors of the Academy on Living with Allergy platform with a survey for families to complete if they have not received a diagnosis yet but have doubts about it. This allows those who are not familiar with the subject to get an early warning if they should seek medical advice and take action. As previously mentioned, an early diagnosis changes the entire course of the story. There is also another questionnaire for families to test their learning. The certificate of qualification provided to those who successfully pass this questionnaire is a nice source of motivation. This little award makes families feel stronger while fighting with many challenges created by allergies. Yet, the real prize is the knowledge they gain from the videos which will change their children’s lives...</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box turuncu-box">“There is only one pediatric allergy specialist in our city, so we had difficulty getting accurate information at any time we wanted. This Academy is like a compass to us. We now have a clearer picture about what we need to do for treatment.”</p>
                <p class="content-box-alt">Çimen Şeyhanoğulları - Diyarbakır</p>
            </div>

            <div class="col-12">
                <p>It isn’t easy to imagine what challenges a person faces in life. You might not have thought until today that it could be impossible for one to eat outside, or what challenges children with allergies could encounter at school or in social life. However, you are now aware that children with different vital needs exist. From now on, we have equal responsibility to build a world where everyone can enjoy a healthy life on equal grounds. </p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box turuncu-box">“While I was searching on the internet about my daughter’s illness, I came across the Association’s website. I have learned how to consult the right specialist thanks to the knowledge I have gained from the Academy. I am so glad I came across it so that we now have it as a reference guide.”</p>
                <p class="content-box-alt">Ayşegül Çakmak - Trabzon</p>
            </div>

            <div class="col-12 my-5">
                <div id="alerjiIleYasamAkademisiSlider">
                    <div>
                        <img src="../images/alerji-ile-yasam-akademisi/alerji-ile-yasam-akademisi-5.jpg" class="img-fluid" alt="Bir masa etrafında beş kadın iki erkek oturuyor. Arkadaki ekranda Alerji ile Yaşam Derneği logosu bulunuyor.">
                    </div>
                    <div>
                        <img src="../images/alerji-ile-yasam-akademisi/alerji-ile-yasam-akademisi-6.jpg" class="img-fluid" alt="Dört kadın bir erkek, bir fuar standının önünde başlarında mezuniyet kepleri ile ayakta gülümseyerek poz veriyorlar.">
                    </div>
                    <div>
                        <img src="../images/alerji-ile-yasam-akademisi/alerji-ile-yasam-akademisi-7.jpg" class="img-fluid" alt="Sarı saçlı, doktor önlüklü bir kadın yerde oturmuş oyuncak bebek üzerinde şırınga ile müdahale anını canlandırıyor. Fotoğrafın sol tarafında bu anı vidyoya alan bir kamera bulunuyor.">
                    </div>
                    <div>
                        <img src="../images/alerji-ile-yasam-akademisi/alerji-ile-yasam-akademisi-8.jpg" class="img-fluid" alt="Beyaz önlüklü bir kol, lavaboda musluğun altında tıbbi bir cihazı tutuyor. Fotoğrafın sol tarafında bunu vidyoya çeken bir kamera bulunuyor.">
                    </div>
                    <div>
                        <img src="../images/alerji-ile-yasam-akademisi/alerji-ile-yasam-akademisi-9.jpg" class="img-fluid" alt="Kadın ve erkeklerden oluşan kalabalık bir grup, büyük kahverengi bir kitaplığın önünde ayakta gülümseyerek poz veriyor.">
                    </div>
                </div>
            </div>

        </div>

    </div>


</main>


{{/content}}
{{/extend}}