---
language: en
title: Accessible Science Education
description: How good were you with science class when you were a student? Could you, for example, easily imagine how your organs worked although you did not have the chance to see inside your body? Could you guess how electric current traveled along a simple electric circuit drawn by your teacher on the board? All of us might have had difficulty, but it was not completely about us.
script: ../js/content/engelsiz-fen-ogretimi.js
langlink: ../engelsiz-fen-ogretimi.hbs
bodyClass: engelli
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="engelsiz-fen-ogretimi-back">
        <div class="container px-0">
            <img src="../images/engelsiz-fen-ogretimi/engelsiz-fen-ogretimi-1.jpg" class="img-fluid" alt="Bir toplantı salonunda kare masalar etrafına oturmuş insanlar masalar üzerinde bulunan renkli birçok malzeme ile çalışıyor.">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> engelli-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://twitter.com/Engelsiz_Fen" target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter link</span></a>
                <a class="mx-1 color-icons" href="https://www.instagram.com/engelsiz.fen.ogretimi" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram link</span></a>
                <a class="mx-1 color-icons" href="http://engelsizfenogretimi.com" target="_blank"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Website link</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-engelli text-center border-bottom-grade mb-3">AKSARAY UNIVERSITY FACULTY OF EDUCATION</h4>
                <h3 class="font-175 bold color-engelli text-center">ACCESSIBLE SCIENCE EDUCATION FOR STUDENTS WITH VISUAL IMPAIRMENT</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-engelli mb-3">New Opportunities for Accessible Science Education</h6>
                <p>How good were you with science class when you were a student? Could you, for example, easily imagine how your organs worked although you did not have the chance to see inside your body? Could you guess how electric current traveled along a simple electric circuit drawn by your teacher on the board? All of us might have had difficulty, but it was not completely about us.</p>
                <p>As you know, science tries to make sure we understand what is happening on earth and elsewhere. However, the field itself is so abstract that our brains need facilitators to translate the information it receives into meaningful data.</p>
                <p>So, here is a tough question for you: Where do students with visual impairments stand in this field? Unfortunately, access to education is everyone’s right, but individuals with visual impairment unfortunately have difficulty in this field. Fortunately, it is not impossible to provide equal education. We do not mean big inventions or non-affordable super technological initiatives. Simple things save lives. How? For example, imagine the course curriculum is transformed to appeal to children with visual impairment. Thankfully, the valuable academic staff of the Faculty of Education, Aksaray University, have pursued this exciting idea and started a movement. In addition to this, they have also made it their goal to teach teachers how to develop and adapt materials for students with visual impairment. This would be extremely helpful as what lies at the source of the problem includes teachers not knowing how to teach children with visual impairment and not these children’s inability to learn. This often causes teachers to be reluctant to teach classes involving inclusive students where children at different development levels. </p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box turuncu-box">“I have been working with a student with visual impairment for three years. They mostly could not attend lectures. I can now say that this was because of me. However, I have learned what I should do, and I have seen it is very easy.”</p>
                <p class="content-box-alt">A Teacher who attended the Project Activities</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="../images/engelsiz-fen-ogretimi/engelsiz-fen-ogretimi-2.jpg" class="img-fluid" alt="İki genç kadın, kartondan yapılmış gibi görünen bir beyaz topun üzerini fırça ile maviye boyuyor."></p>
            </div>

            <div class="col-12">
                <p>How do children with visual impairment learn? How is a class involving both students with and without impairment managed? What type of seating arrangement would be more convenient and what can be done to make sure they move freely in the school just like their friends without impairment? The methods tried until now have been reviewed to find that materials for a few scientific subjects have been produced to also appeal to students with visual impairment. Moreover, some arrangements have been made to enable students with visual impairment to use spaces like laboratories more conveniently. Unfortunately, many of these techniques aren’t enough for comprehensive transformation.</p>
                <p>Thus, the first step was to start an intensive study that aims to find which materials are to be adapted and how they would be included in the teaching process. On the other hand, it was important to develop a permanent product which would guide all teachers in the long-term. That is how the ‘Guidebook for Accessible Science Education’ has been developed. </p>
            </div>

            {{!-- <div class="col-12 text-center my-4">
                <a href="https://www.sabancivakfi.org/i/content/Engelsiz_Fen_Ogretimi_Kilavuz_Kitabi.pdf" class="d-flex flex-column align-items-center text-decoration-none" target="_blank">
                    <img src="../images/engelsiz-fen-ogretimi/Engelsiz-Fen-Ogretimi-Kilavuzu-Kapak_Page_1.png" class="img-fluid" alt="">
                </a>
                <p class="bold mt-2">ENGELSİZ FEN ÖĞRETİMİ KILAVUZ KİTABI</p>
            </div> --}}

            <div class="col-12">
                <p>The starting point of the book was to identify the general characteristics and educational needs of students with visual impairment. The second phase covered how to enrich the science class curriculum to improve the comprehension of students with visual impairment.</p>
                <p>Then came the review of science textbooks of 3rd and 4th grades. The content has been revised with Braille or larger fonts, depending on the impairment level of children.</p>
                <p>Those who experienced challenges were students with visual impairment as well as their teachers, so it was them who knew what they needed best. Aksaray University, with full support from its project partner, Aksaray Provincial Directorate of National Education, has brought these two groups together in a few workshops and guided the adaptation of class materials. The outputs were very inspiring.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box turuncu-box">“We use a lot of materials in science classes. I used to give these materials to a student with visual impairment as well. I was aware that these materials were not enough for them. However, I could not find the time to do something more. Then, I saw during the workshops of this project that a single silicon gun is quite effective to enable such students’ access to materials and materials could be adapted in a very short time.”</p>
                <p class="content-box-alt">A Teacher who attended the Project Activities</p>
            </div>

            <div class="col-lg-7 col-md-10 mx-auto my-5">
                <div id="engelsizFenOgretimiSlider2">
                    <div>
                        <img src="../images/engelsiz-fen-ogretimi/engelsiz-fen-ogretimi-3.jpg" class="img-fluid" alt="Üzerinde kulağın yapısı yazan, karton ve kağıtlardan yapılmış üç boyutlu bir materyal.">
                    </div>
                    <div>
                        <img src="../images/engelsiz-fen-ogretimi/engelsiz-fen-ogretimi-4.jpg" class="img-fluid" alt="Siyah, kırmızı ve sarı katmanlardan oluşan bir materyal üzerinde, çekirdek ve ateş küre yazıyor.">
                    </div>
                    <div>
                        <img src="../images/engelsiz-fen-ogretimi/engelsiz-fen-ogretimi-5.jpg" class="img-fluid" alt="Tohumun filizlenmesini gösteren üç boyutlu iki plastik materyal.">
                    </div>
                    <div>
                        <img src="../images/engelsiz-fen-ogretimi/engelsiz-fen-ogretimi-6.jpg" class="img-fluid" alt="Kabartmalı, farklı malzemeler kullanılarak oluşturulmuş bir yerküre.">
                    </div>
                </div>
            </div>

            <div class="col-12">
                <p>For example, when you touched an earth model created with fabric, containing layers, embossing and large-font text and color contrast, you could distinguish between the land and the seas. When you pick materials made of CDs, balloons and bells. up to examine and to listen, it becomes possible to understand the mathematics of repulsive and attractive forces. You could learn just by touching what would happen when a magnet could not pull objects or how a rigid or fragile rock feels, or even how the roughness of an organ feels and how it contracts while working.</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="../images/engelsiz-fen-ogretimi/engelsiz-fen-ogretimi-7.jpg" class="img-fluid" alt="Kapalı bir toplantı salonunda kalabalık bir grup fotoğrafı. Yarım daire şeklinde arkalı önlü ayakta duran insanlar hafif yüksekte bulunan kameraya bakarak poz veriyor."></p>
            </div>

            <div class="col-12">
                <p>This allowed a different type of learning experience which was very effective. After all, it showed teachers that it was not difficult to teach things to children with visual impairment. It was always possible to come up with creative options and doing so would create a deeper, more permanent and transforming learning opportunity for all students, with or without impairment.</p>
                <p>Redesigning a schoolyard, school stairs or laboratories to enable free movement of children with impairment is certainly one of the primary steps to achieve equal access to education. After all, the first step to stand against obstacles requires removing the existing physical boundaries. Aksaray University has succeeded in finding a solution to a challenge that appears insurmountable beyond this fundamental requirement. There is a new universe of possibilities created where a teacher who once said “My student with visual impairment is given the same assignment as others, however, I cannot help them do research for the assignment due to my lack of methods in this field,” no longer feels desperate. In this new world, we can all count the Earth’s layers and listen to the sounds of working organs, together, with all our differences.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box turuncu-box">“Students with visual impairment also attended the workshops. We made and they tried. It was an important experience for us. I also learned there were technological devices specifically for such students and how they worked, which would be effective both for my personal development and for students’ access to classes.”</p>
                <p class="content-box-alt">A Teacher who attended the Project Activities</p>
            </div>

            <div class="col-12 my-5">
                <div id="engelsizFenOgretimiSlider">
                    <div>
                        <img src="../images/engelsiz-fen-ogretimi/Aksaray-Uni-01.jpg" class="img-fluid" alt="İki kadın, birçok malzemenin bulunduğu masada materyal üretimi için çalışıyor.">
                    </div>
                    <div>
                        <img src="../images/engelsiz-fen-ogretimi/Aksaray-Uni-02.jpg" class="img-fluid" alt="Tohumun gelişimini anlatan kabartmalı bir materyalin fotoğrafı. Tohum, köklenme, kalın kök, genç bitki ve olgun bitki aşamalarını gösteriyor.">
                    </div>
                    <div>
                        <img src="../images/engelsiz-fen-ogretimi/Aksaray-Uni-03.jpg" class="img-fluid" alt="Maket bıçağı ile bir kartonu kesen bir el.">
                    </div>
                    <div>
                        <img src="../images/engelsiz-fen-ogretimi/Aksaray-Uni-04.jpg" class="img-fluid" alt="Üç boyutlu bir okul binası ve bahçesi maketi.">
                    </div>
                </div>
            </div>

            <div class="col-12 mb-5">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/awqw1M18MsE" title="Aksaray University | Accessible Science Education for Students with Visual Impairment" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>

</main>

{{/content}}
{{/extend}}