---
language: en
title: Before It’s Too Late - İstanbul
description: Imagine yourself in a classroom surrounded by young people, kids, who have just started discovering themselves with thousands of questions about life. And you are a teacher. You have a story, you believe in some values, and you have prejudices. Like any other person... How would you figure out the right thing to do in the class, given all their learning and experience, in a world where even mercy can turn against justice? When you see a kid hurting and listen to their problem, how would you solve the problem without favoring that kid?
script: ../js/content/cok-gec-olmadan-istanbul.js
langlink: ../cok-gec-olmadan-istanbul.hbs
bodyClass: genc
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="cok-gec-olmadan-istanbul-back">
        <div class="container px-0">
            <img src="../images/cok-gec-olmadan-istanbul/cok-gec-olmadan-istanbul-1.jpg" class="img-fluid" alt="Beyaz duvarlı bir toplantı salonunda bulunan kalabalık bir grubun toplu fotoğrafı. Çoğu ayakta duruyor, en önde sekiz kişi sandalyelerde oturuyor. En sağda üzerinde Nirengi Derneği logosu bulunan ayaklı bir afiş yer alıyor.">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> genc-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://facebook.com/nirengidernegi" target="_blank"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook link</span></a>
                <a class="mx-1 color-icons" href="https://twitter.com/NirengiDernegi" target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter link</span></a>
                <a class="mx-1 color-icons" href="https://instagram.com/nirengidernegi" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram link</span></a>
                <a class="mx-1 color-icons" href="https://youtube.com/c/NirengiDernegi" target="_blank"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube link</span></a>
                <a class="mx-1 color-icons" href="http://nirengidernegi.org/tr/calismalarimiz/cokgecolmadanistanbul" target="_blank"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Website link</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-genc text-center border-bottom-grade mb-3">NİRENGİ ASSOCIATION</h4>
                <h3 class="font-175 bold color-genc text-center">BEFORE IT’S TOO LATE - İSTANBUL</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-genc mb-3">Everyone Has a Story...</h6>
                <p>Imagine yourself in a classroom surrounded by young people, kids, who have just started discovering themselves with thousands of questions about life. And you are a teacher. You have a story, you believe in some values, and you have prejudices. Like any other person... How would you figure out the right thing to do in the class, given all their learning and experience, in a world where even mercy can turn against justice? When you see a kid hurting and listen to their problem, how would you solve the problem without favoring that kid?</p>
                <p>It is hard, isn’t it? There are many teachers across Turkey who try to deal with such challenges. Taking such challenges as a starting point, the Nirengi Association uses its knowledge and experience to support teachers by centering the best interests of children and prioritizing the protection of human dignity.</p>
                <p>Peer violence, abuse at school and at home, and dating violence are among those which cause the worst damage to personality development during childhood and adolescence. Once it is recognized a child or a teenager is neglected or abused, what actions would be taken with respect to this situation will deeply affect the future life of the child or teenager. In such cases, the adults, and especially the teachers, around the child, play an important role. However, we see that adults usually lack the knowledge on how to cope with such a situation properly or what way should be followed. Teachers need great support in meeting with the victimized child and in how to handle the case in case of suspected abuse.</p>
                <p>The Nirengi Association’s training project ‘Before It Is Too Late - İstanbul!’ started in İstanbul by focusing on children and children’s rights, guides teachers by providing answers to teachers’ questions and by shedding some light on how to respond to a situation and protect human dignity at the same time, and how to involve judicial authorities in the situation and proceed with the recovery stage without causing any secondary trauma in the child. </p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/cok-gec-olmadan-istanbul/cok-gec-olmadan-istanbul-5.jpg" class="img-fluid" alt="Ahşap bir masanın başında, kısa siyah saçlı bir kadın önündeki kağıtları okuyor."></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/cok-gec-olmadan-istanbul/cok-gec-olmadan-istanbul-6.jpg" class="img-fluid" alt="Yerde bulunan Nirengi Derneği logosu ve renkli kağıtların etrafında kadın ve erkeklerden oluşan bir grup yarım çember şeklinde ayakta durarak poz veriyor."></p>
            </div>

            <div class="col-12">
                <p>The Association, within the scope of these efforts, has been working for two years in close contact with the İstanbul Provincial Directorate of National Education, the Provincial Directorate of Family, Labor and Social Services, the Provincial Directorate of Security, Child Monitoring Centers affiliated with the Ministry of Health and the Bar Association. The ‘School-Based Standard Operating Procedure’, prepared with the contributions of these entities, systematizes the intervention mechanisms to make sure all schools apply the same procedure in case of issues such as peer bullying, abuse and dating violence. </p>
                <p>Since the project started, the training offered to teachers, school administrators, parents, and support personnel also provides critical support for the implementation of this mechanism. “How can I respond to peer bullying?”, “How can I tell if a child has been abused?”, “How can I identify a problem?”, “How can I gain a child’s trust?” and most importantly, “How can I solve a problem without further harm to a child involved?” These are just a few questions that the training courses focus on. </p>
                <p>The answers to these questions are vital to overcoming what would otherwise turn into a lifelong trauma. For a child who is exposed to bullying or abuse, the one person they can trust is often the teacher they feel closest to. And when the child talks about a problem, if he encounters an attitude that is completely beyond their expectations, the trust mechanism can be seriously damaged. Therefore, if the teacher knows how to deal with the situation, how to react, and what steps to take, they become an important bridge in order to handle all these problems in a way that respects the best interests of the child and does not turn into trauma. </p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box yesil-box">“Even we, as school counselors, do not deeply know such risks. We are undecided about the action, but the Standard Operating Procedure clearly explains what to do. All teachers should have this training.”</p>
                <p class="content-box-alt">A School Counselor who attended the Training</p>
            </div>

            <div class="col-12">
                <p>The Nirengi Association has managed to train 3,432 teachers in nine districts in İstanbul so far. 36 teachers, volunteering to reach more people and make sure this expansion is continuous, have participated in the training of trainers and carried their experience to a level that they could train their colleagues back in their own schools and regions. Teachers who have become ‘trainers’ by completing the training will be able to become a point of contact and guide their colleagues when a case of abuse is encountered in a different school in the region where they work. </p>
                <p>During the COVID-19 epidemic, the Association has not discontinued the training and transferred the training content to an online platform. Thanks to the advantages of the digital world, 482 participants, including teachers, social workers, and prospective teachers and social workers, from 70 different cities and 56 different branches have benefited from the training. In addition, informative videos on abuse and dating violence have helped raise awareness on these issues beyond the boundaries of the project.</p>
            </div>

            {{!-- <div class="col-md-6 text-center my-4 video-button">
                <button type="button" class="d-flex flex-column align-items-center w-100" data-toggle="modal" data-target="#cocukIstismariModal">
                    <img src="../images/cok-gec-olmadan-istanbul/cocuk-istismari-bilgilendirme-videosu-kapak.jpg" class="img-fluid border" alt="Çocuk İstismarı Bilgilendirme Videosu Linki">
                </button>
                <p class="bold mt-2">ÇOCUK İSTİSMARI BİLGİLENDİRME VİDEOSU</p>
            </div>
            <div class="col-md-6 text-center my-4 video-button">
                <button type="button" class="d-flex flex-column align-items-center w-100" data-toggle="modal" data-target="#flortSiddetiModal">
                    <img src="../images/cok-gec-olmadan-istanbul/flort-siddeti-bilgilendirme-videosu-kapak.jpg" class="img-fluid" alt="Flört Şiddeti Bilgilendirme Videosu Linki">
                </button>
                <p class="bold mt-2">FLÖRT ŞİDDETİ BİLGİLENDİRME VİDEOSU</p>
            </div>


            <!-- flortSiddetiModal -->
            <div class="modal fade" id="flortSiddetiModal" tabindex="-1" aria-labelledby="flortSiddetiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <video controls class="img-fluid" poster="../images/cok-gec-olmadan-istanbul/flort-siddeti-bilgilendirme-videosu-kapak.jpg">
                                <source src="https://www.sabancivakfi.org/i/content/Flort_Siddeti.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>

            <!-- cocukIstismariModal -->
            <div class="modal fade" id="cocukIstismariModal" tabindex="-1" aria-labelledby="cocukIstismariModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <video controls class="img-fluid" poster="../images/cok-gec-olmadan-istanbul/cocuk-istismari-bilgilendirme-videosu-kapak.jpg">
                                <source src="http://www.sabancivakfi.org/i/content/Cocuk_Istismari.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div> --}}

            <div class="col-12">
                <p>It can sometimes take years to recognize trauma. Especially when there are no people to trust around and no effective protection system, it is common to feel an embarrassment of what happened and a fear of the uncertainty of what will happen once it is told. Repeated inquiries and stress can cause the impact of the trauma to increase exponentially. The Nirengi Association makes a great contribution to both teachers’ lives and children’s positive development by providing a path to follow step by step serving the best interests of children in cases of dating violence, peer bullying and abuse. </p>
                <p>Everyone has a story and their own values, and our own experiences may mislead us all from time to time about the correct intervention. However, the support mechanisms to enable us to make an accurate assessment in times of crisis are the most important tools for us to put aside all our fears and value judgments.</p>
            </div>

            {{!-- <div class="col-md-8 mx-auto text-center my-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/CVhhvif1lQc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div> --}}

            <div class="col-12 my-5">
                <div id="cokGecOlmadanIstanbulSlider">
                    <div>
                        <img src="../images/cok-gec-olmadan-istanbul/cok-gec-olmadan-istanbul-2.jpg" class="img-fluid" alt="Elinde kitapçık ve kumanda bulunan sarı saçlı bir kadın arka fonda konferans düzeninde oturmuş insanlara bir şeyler anlatıyor.">
                    </div>
                    <div>
                        <img src="../images/cok-gec-olmadan-istanbul/cok-gec-olmadan-istanbul-3.jpg" class="img-fluid" alt="Elinde kitapçık olan gözlüklü, esmer bir kadın fotoğrafa arkası dönük insanlara bir şeyler anlatıyor. Arkada açık sunum slaytında, modül 3 çocuk koruma kanunu ve mevcut uygulama bildirim – müdahale – sağaltım yazıyor.">
                    </div>
                    <div>
                        <img src="../images/cok-gec-olmadan-istanbul/cok-gec-olmadan-istanbul-4.jpg" class="img-fluid" alt="Yarım çember şeklinde sandalyelere oturmuş insanlar ve her birinin önünde renkli boyanmış resim kağıtları var.">
                    </div>
                    <div>
                        <img src="../images/cok-gec-olmadan-istanbul/cok-gec-olmadan-istanbul-7.jpg" class="img-fluid" alt="Kalabalık bir toplantı salonunda kare masaların etrafına oturmuş insanlar ve onlara bir şeyler anlatan, ayakta iki kadın. Masaların üzerinde kitapçıklar ve kâğıtlar bulunuyor.">
                    </div>
                    <div>
                        <img src="../images/cok-gec-olmadan-istanbul/cok-gec-olmadan-istanbul-8.jpg" class="img-fluid" alt="Elinde ufak bir kart olan gözlüklü, kır saçlı bir erkek ayakta durmuş, kare masalar etrafına oturmuş insanlara bir şeyler anlatıyor.">
                    </div>
                    <div>
                        <img src="../images/cok-gec-olmadan-istanbul/cok-gec-olmadan-istanbul-9.jpg" class="img-fluid" alt="Üzerinde farklı desenlerde kartlar bulunan ahşap bir masanın etrafında ayakta duran kadınlar kartları seçiyor ve gülümsüyor.">
                    </div>
                    <div>
                        <img src="../images/cok-gec-olmadan-istanbul/cok-gec-olmadan-istanbul-10.jpg" class="img-fluid" alt="Bir kitapçık sayfası. Sayfada slayt no 52 bulunuyor ve bu slaytta, şiddet içeren bir ilişkide kalma sebepleri başlığı etrafında okunmayacak kadar küçük yazılmış alt başlıklar yer alıyor. Sayfanın sağında yönergeler yazılı.">
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>


{{/content}}
{{/extend}}