---
language: en
title: Being a Woman in Yüksekova
description:
script: ../js/main.js
langlink: ../yuksekovada-kadin-olmak.hbs
---

{{#extend "base"}}
{{#content "main"}}

<main>
</main>

{{/content}}
{{/extend}}