---
language: en
title: Being a Woman in Yüksekova
description: Yüksekova is one of the most disadvantaged districts of Turkey, economically and socially, amid the ongoing conflicts for years. In terms of women, it is a district where the agenda of gender equality has gained momentum in recent years.
script: ../js/content/yuksekovada-kadin-olmak.js
langlink: ../yuksekovada-kadin-olmak-2.hbs
bodyClass: kadin
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="yuksekovada-kadin-olmak-back">
        <div class="container px-0">
            <img src="../images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-1.jpg" class="img-fluid" alt="Toprak bir yolda yürüyen altı kadının arkadan çekilmiş fotoğrafı. Arka planda tek tük evler ve onların arkasında mavi, bulutsuz gökyüzü ile dağlar var.">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> kadin-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://twitter.com/YUKADER_ " target="_blank" rel="noopener" rel="noreferrer"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter linki</span></a>
                <a class="mx-1 color-icons" href="https://instagram.com/yukader_30" target="_blank" rel="noopener" rel="noreferrer"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram linki</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-kadin text-center border-bottom-grade mb-3">ASSOCIATION OF SUPPORTING WOMEN AND CULTURE IN YÜKSEKOVA</h4>
                <h3 class="font-175 bold color-kadin text-center">BEING A WOMAN IN YÜKSEKOVA - 2</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-kadin mb-0">A Struggle for Equality that Starts Locally</h6>
                <p class="mt-0">Yüksekova is one of the most disadvantaged districts of Turkey, economically and socially, amid the ongoing conflicts for years. In terms of women, it is a district where the agenda of gender equality has gained momentum in recent years. </p>
                <p>The Association of Supporting Women and Culture in Yüksekova (YUKADER), which was established in 2018, has made a great contribution to this momentum gain. With its project “Being a Woman in Yüksekova” started in 2019, YUKADER succeeds in creating an environment in which more and more women trust</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="../images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-2.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>The project started with the aim of raising awareness of gender equality among YUKADER members and disseminating this awareness in Yüksekova and became stronger with the voluntary support of the KAMER Foundation. The team of the Association attended training workshops on gender roles, violence and discrimination, and practices to combat inequality. After the workshops, the team held face-to-face interviews with 607 women from the most disadvantaged parts of the district. They collected data that had not been gathered in the district for a long time and succeeded in making the women’s problem in the district visible.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-3.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-4.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Thus, a growing women’s movement in Yüksekova started getting stronger, sharing their problems shoulder to shoulder, learning and developing together. As a result of these studies, YUKADER has also revealed what women need the most is such areas where they can socialize, gain self-confidence, share, learn and meet new friends.</p>
                <p class="bold color-kadin mb-0">2<sup>nd</sup> Year of the Project...</p>
                <p class="mt-0">YUKADER, which became a point of reference for women in many issues thanks to the first-year success of the project, worked on restructuring as a women’s support center by improving its capacity in the second year.</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="../images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-5.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>The second-year work focused on establishing links with public institutions and providing awareness workshops to 300 women. The YUKADER team did not give up on organizing awareness workshops even when only a few people could come together due to the pandemic. As a result of these efforts, including visits to many villages and neighborhoods, the team had the opportunity to meet many different women’s profiles in Yüksekova. The most important output of the activities for raising awareness was the increased applications to report violence. This is proof that the unspoken issues and suppressed problems are now discussed and the belief in the better is getting stronger. </p>
            </div>

            <div class="col-12 col-xl-9 mx-auto text-center">
                <div class="content-box mor-box">
                    <p class="mt-2">“Through the awareness activities, we have realized the importance of creating an environment where women can speak, question, notice and most importantly become informed. This study has enabled us to see the negativities in a family from a different perspective and to notice that there are many women who take initiatives to fix it.”</p>
                    <p class="bold mb-1">Bahar Sağkol, Project Field Worker</p>
                </div>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-6.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-7.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>YUKADER also made a serious effort to reinforce its relations with public institutions. It initiated a series of regular coordination meetings with institutions that play an important role in enabling women to access their rights, such as Yüksekova District Governor’s Office, Municipality, Bar Association, District Health Directorate, Violence Prevention and Monitoring Center, Social Service Center, as its partners throughout the year. It not only brought the public institutions together, but also created an environment for the representatives of the institutions to reach the women of Yüksekova about the services the institutions provided and the ways of application therefor. A series of seminars were organized, thanks to which more than 600 women were informed about where to apply and what services can be provided to them to end the violence they experienced. </p>
                <p>YUKADER has reinforced the ground on which women can access their rights day by day, and it continues to raise hope for gender equality</p>
            </div>

            <div class="col-12 my-5">
                <div id="yuksekovadaKadinOlmakSlider">
                    <div>
                        <img src="../images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-8.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-9.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-10.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-11.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-12.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-12 mb-5">
                {{!-- <p>Videonun erişilebilir versiyonu için <a href="https://youtu.be/" class="color-kadin" target="_blank" rel="noopener" rel="noreferrer">tıklayınız</a>.</p> --}}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/0HxHGfrgnHo" title="Ekim Zamanı Online Buluşma Zamanı | Yüksekova Kadınları Toplumsal Destekleme ve Kültür Derneği" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>

</main>

{{/content}}
{{/extend}}