---
language: en
title: Being a Woman in Yüksekova
description: Despite being at different levels, gender inequality is found across the world. The world is full of challenges for women. Some women are deprived of the right to education, others cannot be part of working life; some experience getting married at an early age and most of them face violence at some point in their lives. The more the rain falls, the stronger trees grow though. Yes, discrimination exists. However, the feminist movement also exists and, over the years, has turned into one of the most powerful movements in the world.
script: ../js/content/yuksekovada-kadin-olmak.js
langlink: ../yuksekovada-kadin-olmak.hbs
bodyClass: kadin
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="yuksekovada-kadin-olmak-back">
        <div class="container px-0">
            <img src="../images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-1.jpg" class="img-fluid" alt="Toprak bir yolda yürüyen altı kadının arkadan çekilmiş fotoğrafı. Arka planda tek tük evler ve onların arkasında mavi, bulutsuz gökyüzü ile dağlar var.">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> kadin-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://twitter.com/YUKADER_ " target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter link</span></a>
                <a class="mx-1 color-icons" href="https://instagram.com/yukader_30" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram link</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-kadin text-center border-bottom-grade mb-3">ASSOCIATION OF SUPPORTING WOMEN AND CULTURE IN YÜKSEKOVA</h4>
                <h3 class="font-175 bold color-kadin text-center">BEING A WOMAN IN YÜKSEKOVA</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-kadin mb-3">Transforming Women of Yüksekova: Aware, Free, Strong</h6>
                <p>Despite being at different levels, gender inequality is found across the world. The world is full of challenges for women. Some women are deprived of the right to education, others cannot be part of working life; some experience getting married at an early age and most of them face violence at some point in their lives. The more the rain falls, the stronger trees grow though. Yes, discrimination exists. However, the feminist movement also exists and, over the years, has turned into one of the most powerful movements in the world.</p>
                <p>Well, have you heard about a growing women’s association in Yüksekova, Hakkâri? It is the Association of Supporting Women and Culture in Yüksekova (YUKADER) we are talking about. They are committed to grow, and to raise all women in Yüksekova in a positive and constructive way, despite and together with all the rain.</p>
                <p>The District of Yüksekova, with its population of approximately 120 thousand, having a very convenient geography, is open to development, probably more than many other cities. However, in the district life accompanied by conflicts, many fundamental issues have been postponed in the shadow of the existing safety threat, and even a number of them probably have never been recognized as a problem. Discrimination suffered by women is one of them, for certain... Being a women’s organization with the power to gather the women in these districts together, YUKADER first goal is to raise awareness. But women of the Association must feel confident, in order to provide guidance to other women. They know that they could not respond to various needs of women unless their team gets adequately equipped first.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-3.jpg" class="img-fluid" alt="Üzerinde boyalar, kâğıtlar ve tabaklar bulunan uzun bir masanın iki yanına oturmuş kadınlar el işi yapıyorlar."></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-4.jpg" class="img-fluid" alt="Bir evin salonunda kadınlar. Birkaçı koltuklarda oturmuş, birkaçı halıda yerde oturmuş kadınlar, ikişerli şekilde sohbet ederken görünüyorlar. "></p>
            </div>

            <div class="col-12">
                <p>Thus, they get help from the experienced team of the KAMER Foundation, which has been working on women’s human rights in several provinces for many years and consistently organizes workshops for the Association’s personnel and members. In what ways do discrimination and violence against women manifest themselves? How to deal with violence? How to reach women, keep in touch with them, and how to stand together to help them own their lives? Thanks to the awareness workshops where all these issues are addressed, those who improve their capacity to organize independent workshops with women are also raised as group facilitators.</p>
                <p>The next step is to share the gained knowledge and experience with the women of Yüksekova... The group facilitators cannot help but get worried while running their very first workshops. In time, they start preparing the ambiance by giving personal examples and creating a welcoming atmosphere where everyone can feel safe. Once the women participants of workshops are convinced, they lose the shyness, open their hearts and share their stories. Everyone has some discrimination embedded in their lives. Some are already aware of this while others realize it with surprise during the workshop. They become happy or surprised while discovering themselves, but every time, they have become more free and more confident by the time they leave the workshop.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box mor-box">One of the women attending the workshop expresses her feelings as follows: “I have seen others also experience the problems I have, and I am not alone.” And this is the greatest indicator that women getting together thanks to the Association are more powerful now and can act in solidarity.</p>
            </div>

            <div class="col-12">
                <p>Knowing the areas where women cannot exercise their rights is the first step to deal with them. Well, where can one find the up-to-date information needed to conduct the most accurate needs for women of Yüksekova? In women themselves, for certain, as the main subject! In the second stage, YUKADER makes home visits by identifying the neighborhoods where low-income families live in Yüksekova, most of which are migrants, cannot be part of employment and have difficulty accessing public services. The purpose is to keep records of the real needs of women. On the other hand, they provide information about the agencies where women can get support or the various methods to make them participate in life.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-5.jpg" class="img-fluid" alt="Bir evin salonunda yer minderinde oturmuş sohbet eden iki kadın. Birinin elinde kâğıtlar var."></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-6.jpg" class="img-fluid" alt="Bir evin salonunda yer minderinde oturmuş sohbet eden iki kadın. Birinin kucağında kâğıtlar var."></p>
            </div>

            <div class="col-12">
                <p>The results of face-to-face interviews with 607 women are not that pleasant. The percentage of those forced to get married before the age of 18, for example, is around 35. Almost 90 percent of the interviewees say ‘yes’ when they were asked if women are suffering from violence. On top of that, either they do not know where to seek support in order to escape violence or they are scared to apply for help. 39 percent of the participants are illiterate and 84 percent of them appear to be unable to get any employment opportunity that would generate income outside the house.</p>
                <p>Having turned all this data into a report, YUKADER visits the relevant institutions, starting from the District Governor’s Office of Yüksekova as a partner and supporter of the project, to share the data on hand and request a collaboration to find a solution.</p>
            </div>

            {{!-- <div class="col-12 text-center my-4">
                <a href="http://www.sabancivakfi.org/i/content/Yuksekova_Hane_Ziyaretleri_Raporu_2020.pdf" class="d-flex flex-column align-items-center text-decoration-none" target="_blank">
                    <img src="../images/yuksekovada-kadin-olmak/Yuksekova-Hane-Ziyaretleri-Raporu-kapak.jpg" class="img-fluid" alt="Yüksekova Hane Ziyaretleri Raporu Kapak">
                </a>
                <p class="bold mt-2">YÜKSEKOVA'DA KADIN OLMAK PROJESİ<br>2020 HANE ZİYARETLERİ ANALİZ SONUÇLARI</p>
            </div> --}}

            <div class="col-12">
                <p>As this work goes on, women of Yüksekova become aware of their rights, one by one, and become free and get stronger in solidarity. For instance, Elif learned how to read and write by herself. She was impressed a lot by the things told by YUKADER during the unexpected home visit to her house, soon finding herself visiting the Association’s office with her mother. She tells that it is the first time she is in an environment with so many women and, she feels very valuable and special there. She is now one of the dozens of female volunteers of the Association, who internalize that dressing in color or getting a divorce is not something to be ashamed of, that it is not necessary to make a sacrifice just to please others or that nothing can justify an act of violence, as they attend the ceramic or pottery courses or literacy courses of the Association. Like beautiful trees that grow side by side with falling rain, despite the rain.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box mor-box">“I do not think women make homes, but Yüksekova will be transformed by women.”</p>
                <p class="content-box-alt">A Woman Attending an Awareness Study</p>
            </div>

            {{!-- <div class="col-md-8 mx-auto text-center my-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/HJ9bX8jw1Rw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div> --}}

            <div class="col-12 my-5">
                <div id="yuksekovadaKadinOlmakSlider">
                    <div>
                        <img src="../images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-2.jpg" class="img-fluid" alt="Taş bir bina ve demir kapısının önünde kalabalık bir toplu fotoğraf. Ayaktaki kadınlar ellerinde sertifika benzeri kâğıtlar tutuyorlar. Bir genç kadın ile birkaç çocuk ise önde yere çömelmiş. Kadınların ve çocukların bazıları yüzlerine maske takmışlar. Arkalarında, üzerinde Yüksekova’da Kadın Olmak Projesi yazan ayaklı bir afiş var.">
                    </div>
                    <div>
                        <img src="../images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-7.jpg" class="img-fluid" alt="Kapalı bir toplantı odasında çember şeklinde sandalyelere oturmuş insanlar. Arkadaki cam cephenin önünde üzerinde Yüksekova’da Kadın Olmak Projesi yazan ayaklı bir afiş var. Çemberdeki herkes, yüzünü konuştuğu anlaşılan bir kadına dönmüş, dinliyor.">
                    </div>
                    <div>
                        <img src="../images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-8.jpg" class="img-fluid" alt="Üzerinde Yüksekova’da Kadın Olmak Projesi yazan ayaklı bir afişin iki yanında yan yana ayakta duran altı kadın, gülümseyerek poz veriyor.">
                    </div>
                    <div>
                        <img src="../images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-10.jpg" class="img-fluid" alt="Toprak bir arazide yan yana ayakta duran ve gülümseyen beş kadın. Arkalarında birkaç katlı evler ve dağ manzarası bulunuyor.">
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>


{{/content}}
{{/extend}}