---
language: en
title: Bilingual Reading Development
description: The world, as we experience, is an endless search for meaning. Language is a cognitive ability that offers us invaluable possibilities while chasing this meaning. We can define our environment using language and have an increasingly better understanding as we define it, which in turn gives us greater opportunities to understand more.
script: ../js/content/ikidilli-okuma-gelisimi.js
langlink: ../ikidilli-okuma-gelisimi.hbs
bodyClass: engelli
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="ikidilli-okuma-gelisimi-back">
        <div class="container px-0">
            <img src="../images/ikidilli-okuma-gelisimi/ikidilli-okuma-gelisimi-1.jpg" class="img-fluid" alt="Çimenlik açık bir alanda ayakta duran çocuklar ellerini havaya kaldırmış poz veriyorlar. Arka planda tarihi binalar bulunuyor.">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> engelli-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://facebook.com/tied1959" target="_blank"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook link</span></a>
                <a class="mx-1 color-icons" href="https://twitter.com/tied1959" target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter link</span></a>
                <a class="mx-1 color-icons" href="https://instagram.com/tied1959" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram link</span></a>
                <a class="mx-1 color-icons" href="https://youtube.com/channel/UCyX1SRuvuVPKHjA7mPosvJw" target="_blank"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube link</span></a>
                <a class="mx-1 color-icons" href="http://tied.org.tr" target="_blank"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Website link</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-engelli text-center border-bottom-grade mb-3">ASSOCIATION OF PEOPLE WITH HEARING IMPAIRMENT</h4>
                <h3 class="font-175 bold color-engelli text-center">BILINGUAL READING DEVELOPMENT APPLICATIONS FOR TURKISH SIGN LANGUAGE KNOWING DEAF CHILDREN</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-engelli mb-3">Words are Cognitive, not Auditory</h6>
                <p>The world, as we experience, is an endless search for meaning. Language is a cognitive ability that offers us invaluable possibilities while chasing this meaning. We can define our environment using language and have an increasingly better understanding as we define it, which in turn gives us greater opportunities to understand more.</p>
                <p>Children who can hear, learn a language as it is spoken in the environment in which they were born by hearing and interacting with other speakers. They then complement listening with speaking, reading, and writing when they are educated to do so. What about deaf children? Children born to deaf families learn sign language by interacting with their parents who can speak the same sign language – just like the process in any other natural language. In the case of deaf children with parents who do not have any hearing impairment, they often start learning sign language at school when it is too late for the mother tongue development. However, sign language is not solely enough for deaf children to have an advanced social life, and especially to access education as they have a right to just like everyone else. It is very difficult for deaf children to receive a high quality education when they lack the vocabulary used for the written language of the society, their teachers do not speak sign language and there are not specially produced educational materials available to them.</p>
                <p>The Association of People with Hearing Impairment of Turkey (TİED), adopting a bilingual approach, says “it could be possible if we develop educational materials for deaf children that would support their learning in the written language, from a young age, along with the sign language”. They are inspired by a digital application designed by Gallaudet University, the first school for the advanced education of the deaf and hard of hearing in the world. The stories in children’s books offered by this application are accompanied by sign language, pictures, and text.</p>
                <p>TİED, with support from the Department of Linguistics, Boğaziçi University, and Gallaudet University, as the project partners, adapts this system to the Turkish context with two stories and aims to encourage children’s creativity, to make them love reading and to develop their vocabulary and self-confidence. </p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/ikidilli-okuma-gelisimi/ikidilli-okuma-gelisimi-3.jpg" class="img-fluid" alt="İşaret dilinde konuştuğu anlaşılan bir kız çocuğu ve onu izleyen bir kız çocuğu bir masanın başında oturuyorlar."></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/ikidilli-okuma-gelisimi/ikidilli-okuma-gelisimi-4.jpg" class="img-fluid" alt="İşaret dilinde konuştuğu anlaşılan bir oğlan çocuğu ve onu izleyen bir kız çocuğu karşılıklı ayakta duruyorlar."></p>
            </div>

            <div class="col-12">
                <p>It is very important to trigger children’s language skills when they are open and ready to achieve them. If language development is not well established at an early age, it becomes very difficult to make up for the deficiencies later. Using the expertise of the Department of Linguistics, Boğaziçi University, on language and concept development, sign language structure and education, TİED aims to contribute to children’s education and participation in social life with stories designed for deaf children who are at least four years old.</p>
                <p>The Association has a sample story written by Gallaudet University. This is the story of a little girl who goes after the Baobab fruit that she heard of from an old man she met while wandering through the forest. In addition to teaching children new words, the story also transcends some values, including awareness of nature, a sense of curiosity and discovery, and the beauty of helping and sharing. </p>
                <p>Inspired by this story, TİED has adapted a second story, using patterns from the Turkish culture, and set Keloğlan as the leading character. In this story, children witness how Keloğlan decides to become a ship engineer when he comes across a toy ship on the ground while grazing animals in his village in the summertime. When Keloğlan comes to İstanbul with his family and observes ferries and ships closely, children learn about İstanbul and its history.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box turuncu-box">“When I read a storybook, I rarely understood a word. I kept asking my mother. My family is deaf. They are not good at Turkish words. I was having a hard time. Discovering this application made me really happy. I have never done such practice before. I am so happy.”</p>
                <p class="content-box-alt">Child (14 years old) Using the Application</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/ikidilli-okuma-gelisimi/ikidilli-okuma-gelisimi-5.jpg" class="img-fluid" alt="Küçük çocuklar loş bir odada perdeye yansıtılmış bir görüntüye bakıyorlar. Görüntüde bir kız çocuğu var."></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/ikidilli-okuma-gelisimi/ikidilli-okuma-gelisimi-6.jpg" class="img-fluid" alt="Fotoğrafta sırtları dönük oturan iki oğlan çocuğu masanın üzerinde bulunan resimli bir kitaba bakıyor."></p>
            </div>

            <div class="col-12">
                <p>Both stories are first translated into Turkish Sign Language. At this point, the Association makes sure that signers have received adequate training in storytelling for kids. It makes a big difference in children’s comprehension when the narrative rhythm changes as necessary throughout the story, the signs are clear and fluent, and of course, supported with facial expressions, which are an important component of sign language. </p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box turuncu-box">“The application is really cool. My daughter watches the story and learns without asking for my help. Children who do not speak sign language can simply download the application and learn. I believe this application will be very useful.”</p>
                <p class="content-box-alt">Parent of a Child (6 years old) Using the Application</p>
            </div>

            <div class="col-12">
                <p>The translation is followed by the videotaping of the stories. The videos allow us to watch and hear the narrator who tells the story in Turkish Sign Language. There are also animating elements with impressive graphics that will help children enter the atmosphere of the story. This creates an opportunity to learn sign language for deaf children who use bionic ears, for normally hearing children with deaf parents, and for normally hearing parents of deaf children.</p>
                <p>It would not be wrong to compare the result to a living storyteller who begins to tell his/her own story when he/she opens up. Finally, the video is transformed into a complete book including written content as well as audio and visual elements. The sentences from the spoken text appear at the bottom of each page with the words to be taught indicated in color. Above all, when a child hovers over a word, he/she can see the sign of that word. The words are also provided in alphabetical order at the end of the book so that children can reinforce their learning.</p>
                <p>Before finalizing all this work, the Association shares it with deaf children to get their feedback, upon which the work is edited to meet the needs of the children. Gallaudet University’s application only works on IOS tablets while TİED is developing an application compatible with both Android and IOS mobile phones and tablets. Thus, TİED’s interactive e-book is accessible to a greater number of people. One of the most exciting things about this is that our signed storyteller will be introduced to the departments of child development in universities and schools for deaf children, and will offer teachers a very effective education model for deaf people.</p>
            </div>

            <div class="col-12 text-center my-4">
                <a href="https://tied.org.tr/haberler/oykulerimiz/" class="d-flex flex-column align-items-center text-decoration-none" target="_blank">
                    <img src="../images/ikidilli-okuma-gelisimi/link.png" class="img-fluid" alt="Türkiye İşitme Engelliler Derneği Logosu">
                </a>
            </div>

            <div class="col-12">
                <p>What makes the world livable is the pursuit of its meaning. We need language in order to continue this search by new means every day. Living with a language means exploring by reading, rethinking familiar things in creative ways, being able to imagine, and getting curious and eager to see more. Language means being able to taste the Baobab fruit and getting on board Keloğlan’s ship. Fortunately, we have a wide horizon, and hearing impairment is not an obstacle because words are not all about hearing, but they also have a cognitive aspect.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box turuncu-box">“I now watch the story in sign language. I’m also learning the alphabet. I really like it. I would love many more different stories like that.”</p>
                <p class="content-box-alt">Child (6 years old) Using the Application</p>
            </div>

            <div class="col-12 my-5">
                <div id="ikidilliOkumaGelisimiSlider">
                    <div>
                        <img src="../images/ikidilli-okuma-gelisimi/ikidilli-okuma-gelisimi-2.jpg" class="img-fluid" alt="Beyaz yazı tahtasının önünde yetişkin ve çocukların olduğu bir toplu fotoğraf. Ortalarında, üzerinde Türk İşaret Dili Kullanan Sağır Çocuklar İçin İkidilli Okuma Gelişimi Uygulamaları yazan ayaklı bir afiş var. En sağda tekerlekli sandalyede oturan bir erkek dışında herkes ayakta, gülümseyerek poz veriyor.">
                    </div>
                    <div>
                        <img src="../images/ikidilli-okuma-gelisimi/ikidilli-okuma-gelisimi-7.jpg" class="img-fluid" alt="Sınıf gibi bir odada, perdeye yansıtılmış bir animasyon görüntüsünün önünde ayakta duran çocuklar ve onların karşısında işaret dili ile bir şeyler anlattıkları anlaşılan iki kadın var.">
                    </div>
                    <div>
                        <img src="../images/ikidilli-okuma-gelisimi/ikidilli-okuma-gelisimi-8.jpg" class="img-fluid" alt="Biri işaret dili ile konuştuğu anlaşılan, diğeri onu izleyen iki kız çocuğu yan yana oturuyor.">
                    </div>
                    <div>
                        <img src="../images/ikidilli-okuma-gelisimi/ikidilli-okuma-gelisimi-9.jpg" class="img-fluid" alt="Açık havada taş merdivenlerin iki basamağına arka arkaya oturmuş dokuz küçük çocuk ellerini havaya kaldırmış şekilde, işaret dilinde alkış işaretini yaparken, gülümseyerek poz veriyorlar.">
                    </div>
                    <div>
                        <img src="../images/ikidilli-okuma-gelisimi/ikidilli-okuma-gelisimi-11.jpg" class="img-fluid" alt="Yakın planda çekilmiş karşılıklı birbirlerine bakan üç kız çocuğu.">
                    </div>
                    <div>
                        <img src="../images/ikidilli-okuma-gelisimi/ikidilli-okuma-gelisimi-12.jpg" class="img-fluid" alt="Duvardaki perdeye yansıtılan görüntüde Dünya İşaret Dilleri Günü yazıyor. Perdenin önünde ayakta duran bir kadın ve tekerlekli sandalyede oturan bir erkek bir şeyler anlatıyorlar. ">
                    </div>
                </div>
            </div>

            <div class="col-12 mb-5">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/6zL46sQHHjA" title="TIED | Bilingual Reading Development Applications for Turkish Sign Language Knowing Deaf Children" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>

</main>


{{/content}}
{{/extend}}