---
language: en
title: Bilingual Reading Development
description:
script: ../js/main.js
langlink: ../ikidilli-okuma-gelisimi.hbs
---

{{#extend "base"}}
{{#content "main"}}

<main>
</main>

{{/content}}
{{/extend}}