---
language: en
title: Disability Rights in Education
description: The more different stories one witnesses, the greater awareness one develops. Recognizing differences and learning from them can open the doors to a world where everyone has equal rights. At this point, inclusive education provides individuals with the skills necessary to welcome diversities and to enrich their lives with others’ differences.
script: ../js/content/egitimde-engelli-haklari.js
langlink: ../egitimde-engelli-haklari.hbs
bodyClass: engelli
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="egitimde-engelli-haklari-back">
        <div class="container px-0">
            <img src="../images/egitimde-engelli-haklari/egitimde-engelli-haklari-1.jpg" class="img-fluid" alt="Yüzleri görünmeyen bir grup kadın ve erkek, yumruk yapıp uzattıkları ellerini ortada birleştirmiş. Ellerinin altında yerde bazı kâğıtlar bulunuyor.">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> engelli-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://facebook.com/tohumotizm" target="_blank"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook link</span></a>
                <a class="mx-1 color-icons" href="https://twitter.com/tohumotizm" target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter link</span></a>
                <a class="mx-1 color-icons" href="https://instagram.com/tohumotizm" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram link</span></a>
                <a class="mx-1 color-icons" href="https://youtube.com/user/TohumOtizmVakfi" target="_blank"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube link</span></a>
                <a class="mx-1 color-icons" href="http://egitimdeengellihaklari.org" target="_blank"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Website link</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-engelli text-center border-bottom-grade mb-3">TOHUM AUTISM FOUNDATION &amp; İSTANBUL BİLGİ UNIVERSITY SEÇBİR</h4>
                <h3 class="font-175 bold color-engelli text-center">DISABILITY RIGHTS IN EDUCATION:<br class="d-none d-sm-block"> TOGETHER IN SCHOOL, TOGETHER IN LIFE</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-engelli mb-3">An Equal World with Differences</h6>
                <p>The more different stories one witnesses, the greater awareness one develops. Recognizing differences and learning from them can open the doors to a world where everyone has equal rights. At this point, inclusive education provides individuals with the skills necessary to welcome diversities and to enrich their lives with others’ differences.</p>
                <p>Everyone has the right to education. Unfortunately, different social groups cannot exercise their right to education under equal conditions. Disabled children are among the disadvantaged groups. Such problems, including unavailability of physical educational areas and course materials, existing stereotypes, and teachers’ lack of knowledge, skills, and resources that would enable them to equally include all students, with or without disabilities, in the educational environment make it difficult for children to access education. Based on this exact problem, the project Disability Rights in Education: Together in School, Together in Life aims to prevent the discrimination experienced by children with disabilities at school. The project carried out by the cooperation of the Tohum Autism Foundation with the Center for Sociology and Education Studies (SEÇBIR), İstanbul Bilgi University, has provided training and developed materials to support preschool and elementary school teachers for three years and developed contents for children to embrace differences as richness.</p>
                <p>Inclusive education aims to increase the capacity of all students, including students with disabilities, to respond to their different needs because this is the only way that everyone can exercise their right to education equally. In the first year of the project, the needs to extend the inclusive education approach were analyzed. Based on these needs, a training program was developed and shared with teachers.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/egitimde-engelli-haklari/egitimde-engelli-haklari-4.jpg" class="img-fluid" alt="Kapalı bir toplantı odasında ellerindeki kitapçıklara bakan, sandalyelere oturmuş birkaç erkek var."></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/egitimde-engelli-haklari/egitimde-engelli-haklari-5.jpg" class="img-fluid" alt="Kapalı bir toplantı odasında ellerini iki yana açmış kır saçlı bir erkek ayakta duruyor. İki yanında bulunan insanlar yere çömelmiş gülümsüyor."></p>
            </div>

            <div class="col-12">
                <p>In the second year, the project included efforts to extend the inclusive education approach with a focus on disability into two elementary schools in İstanbul, and continued hosting meetings with teachers who had a key role in realizing this approach. After the meetings, a number of classroom activities, games, worksheets, and an animated film were prepared to support teachers in implementing inclusive education methods together with students, and these contents were finalized with the contributions and feedback of teachers.</p>
            </div>

            {{!-- <div class="col-md-8 mx-auto text-center my-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/gkQmnWtze7Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div> --}}

            <div class="col-12">
                <p>In the third year of the project, the project team continued taking the efforts further in the schools where the pilot studies were carried out, and the team was ready to spread the approach throughout Turkey.</p>
                <p>Trainings for teachers were carried out in Erzurum, Gaziantep and Izmir, as well as İstanbul, involving elementary and pre-school teachers who volunteered from 17 provinces. One of the most important achievements is that 97% of the 90 teachers stated they were ready to implement these practices back in their school/institution by the end of the training courses organized in cooperation with the Teachers’ Network, the Foundation of Teachers’ Academy and the Provincial Directorates of National Education. Stating that the training they attended was a turning point in their lives, the teachers stated they were feeling empowered in terms of disability rights and inclusive education. In addition, the teachers started committing themselves to create fair conditions for everyone everywhere.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box turuncu-box">“It has made me very strong as a teacher. Its effect on mobilization is also very valuable. Realizing that I am not alone and growing by sharing fills me with hope for the future.”</p>
                <p class="content-box-alt">Merve Tuna - Preschool Teacher</p>
            </div>

            <div class="col-12">
                <p>For the next step of the project, a guide was prepared for the dissemination of the developed materials beyond face-to-face training. ‘A Teacher’s Guide to a Disability Rights-Based Inclusive School’ is a comprehensive guide for teachers to implement inclusive education in order to include all students in the educational environment. In addition to the theoretical background of inclusive education, the guide also includes suggestions for activities to be implemented in the classroom with preschool and elementary school students.</p>
            </div>

            {{!-- <div class="col-12 text-center my-4">
                <a href="https://www.sabancivakfi.org/i/content/Engelli_Haklari_Odakli_Kapsayici_Okul_Icin_Ogretmen_Kilavuzu.pdf" class="d-flex flex-column align-items-center text-decoration-none" target="_blank">
                    <img src="../images/egitimde-engelli-haklari/engelli-haklari-odakli-pdf-kapak.jpg" class="img-fluid" alt="Engelli Hakları Odaklı Kapsayıcı Okul için Öğretmen Kılavuzu Kapağı">
                </a>
                <p class="bold mt-2">ENGELLİ HAKLARI ODAKLI KAPSAYICI OKUL İÇİN ÖĞRETMEN KILAVUZU</p>
            </div> --}}

            <div class="col-12">
                <p class="my-4"><img src="../images/egitimde-engelli-haklari/egitimde-engelli-haklari-6.jpg" class="img-fluid" alt="Üzerinde siyah beyaz resimler olan ufak kağıtlar yerde duruyor. Etrafında birkaç kişi eğilmiş şekilde kağıtlara bakıyor."></p>
            </div>

            <div class="col-12">
                <p>Tohum Autism Foundation and İstanbul Bilgi University SEÇBİR have succeeded in introducing this approach, which they aim to expand within the scope of the project that has been going on for three years, to the whole society by organizing effective digital campaigns and raising awareness of the disability rights. In the second year of the project, the campaign #BenNedenYokum [#WhyImNotIn] was conducted on the International Day of Persons with Disabilities - 3 December to draw attention to the demand of children with disabilities for equal access to education. Earlier this year, a digital campaign was held for the Disability Week - 10-16 May, with the slogan #HerkesAynıOlsa [#IfEveryoneWereTheSame] to express the value of being different.</p>
                <p>Social media users participating in the movement changed their profile photos to the campaign logo and their profile names to the campaign tag and shared the campaign video on their social media accounts to support raising awareness. The campaign received support from many institutions, broadcasting organizations, and celebrities. </p>
                <p>With this campaign, it was possible for a day to see how boring the world would be if everyone were the same, and how we would be deprived of what we learned from each other and the richness of diversity. Yet, in order to truly understand the value of being different, one must first learn one’s rights. More than 1,000 teachers have been involved in this project carried out for the dream of a society where differences are valued and one of them expresses how willing she is now to contribute to the construction of the dream society:</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box turuncu-box">“Although the project is focused on disabilities, it may have improved all of us to some extent in terms of perspective. To say no to all kinds of discrimination, to all stereotypes, and to stop it when someone uses discriminatory language - I am now committed to this. This is very good for me and I can say that this is the most deserving cause I have ever been involved in. We wish fair conditions for everyone and everything in the world.”</p>
                <p class="content-box-alt">Ezgi İdemen Hazar - Elementary School Teacher</p>
            </div>

            <div class="col-12 my-5">
                <div id="egitimdeEngelliHaklariSlider">
                    <div>
                        <img src="../images/egitimde-engelli-haklari/egitimde-engelli-haklari-3.jpg" class="img-fluid" alt="Ahşap bir duvara yapıştırılmış sarı bir dosya kağıdının üzerinde, hayali bir arkadaşım var yazıyor. İki kadın, bir erkek bu kâğıdın önünde konuşuyorlar.">
                    </div>
                    <div>
                        <img src="../images/egitimde-engelli-haklari/egitimde-engelli-haklari-7.jpg" class="img-fluid" alt="Kapalı bir toplantı salonda bulunan kalabalık bir grubun toplu fotoğrafı. Grubun yarısı arkada ayakta, yarısı önde yerde oturuyor ve gülümseyerek poz veriyor.">
                    </div>
                    <div>
                        <img src="../images/egitimde-engelli-haklari/egitimde-engelli-haklari-8.jpg" class="img-fluid" alt="Kapalı bir toplantı salonunda çember şeklinde bir grup kollarını havaya kaldırmış şekilde, koşarak çember çiziyor.">
                    </div>
                    <div>
                        <img src="../images/egitimde-engelli-haklari/egitimde-engelli-haklari-9.jpg" class="img-fluid" alt="Kapalı bir toplantı salonunda mavi gömlekli, siyah saçlı bir erkek ayakta durmuş, karşısında sandalyelere oturmuş yetişkinlere bir şeyler anlatıyor.">
                    </div>
                    <div>
                        <img src="../images/egitimde-engelli-haklari/egitimde-engelli-haklari-10.jpg" class="img-fluid" alt="İki kadın bir erkek yan yana gülümserken görünüyor.">
                    </div>
                    <div>
                        <img src="../images/egitimde-engelli-haklari/egitimde-engelli-haklari-11.jpg" class="img-fluid" alt="Toplantı salonunda ufak gruplar halinde yere oturmuş insanlar var. Kısa saçlı, gözlüklü bir kadın ayakta onlara bir şeyler anlatıyor.">
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>


{{/content}}
{{/extend}}