---
language: en
title: Dream Designers
description: Regardless of our age and the era we were born to, catching up with the times requires great effort from all of us... The current era transforms faster than individuals do, and even a one-minute break can make one be left outside the circle drawn by one’s own era. While everyone is aware the current era is transforming, it seems possible only for those who believe in the future, new generations, children and their potential to keep up with this transformation and make positive contributions.
script: ../js/content/hayalini-tasarlayanlar.js
langlink: ../hayalini-tasarlayanlar.hbs
bodyClass: genc
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="hayalini-tasarlayanlar-back">
        <div class="container px-0">
            <img src="../images/hayalini-tasarlayanlar/hayalini-tasarlayanlar-1.jpg" class="img-fluid" alt="Toplantı salonu gibi bir mekânda, üzerinde oyun hamurları, renkli kâğıtlar, makaslar gibi birçok malzemenin olduğu yuvarlak bir masanın etrafında insanlar oturuyor.">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> genc-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://facebook.com/hayalinitasarlayanlar" target="_blank"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook link</span></a>
                <a class="mx-1 color-icons" href="https://twitter.com/htasarlayanlar" target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter link</span></a>
                <a class="mx-1 color-icons" href="https://instagram.com/hayalinitasarlayanlar" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram link</span></a>
                <a class="mx-1 color-icons" href="https://youtube.com/channel/UCdQoL7RQTgBKAzY8GF6ecvg" target="_blank"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube link</span></a>
                <a class="mx-1 color-icons" href="http://hayalinitasarlayanlar.org" target="_blank"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Website link</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-genc text-center border-bottom-grade mb-3">TECHNOLOGY DEVELOPMENT FOUNDATION OF TURKEY</h4>
                <h3 class="font-175 bold color-genc text-center">DREAM DESIGNERS</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-genc mb-3">On Catching Up with the Time: Technology to Transform the Era</h6>
                <p>Regardless of our age and the era we were born to, catching up with the times requires great effort from all of us... The current era transforms faster than individuals do, and even a one-minute break can make one be left outside the circle drawn by one’s own era. While everyone is aware the current era is transforming, it seems possible only for those who believe in the future, new generations, children and their potential to keep up with this transformation and make positive contributions.</p>
                <p>It is essential to follow technology to understand, to interpret and to add new dimensions to the current era. Although it may seem like a piece of cake for the children of today, it takes effort to get involved with technology – just like the case in all other concepts.</p>
                <p>The Technology Development Foundation of Turkey (TTGV) conducts a project called Dream Designers in order to support the change of professional skills that will be invoked by the global transformation caused by technology, to prepare young people for the globally competitive environment and to establish a connection between the business world and the education.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/hayalini-tasarlayanlar/hayalini-tasarlayanlar-3.jpg" class="img-fluid" alt="Sınıf düzeninde yetişkinlerin oturduğu bir toplantı salonunda, konuşma yapan iki kadın bir erkek ayakta duruyor."></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/hayalini-tasarlayanlar/hayalini-tasarlayanlar-4.jpg" class="img-fluid" alt="Kare masaların etrafında küçük gruplar hâlinde oturmuş insanlar yapışkanlı kâğıtlar kullanarak birlikte çalışıyorlar."></p>
            </div>

            <div class="col-12">
                <p>The goal of the Dream Designers is to provide students with hardware, software, and algorithmic perspective, instill creative self-confidence with science and technology, and support them in creating an academic and business-oriented perspective. The process followed by the Dream Designers is itself educational. The process design, process and people-orientation in a project under the Dream Designers provide the greatest data that would be obtained from the experience, but defining the problem, constructing ideas, imagining, and producing together take this experience to a different level for students.</p>
                <p>The Dream Designers starts the change from teachers first while the actual target is students. The ‘Human-Oriented Design’ training, designed with a user-centered approach of the design-oriented thinking methodology, was held with teachers in Adana, Adıyaman, Afyonkarahisar, Balıkesir and Bartın for five weeks. With this training, the teachers could learn the basics of a project development methodology and process design and gain the ability to use their learning while developing projects with their students.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/hayalini-tasarlayanlar/hayalini-tasarlayanlar-5.jpg" class="img-fluid" alt="Bir toplantı salonunda iki kadın bir erkek sunum yapıyor. Kadınlardan birinin elinde mikrofon bulunuyor. Kişilerin solunda üzerine Hayalini Tasarlayanlar projesinin logosu olan ayaklı bir afiş, sağ taraflarında ise Balıkesir İl Milli Eğitim Müdürlüğü logosu bulunan ayaklı bir afiş var."></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/hayalini-tasarlayanlar/hayalini-tasarlayanlar-6.jpg" class="img-fluid" alt="Bir toplantı salonunda üç kadın bir erkek sunum yapıyor. Kişilerin solunda üzerine Hayalini Tasarlayanlar projesinin logosu olan ayaklı bir afiş, sağ taraflarında ise Adana İl Milli Eğitim Müdürlüğü logosu bulunan ayaklı bir afiş var."></p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box yesil-box">“I applied with some hesitation because I thought it was a bit technical and about technology, but I had no worries by the end of the first day. Focusing on the process rather than technique, experiencing the process of discovery, and the perfectly step-by-step explanation of the whole program made the learning process enjoyable for me.”</p>
                <p class="content-box-alt">A Teacher and Project Participant</p>
            </div>

            <div class="col-12">
                <p>After the teachers, it is time to support students with knowledge and equipment. As the schools are closed with students educated remotely due to the pandemic, this stage needs to be redesigned. In fact, this process also requires design-oriented thinking, and the project itself manages to transform itself with the intended skills to be gained by teachers and students. An online platform designed to be easily accessible by everyone is used to provide training courses to teach high school students, as well as the teachers involved, the essential technical skills required by the current era, such as the fundamentals of electronics, algorithmic thinking and programming, design principles and three-dimensional design. The platform, in addition to the technical skills, also offers training on prototyping, systematic thinking, recognizing problems, generating ideas, collaborating, discussing around a framework, and empathy.</p>
                <p>Such skills remind us that technology is not an end, rather it is a means for social change. Teachers and, of course, students who will develop their projects with teachers’ guidance, decide on which problem they want to solve first, thanks to the people-oriented thinking methodology that focuses on the problem and understanding people’s needs, before any solution. The starting point of the project production process is set as students’ empathy with the person at the root of a problem. It turns out that a problem can have multiple solutions as the students conduct interviews with the relevant people and focus on responding to the needs around the design question with the data they collect.</p>
                <p>The educational videos on the platform offer a rich resource for teachers and students participating in the project, but also for anyone interested in the subject.</p>
            </div>

            <div class="col-md-4 mx-auto text-center my-5">
                <a href="https://www.hayalinitasarlayanlar.org/" class="d-flex flex-column align-items-center text-decoration-none" target="_blank">
                    <img src="../images/hayalini-tasarlayanlar/hayalinitasarlayanlar-logo.png" class="img-fluid" alt="Hayalini Tasarlayanlar Logosu">
                </a>
            </div>

            <div class="col-12">
                <p>With the aim of creating an ecosystem that will improve the competencies required by the current era, the Dream Designers continued reshaping its cycle, which began with teacher training and online training for students, with a number of innovations since the start of the COVID-19 pandemic. The webinars have brought students together with people all around the world using technology for social transformation and shed light on their career-related choices.</p>
                <p>The experience gained by the high school students involved in this project opens the door for them to be in a field suitable for their competencies and desires in the future. The teachers’ gain in this regard is a stronger role as a facilitator and a guide... The social benefit of the mutual gains is the first step taken for important contributions to the transformation of the era in order to make the competencies required by the era accessible to everyone for use by different populations and to create local communities of technology... It is in our hands to transform the era and to design the future we want in line with our dreams as long as we have the necessary tools to do so.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box yesil-box">“For my previous work, I always used a design focus. Having a problem-oriented approach in this work shed better light on the solution to the problem. I want my students to experience it in a similar way.”</p>
                <p class="content-box-alt">A Teacher and Project Participant</p>
            </div>

            <div class="col-md-8 mx-auto text-center my-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/DfeKrva6l7o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>


            <div class="col-12 my-5">
                <div id="hayaliniTasarlayanlarSlider">
                    <div>
                        <img src="../images/hayalini-tasarlayanlar/hayalini-tasarlayanlar-2.jpg" class="img-fluid" alt="Açık havada, bir binanın girişine benzeyen alanda, basamakların üzerinde arka arkaya duran kalabalık bir grubun toplu fotoğrafı. Herkes kameraya el sallayarak ve gülümseyerek poz veriyor.">
                    </div>
                    <div>
                        <img src="../images/hayalini-tasarlayanlar/hayalini-tasarlayanlar-7.jpg" class="img-fluid" alt="Kapalı bir toplantı salonunda kalabalık bir grup insan, yuvarlak masaların etrafında duruyor. Kimi ayakta kimi otururken ellerinde kâğıtlar ile birbirleriyle konuşuyorlar.">
                    </div>
                    <div>
                        <img src="../images/hayalini-tasarlayanlar/hayalini-tasarlayanlar-8.jpg" class="img-fluid" alt="Kapalı, ahşap duvarlı bir toplantı salonunda bulunan kalabalık bir grubun toplu fotoğrafı. Çoğu ayakta duruyor, en önde beş kişi sandalyelerde oturuyor.">
                    </div>
                    <div>
                        <img src="../images/hayalini-tasarlayanlar/hayalini-tasarlayanlar-9.jpg" class="img-fluid" alt="Bir toplantı salonunda bir kadın iki erkek sunum yapıyor. Kişilerin solunda üzerine Hayalini Tasarlayanlar projesinin logosu olan ayaklı bir afiş, sağ taraflarında ise Adana İl Milli Eğitim Müdürlüğü logosu bulunan ayaklı bir afiş var. Kadının gözünde dürbüne benzeyen bir gözlük var.">
                    </div>
                    <div>
                        <img src="../images/hayalini-tasarlayanlar/hayalini-tasarlayanlar-10.jpg" class="img-fluid" alt="Bir toplantı salonunda iki kadın sunum yapıyor. Kişilerin solunda üzerine Hayalini Tasarlayanlar projesinin logosu ve Afyonkarahisar İl Milli Eğitim Müdürlüğü logosu olan iki afiş var. Kadınlardan biri elinde tablo içeren büyük bir poster tutuyor.">
                    </div>
                    <div>
                        <img src="../images/hayalini-tasarlayanlar/hayalini-tasarlayanlar-12.jpg" class="img-fluid" alt="İki erkek bir kadın, bir masanın etrafında kâğıtların üzerine eğilmiş dikkatle çalışıyorlar.">
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>

{{/content}}
{{/extend}}