---
language: en
title: Bodrum'dan Türkiye'ye Kadınlar Eşitlikçi ve Şiddetsiz Kentini Yaratıyor
description:
script: ../js/content/bodrumdan-turkiyeye.js
langlink: ../bodrumdan-turkiyeye.hbs
bodyClass: kadin
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="bodrumdan-turkiyeye-back">
        <div class="container px-0">
            <img src="../images/bodrumdan-turkiyeye/bodrumdan-turkiyeye-1.jpg" class="img-fluid" alt="">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> kadin-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://www.facebook.com/BodrumKadin/" target="_blank"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook linki</span></a>
                <a class="mx-1 color-icons" href="https://twitter.com/BodrumKadin" target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter linki</span></a>
                <a class="mx-1 color-icons" href="https://www.instagram.com/bodrumkadindayanisma/" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram linki</span></a>
                <a class="mx-1 color-icons" href="https://www.youtube.com/channel/UCv2MqzGaVdf85Qbz9xXTUXw" target="_blank"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube linki</span></a>
                <a class="mx-1 color-icons" href="https://bodrumkadindayanisma.com/" target="_blank"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Websitesi linki</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-kadin text-center border-bottom-grade mb-3">BODRUM KADIN DAYANIŞMA DERNEĞİ</h4>
                <h3 class="font-175 bold color-kadin text-center">BODRUM’DAN TÜRKİYE’YE: <br class="d-none d-sm-block">KADINLAR EŞİTLİKÇİ VE ŞİDDETSİZ KENTİNİ&nbsp;YARATIYOR</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-kadin mb-0">Bodrum’dan Eşitlikçi Ve Şiddetsiz Bir Kent Modeli </h6>
                <p class="mt-0">Toplumsal cinsiyet eşitliğinin sağlandığı bir toplumda yaşayabilmemiz ve kadının insan haklarının tam anlamıyla uygulanabilmesi ancak kadınların yönetimde eşit söz hakkına sahip olması ile mümkün. Karar alma mekanizmalarına aktif katılımın ilk basamağı ise yerel yönetimler.</p>
                <p>2012 yılında bir dayanışma ağı olarak kurulan Bodrum Kadın Dayanışma Derneği, toplumsal cinsiyet eşitliği politikalarını hayatın her alanında yaygınlaştırarak, kadına yönelik şiddet ve ayrımcılığın önlenebilmesi için çalışıyor. </p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/bodrumdan-turkiyeye/bodrumdan-turkiyeye-2.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/bodrumdan-turkiyeye/bodrumdan-turkiyeye-3.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Kadınların yaşadıkları kentin yönetiminde de rol alması için kalıcı adımlar atan Dernek, “Bodrum’dan Türkiye’ye Kadınlar Eşitlikçi ve Şiddetsiz Kentini Yaratıyor!” projesinde Bodrum Belediyesi ile güçlerini birleştirdi. Projenin öncelikli amacı Bodrum’da yaşayan kadınların günlük hayatta karşılaştıkları sorunları tanımaları ve kentteki haklarına dair farkındalıklarını artırmaları. Bu sayede kentte, kapsayıcı yerel hizmetlerin sunulmasını sağlamak için gereken katılım mekanizmalarının da oluşturulması hedeflendi. </p>
                <p>Proje kapsamında Bodrum Belediyesi’nin stratejik eylem planları incelendi. Yerel yönetimin yapmakla yükümlü olduğu çalışmaların belediyenin stratejik planında yer alması için savunuculuk faaliyetleri yürütüldü.</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="../images/bodrumdan-turkiyeye/bodrumdan-turkiyeye-4.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Bodrum Kadın Dayanışma Derneği ve Bodrum Belediyesi’nin arasında kurulan bağ bu çalışmalarla oldukça güçlendi. Dernek üyeleri, aynı zamanda Bodrum Belediyesi Toplumsal Cinsiyet Komisyonu’nda aktif rol alıyor. Belediye ile kurulan güçlü ilişkiler sayesinde Bodrum Belediye Başkanı da projeye oldukça ilgili. Mahalle temsilcisi kadınlarla bir araya gelinerek yapılan çalışma ve atölyelere bireysel olarak da katılan Belediye Başkanı Ahmet Aras, belediyenin 2.900 personeline dernek tarafından bir yıla yayılan bir sürede toplumsal cinsiyet eşitliği verilmesine yönelik çalışmaları başlattı. Bodrum Belediyesi bünyesinde hizmet veren Toplumsal Cinsiyet Eşitliği Şefliği’nin Müdürlüğe dönüşmesi için lobi çalışmalarına da başlandı. </p>
            </div>

            <div class="col-12 text-center">
                <div class="content-box mor-box">
                    <p class="mt-2">“Öz güvenli ya da güçlü olmadan da bu kentte güvenli yaşamak benim hakkımmış!” </p>
                    <p class="bold mb-1">Atölye katılımcısı bir kadın</p>
                </div>
            </div>

            <div class="col-12">
                <p class="bold color-kadin mb-0">Bodrumlu Kadınlar Bir Arada</p>
                <p class="mt-0">Öte yandan kadınların kent yönetimine katılımını artırmak için yalnızca belediyenin dönüşmesi yeterli değil. Toplumsal cinsiyete dayalı ayrımcı kentsel pratiklerin fark edilmesi, dönüşmesi ve kadınların hizmetlere eşit şekilde ulaşabilmesi için ihtiyaçları ve sorunları tespit etmek gerekli. Bunun için Bodrum’un beş mahallesinde yaşayan 430 kadınla anket çalışmaları yapıldı. Kadınların kentsel haklardan yararlanma, toplumsal cinsiyet eşitliği, şiddet gibi konularda bilgi düzeylerini ölçmeye, yerel hizmetlerden beklentilerini tespit etmeye yönelik bu durum tespit anketlerinin ardından 150 kadının katıldığı farkındalık atölyeleri yapıldı. Toplumsal cinsiyet eşitliği, şiddet, kent hakkı, dayanışma ve güçlenme konularında gerçekleştirilen eğitim ve atölyeleri, yerel yönetimlerle iş birliği içinde düzenlenecek ve farklı sosyo-ekonomik gruplarından kadınların ortak ihtiyaçlarını, sorun ve çözüm önerilerini paylaşabilecekleri çalıştaylar takip edecek.</p>
            </div>

            <div class="col-12">
                <p class="mt-0">Sosyal medyayı oldukça aktif olarak kullanan dernek, faaliyetlerini takipçileri ile paylaşarak projelerinin görünür olmasını ve çalışmalara dâhil olmak isteyen kadınların da kolayca erişebilmesini sağlıyor. Ege’den tüm ülkeye örnek, bir ilçeden tüm illere model olacak çalışma, tüm hızıyla devam ediyor. Bodrumlu kadınlar ve Bodrum Belediyesi’nin omuz omuza çalışarak sürdürdükleri dayanışma diğer belediyelere de ilham oluyor...</p>
            </div>

            <div class="col-12 text-center">
                <div class="content-box mor-box">
                    <p class="mt-2">“Bu proje kapsamında Bodrum Kadın Dayanışma Derneği’nin gerçekleştirdiği atölyede mahalleli kadınlar olarak gerçekten birbirimizi görme şansımız oldu. Bir araya gelebileceğimizi gördük”. </p>
                    <p class="bold mb-1">Atölye katılımcısı bir kadın</p>
                </div>
            </div>

            {{!-- <div class="col-12 my-5">
                <div id="bodrumdanTurkiyeyeSlider">
                    <div>
                        <img src="../images/bodrumdan-turkiyeye/bodrumdan-turkiyeye-1.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/bodrumdan-turkiyeye/bodrumdan-turkiyeye-2.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/bodrumdan-turkiyeye/bodrumdan-turkiyeye-3.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/bodrumdan-turkiyeye/bodrumdan-turkiyeye-4.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div> --}}

            <div class="col-12 mb-5">
                {{!-- <p>Videonun erişilebilir versiyonu için <a href="https://youtu.be/" class="color-kadin" target="_blank">tıklayınız</a>.</p> --}}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/YOztGhRhlLE" title="Ekim Zamanı Online Buluşma Zamanı | Bodrum Kadın Dayanışma Derneği" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>


</main>

{{/content}}
{{/extend}}