---
language: en
title: "From Bodrum to Turkey: Women are Creating Their Egalitarian and Nonviolent City!"
description: We can live in a society where gender equality is ensured and women’s human rights can be fully implemented only if women have an equal say in the management. Local governments are on the first step of active participation in decision-making mechanisms.
script: ../js/content/bodrumdan-turkiyeye.js
langlink: ../bodrumdan-turkiyeye.hbs
bodyClass: kadin
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="bodrumdan-turkiyeye-back">
        <div class="container px-0">
            <img src="../images/bodrumdan-turkiyeye/bodrumdan-turkiyeye-1.jpg" class="img-fluid" alt="">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> kadin-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://www.facebook.com/BodrumKadin/" target="_blank" rel="noopener" rel="noreferrer"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook linki</span></a>
                <a class="mx-1 color-icons" href="https://twitter.com/BodrumKadin" target="_blank" rel="noopener" rel="noreferrer"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter linki</span></a>
                <a class="mx-1 color-icons" href="https://www.instagram.com/bodrumkadindayanisma/" target="_blank" rel="noopener" rel="noreferrer"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram linki</span></a>
                <a class="mx-1 color-icons" href="https://www.youtube.com/channel/UCv2MqzGaVdf85Qbz9xXTUXw" target="_blank" rel="noopener" rel="noreferrer"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube linki</span></a>
                <a class="mx-1 color-icons" href="https://bodrumkadindayanisma.com/" target="_blank" rel="noopener" rel="noreferrer"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Websitesi linki</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-kadin text-center border-bottom-grade mb-3">BODRUM WOMEN’S SOLIDARITY ASSOCIATION</h4>
                <h3 class="font-175 bold color-kadin text-center">FROM BODRUM TO TURKEY: <br class="d-none d-sm-block">WOMEN ARE CREATING THEIR EGALITARIAN AND <span class="text-nowrap">NON-VIOLENT</span>&nbsp;CITY!</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-kadin mb-0">An Egalitarian and Non-Violent Urban Model from Bodrum</h6>
                <p class="mt-0">We can live in a society where gender equality is ensured and women’s human rights can be fully implemented only if women have an equal say in the management. Local governments are on the first step of active participation in decision-making mechanisms.</p>
                <p>The Bodrum Women’s Solidarity Association was founded in 2012 as a solidarity network, and it works to prevent violence and discrimination against women by spreading gender equality policies in every aspect of life.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/bodrumdan-turkiyeye/bodrumdan-turkiyeye-2.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/bodrumdan-turkiyeye/bodrumdan-turkiyeye-3.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>The Association has taken permanent steps to ensure women have a role in the management of the city they live in and joined forces with Bodrum Municipality in the project “From Bodrum to Turkey: Women are Creating Their Egalitarian and Nonviolent City!” The primary aim of the project is to identify the problems that women of Bodrum face in daily life and to increase their awareness of their rights in their city, so the goal was set to create participation mechanisms in the city as necessary to provide inclusive local services. </p>
                <p>Within the scope of the project, the strategic action plans of the Bodrum Municipality were reviewed. Various advocacy activities were carried out to make sure certain mandatory duties to be assumed by a local government are included in the strategic plan of the municipality.</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="../images/bodrumdan-turkiyeye/bodrumdan-turkiyeye-4.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>The relation between Bodrum Women’s Solidarity Association and Bodrum Municipality has become stronger by these efforts. The members of the Association also take an active role in the Bodrum Municipality’s Gender Commission. The Mayor of Bodrum is also very interested in the project thanks to the strong relations established with the municipality. Mayor Ahmet Aras personally participated in the activities and workshops held with the women representing the neighborhood, after which he started the activities to enable the Association to provide gender equality training to the 2,900 employees of the municipality in one year. Lobbying efforts have also begun to upgrade the Gender Equality Chief’s Office, which operates within the Bodrum Municipality, into a Directorate.</p>
            </div>

            <div class="col-12 col-xl-8 mx-auto text-center">
                <div class="content-box mor-box">
                    <p class="mt-2">“It is my right to live safely in this city without being self-confident or powerful!” </p>
                    <p class="bold mb-1">A female workshop participant</p>
                </div>
            </div>

            <div class="col-12">
                <p class="bold color-kadin mb-0">Women of Bodrum Hand in Hand</p>
                <p class="mt-0">Such a transformation of the municipality is not enough alone to increase the participation of women in the city management. It is necessary to identify the needs and problems in order to spot and change gender-based discriminatory urban practices and make sure women have equal access to services. For this purpose, 430 women living in five neighborhoods of Bodrum completed a questionnaire. Following this assessment questionnaire aimed at measuring how much women know about issues such as enjoyment of urban rights, gender equality, and violence, and determining their expectations from local services, a number of awareness workshops have been held with 150 women participants in total. The training and workshops on gender equality, violence, right to the city, solidarity and empowerment will be followed by workshops organized in cooperation with local governments, where women from different socio-economic groups can express their common needs, problems and solutions. </p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/bodrumdan-turkiyeye/bodrumdan-turkiyeye-5.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/bodrumdan-turkiyeye/bodrumdan-turkiyeye-6.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p class="mt-0">The Association uses social media very actively, where it shares its activities with followers, enabling project visibility and easy access to the efforts for those women who want to be involved. The project continues at full steam and it will set a countrywide example originating from the Aegean region and a model for all provinces emerging from a district. The solidarity maintained by the women of Bodrum and the Bodrum Municipality by working shoulder to shoulder inspires other municipalities as well...</p>
            </div>

            <div class="col-12 col-xl-8 mx-auto text-center">
                <div class="content-box mor-box">
                    <p class="mt-2">“In this project, we, women from neighborhoods, had the chance to really see each other during the workshop organized by the Bodrum Women’s Solidarity Association. We saw that we could come together.” </p>
                    <p class="bold mb-1">A female workshop participant</p>
                </div>
            </div>

            {{!-- <div class="col-12 my-5">
                <div id="bodrumdanTurkiyeyeSlider">
                    <div>
                        <img src="../images/bodrumdan-turkiyeye/bodrumdan-turkiyeye-1.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/bodrumdan-turkiyeye/bodrumdan-turkiyeye-2.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/bodrumdan-turkiyeye/bodrumdan-turkiyeye-3.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/bodrumdan-turkiyeye/bodrumdan-turkiyeye-4.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div> --}}

            <div class="col-12 mb-5">
                {{!-- <p>Videonun erişilebilir versiyonu için <a href="https://youtu.be/" class="color-kadin" target="_blank" rel="noopener" rel="noreferrer">tıklayınız</a>.</p> --}}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/YOztGhRhlLE" title="Ekim Zamanı Online Buluşma Zamanı | Bodrum Kadın Dayanışma Derneği" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>


</main>

{{/content}}
{{/extend}}