---
language: en
title: Grant Programs in Brief
description: The Sabancı Foundation initiated its Grant Programs in 2007 to support civil society organizations engaged in projects for women, youth and people with disabilities.
script: ../js/content/hibe-programi-hakkinda.js
langlink: ../hibe-programi-hakkinda.hbs
---

{{#extend "base"}}
{{#content "main"}}

<main>
    <div class="container-fluid" id="hibe-programi-hakkinda-back">
        <div class="container px-0">
            <img src="../images/headers/Hibe-Programi.jpg" class="img-fluid" alt="Çapraz şekilde birbirini tutan beş farklı kadın ve erkek eli.">
        </div>
    </div>
    <div class="container my-4" id="main-content">
        {{> fontResizer}}
        <div class="row">
            <div class="col-12 text-center">
                <h6 class="border-bottom-yesil color-yesil bold mt-5 mb-3">GRANT PROGRAMS IN BRIEF</h6>
            </div>
            <div class="col-12">
                <p>The Sabancı Foundation initiated its Grant Programs in 2007 to support civil society organizations engaged in projects for women, youth and people with disabilities.</p>
            </div>
            <div class="col-12 title-top-space-for-header" id="why-women-youth-and-people-with-disabilities">
                <h6 class="color-yesil bold mb-3">Why Women, Youth and People with Disabilities?</h6>
                <p>41.7 million women, 13 million young people and 8.5 million people with disabilities live in Turkey. The majority of the population, therefore, consists of women, youth and people with disabilities. On the other hand, various indicators, such as employment, education, political participation, reveal that these groups experience problems with equal and active participation in social life:</p>
                <ul>
                    <li><strong>Women</strong>, are subjected to violence in every aspect of life and struggle with gender inequality.</li>
                    <li><strong>Young people</strong>with limited economic, social, or cultural resources experience difficulties that keep them from getting the same opportunities as their peers.</li>
                    <li><strong>Individuals with disabilities</strong>experience difficulties in accessing their rights that are designated by laws, and in addition to such physical obstacles, they also struggle to overcome social prejudices throughout their lives.</li>
                </ul>
                <p>For those who are part of not one, but two or more of the above groups, the picture is even more pessimistic: “women with disabilities”, “young women”, and “young individuals with disabilities” are affected by discrimination twice as much as those who are members of only one group.</p>
            </div>
            <div class="col-12 title-top-space-for-header" id="why-civil-society-organizations">
                <h6 class="color-yesil bold mb-5">Why Civil Society Organizations? </h6>
                <p>The Sabancı Foundation believes civil society organizations should be supported with Grant Programs to ensure women, young people and individuals with disabilities enjoy their rights equally and active participation in society. </p>
                <p>The reason is those civil society organizations which are specialized in rights of women, youth and individuals with disabilities have the potential to work towards a solution to overcome the obstacles to living a life in which every individual enjoys their rights equally and to develop models that would set a good example for the society. In Turkey, on the other hand, there are scarcely any domestic organizations or foundations that fund right-based civil society organizations. </p>
                <p>With this starting point, the Sabancı Foundation has been supporting civil society organizations with its Grant Programs for the past 13 years. The projects supported by the Grant Programs focus on <strong>“education”, “disability rights”, “fighting against early and forced marriages”, “co-existence”,</strong> and <strong>“empowering teachers”</strong>.</p>
            </div>
            <div class="col-12 mt-5 mb-0 svg-frame">
                {{> hibe-programlari-hakkinda-en}}
            </div>
            <div class="col-12 title-top-space-for-header" id="how-does-the-process-of-grant-programs-work">
                <h6 class="color-yesil bold mb-5">How does the Process of Grant Programs work?</h6>
                <p>The Sabancı Foundation manages a grant process under which the Foundation supports civil society organizations not only with funds, but also with technical support according to their needs, creates platforms allowing information exchange between organizations, and carries out collective work with organizations:</p>
                <p>The process starts once those organizations qualified for a grant at the end of a period of extensive evaluation and selection, get involved in the network of Grant Programs.</p>
                <p>These organizations meet others working in similar areas within the network of Grant Programs and join various platforms of information exchange.</p>
                <p>The Sabancı Foundation carries out collective work with the organizations by closely monitoring the ongoing work by means of site visits, a comprehensive evaluation of reports presented by the organizations, and feedbacks.</p>
                <p>According to such monitoring, the organizations are supported based on their individual needs, ranging from communication to monitoring and evaluation. </p>
                <p>Communication opportunities, including press releases, special news and events are created to inform the public about the project.</p>
                <p>This book is a collection of inspiring stories of the 12 projects supported in the period 2019-2020, within the scope of the Sabancı Foundation Grant Programs which have the aim of contributing to the social development in Turkey by supporting civil society organizations.</p>
            </div>
        </div>
    </div>
</main>

{{/content}}
{{/extend}}