---
language: en
title: I am Aware of My Strength, I Take Care of My Business
description:
script: ../js/content/gucumun-farkindayim-isimin-basindayim.js
langlink: ../gucumun-farkindayim-isimin-basindayim.hbs
bodyClass: kadin
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="gucumun-farkindayim-isimin-basindayim-back">
        <div class="container px-0">
            <img src="../images/gucumun-farkindayim-isimin-basindayim/gucumun-farkindayim-isimin-basindayim-1.jpg" class="img-fluid" alt="">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> kadin-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://tr-tr.facebook.com/pages/category/Community/Afyonkarahisar-%C4%B0%C5%9F-Kad%C4%B1nlar%C4%B1-Derne%C4%9Fi-1776822449206410/" target="_blank"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook linki</span></a>
                {{!-- <a class="mx-1 color-icons" href="https://twitter.com/ " target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter linki</span></a> --}}
                <a class="mx-1 color-icons" href="https://www.instagram.com/afikad2016/" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram linki</span></a>
                {{!-- <a class="mx-1 color-icons" href="https://youtube.com/" target="_blank"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube linki</span></a> --}}
                <a class="mx-1 color-icons" href="http://www.afikad.org.tr/" target="_blank"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Websitesi linki</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-kadin text-center border-bottom-grade mb-3">AFYONKARAHISAR BUSINESSWOMEN ASSOCIATION</h4>
                <h3 class="font-175 bold color-kadin text-center">I AM AWARE OF MY STRENGTH, I TAKE CARE OF MY BUSINESS</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-kadin mb-0">Women in Every Aspect of Business Life</h6>
                <p class="mt-0">Women’s participation in the workforce still lag behind men’s participation to a great extent in almost all sectors, but certain occupations present greater difficulties for women. Women are forced to prefer those professions that are considered appropriate for them because the general perception is that other professions require muscle strength or have conditions that are not suitable for women.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/gucumun-farkindayim-isimin-basindayim/gucumun-farkindayim-isimin-basindayim-2.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/gucumun-farkindayim-isimin-basindayim/gucumun-farkindayim-isimin-basindayim-3.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Afyonkarahisar is one of the leading cities in Turkey’s marble industry. Especially, the production in the district of İscehisar meets a great portion of the demand for the marble trade in the whole country. The overall picture of employees in the marble industry, which is very important offering employment opportunities in the city, shows some gender-based inequalities. It is a seemingly gender-balanced industry at first glance. However, marble is considered as a ‘man’ thing. Therefore, in this sector, women can only find a place for themselves in limited lines of work that are deemed suitable for women, such as office work or mosaic making. Most of the women work temporarily to receive social security benefits and contribute to the family income, but they quit their job after they get married or have children.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/gucumun-farkindayim-isimin-basindayim/gucumun-farkindayim-isimin-basindayim-4.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/gucumun-farkindayim-isimin-basindayim/gucumun-farkindayim-isimin-basindayim-5.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Afyonkarahisar Businesswomen Association (AFIKAD), which was founded in 2015 by entrepreneurial women working in different sectors, combats gender-based discrimination in business life, trying to increase the number of working women and to raise awareness about women’s rights in working life. In the project “I am Aware of My Strength, I Take Care of My Business,” the Association focused on the employment conditions for women in the marble sector.</p>
            </div>

            <div class="col-12 col-xl-8 mx-auto text-center">
                <div class="content-box mor-box">
                    <p class="mt-2">“Thanks to the association, I am informed. You don’t need to rely on anybody, you can handle your own needs. Being able to stand on your own feet is so good”.</p>
                    <p class="bold mb-1">A participant</p>
                </div>
            </div>

            <div class="col-12">
                <p class="bold color-kadin mb-0">Occupations Have No Gender</p>
                <p class="mt-0">Believing that the technological advances and increased mechanization in the marble sector allow women to find jobs in every field of this sector, AFIKAD has rolled up its sleeves to spread the message “Occupations have no gender” and to transform the marble sector.</p>
                <p>First, 105 women working in marble factories completed a questionnaire. This questionnaire provided the demographic data about those women and helped understand their needs, how informed they were about their right to work, and whether they were exposed to any form of violence at home or at work. The questionnaire also contained the question “What training would you like to receive and in which areas would you like to improve yourself?” and the training program later in the project was shaped according to their answers. </p>
                <p>Volunteers among those who completed the questionnaire attended the training courses on gender equality, right to work, basic computing, financial literacy, occupational health and safety, and communication offered with the support of experts from Afyon Kocatepe University and Afyonkarahisar Bar Association, as the partners of the project.</p>
                <p>The Association also cared about reaching out to factory owners and managers in order to spread the perception that women can be employed on equal terms with men in all areas of the marble industry. Through questionnaires and interviews, the Association aimed to find out and change the existing approaches and prejudices towards women’s employment in the sector. In this context, the Afyonkarahisar Chamber of Commerce and Industry as a project partner facilitated access to the factories and reinforced the grounds for a dialog to initiate the change.</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="../images/gucumun-farkindayim-isimin-basindayim/gucumun-farkindayim-isimin-basindayim-6.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>It was also important to represent that women can exist in all fields, as in the marble industry. To achieve this, the Association team has actively used their social media accounts and made posts about women’s rights in working life and how gender inequality creates obstacles women face to continue their careers. The social media posts have received support from a number of civil society organizations across Turkey.</p>
                <p>At the end of the project, the results of the questionnaires completed by women working in the sector and employers will be published in a report called “Women in the Marble Industry”. The project will inevitably make an impact on other active sectors in the region. AFIKAD’s goal in the social dimension is to make women believe that they can initiate a change in every aspect of life if they realize their power and increase their self-confidence. AFIKAD is ready to change the marble industry, first in the Aegean Region and then in the whole country, together with women.</p>
            </div>


            <div class="col-12 my-5">
                <div id="gucumunFarkindayimIsiminBasindayim">
                    <div>
                        <img src="../images/gucumun-farkindayim-isimin-basindayim/gucumun-farkindayim-isimin-basindayim-7.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/gucumun-farkindayim-isimin-basindayim/gucumun-farkindayim-isimin-basindayim-8.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/gucumun-farkindayim-isimin-basindayim/gucumun-farkindayim-isimin-basindayim-9.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/gucumun-farkindayim-isimin-basindayim/gucumun-farkindayim-isimin-basindayim-10.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-12 mb-5">
                {{!-- <p>Videonun erişilebilir versiyonu için <a href="https://youtu.be/" class="color-kadin" target="_blank">tıklayınız</a>.</p> --}}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/eJQiQcfuMl4" title="Ekim Zamanı Online Buluşma Zamanı | Afyonkarahisar İş Kadınları Derneği" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>


</main>

{{/content}}
{{/extend}}