---
language: en
title: I am Stronger with My Sister
description: The roles assigned to genders for centuries force women to struggle more than men in every aspect of life. Women face similar difficulties, regardless of age, geography or identity, and this creates a solidarity that brings them together and empowers them.
script: ../js/content/kiz-kardesimle-gucluyum.js
langlink: ../kiz-kardesimle-gucluyum.hbs
bodyClass: kadin
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="kiz-kardesimle-gucluyum-back">
        <div class="container px-0">
            <img src="../images/kiz-kardesimle-gucluyum/kiz-kardesimle-gucluyum-1.jpg" class="img-fluid" alt="">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> kadin-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://www.facebook.com/pages/Esenyali%20Kad%C4%B1n%20Dayan%C4%B1%C5%9Fma%20Derne%C4%9Fi/1402514063334708/" target="_blank"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook linki</span></a>
                <a class="mx-1 color-icons" href="https://twitter.com/esenyalikdd" target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter linki</span></a>
                <a class="mx-1 color-icons" href="https://www.instagram.com/esenyalikadindayanisma/" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram linki</span></a>
                {{!-- <a class="mx-1 color-icons" href="https://youtube.com/" target="_blank"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube linki</span></a> --}}
                {{!-- <a class="mx-1 color-icons" href="#" target="_blank"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Websitesi linki</span></a> --}}
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-kadin text-center border-bottom-grade mb-3">ESENYALI WOMEN’S SOLIDARITY ASSOCIATION</h4>
                <h3 class="font-175 bold color-kadin text-center">I AM STRONGER WITH MY SISTER</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-kadin mb-0">Sisterhood Saves Lives</h6>
                <p class="mt-0">The roles assigned to genders for centuries force women to struggle more than men in every aspect of life. Women face similar difficulties, regardless of age, geography or identity, and this creates a solidarity that brings them together and empowers them. </p>
                <p>A promising example of such a solidarity network is being organized in Esenyalı Neighborhood, İstanbul, where mostly worker families live. Working women living in this neighborhood came together to identify their common problems, raise awareness about rights and freedoms and struggle with the difficulties they faced, and they established the Esenyalı Women’s Solidarity Association.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/kiz-kardesimle-gucluyum/kiz-kardesimle-gucluyum-2.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/kiz-kardesimle-gucluyum/kiz-kardesimle-gucluyum-3.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>The project “I am Stronger with My Sister” focuses on raising women’s awareness about gender and on strengthening women’s solidarity in the neighborhood and it will systematize all the work the Association has done in the neighborhood since its establishment in 2013 and maintain the local organizational models. The project has been implemented in partnership with Gülsuyu Gülensu Women’s Solidarity House and it has three interacting components.</p>
            </div>

            <div class="col-12 col-xl-8 mx-auto text-center">
                <div class="content-box mor-box">
                    <p class="mt-2">“For the first time in my life, I heard something called ‘stereotype’. I knew what prejudice meant, but I did not know the word ‘stereotype’. In fact, we do discriminate without knowing it.” </p>
                    <p class="bold mb-1">A participant</p>
                </div>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="../images/kiz-kardesimle-gucluyum/kiz-kardesimle-gucluyum-4.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>The first component is called “I am Learning with My Sister”, and it contained trainings and activities organized to increase women’s rights-based awareness in the neighborhood. 90 women from Esenyalı and Gülsuyu neighborhoods completed this training program, which consists of sessions on gender, women’s human rights, violence, legal mechanisms in combating violence, urban rights, media and sexism, body and health. The most pleasing outcome of the training is that the participants have formed a permanent group. There is now a group of sisters in the neighborhood who are curious about their rights and who explore, learn and continue learning by discussing with each other!</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/kiz-kardesimle-gucluyum/kiz-kardesimle-gucluyum-5.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/kiz-kardesimle-gucluyum/kiz-kardesimle-gucluyum-6.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>The second component of the project consisted of “I am Producing with My Sister” workshops, which were designed to focus on supporting women physically, psychologically and socially. 300 women attended workshops on breathing, creative drama, rhythm, writing and painting.</p>
                <p>The project was planned to end with an event called “Hand in Hand with My Sister,” which turned into a huge festival organized by all the women in the neighborhood. With its aim to strengthen women’s organizational skills, acting together and solidarity, the festival included all the inhabitants of the neighborhood, including women, men, children and the elderly, and created a breath of hope for everyone.</p>
            </div>

            <div class="col-12 col-xl-8 mx-auto text-center">
                <div class="content-box mor-box">
                    <p class="mt-2">“I knew about March 8, but I didn’t know about its origin. I was surprised when I learned that we had fought for so many things. We always had to fight for something.”</p>
                    <p class="bold mb-1">A participant </p>
                </div>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/kiz-kardesimle-gucluyum/kiz-kardesimle-gucluyum-7.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/kiz-kardesimle-gucluyum/kiz-kardesimle-gucluyum-8.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Women of Esenyalı have already initiated a life-saving change by organizing in one of Turkey’s most violent neighborhoods within quick reach of all the women there. This sisterly bond shared by all women in the world is stronger than any challenge they face. The voice of this solidarity, which started from the neighborhoods, will reecho and grow all across Turkey and the world. Because sisterhood saves lives!</p>
            </div>

            <div class="col-12 col-xl-8 mx-auto text-center">
                <div class="content-box mor-box">
                    <p class="mt-2">“We are the ones who feed, who clothe and the ones who starve and remain naked... We did not make this fate, but we are the ones who will break it...”</p>
                    <p class="bold mb-1">Erbane Choir in the Festival ‘Hand in Hand with My Sister’</p>
                </div>
            </div>

            <div class="col-12 my-5">
                <div id="kizKardesimleGucluyumSlider">
                    <div>
                        <img src="../images/kiz-kardesimle-gucluyum/kiz-kardesimle-gucluyum-9.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/kiz-kardesimle-gucluyum/kiz-kardesimle-gucluyum-10.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/kiz-kardesimle-gucluyum/kiz-kardesimle-gucluyum-11.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-12 mb-5">
                {{!-- <p>Videonun erişilebilir versiyonu için <a href="https://youtu.be/" class="color-kadin" target="_blank">tıklayınız</a>.</p> --}}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/4xi_JQD8T4A" title="Ekim Zamanı Online Buluşma Zamanı | İstanbul Esenyalı Kadın Dayanışma Derneği" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>


</main>

{{/content}}
{{/extend}}