---
language: en
title: SOWING SEASON GRANT PROGRAM STORIES 2019-2020
description: The Sabancı Foundation has been doing philanthropic work with the principle of “sharing what we have obtained from these lands with its people” as adopted by our founder Hacı Ömer Sabancı for 45 years. We are very happy with the fact that we have granted 148 projects in 74 provinces across Turkey to date within the scope of this Grant Programs that we initiated 12 years ago with the mission to contribute to education, cultural and social developments, which is also the main goal of our Foundation.
script: ../js/content/home.js
---

{{#extend "base"}}
{{#content "main"}}

<main>
    {{> homePage-en}}
</main>


{{/content}}
{{/extend}}