---
language: en
title: EKİM ZAMANI HİBE ÖYKÜLERİ 2020-2021
description:
script: ../js/content/home.js
langlink: ../index.hbs
---

{{#extend "base"}}
{{#content "main"}}

<main>
    {{> homePage-en}}
</main>

{{/content}}
{{/extend}}