---
language: en
title: Koza (Cocoon) Development of Parent to Parent Support Program
description: Babies start learning while they are still in the womb. What they do best is to familiarize themselves with their surroundings because in order to learn, they need familiarization. The first three years, when 85% of brain development is completed, is the most critical period of human life. In addition to their physiological development, their mental experiences at this early age can affect their whole lives.
script: ../js/content/koza-projesi.js
langlink: ../koza-destek-programi.hbs
bodyClass: engelli
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="koza-projesi-back">
        <div class="container px-0">
            <img src="../images/koza-projesi/koza-projesi-1.jpg" class="img-fluid" alt="">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> engelli-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                {{!-- <a class="mx-1 color-icons" href="https://facebook.com// " target="_blank" rel="noopener" rel="noreferrer"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook linki</span></a> --}}
                {{!-- <a class="mx-1 color-icons" href="https://twitter.com/ " target="_blank" rel="noopener" rel="noreferrer"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter linki</span></a> --}}
                <a class="mx-1 color-icons" href="https://www.instagram.com/egev_eskisehir/" target="_blank" rel="noopener" rel="noreferrer"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram linki</span></a>
                {{!-- <a class="mx-1 color-icons" href="https://youtube.com/" target="_blank" rel="noopener" rel="noreferrer"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube linki</span></a> --}}
                <a class="mx-1 color-icons" href="http://www.kozaile.org/" target="_blank" rel="noopener" rel="noreferrer"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Websitesi linki</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-engelli text-center border-bottom-grade mb-3">ESKİŞEHİR DEVELOPMENT FOUNDATION (EGEV)</h4>
                <h3 class="font-175 bold color-engelli text-center">KOZA (COCOON) DEVELOPMENT OF<br class="d-none d-lg-block"> PARENT TO PARENT SUPPORT&nbsp;PROGRAM</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-engelli mb-0">Solidarity between Parents for an Inclusive World</h6>
                <p class="mt-0">Babies start learning while they are still in the womb. What they do best is to familiarize themselves with their surroundings because in order to learn, they need familiarization. The first three years, when 85% of brain development is completed, is the most critical period of human life. In addition to their physiological development, their mental experiences at this early age can affect their whole lives. </p>
                <p>Early childhood is even more critical when it comes to children with special needs. If parents of a child with special needs know how to cope with the obstacles they may encounter during their child’s early childhood period, such knowledge will make both the parents’ and child’s life easier, allowing the parents to offer their child a happier future. In other words, parents whose child has been recently diagnosed need both knowledge and psychological support after the diagnosis that changes their lives drastically. </p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="../images/koza-projesi/koza-projesi-2.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Eskişehir Development Foundation (EGEV) has recognized this need and started the Koza project to provide early childhood support to parents of children born with special needs. Having set off with the dream of an inclusive society, EGEV emphasizes that most of these parents lack the necessary knowledge and struggle for acceptance during their child’s early childhood when they actually need to take quick action. Research shows that parents whose child has been recently diagnosed mostly acquire the knowledge and guidance they need from families of children with a similar diagnose. Such a support also facilitates the families’ acceptance of their own situation.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/koza-projesi/koza-projesi-3.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/koza-projesi/koza-projesi-4.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p class="bold color-engelli mb-0">“The one experiences knows the best” </p>
                <p class="mt-0">That is why EGEV, adopting the proverb “The one experiences knows the best”, has built its support network of parents using what a ‘cocoon’ symbolizes. By creating a space of interactions where experienced butterfly parents can share their experiences with caterpillar parents whose children have been recently diagnosed, children’s access to necessary education, rights and healthcare services is supported before it is too late.</p>
            </div>

            <div class="col-12 col-xl-8 mx-auto text-center">
                <div class="content-box turuncu-box">
                    <p class="mt-2">“There is no such thing as being a butterfly on this journey, we are always caterpillars – some of us are just bigger than the others. The reason I joined this project was to support other mothers, but I did get a lot of support here and learned a lot.”</p>
                    <p class="bold mb-1">A mother and project participant</p>
                </div>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="../images/koza-projesi/koza-projesi-5.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>The Koza project first tried to identify the problem working together with experts. Then, the project met with a group of parents who had similar experiences and prepared training contents that would offer solutions to the most needed issues. In the training workshops on social emotional learning, right to information, and advocacy support, first 15 butterfly parents volunteered and acquired their knowledge and skills and then, their experience sharing meetings with caterpillar parents enabled them to build a network of solidarity between families.</p>
            </div>

            <div class="col-12 col-xl-8 mx-auto text-center">
                <div class="content-box turuncu-box">
                    <p class="mt-2">“At first, you don’t think of looking for another family with a child diagnosed with Down syndrome to learn about their experience, but then you start wondering about other families like yours, about what they did to get past this stage”.</p>
                    <p class="bold mb-1">A father and project participant</p>
                </div>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/koza-projesi/koza-projesi-6.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/koza-projesi/koza-projesi-7.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>EGEV is working on a parent training book in order to make the network of solidarity established between families permanent using the outputs from the meetings of butterfly and caterpillar parents. EGEV’s collaborations with the Early Childhood Intervention Association, Down Syndrome Association, Association for Awareness of Children with Autism, and Eskişehir Metropolitan Municipality not only enable it to reach families faster and easier, but also help find solutions in close contact with other experienced partners.</p>
                <p>EGEV continues supporting families whose children have been recently diagnosed and its efforts to disseminate accurate information. It is one step closer to the dream of an inclusive society by raising awareness of such an important issue that needs to be acted upon across Turkey, not just in Eskişehir, and establishing a strong network of solidarity for families.</p>
            </div>

            <div class="col-12 my-5">
                <div id="kozaProjesiSlider">
                    <div>
                        <img src="../images/koza-projesi/koza-projesi-11.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/koza-projesi/koza-projesi-12.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/koza-projesi/koza-projesi-13.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/koza-projesi/koza-projesi-14.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/koza-projesi/koza-projesi-15.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-12 mb-5">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/gASjOFuBmzY" title="Ekim Zamanı Online Buluşma Zamanı | Eskişehir Gelişim Vakfı" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>


</main>

{{/content}}
{{/extend}}