---
language: en
title: Başkan'ın Mesajı
description:
script: ../js/content/baskanin-mesaji.js
---

{{#extend "base"}}
{{#content "main"}}

<main>
    <div class="container-fluid" style="background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/baskanin-mesaji.jpg); background-position-x:right;background-position-y:top; background-repeat:no-repeat; background-size:cover;">
        <div class="container px-0">
            <img src="../images/baskanin-mesaji.jpg" class="img-fluid" alt="Güler Sabancı">
        </div>
    </div>
    <div class="container my-4">
        <div class="row">
            <div class="col-12">
                <p>The Sabancı Foundation has been doing philanthropic work with the principle of “sharing what we have obtained from these lands with its people” as adopted by our founder Hacı Ömer Sabancı for 45 years. We are very happy with the fact that we have granted 148 projects in 74 provinces across Turkey to date within the scope of this Grant Programs that we initiated 12 years ago with the mission to contribute to education, cultural and social developments, which is also the main goal of our Foundation.</p>
                <p>In every piece of work that the Foundation is involved in, our dream is to provide equal opportunities in the society, and we focus on women, youth and individuals with disabilities. In this respect, we grant those civil society organizations that identify problems on-site and play a part in the solution by working together with them.</p>
                <p>We, as the first foundation in Turkey to implement Grant Programs, have been excited from the very first day to support the transformation, rooting and empowerment of the civil society. We believe every person we touch with the Grant Programs is also an ambassador of the movement of change that is needed for our social development.</p>
                <p>And the Sowing Season heralds the fruiting from the seeds we plant every year with the Grant Programs, showing once again the good can grow and inspire others when it is encouraged.</p>
                <p>During the grant period 2018-2019, most of the projects we supported were for educators who play an important role in contributing to the social development. The areas we focused on include “supporting quality education”, “ensuring access to education and attendance” and “supporting rights-based non-formal education”.</p>
                <p>With the projects we supported during the year, we tried to combat the disability discrimination in education, prevent violence against women and child marriages, empower young people with technology, and build inclusive and peaceful educational environments.</p>
                <p>In this year’s Sowing Season, we have prepared this book to share the stories of hope, each more valuable than the other, and to reach out to a greater population.</p>
                <p>Hoping for a hopeful tomorrow where we are all inspired by those who believe in the power of good and set their heart on philanthropy...</p>
                <p>GÜLER SABANCI<br>Sabancı Foundation<br>Chairman of Board of Trustees</p>
            </div>
        </div>
    </div>
</main>

{{/content}}
{{/extend}}