---
language: en
title: Message from Chair
description: The Sabancı Foundation has been doing philanthropic work with the principle of “sharing what we have obtained from these lands with its people” for 46 years. We are very happy with the fact that we have supported 162 projects in 76 provinces across Turkey with grants to date within the scope of the Grant Programs we initiated 13 years ago with the mission to support civil society organizations as the most prominent actors that contribute to social developments.
script: ../js/content/baskanin-mesaji.js
langlink: ../baskanin-mesaji.hbs
---

{{#extend "base"}}
{{#content "main"}}

<main>
    <div class="container-fluid" id="baskanin-mesaji-back">
        <div class="container px-0">
            <img src="../images/headers/Baskan-Mesaji.jpg" class="img-fluid" alt="Mavi bir gökyüzünde rengarenk uçurtmalar ve toprak bir arazide bu uçurtmaları uçuran onlarca yetişkin ve çocuk var. Fotoğrafın sağ tarafında, yakın planda bu uçurtmalardan birinin ipini tutan bir çocuk eli bulunuyor.">
        </div>
    </div>
    <div class="container my-4" id="main-content">
        {{> fontResizer}}
        <div class="row">
            <div class="col-sm-10 col-md-6 col-lg-4 mx-auto text-center">
                <img src="../images/baskanin-mesaji-anasayfa.png" class="img-fluid my-3" alt="Güler Sabancı’nın portre fotoğrafı. Pembe bir ceket ve kemik çerçeveli gözlükleri ile gülümsüyor.">
            </div>
            <div class="col-12 text-center my-3">
                <h4 class="font-085 color-genc text-center border-bottom-grade mb-3">Güler&nbsp;Sabancı, Sabancı Foundation Chair of Board of Trustees</h4>
                <h3 class="font-175 bold color-genc text-center">MESSAGE FROM CHAIR</h3>
            </div>
            <div class="col-md-10 mx-auto">
                <p>The Sabancı Foundation has been doing philanthropic work with the principle of “sharing what we have obtained from these lands with its people” for 46 years. We are very happy with the fact that we have supported 162 projects in 76 provinces across Turkey with grants to date within the scope of the Grant Programs we initiated 13 years ago with the mission to support civil society organizations as the most prominent actors that contribute to social developments.</p>
                <p>The Foundation conducts projects focused on women, youth, and people with disabilities with a mission to contribute to education, cultural and social developments. In this respect, we support with grants those civil society organizations that identify problems on-site, make their inspirational stories visible and spread the power of good.</p>
                <p>This has been an unfortunate year as we have been experiencing a pandemic at a scale that none of us has experienced before. We are sad to see that the COVID-19 pandemic, affecting the whole world, has deepened social issues and widened the opportunity gap further.</p>
                <p>We have been experiencing these negative effects together with our grantees, the leading civil society organizations in Turkey. There is no doubt that disadvantaged groups experience more intense impacts in this period and they are more exposed to the consequences.</p>
                <p>Therefore, we think it is more important in this pandemic than ever to continue our support to such projects focusing on education under the Grant Programs, with the mission to “support high-quality education”, “ensure access to education and attendance” and “support rights-based non-formal training efforts”, and to help civil society organizations survive these challenging times.</p>
                <p>Looking at the projects we have supported this year, one can see they include efforts to build women’s solidarity, protect women against violence and allow women’s economic empowerment, and a number of projects to develop materials for the education of children with impaired hearing, which are conducted by important local actors acting on the principle of equal opportunities in education, at workplace and in public space. In this challenging period, we are very happy to accompany the civil society organizations that devotedly continue working by dreaming about a better society.</p>
                <p>We would also like to share our pride as the first foundation in Turkey to sign the pledges initiated by the European Foundation Center and the Council on Foundations, both of which the Sabancı Foundation is a member, built on “trust-based philanthropy” principles. Under these pledges, we have allowed some flexibility in our procedures of Grant Programs in order to help our grantees deal with the crisis caused by the COVID-19 pandemic, to ease their existing burden and make sure they continue their efforts. In this period, we keep collaborating and joining forces with all the entities we support, just as we always do.</p>
                <p>For us, each project we support is a valuable seed planted in the earth... These seeds then sprout and grow into a big forest working for a society where all individuals enjoy their rights equally thanks to all these lives they touch and inspire. In every Sowing Season, the Sabancı Foundation is proud of our contributions to the growth of this forest for which we have provided support and witness its sprouting throughout the year.</p>
                <p>This year, for the first time, we also offer an online version of this book, which was published every year in the Sowing Season to make changemaking stories visible and to inspire a greater number of people.</p>
                <p>Hoping for more stories nurturing each other on these lands where there are always sprouting seeds of hope...</p>
            </div>
        </div>
    </div>
</main>

{{/content}}
{{/extend}}