---
language: en
title: Başkan'ın Mesajı
description: The Sabancı Foundation has been working for 47 years with the principle of “sharing what we have obtained from these lands with its people”, envisioning a society in which all individuals enjoy their rights equally. We have been contributing to education, culture and social development, and fund civil society organizations working in these fields with the aim of ensuring equal opportunities and active participation in society for women, youth and individuals with disabilities.
script: ../js/content/baskanin-mesaji.js
langlink: ../baskanin-mesaji.hbs
---

{{#extend "base"}}
{{#content "main"}}

<main>
    <div class="container-fluid" id="baskanin-mesaji-back">
        <div class="container px-0">
            <img src="../images/headers/Baskan-Mesaji.jpg" class="img-fluid" alt="">
        </div>
    </div>
    <div class="container my-4" id="main-content">
        {{> fontResizer}}
        <div class="row">
            <div class="col-sm-10 col-md-6 col-lg-4 mx-auto text-center">
                <img src="../images/baskanin-mesaji-anasayfa.png" class="img-fluid my-3" alt="Güler Sabancı’nın portre fotoğrafı. Pembe bir ceket ve kemik çerçeveli gözlükleri ile gülümsüyor.">
            </div>
            <div class="col-12 text-center my-3">
                <h4 class="font-085 color-genc text-center border-bottom-grade mb-3">Güler&nbsp;Sabancı, Sabancı&nbsp;Foundation Chair&nbsp;of Board&nbsp;of&nbsp;Trustees</h4>
                <h3 class="font-175 bold color-genc text-center">MESSAGE FROM CHAIR</h3>
            </div>
            <div class="col-md-10 mx-auto">
                <p>The Sabancı Foundation has been working for 47 years with the principle of “sharing what we have obtained from these lands with its people”, envisioning a society in which all individuals enjoy their rights equally. We have been contributing to education, culture and social development, and fund civil society organizations working in these fields with the aim of ensuring equal opportunities and active participation in society for women, youth and individuals with disabilities. </p>
                <p>We sincerely believe that civil society organizations have the potential to work towards a solution to overcome the obstacles to living a life in which every individual enjoys their rights equally and to develop models that would set a good example for the society. And fortunately, hundreds of civil society organizations have accompanied us every step we have taken with this belief.</p>
                <p>15 years, 76 provinces, 183 projects, 32 million TL of funding... That is easier said than done, and all these numbers sum up the effort put into the Grant Programs launched by the Sabancı Foundation in 2007. We are proud of being the only foundation in Turkey that provides uninterrupted grant support to civil society, and looking at these figures, we are happy that we could touch and support hundreds of thousands of people by our 15<sup>th</sup> year. </p>
                <p>The civil society organizations funded by us have also increased their experience and strengthened their impact areas in the meantime. Some of these organizations experienced running their first budgeted project within the scope of Grant Programs, and some are now referred to as experts trusted and consulted by both governmental bodies and national and international organizations. There are some projects which started in a neighborhood and developed a number of models that can be used nationally and globally. </p>
                <p>It is a great pleasure for us to leave our 15<sup>th</sup> year behind with such results, knowing that we do make a difference in people’s lives. This gives us great motivation and strength to work harder for the next decades, add value to the lives of greater populations and grow this impact. </p>
                <p>This year, we have supported eight projects of great value, involving efforts to lead women’s solidarity, to support women’s awareness of gender equality and their rights and to ensure women enjoy equal conditions in working life, and to establish networks of solidarity so that children with special needs receive higher quality education and their parents can cope with the difficulties they experience.</p>
                <p>The projects we have supported in this long-term adventure, which we started with great faith and determination 15 years ago, have devotedly achieved a great deal and sowed seeds in this country. We knew at the very beginning that some of the seeds would sprout years later and that this area is a delicate work of patience. We know we have greater responsibilities and we will continue to work and produce more with the rightful pride of seeing that thousands of seeds planted in the last 15 years have sprouted.</p>
                <p>This special book of Sowing Season for its 15<sup>th</sup> anniversary, with its empowering stories inspired by the seeds of the past, carries hope for the future, and we hope that it will reinforce your hope...</p>
            </div>
        </div>
    </div>
</main>

{{/content}}
{{/extend}}