---
language: en
title: Once Upon a Time Sur was Playing
description: Every city has a memory and a story. Some regions have a memory full of conflicts, discrimination, violence and marginalization as well as cultural richness. The stories from the memory of a city, each different from the other, have a great impact on the development of children, as they do with everyone living in the city.
script: ../js/content/bir-varmis-sur-oynarmis.js
langlink: ../bir-varmis-sur-oynarmis.hbs
bodyClass: genc
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="bir-varmis-sur-oynarmis-back">
        <div class="container px-0">
            <img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-1.jpg" class="img-fluid" alt="">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> genc-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                {{!-- <a class="mx-1 color-icons" href="https://facebook.com/" target="_blank" rel="noopener" rel="noreferrer"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook linki</span></a> --}}
                <a class="mx-1 color-icons" href="https://twitter.com/rengarenkumutla" target="_blank" rel="noopener" rel="noreferrer"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter linki</span></a>
                <a class="mx-1 color-icons" href="https://www.instagram.com/rengarenkumutlardernegi/" target="_blank" rel="noopener" rel="noreferrer"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram linki</span></a>
                <a class="mx-1 color-icons" href="https://www.youtube.com/channel/UCKI2Bg-eKVsfz7eOUxCkwCg/videos" target="_blank" rel="noopener" rel="noreferrer"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube linki</span></a>
                {{!-- <a class="mx-1 color-icons" href="#" target="_blank" rel="noopener" rel="noreferrer"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Websitesi linki</span></a> --}}
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-genc text-center border-bottom-grade mb-3">COLORFUL HOPES ASSOCIATION</h4>
                <h3 class="font-175 bold color-genc text-center">ONCE UPON A TIME SUR WAS PLAYING</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-genc mb-0">Journey to the History with Games and Fairytales</h6>
                <p class="mt-0">Every city has a memory and a story. Some regions have a memory full of conflicts, discrimination, violence and marginalization as well as cultural richness. The stories from the memory of a city, each different from the other, have a great impact on the development of children, as they do with everyone living in the city. </p>
                <p>The district of Sur in Diyarbakır is a settlement where solidarity and hope continue to flourish despite its history of conflicts and destruction, and its deep-rooted historical and cultural diversity is not overshadowed by these problems. The Colorful Hopes Association has been working with children since 2017 to reduce the negative effects of conflict at the intersection of the most crowded neighborhoods of this district.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-2a.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-2b.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>A group of children’s rights workers who founded the Association have organized many events and workshops to erase the traces of conflicts and traumas witnessed by children. The project “Once Upon a Time Sur was Playing” they launched in partnership with the Association of Sports and Body Movement for Social Empowerment (BoMoVu) aims to help children affected by the conflicts develop self-confidence, reconcile with different identities, and to restore trust in social peace. BoMoVu’s experiences in peace games and oral history combined with the expertise of the Colorful Hopes Association in working with children created a work built on combating the perception of the “other” and strengthening physically and emotionally against racism.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-3.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-4.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>First, stakeholder meetings were held on the project contents and the workshop contents were created. The project started with oral history workshops and continued with acting training, and local games and fairytale nights that would allow children to discover the cultural diversity of the place where they live.</p>
                <p class="bold color-genc mb-0">Children Write Their Own Fairytales</p>
                <p class="mt-0">Children between the ages of 8 and 16 attended workshops on oral history methods designed for different age groups. Then, a group wanted to trace back the games played and the tales told on the streets of Sur from past to present.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-5a.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-5b.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>They replayed the games they had heard and learned from adults for the first time on the streets of Sur and drew up a map of the games. They told each other the tales they had discovered and brought them to life. </p>
                <p>Another group traced back the places from the deep-rooted history of Sur. They embarked on a historical journey to get to know the different identities they lived together with. Having made all these discoveries, the children staged a tale they wrote and added another brick to the cultural richness of the city. At the fairytale nights organized, they met with storytellers and Dengbejs from Diyarbakır.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-6.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-7.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>The BoMoVu’s design and the RUMUD’s implementation has been turned into a training book so that this method, which aims to reinforce children’s sense of social peace in their post-conflict lives, can be applied in different cities. In this way, children were supported to protect the history of the city they live in and to learn their own history as a past full of valuable stories.</p>
                <p>Children rediscovered the memory of the city they lived in as they learned the games played on the streets of Sur from the past to the present, and as they listened to the legendary tales from the adults around them. All these discoveries have increased the hope for a future where children can safely live their childhood away from conflicts. Because games are ours, songs and fairytales are ours!</p>
            </div>

            <div class="col-12 my-5">
                <div id="birVarmisSurOynarmisSlider">
                    <div>
                        <img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-8.jpg" class="img-fluid" alt="Kapalı, aydınlık bir salonda bir grup genç ayakta sunum yapıyor. Gençlerden biri kartondan şapka, kolluk gibi parçalar içeren bir kostüm giymiş. Bir diğer genç onu işaret ederek bir şeyler anlatıyor.">
                    </div>
                    <div>
                        <img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-2.jpg" class="img-fluid" alt="Kırsal bir arazide ayakta duran bir grup genç, ayakta sırtı kameraya dönük gömlekli bir erkeğin anlattıklarını dinliyorlar.">
                    </div>
                    <div>
                        <img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-5.jpg" class="img-fluid" alt="Çimenlik, ağaçlıklı bir alanda kalabalık bir grup gencin toplu fotoğrafı. Grubun iki yanında Toy Gençlik Derneği logosunun bulunduğu ayaklı afişler yer alıyor. Gençlerin bir kısmı yerde oturuyor, büyük bir kısmı ise ayakta poz veriyor.">
                    </div>
                </div>
            </div>

            <div class="col-12 mb-5">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/Wo8rETFrKrg" title="Ekim Zamanı Online Buluşma Zamanı | Rengarenk Umutlar Derneği" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>

</main>

{{/content}}
{{/extend}}