---
language: en
title: Bir Varmış Sur Oynarmış
description: Her kentin bir hafızası ve hikâyesi var. Bazı bölgelerin hafızasında kültürel zenginliklerin yanı sıra çatışmalar, ayrımcılık, şiddet ve ötekileştirme de var. Her biri birbirinden farklı bu hikâyeler, kentte yaşayan herkeste olduğu gibi, çocukların gelişiminde de büyük bir etki yaratıyor.
script: ../js/content/bir-varmis-sur-oynarmis.js
langlink: ../bir-varmis-sur-oynarmis.hbs
bodyClass: genc
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="bir-varmis-sur-oynarmis-back">
        <div class="container px-0">
            <img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-1.jpg" class="img-fluid" alt="">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> genc-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                {{!-- <a class="mx-1 color-icons" href="https://facebook.com/" target="_blank"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook linki</span></a> --}}
                <a class="mx-1 color-icons" href="https://twitter.com/rengarenkumutla" target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter linki</span></a>
                <a class="mx-1 color-icons" href="https://www.instagram.com/rengarenkumutlardernegi/" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram linki</span></a>
                <a class="mx-1 color-icons" href="https://www.youtube.com/channel/UCKI2Bg-eKVsfz7eOUxCkwCg/videos" target="_blank"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube linki</span></a>
                {{!-- <a class="mx-1 color-icons" href="#" target="_blank"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Websitesi linki</span></a> --}}
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-genc text-center border-bottom-grade mb-3">RENGARENK UMUTLAR DERNEĞİ</h4>
                <h3 class="font-175 bold color-genc text-center">BİR VARMIŞ SUR OYNARMIŞ</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-genc mb-0">Oyunlar ve Masallarla Tarihe Yolculuk</h6>
                <p class="mt-0">Her kentin bir hafızası ve hikâyesi var. Bazı bölgelerin hafızasında kültürel zenginliklerin yanı sıra çatışmalar, ayrımcılık, şiddet ve ötekileştirme de var. Her biri birbirinden farklı bu hikâyeler, kentte yaşayan herkeste olduğu gibi, çocukların gelişiminde de büyük bir etki yaratıyor. </p>
                <p>Diyarbakır’ın Sur ilçesi, yaşanan çatışmalara ve yıkıma rağmen dayanışma ve umudun yeşermeye devam ettiği, köklü tarihi ve kültürel çeşitliliği bu sorunların gölgesinde kalmayan kentlerden biri. Rengarenk Umutlar Derneği 2017 yılından beri, işte bu ilçenin en kalabalık mahallelerinin kesişiminde, çatışmanın üzerlerinde bıraktığı olumsuz etkileri azaltmak için çocuklarla birlikte çalışıyor. </p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-2.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Derneği kuran bir grup çocuk hakları çalışanı, çocukların yakından tanık oldukları çatışmaların ve travmaların izlerini silmek için bugüne kadar birçok etkinlik ve atölye düzenledi. Sosyal Güçlendirme için Spor ve Beden Hareketi Derneği (BoMoVu) ortaklığında başlattıkları Bir Varmış Sur Oynarmış projesinde ise, çatışmalı süreçten etkilenen çocukların öz güvenlerinin gelişmesini, farklı kimlikler ile barışabilmelerini ve toplumsal barışa dair güvenin yeniden sağlanmasını hedeflediler. BoMoVu’nun barış oyunları ve sözlü tarih konusundaki deneyimleri, Rengarenk Umutlar Derneği’nin çocuklarla çalışma konusundaki uzmanlığı ile birleşince hem öteki algısı ile mücadele hem de ırkçılığa karşı bedensel ve duygusal olarak güçlenme üzerine kurulu bir çalışma ortaya çıktı.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-3.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-4.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>İlk olarak projenin içerikleri üzerine ortak akıl toplantıları düzenlendi ve atölye içerikleri oluşturuldu. Sözlü tarih atölyeleri ile başlayan proje, oyunculuk eğitimleri, çocukların yaşadıkları yerin kültürel çeşitliliğini keşfetmelerini sağlayacak yerel oyunlar ve masal geceleri ile sürdü. </p>
                <p class="bold color-genc mb-0">Çocuklar Kendi Masalını Yazıyor</p>
                <p class="mt-0">8-16 yaş arası çocuklar, kendi yaş gruplarına göre, sözlü tarih yöntemleriyle ilgili atölyelere katıldılar. Ardından bir grup, geçmişten bugüne Sur sokaklarında oynanan oyunların, anlatılan masalların peşine düştü.</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-5.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Yetişkinlerden dinledikleri ve ilk kez öğrendikleri oyunları Sur sokaklarında yeniden oynadılar ve oyunların bir haritasını çıkardılar. Keşfettikleri masalları birbirlerine anlattılar ve canlandırdılar. </p>
                <p>Bir diğer grup ise Sur’un köklü tarihini oluşturan mekânların izini sürdü. Bir arada yaşadıkları farklı kimlikleri tanımak için tarihsel bir yolculuğa çıktılar. Tüm bu keşiflerin sonunda kendi yazdıkları masalı da sahneleyen çocuklar, kentin kültürel zenginliğine bir tuğla daha ekledi. Bu sürece eşlik eden masal gecelerinde ise, Diyarbakırlı masalcılar ve Dengbejler ile buluştular.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-6.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-7.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Çatışma sonrası yaşam alanında çocukların barışa dair duygularını güçlendirmeyi amaçlayan bu yöntemin, farklı kentlerde de uygulanabilmesi için BoMoVu’nun tasarımı ve RUMUD’un uygulamasıyla, eğitim programı kitaplaştırıldı. Bu sayede çocukların, yaşadıkları kentin tarihine sahip çıkabilmeleri ve kendi tarihlerini değerli hikâyelerle dolu bir geçmiş olarak öğrenmeleri desteklendi.</p>
                <p>Çocuklar, Sur sokaklarında geçmişten bugüne oynanan oyunları öğrendikçe, çevrelerindeki yetişkinlerden efsaneleşmiş masalları dinledikçe yaşadıkları kentin hafızasını yeniden keşfettiler. Tüm bu keşifler en çok da çocukların çatışmalardan uzak, güven içinde çocukluklarını yaşayabildikleri bir geleceğe dair umudu çoğalttı. Çünkü oyunlar hepimizin, şarkılar, masallar hepimizin!</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-8.jpg" class="img-fluid" alt=""></p>
            </div>

            {{!-- <div class="col-12 my-5">
                <div id="birVarmisSurOynarmisSlider">
                    <div>
                        <img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-1.jpg" class="img-fluid" alt="Kapalı, aydınlık bir salonda bir grup genç ayakta sunum yapıyor. Gençlerden biri kartondan şapka, kolluk gibi parçalar içeren bir kostüm giymiş. Bir diğer genç onu işaret ederek bir şeyler anlatıyor.">
                    </div>
                    <div>
                        <img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-2.jpg" class="img-fluid" alt="Kırsal bir arazide ayakta duran bir grup genç, ayakta sırtı kameraya dönük gömlekli bir erkeğin anlattıklarını dinliyorlar.">
                    </div>
                    <div>
                        <img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-3.jpg" class="img-fluid" alt="Çimenlik, ağaçlıklı bir alanda kalabalık bir grup gencin toplu fotoğrafı. Grubun iki yanında Toy Gençlik Derneği logosunun bulunduğu ayaklı afişler yer alıyor. Gençlerin bir kısmı yerde oturuyor, büyük bir kısmı ise ayakta poz veriyor.">
                    </div>
                    <div>
                        <img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-4.jpg" class="img-fluid" alt="Çimenlik bir alanda yerde oturmuş iki kadın bir erkek, ciddiyetle bakıyorlar.">
                    </div>
                    <div>
                        <img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-5.jpg" class="img-fluid" alt="Kapalı, aydınlık bir salonda bir dört genç ayakta sunum yapıyor. Birinin elinde bulunan beyaz kâğıtta yaprak, koza, tırtıl ve kelebek aşamaları resimlenmiş.">
                    </div>
                    <div>
                        <img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-6.jpg" class="img-fluid" alt="Kapalı, aydınlık bir salonda bir grup genç ayakta sunum yapıyor. Gençlerden biri kartondan şapka, kolluk gibi parçalar içeren bir kostüm giymiş. Bir diğer genç onu işaret ederek bir şeyler anlatıyor.">
                    </div>
                    <div>
                        <img src="../images/bir-varmis-sur-oynarmis/bir-varmis-sur-oynarmis-7.jpg" class="img-fluid" alt="Çimenlik bir alanda çember şeklinde yere oturmuş gençler.">
                    </div>
                </div>
            </div> --}}

            <div class="col-12 mb-5">
                {{!-- <p>Videonun erişilebilir versiyonu için <a href="https://youtu.be/" class="color-kadin" target="_blank">tıklayınız</a>.</p> --}}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/ziYe3FBRLXE" title="Ekim Zamanı Online Buluşma Zamanı | Rengarenk Umutlar Derneği" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>

</main>

{{/content}}
{{/extend}}