---
language: en
title: Rural Teachers
description: Lands grow with their essence. Every seed spread on a land sprouts in a different color, grows and adds value to the region in which it lives. There are very basic requirements for a seed to sprout. However, not all seeds have equal conditions. Rural Schools Transformation Network (KODA) aims to make a holistic and high-quality education fit for rural conditions come true in rural schools so that each one out of almost 500 thousand children at rural schools in Turkey can grow into a plane tree.
script: ../js/content/koy-ogretmenleri.js
langlink: ../koy-ogretmenleri.hbs
bodyClass: genc
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="koy-ogretmenleri-back">
        <div class="container px-0">
            <img src="../images/koy-ogretmenleri/koy-ogretmenleri-1.jpg" class="img-fluid" alt="Bir bahçede çember şeklinde 10 kadar çocuk ve 3 yetişkin bir oyun oynuyor.">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> genc-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://facebook.com/kodegisim" target="_blank"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook link</span></a>
                <a class="mx-1 color-icons" href="https://twitter.com/kodegisim" target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter link</span></a>
                <a class="mx-1 color-icons" href="https://instagram.com/kodegisim" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram link</span></a>
                <a class="mx-1 color-icons" href="https://youtube.com/channel/UCyiAbqsWLe4U261oMXGTm9A" target="_blank"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube link</span></a>
                <a class="mx-1 color-icons" href="http://kodegisim.org/koy-ogretmenleri-projesi" target="_blank"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Website link</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-genc text-center border-bottom-grade mb-3">RURAL SCHOOLS TRANSFORMATION NETWORK</h4>
                <h3 class="font-175 bold color-genc text-center">RURAL TEACHERS</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-genc mb-3">Learning How to Raise a Seed</h6>
                <p>Lands grow with their essence. Every seed spread on a land sprouts in a different color, grows and adds value to the region in which it lives. There are very basic requirements for a seed to sprout. However, not all seeds have equal conditions. Rural Schools Transformation Network (KODA) aims to make a holistic and high-quality education fit for rural conditions come true in rural schools so that each one out of almost 500 thousand children at rural schools in Turkey can grow into a plane tree.</p>
                <p>Every village has its own natural essences. Therefore, KODA focuses on many opportunities brought by this colorfulness and rural schools’ potential waiting to sprout, instead of the problems in rural schools. KODA believes this potential can be grown through a collaboration with rural teachers. Thus, KODA sets its basic strategy which is to empower rural teachers in order to support those teachers who will offer all the potential of their presence in the oasis where they live in.</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="../images/koy-ogretmenleri/koy-ogretmenleri-2.jpg" class="img-fluid" alt="Kapalı bir toplantı salonunda kare masaların etrafına oturmuş yetişkinler çalışıyor. Arkadaki duvarda yazı tahtası ve bir ekran bulunuyor."></p>
            </div>

            <div class="col-12">
                <p>The demographic and sociological structure of villages require educational activities to be usually performed in multi-grade classes. Any improvement of such multi-grade classes where multiple grades are taught together, is critical to make sure that equal educational opportunities are offered. Teachers working at rural schools need any support that can be provided so that everyone can access high-quality education.</p>
            </div>

            <div class="col-md-9 col-lg-7 mx-auto my-5">
                <div id="koyOgretmenleriSlider2">
                    <div>
                        <img src="../images/koy-ogretmenleri/koy-ogretmenleri-3.jpg" class="img-fluid" alt="Bir bahçede, ayakta çember olmuş çocuklar el ele tutuşmuş. Ortalarında yetişkin bir erkek ayakta duruyor.">
                    </div>
                    <div>
                        <img src="../images/koy-ogretmenleri/koy-ogretmenleri-4.jpg" class="img-fluid" alt="Yeşillik içinde bir alanda, çocuklar ve yetişkin bir erkek çömelmiş toprağa bir şeyler ekiyorlar.">
                    </div>
                    <div>
                        <img src="../images/koy-ogretmenleri/koy-ogretmenleri-5.jpg" class="img-fluid" alt="Duvarlarında ağaç ve çimen resimleri olan bir sınıfta çocuklar ve iki yetişkin minderlerin üzerine çember şeklinde oturmuşlar.">
                    </div>
                    <div>
                        <img src="../images/koy-ogretmenleri/koy-ogretmenleri-6.jpg" class="img-fluid" alt="Bir elinde kalem olan kırmızı tişörtlü bir oğlan çocuğu oturduğu masada kameraya gülümseyerek poz veriyor.">
                    </div>
                </div>
            </div>

            <div class="col-12">
                <p>For all these purposes, the Rural Teachers project establishes ‘Teachers’ Communities’ in order to create solidarity networks for teachers in villages of Diyarbakır, Malatya, Samsun, Siirt and Şanlıurfa, offering many opportunities through training and mentorship programs to enable teachers to gain knowledge and experience. In addition, the ‘Kid’s Workshop’ program in İzmir, Muş and Samsun offers students of faculty of education the opportunity to visit villages, contact rural teachers and gain some experience in rural education before graduation. The project makes a brand-new start in 2019 by making it possible to share the same transformation in different cities, with rural teachers across Turkey in cooperation with the Directorate General for Teacher Training and Improvement, Ministry of National Education.</p>
                <p>First, ‘Reference Book for Rural’ and ‘Activity Book for Multi-Grade Rural Teachers’ are prepared with devoted contribution from rural teachers and education specialists who volunteer in the project. These contents are uploaded to the Educational Information Network owned by the Ministry of National Education to make them accessible at any time, from anywhere. This way, they become widespread across Turkey as guiding materials for all elementary school teachers working in rural regions, especially for the ones who teach to a multi-grade class. </p>
            </div>

            {{!-- <div class="col-md-2"></div>
            <div class="col-md-4 text-center my-4">
                <a href="https://www.sabancivakfi.org/i/content/Birlestirilmis_Sinifli_Koy_Okullari_icin_Etkinlik_Kitabi.pdf" class="d-flex flex-column align-items-center text-decoration-none" target="_blank">
                    <img src="../images/koy-ogretmenleri/pdf-kapak-2.jpg" class="w-75" alt="Birleştirilmiş Sınıflı Köy Okulları için Etkinlik Kitabı Kapağı">
                </a>
                <p class="font-085 bold mt-2">BİRLEŞTİRİLMİŞ&nbsp;SINIFLI KÖY&nbsp;OKULLARI İÇİN ETKİNLİK&nbsp;KİTABI</p>
            </div>
            <div class="col-md-4 text-center my-4">
                <a href="https://www.sabancivakfi.org/i/content/Koy_Ogretmeninin_Basucu_Kitabi.pdf" class="d-flex flex-column align-items-center text-decoration-none" target="_blank">
                    <img src="../images/koy-ogretmenleri/pdf-kapak-1.jpg" class="w-75" alt="Köy Öğretmeninin Başucu Kitabı Kapağı">
                </a>
                <p class="font-085 bold mt-2">BİRLEŞTİRİLMİŞ&nbsp;SINIFLARDA GÖREV&nbsp;YAPAN KÖY&nbsp;ÖĞRETMENLERİNİN ORYANTASYON ve MESLEKİ GELİŞİM&nbsp;EĞİTİMİ</p>
            </div>
            <div class="col-md-2"></div> --}}

            <div class="col-12 text-center">
                <p class="content-box yesil-box">“The Reference Book for Rural Teachers is a really well-prepared guide for our colleagues who will start working in a village. It is like this guide says: ‘Teacher, welcome to our village, we will achieve great things with you.”</p>
                <p class="content-box-alt">A Teacher who attended the Training of Trainers - Gaziantep</p>
            </div>

            <div class="col-12">
                <p>Since its launch, the project has different components, aiming to have both rural teachers and prospective teachers develop a positive perception of education in rural schools. The books serve as the most effective helpers for the first years of new rural teachers in their practice and support experienced rural teachers for the topics they need help with. Teachers can benefit from the Reference Book for many topics from how to light the stove in the school to how to involve families more in the educational processes. The Activity Book opens door for rural teachers to improve their skills to teach, especially in multi-grade classes. It provides suggested activities, teachers’ experience and expert opinions that can be applied in class for high-quality education and these meet the expected gains as determined by the Ministry of National Education for the curriculum.</p>
                <p>The solidarity networks established to connect teachers is one of the most important outcomes that make the project of Rural Teachers different. Teachers’ sharing experiences and encouraging each other when they are appointed to serve in rural areas during their first years of practice have a positive impact on education and saves these teachers from loneliness on the bottom rung. In parallel to this approach, when the Ministry of National Education gets involved in the project, 300 teachers are provided with training for trainers and equipped with the knowledge and skills intended to be transferred to 7,000 rural teachers under in-service training across Turkey. The solidarity between teachers incrementally grows through this peer-to-peer learning model. The same materials used for such training are uploaded to the Educational Information Network of the Ministry of National Education and made accessible to all teachers. The Remote Professional Development Course for Teachers serving in Multi-Grade Rural Schools is also uploaded to the Educational Information Network of the Ministry of National Education as a holistic training program consisting of 21 educational videos with references to the Reference Book for Rural Teachers and Activity Book. Upon successful completion of the Remote Professional Development Course, over 3,000 teachers are awarded with a certificate.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box yesil-box">“An important component of this program is the opportunity it gives those who are assigned to serve in a rural school for the first time to be involved in the same network, to work together and to get ready for rural schools and rural life with other teachers who have already served in one of these villages and who have the experience and knowledge of working there.”</p>
                <p class="content-box-alt">Adnan Boyacı - Director General for Teacher Training, Ministry of National Education</p>
            </div>

            <div class="col-12">
                <p>All the skills supported through the training are built on rural teachers’ providing holistic education to students of rural schools, which introduces some changes that improve the quality of education in rural schools. At every stage of the project, communication with teachers is kept alive through face-to-face dialogs and online activities. The contents are shaped in line with the needs of teachers.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box yesil-box">“I completed the Remote Professional Development Course for Teachers serving in Multi-Grade Rural Schools on EBA. The course content has been prepared based on a series of case studies guiding teachers. Possible problems are presented together with solution suggestions. The training will contribute to the professional development of teachers and guide them by raising pedagogical awareness.”</p>
                <p class="content-box-alt">A Teacher who attended the Remote Professional Development Course - Kocaeli</p>
            </div>

            <div class="col-12">
                <p>At every step, the project team imagines the next step of the project for a strong future and gets updated with teachers’ feedback. The team gets in tune with the nature so that sprouts come into blossom all around these lands. With awareness that it is natural for every child to grow from a seed, KODA increases the efficiency of the lands where these seeds have been spread, feeds both the sprouts and soil, and strengthens the contact between the soil and roots.</p>
            </div>

            <div class="col-12 my-5">
                <div id="koyOgretmenleriSlider">
                    <div>
                        <img src="../images/koy-ogretmenleri/KODA-01.jpg" class="img-fluid" alt="Bir bahçede 10 kadar çocuklar var. Ortada sek sek oynayan oğlan, tek ayağı üzerinde zıplıyor.">
                    </div>
                    <div>
                        <img src="../images/koy-ogretmenleri/KODA-04.jpg" class="img-fluid" alt="Sınıf gibi bir ortamda, çember şeklinde sandalyelere oturmuş yirmi kadar genç insan kameraya dönerek poz vermiş, gülümsüyorlar.">
                    </div>
                    <div>
                        <img src="../images/koy-ogretmenleri/koy-ogretmenleri-7.jpg" class="img-fluid" alt="Geniş bir terasta yüze yakın insanın toplu fotoğrafı. Bir kısmı yerde oturuyor, çoğunluğu arka arkaya ayakta sıralanmış. Arka planda deniz ve yeşil tepeler görünüyor.">
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>


{{/content}}
{{/extend}}