---
language: en
title: Strong Women Strong Cooperative
description: Women are half the world’s population. Half of the sky, cities and houses belong to women. Women are here to discover their existence and enrich their lives with their own power, not to complement someone else’s. The rules of the system they live in, however, are set by men. Unfortunately, women need to struggle throughout their lives just to have a life under equal conditions with men.
script: ../js/content/guclu-kadin-guclu-kooperatif.js
langlink: ../guclu-kadin-guclu-kooperatif.hbs
bodyClass: kadin
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="guclu-kadin-guclu-kooperatif-back">
        <div class="container px-0">
            <img src="../images/guclu-kadin-guclu-kooperatif/guclu-kadin-guclu-kooperatif-1.jpg" class="img-fluid" alt="Açık havada çekilmiş bir grup fotoğrafı. Gökyüzü mavi ve arka planda ağaçlar ile dağlar var. Yirmiye yakın insan ayakta yarım daire şeklinde dizilmiş kameraya gülümsüyor.">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> kadin-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://facebook.com/gencisikoop" target="_blank"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook link</span></a>
                <a class="mx-1 color-icons" href="https://twitter.com/gencisikoop" target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter link</span></a>
                <a class="mx-1 color-icons" href="https://instagram.com/gencisikoop" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram link</span></a>
                <a class="mx-1 color-icons" href="https://youtube.com/channel/UCLBqtYLsbEVEbyWGTivgC8g" target="_blank"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube link</span></a>
                <a class="mx-1 color-icons" href="http://gencisi.org/guclu-kadin-guclu-kooperatif/" target="_blank"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Website link</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-kadin text-center border-bottom-grade mb-3">YOUTH DEAL COOPERATIVE</h4>
                <h3 class="font-175 bold color-kadin text-center">STRONG WOMAN, STRONG COOPERATIVE</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-kadin mb-3">A Women’s Manifesto: Liberalizing with Solidarity</h6>
                <p>Women are half the world’s population. Half of the sky, cities and houses belong to women. Women are here to discover their existence and enrich their lives with their own power, not to complement someone else’s. The rules of the system they live in, however, are set by men. Unfortunately, women need to struggle throughout their lives just to have a life under equal conditions with men.</p>
                <p>With an economy that barely supports female labor, women remain far behind men when it comes to participation in the workforce. Those who manage to be in the workforce cannot choose their occupation freely and are expected to become satisfied with a few jobs ‘that are suitable for their gender’. Furthermore, women are more likely to work illegally and often suffer economic discrimination in terms of working hours and wages. So, isn’t there a way to change this situation?</p>
                <p>The Youth Deal Cooperative shows us there is indeed a world beyond the conventional market conditions: An autonomous, democratic and just alternative where women meet around common goals and recall their power, produce and earn with this power, and transfer their learning and experience to other women: Social Cooperatives. If we cannot exist with our needs in the economy, we will create our own economy. While helping ourselves with our own power, we can alarm others. It is indeed a manifesto!</p>
                <p>Through this initiative’s unique operation where labor, earnings and decisions are shared, cooperatives provide women with new opportunities to discover their rights and perceive the world from a rights-based perspective as well as existing in the economic life. Because these structures, in addition being a commercial enterprise, are also circles of solidarity where people get together to overcome challenges which they cannot get over by themselves.</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="../images/guclu-kadin-guclu-kooperatif/guclu-kadin-guclu-kooperatif-2.jpg" class="img-fluid" alt="Kapalı bir toplantı odasında çember şeklinde oturmuş çoğunluğu kadın, yetişkinler. Ayakta iki erkek onlara bir şeyler anlatıyor."></p>
            </div>

            <div class="col-12">
                <p>The Youth Deal Cooperative is an entity striving to increase the number of and strengthen those cooperatives who offer social welfare services to neglected populations of society. They find that the existing social cooperatives fail to handle the collective management by conforming to democratic standards and to connect with potential partners or customers. However, if these cooperatives have a chance to improve themselves in these aspects, they can set themselves and others free from the inured limits of the business world.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/guclu-kadin-guclu-kooperatif/guclu-kadin-guclu-kooperatif-3.jpg" class="img-fluid" alt="Ellerinde kâğıtlar olan iki kadın. Biri diğerine bir şeyler söylüyor."></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/guclu-kadin-guclu-kooperatif/guclu-kadin-guclu-kooperatif-4.jpg" class="img-fluid" alt="Biri konuşur diğeri dinlerken gülümseyen iki kadının fotoğrafı."></p>
            </div>

            <div class="col-12">
                <p>With this understanding, five cooperatives which are all founded and managed by women from five provinces with a small women’s labor force were selected. These five provinces include Gaziantep, Hatay, Isparta, İstanbul and Konya. Each one is visited by the project team. Their place of standing, their target for activities, and their needs to move forward are determined one by one. Once the training contents are identified, 20 women from each cooperative attend the training courses provided by seven different experts for seven days, getting the contribution of Impact Hub as a project partner. </p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="../images/guclu-kadin-guclu-kooperatif/guclu-kadin-guclu-kooperatif-5.jpg" class="img-fluid" alt="Çember şeklinde oturmuş insanların arasından beyaz başörtülü bir kadın konuşuyor, diğerleri ciddi yüz ifadeleriyle dinliyor."></p>
            </div>

            <div class="col-12">
                <p>The first day is somewhat surprising for all participants. How to collect contribution fees? Who issues expense vouchers for labor wages? How to ensure a fair distribution? The participants are all familiar with these topics... Yet, they still learn new information: Cooperative management is not all about knowing the duties of a bookkeeper or preparing income statements. How do they do it around the world? How does a cooperative determine its objectives, philosophy and sense of work? It is easy to gather a board of directors together, but how to find a non-violent communication language and come to an agreement? </p>
                <p>During one meeting, members notice that the entire work of the cooperative is carried by the chair. However, cooperatives are unique because all shareholders of a cooperative have equal rights to speak and vote, as well as share responsibilities equally.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box mor-box">“The training has enabled us to attract the attention of the cooperative shareholders who were not that active. We have established an apparently improving environment of relationship between shareholders. This has improved our motivation making us look at the future with greater hope.”</p>
                <p class="content-box-alt">A Member of the Cooperative who attended the Training</p>
            </div>

            <div class="col-12">
                <p>During another meeting, it is revealed that women working in production are distant from the areas of business models, sales and marketing. How to conclude collective marketing deals with buyers? How to build new circles of cooperation to reach greater markets? During training sessions, participants hear examples of replies to all such questions and discover new methods to diversify their products, to create surplus value and to increase their income. </p>
                <p>The Youth Deal Cooperative is aware that once women fully understand how the gender-based structure of the system functions in full, their voice will become richer to jointly protect and defend their rights. That is why the Cooperative includes gender equality, reproductive health, violence against women and women’s human rights in its program. At the end of the day, participants have achieved, in addition to a price increase for their products and services, a leap of awareness encouraging them to rebuild their relationship with themselves, with their families and the rest of society.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box mor-box">“The training has especially opened up our horizon regarding the cooperative management. It has given us different perspectives on problem solving between shareholders, fair task sharing, gender equality, etc. The most important thing is that it has enabled us to return to our inner selves and criticize ourselves.”</p>
                <p class="content-box-alt">A Member of the Cooperative who attended the Training</p>
            </div>

            <div class="col-12">
                <p>Beyond this awareness, the experts of the Youth Deal Cooperative are ready to support the participants by mentoring and continuing their mutual companionship. Two people selected among the shareholders of each cooperative take their knowledge and experience one step further thanks to the mentoring training, making sure the development of cooperatives is continuous.</p>
                <p>Sharing the content of all these training courses is an essential part of the idea of building a democratic and sustainable economic model. ‘Cooperation Training Set’ is prepared as a guide that would help anyone who wants to knit an economy of social solidarity around themselves.</p>
            </div>

            {{!-- <div class="col-12 text-center my-4">
                <a href="https://www.sabancivakfi.org/i/content/KOOP_EgitimSeti.pdf" class="d-flex flex-column align-items-center text-decoration-none" target="_blank">
                    <img src="../images/guclu-kadin-guclu-kooperatif/KOOP-EgitimSeti.png" class="img-fluid" alt="KOOPERATİFÇİLİK EĞİTİM SETİ">
                </a>
            </div> --}}

            <div class="col-12">
                <p>The incomparable confidence of achieving those things together that we would not dare to do alone... It is indeed a manifesto! Don’t you think so?</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box mor-box">“A cooperative is a really strong association. Thanks to the training courses, we have recalled the details that we need to pay attention to, discussed the rules of being successful, and made new friends. All hail those brave women who have the courage and managed to found a cooperative...”</p>
                <p class="content-box-alt">A Member of the Cooperative who attended the Training</p>
            </div>

            <div class="col-md-8 mx-auto mt-5 mb-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/Qb0_NZPsK4g" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>


            <div class="col-12 my-5">
                <div id="gucluKadinGucluKooperatifSlider">
                    <div>
                        <img src="../images/guclu-kadin-guclu-kooperatif/guclu-kadin-guclu-kooperatif-6.jpg" class="img-fluid" alt="Açık havada yan yana oturan üç kadın fotoğrafı. Başında bere olan bir kadın parmağı ile diğerini işaret ederek bir şeyler söylüyor ve gülümsüyor.">
                    </div>
                    <div>
                        <img src="../images/guclu-kadin-guclu-kooperatif/guclu-kadin-guclu-kooperatif-7.jpg" class="img-fluid" alt="Yan yana oturan üç kadın bir erkek. Kadınlardan biri elindeki kâğıtlara bakarak gülüyor. Sağ tarafta oturan kadın ve erkekse birbirine bakarak gülüyorlar.">
                    </div>
                    <div>
                        <img src="../images/guclu-kadin-guclu-kooperatif/guclu-kadin-guclu-kooperatif-8.jpg" class="img-fluid" alt="Yan yana oturan dört kadın, fotoğrafın sağ tarafında bulanık görünen, konuşmakta olan erkeği ciddiyetle dinliyorlar.">
                    </div>
                    <div>
                        <img src="../images/guclu-kadin-guclu-kooperatif/guclu-kadin-guclu-kooperatif-9.jpg" class="img-fluid" alt="Bir evin salonunda halının üzerine çember şeklinde oturmuş başörtülü ve şalvar giymiş kadınlar, çembere dâhil olan bir erkeğin anlattıklarını dinliyorlar. Arkada görünen koltuklardan birinde küçük bir oğlan çocuğu yüz üstü yatıyor.">
                    </div>
                    <div>
                        <img src="../images/guclu-kadin-guclu-kooperatif/guclu-kadin-guclu-kooperatif-10.jpg" class="img-fluid" alt="Bir ofiste, çalışma masasında bilgisayar karşısında oturan sarı saçlı bir kadın. Karşısında başörtülü ve şalvar giymiş kadınlar yarım çember şeklinde sandalyelerde oturuyor.">
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>

{{/content}}
{{/extend}}