---
language: en
title: Strong Women Strong Cooperative
description:
script: ../js/main.js
langlink: ../guclu-kadin-guclu-kooperatif.hbs
---

{{#extend "base"}}
{{#content "main"}}

<main>
</main>

{{/content}}
{{/extend}}