---
language: en
title: Tactile Learning & Evaluation
description: We use our senses to discover the outside world and ourselves. Each sense has a different role in this discovery. When we touch an object we see or when we look back at the source of a sound we have just heard, the information we obtain about the object/sound complements each other. Have you ever come across an activity for empathy organized by people without disabilities to understand how a person with visual impairment experiences life, what they need or what difficulties they face? Can sighted individuals really experience the experience of a person with visual impairment when their eyes are covered for an hour?
script: ../js/content/dokunsal-ogrenme.js
langlink: ../dokunsal-ogrenme.hbs
bodyClass: engelli
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="dokunsal-ogrenme-back">
        <div class="container px-0">
            <img src="../images/dokunsal-ogrenme/dokunsal-ogrenme-1.jpg" class="img-fluid" alt="">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> engelli-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://www.facebook.com/AltiNoktaKorlerVakfi/" target="_blank" rel="noopener" rel="noreferrer"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook linki</span></a>
                <a class="mx-1 color-icons" href="https://twitter.com/6noktakorler" target="_blank" rel="noopener" rel="noreferrer"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter linki</span></a>
                <a class="mx-1 color-icons" href="https://www.instagram.com/altinoktakorlervakfi/" target="_blank" rel="noopener" rel="noreferrer"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram linki</span></a>
                <a class="mx-1 color-icons" href="https://www.youtube.com/user/ALTINOKTA" target="_blank" rel="noopener" rel="noreferrer"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube linki</span></a>
                <a class="mx-1 color-icons" href="https://www.6nokta.org.tr/" target="_blank" rel="noopener" rel="noreferrer"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Websitesi linki</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-engelli text-center border-bottom-grade mb-3">SIX DOTS FOUNDATION FOR THE BLINDS</h4>
                <h3 class="font-175 bold color-engelli text-center">TACTILE LEARNING &amp; EVALUATION</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-engelli mb-0">For an Equal Education Respecting Differences</h6>
                <p class="mt-0">We use our senses to discover the outside world and ourselves. Each sense has a different role in this discovery. When we touch an object we see or when we look back at the source of a sound we have just heard, the information we obtain about the object/sound complements each other. Have you ever come across an activity for empathy organized by people without disabilities to understand how a person with visual impairment experiences life, what they need or what difficulties they face? Can sighted individuals really experience the experience of a person with visual impairment when their eyes are covered for an hour?</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="../images/dokunsal-ogrenme/dokunsal-ogrenme-2.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>It is impossible to say “yes” to this question. For a person who is accustomed to living by seeing, the experience of being in the dark for an hour can lead to feelings such as fright, gratitude for not being blind, and pity for people with visual disabilities. Actually, people with visual disabilities experience life in a different way. For example, the sense of touch is one of the basic learning tools for individuals with visual disabilities and they can use this sense more effectively than sighted individuals do. </p>
                <p>All efforts to improve the ability of individuals with visual disabilities to use their sense of touch effectively from an early age can facilitate their inclusion in every aspect of social life, increase their academic success and even diversify their career choices.</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="../images/dokunsal-ogrenme/dokunsal-ogrenme-3.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p class="bold color-engelli mb-0">How Can We Improve Tactile Learning? </p>
                <p class="mt-0">The Six Dots Foundation for the Blinds has been working with individuals with visual disabilities since 1972. The Foundation came together with the Parıltı Support Association for Children with Visual Impairments and Association of Barrier Free Access to develop tactile learning skills and started the Tactile Learning & Evaluation project. This project aims to make tactile learning a permanent part of the education system, and it is expected to help increase all the access of children with visual disabilities to education and improve their school experience.</p>
            </div>

            <div class="col-12 col-xl-8 mx-auto text-center">
                <div class="content-box turuncu-box">
                    <p class="mt-2">“Those who see an object can create a map and have an idea about the object. But I can’t see it and I do it by touch.” </p>
                    <p class="bold mb-1">A student who attended the training</p>
                </div>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/dokunsal-ogrenme/dokunsal-ogrenme-4.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/dokunsal-ogrenme/dokunsal-ogrenme-5.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Within the scope of the project, first, a stakeholder meeting was held, bringing together a number of experts in the field, including academics. In the light of the information obtained at the meeting, a training program and three-dimensional materials and tactile drawings to be used in the training program were designed. In addition, a measurement tool was developed to monitor children’s tactile learning skills and their development after training.</p>
                <p>As part of the project implementation, children touched and examined real objects and then objects made of different materials such as wood, aluminum, PVC foam and plexiglass. With the guidance given, they learned how to identify these objects according to their shapes and materials. The children working on the part/whole relationship began to recognize the two-dimensional and tactile drawings of these three-dimensional objects that they already knew.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/dokunsal-ogrenme/dokunsal-ogrenme-6.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/dokunsal-ogrenme/dokunsal-ogrenme-7.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>The Foundation continues updating the training program and materials with the observations and the feedback from the children during the training sessions, where students both have fun and develop tactile learning skills. </p>
                <p>The next goal of the project is to disseminate the tactile learning program by ensuring that it is included in the academic education curriculum, and consequently, to enable children with visual disabilities to continue their education in different fields. </p>
                <p>As one of the children who attended the training said, “People are different from each other, just as all geometric shapes are different,” and all children have an equal right to education.</p>
            </div>

            <div class="col-12 col-xl-8 mx-auto text-center">
                <div class="content-box turuncu-box">
                    <p class="mt-2">“For example, when I first learned about the [two-dimensional] net of a cube, I was surprised because it makes a completely different shape.” </p>
                    <p class="bold mb-1">A student who attended the training</p>
                </div>
            </div>

            <div class="col-12 my-5">
                <div id="dokunsalOgrenmeSlider">
                    <div>
                        <img src="../images/dokunsal-ogrenme/dokunsal-ogrenme-8.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/dokunsal-ogrenme/dokunsal-ogrenme-9.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/dokunsal-ogrenme/dokunsal-ogrenme-10.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/dokunsal-ogrenme/dokunsal-ogrenme-11.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/dokunsal-ogrenme/dokunsal-ogrenme-12.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/dokunsal-ogrenme/dokunsal-ogrenme-13.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-12 mb-5">
                {{!-- <p>Videonun erişilebilir versiyonu için <a href="https://youtu.be/" class="color-kadin" target="_blank" rel="noopener" rel="noreferrer">tıklayınız</a>.</p> --}}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/bTjbpg9Qw4o" title="Ekim Zamanı Online Buluşma Zamanı | Altı Nokta Körler Vakfı" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>


</main>

{{/content}}
{{/extend}}