---
language: en
title: Teachers First for Children
description: Life is a learning journey and we take this journey by trying to understand the world since childhood. We spend long hours at a school desk where we are taught many courses prepared to support our attempts to pursue the meaning of life, Biology, for example... The primary purpose of this course is to make sure children know themselves, the world they live in and all the other living things in the entire world. But isn’t it necessary to know cells, organs, body systems, i.e. beyond the fundamentals of biology, in order to really know human, nature and universe?
script: ../js/content/cocuklar-icin-once-ogretmen.js
langlink: ../cocuklar-icin-once-ogretmen.hbs
bodyClass: genc
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="cocuklar-icin-once-ogretmen-back">
        <div class="container px-0">
            <img src="../images/cocuklar-icin-once-ogretmen/cocuklar-icin-once-ogretmen-1.jpg" class="img-fluid" alt="İki genç kadın ellerinde keçeli kalemler ile bir halını üzerine uzanmış gülümseyerek kâğıda bir şeyler yazıyorlar. Arka fonda bir kitaplık bulunuyor.">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> genc-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://facebook.com/baskabirokulmumkundernegi" target="_blank"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook link</span></a>
                <a class="mx-1 color-icons" href="https://twitter.com/BBOMDernegi" target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter link</span></a>
                <a class="mx-1 color-icons" href="https://instagram.com/baskabirokulmumkun" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram link</span></a>
                <a class="mx-1 color-icons" href="https://youtube.com/user/baskabirokulmumkun" target="_blank"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube link</span></a>
                <a class="mx-1 color-icons" href="http://baskabirokulmumkun.net" target="_blank"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Website link</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-genc text-center border-bottom-grade mb-3">ANOTHER SCHOOL IS POSSIBLE ASSOCIATION</h4>
                <h3 class="font-175 bold color-genc text-center">TEACHERS FIRST FOR CHILDREN</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-genc mb-3">A Learning Journey: Beyond the Ordinary, Inside the ‘Circle’</h6>
                <p>Life is a learning journey and we take this journey by trying to understand the world since childhood. We spend long hours at a school desk where we are taught many courses prepared to support our attempts to pursue the meaning of life: Biology, for example... The primary purpose of this course is to make sure children know themselves, the world they live in and all the other living things in the entire world. But isn’t it necessary to know cells, organs, body systems, i.e. beyond the fundamentals of biology, in order to really know human, nature and universe?</p>
                <p>A child needs to discover and make sense of their emotions and make intellectual connections with others if they want to know themselves and the world. Unfortunately, it is not possible to write all the things needed for this on the board. These needs may be skills gained with experience, rather than teachable facts. And it requires to be a guide for children, or, in fact, listening to them, hearing their voices, understanding them and creating suitable spaces for them to share their ideas would suffice.</p>
                <p>At this point, the Another School is Possible Association (BBOM) aims to generalize participatory and peaceful learning communities and tries to develop a brand new model in collaboration with teachers in order to enable an educational environment that supports children’s social and emotional development and encourages their participation. The Association creates materials helping build a safe space needed for learning in this scope, develops mechanisms of participation and supports teachers’ gaining knowledge and skills to use these tools..</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/cocuklar-icin-once-ogretmen/cocuklar-icin-once-ogretmen-2.jpg" class="img-fluid" alt="İki kadın ve bir erkek, ellerini göğüslerinin üzerine koymuş ağızları açık, şarkı söyler gibi duruyorlar."></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/cocuklar-icin-once-ogretmen/cocuklar-icin-once-ogretmen-3.jpg" class="img-fluid" alt="Bir okul panosu üzerinde farklı renkte kartonlar bulunuyor. Kalp şeklinde kırmızı bir karton üzerinde sınıfın kalbi burada atar yazıyor. Turuncu bir kartonda, sınıf düzeni için haydi iş başına yazıyor. Diğer kartonlardaki yazılar okunmayacak kadar küçük."></p>
            </div>

            <div class="col-12">
                <p>To serve the same purpose, BBOM has been running Initial Programs covering different topics, including children’s rights, democratic schools, participatory decision-making methods, etc., for hundreds of teachers across Turkey since 2015. All teachers attending an Initial Program become part of the community called Teacher’s Village and all ‘Villagers’ start learning from each other and producing together along the road to a more democratic school where children will be at the center. </p>
                <p>BBOM launched a pilot study in Köyceğiz in 2009 with support from Muğla Provincial Directorate of National Education as the first and most important step to make the change accelerated in the Teacher’s Village sustainable. For the first time, the participants of an Initial Program are teachers working in the same region and even at the same school, rather than teachers applying from all different places across Turkey, so that it can be possible to observe how the resulting transformation would affect an entire school climate and to take the first steps to extend this transformation to different regions.</p>
                <p>Being a part of the project Teachers first for Children, teachers contribute to the development of many tools as well as helping children develop their own skills growing into active individuals who assume the responsibility of their learning journey.</p>
                <p>At the heart of the project lies the practice of ‘Circle’. A circle where limits are determined by the same individuals who have created, is a safe area of expression and freedom where all members of a class come together and share their emotions, needs and opinions, and connect with each other. Change is only possible if one wants it. Therefore, the circle practices are based on the principle of volunteering. Such a teacher’s positioning on equal grounds with students in this circle makes sure the teacher is involved in the social learning as deep as students are involved. Keeping an entire class with all their differences in a circle by treating them equally where this equality is observable by the participants creates a safe space and contributes to being both ‘me’ and ‘us’. Making such circles of mutual connections a part of the teaching routine helps children feel free while expressing themselves. It also creates some transparency making it easy for teachers to monitor and understand their students.</p>
                <p>The guiding tool used in this project is called the ‘Teacher’s Guide for Classroom Circle’. Serving to prepare both teachers and students for the circle practices, this tool is developed with 21 volunteering teachers’ contributions from five schools in Köyceğiz. The progress made by the teachers by using the guide is monitored, evaluated and improved based on concrete observations through weekly and monthly meetings.</p>
                <p>The observed contribution of the circle practices includes some improvement in children’s listening, expression and conflict resolution skills. Those children who usually did not get on well in the class have started to connect with each other in the circle, and this alone is a very powerful reflection of their transformation. The teachers say the circle help increase the number of children who are “less angry”, who show “improvement in expressing their feelings” and “express themselves better”. </p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box yesil-box">“We share our feelings and thoughts in the circle. We tell what we have done at the weekend. We tell it when an event has occurred. Then, we find a solution to it. The circle has taught us to express ourselves better.”</p>
                <p class="content-box-alt">A Student who attended the Circle Practice</p>
            </div>

            <div class="col-12">
                <p>The teachers’ gaining increasingly wider experience under this practice opens the door to improving their skills to adapt their weekly schedules to the current needs and to diversify the overall impact. The circle practices initiate a fundamental change to encourage the teachers to assess themselves and think about their in-class responsibilities and the structure of the relationship they have built with their students. The teachers’ change, however, is not restricted to this.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box yesil-box">“I now enjoy my job more because I listen to myself while doing it. When I am calmer, it also influences the class climate. They become less tense and express themselves more freely. Those problems we had due to miscommunication are now eliminated.”</p>
                <p class="content-box-alt">A Special Education Teacher who attended the Project Activities</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/cocuklar-icin-once-ogretmen/cocuklar-icin-once-ogretmen-8.jpg" class="img-fluid" alt="Yerde ikişerli ve karşılıklı olarak oturmuş gençler karton ve kartlar ile bir oyun oynuyor."></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/cocuklar-icin-once-ogretmen/cocuklar-icin-once-ogretmen-9.jpg" class="img-fluid" alt="Sobalı, ahşap, yüksek tavalı ve sağ tarafı tamamen camdan oluşan bir mekânda, çember şeklinde oturmuş genç insanlar. Fotoğraf yukarıdan çekilmiş."></p>
            </div>

            <div class="col-12">
                <p>The teacher participants from Köyceğiz are paired with volunteers of the Teacher’s Village and they become ‘Learning Partners.’ This peer-learning model based on non-violent means of communication helps the teachers experience together with their peers first a participatory and peaceful learning environment, which they actually want to implement in their classes, in the safe space of their routine meetings, where they discuss together the things they have in mind and support each other.</p>
                <p>This may be the strongest aspect of this project. Life is a limitless learning journey. Growing their solidarity, the teachers involved turn this journey into a unique experience both for themselves and for children.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box yesil-box">“Everyone in the circle is egalitarian. We used to either address the entire class or do individual activities. As everyone sees each other the circle requires everyone to observe others’ energy even when no one speaks. The physical structure of the circle suffices to make some contribution. It aims for and requires finding a middle ground. It means you can meet in the middle.” </p>
                <p class="content-box-alt">An Elementary School Teacher who attended the Project Activities</p>
            </div>

            <div class="col-12 my-5">
                <div id="cocuklarIcinOnceOgretmenSlider">
                    <div>
                        <img src="../images/cocuklar-icin-once-ogretmen/cocuklar-icin-once-ogretmen-4.jpg" class="img-fluid" alt="Bir okul bahçesinde küçük çocuklar büyük bir çember oluşturmuş, yerde oturuyorlar.">
                    </div>
                    <div>
                        <img src="../images/cocuklar-icin-once-ogretmen/cocuklar-icin-once-ogretmen-6.jpg" class="img-fluid" alt="Bir cephesi neredeyse tamamen camlı, ahşap, tek katlı bir binanın önünde kalabalık genç bir grubun toplu fotoğrafı. Gençlerin yarısı ayakta duruyor yarısı önde çimlere oturmuş. En önde iki köpek ve çalılar var.">
                    </div>
                    <div>
                        <img src="../images/cocuklar-icin-once-ogretmen/cocuklar-icin-once-ogretmen-7.jpg" class="img-fluid" alt="Bir sınıf içinde sıralar ve çember şeklinde birbirine dönük duran çocuklar ve bir erkek öğretmen var.">
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>

{{/content}}
{{/extend}}