---
language: en
title: The Support Project
description: The right to education is a fundamental right of every child, and the first step for a world where all children can exist with their differences and enjoy their rights equally should be taken in educational environments. Every child has special and different needs. In particular, it is necessary to restructure the education system and schools to accommodate all differences so that students with special needs can participate in high-quality education equally.
script: ../js/content/destek-ol-projesi.js
langlink: ../destek-ol-projesi.hbs
bodyClass: engelli
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="destek-ol-projesi-back">
        <div class="container px-0">
            <img src="../images/destek-ol-projesi/destek-ol-projesi-1.jpg" class="img-fluid" alt="">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> engelli-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://www.facebook.com/yegid33/" target="_blank" rel="noopener" rel="noreferrer"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook linki</span></a>
                <a class="mx-1 color-icons" href="https://twitter.com/yegid33" target="_blank" rel="noopener" rel="noreferrer"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter linki</span></a>
                <a class="mx-1 color-icons" href="https://www.instagram.com/yegid33/" target="_blank" rel="noopener" rel="noreferrer"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram linki</span></a>
                {{!-- <a class="mx-1 color-icons" href="https://youtube.com/" target="_blank" rel="noopener" rel="noreferrer"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube linki</span></a> --}}
                <a class="mx-1 color-icons" href="https://www.yegid33.org/" target="_blank" rel="noopener" rel="noreferrer"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Websitesi linki</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-engelli text-center border-bottom-grade mb-3">INNOVATIVE INITIATIVE ASSOCIATION (YEGİD)</h4>
                <h3 class="font-175 bold color-engelli text-center">THE SUPPORT PROJECT</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-engelli mb-0">Critical Places for Inclusive Education: Resource Rooms</h6>
                <p class="mt-0">The right to education is a fundamental right of every child, and the first step for a world where all children can exist with their differences and enjoy their rights equally should be taken in educational environments. Every child has special and different needs. In particular, it is necessary to restructure the education system and schools to accommodate all differences so that students with special needs can participate in high-quality education equally.</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="../images/destek-ol-projesi/destek-ol-projesi-2.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Inclusive education enables students with special needs to receive education in the same educational environment as their peers, so it is a must. On the other hand, inclusive education does not only mean that students with special needs are placed in a general education classroom. An effective way to implement inclusive education is to provide additional support mechanisms to both students with special needs studying in general education classrooms and their teachers. One of the most critical steps for such effective implementation is to prepare and ensure effective use of resource rooms, which were made compulsory in schools by the Ministry of National Education in 2015. </p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/destek-ol-projesi/destek-ol-projesi-3.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/destek-ol-projesi/destek-ol-projesi-4.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>The Innovative Initiative Association (YEGİD) was established in Mersin in 2017 and it works to implement innovative ideas for people with disabilities in the field of education. The Association begins its journey to help students that need special education continue their education in harmony with their peers, and its Support project aims to enhance the use of resource rooms that will improve the quality of inclusive education and to support teachers who teach in these rooms in preparing an Individualized Education Program (IEP) and tech-advanced activities.</p>
            </div>

            <div class="col-12">
                <h6 class="bold color-engelli mb-0">An Exemplary Resource Room</h6>
                <p class="mt-0">The Ministry of National Education recommends each school to use a space to be determined within the bounds of possibility for resource room support. The Ministry also offers suggestions on how to design an effective resource room and what kind of materials should be included in it. However, only a small number of resource rooms have been made available in schools and these rooms deviate from the standards established by the Ministry of National Education. Therefore, YEGİD set its goal as to create an exemplary model of resource room and to disseminate this model.</p>
                <p>Within the scope of this project implemented in partnership with the Innovative and Entrepreneurial Society Association, Erdemli District Directorate of Education and Erdemli Guidance and Research Center, workshops were held with experts, where the needs and priorities were determined. Then, the designing of an exemplary resource room began. YEGİD created an exemplary resource room in a secondary school in Erdemli, based on the suggestions and the conclusions from the workshops. </p>
                <p>On the other hand, preparing a resource room room is not enough on its own. In order to make sure this room is used, it is necessary to support the professional development of teachers.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/destek-ol-projesi/destek-ol-projesi-5.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/destek-ol-projesi/destek-ol-projesi-6.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>For this purpose, several training programs were created to improve the knowledge and skills of teachers, irrespective of their schools and branches, both in designing activities using technology and in the IEP to be used in resource rooms. </p>
                <p>More than 100 teachers working in Mersin have attended these training programs and YEGİD continues to develop and disseminate the project in consideration of the teachers’ post-training feedback.</p>
                <p>The Support Project offers innovative and fresh ideas for equal opportunity that can spread from a district to the whole country. Such programs based on exemplary models and technology raise hopes for all children to transform their school life into a journey where equal opportunities are provided and they can access the education they deserve.</p>
            </div>

            <div class="col-12 my-5">
                <div id="destekOlProjesiSlider">
                    <div>
                        <img src="../images/destek-ol-projesi/destek-ol-projesi-7.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/destek-ol-projesi/destek-ol-projesi-8.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="../images/destek-ol-projesi/destek-ol-projesi-9.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-12 mb-5">
                {{!-- <p>Videonun erişilebilir versiyonu için <a href="https://youtu.be/" class="color-kadin" target="_blank" rel="noopener" rel="noreferrer">tıklayınız</a>.</p> --}}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/9K1a5aLne6Y" title="Ekim Zamanı Online Buluşma Zamanı | Yenilikçi Girişim Derneği" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>

</main>

{{/content}}
{{/extend}}