---
language: en
title: Women Brigthen the Mine with Their Light
description:
script: ../js/main.js
langlink: ../kadinlar-isigiyla-madeni-aydinlatiyor.hbs
---

{{#extend "base"}}
{{#content "main"}}

<main>
</main>

{{/content}}
{{/extend}}