---
language: en
title: Women Brighten the Mine with Their Light
description: All the women in the world were born sharing a nonverbal association, Due to the roles assigned by society to genders, women fall behind men in accessing opportunities in every aspect of life. Life for women turns into a struggle to close this gap, irrespective of whether they are aware of it or not.
script: ../js/content/kadinlar-isigiyla-madeni-aydinlatiyor.js
langlink: ../kadinlar-isigiyla-madeni-aydinlatiyor.hbs
bodyClass: kadin
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="kadinlar-isigiyla-madeni-aydinlatiyor-back">
        <div class="container px-0">
            <img src="../images/kadinlar-isigiyla-madeni-aydinlatiyor/kadinlar-isigiyla-madeni-aydinlatiyor-1.jpg" class="img-fluid" alt="Orta yaşlarda, başörtülü, maske, kulaklık ve eldiven takmış kadınlar, yürüyen bir bandın iki yanında ayakta sıralanmışlar. Bandın üzerinde bulunan maden taşlarını ayıklıyorlar.">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> kadin-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://instagram.com/madencikadinlardernegi" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram link</span></a>
                <a class="mx-1 color-icons" href="http://madencikadinlar.org/hakkimizda-kadinlar-isigiyla-madeni-aydinlatiyor" target="_blank"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Website link</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-kadin text-center border-bottom-grade mb-3">MINER WOMEN SOLIDARITY AND SOCIAL ASSISTANCE ASSOCIATION</h4>
                <h3 class="font-175 bold color-kadin text-center">WOMEN BRIGHTEN THE MINE WITH THEIR LIGHT</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-kadin mb-3">Sister’s Mine: How Nice to Be a Confident Woman!</h6>
                <p>All the women in the world were born sharing a nonverbal association: Due to the roles assigned by society to genders, women fall behind men in accessing opportunities in every aspect of life. Life for women turns into a struggle to close this gap, irrespective of whether they are aware of it or not.</p>
                <p>It is not easy at all to struggle alone in a mechanism where the rules are set by men. Especially, when this gap, which should not exist at all, is getting bigger with cases of violence, abuse, child marriage, etc. The value of solidarity is appreciated at this exact point. Similar difficulties experienced by women of any age, geography or identity also tie a knot for a natural sisterhood bond which gather them together. </p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/kadinlar-isigiyla-madeni-aydinlatiyor/kadinlar-isigiyla-madeni-aydinlatiyor-3.jpg" class="img-fluid" alt="Sırtları dönük, başörtülü, maske, kulaklık ve eldiven takmış kadınlar, yürüyen bir bandın iki yanında ayakta sıralanmışlar. Bandın üzerinde bulunan maden taşlarını ayıklıyorlar."></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/kadinlar-isigiyla-madeni-aydinlatiyor/kadinlar-isigiyla-madeni-aydinlatiyor-4.jpg" class="img-fluid" alt="Kapalı bir toplantı salonunda, masaların ortasında ayakta duran bir grup kadın, üzerinde Madenci Kadınlar Dayanışma ve Sosyal Yardımlaşma Derneği yazan pankartı ellerinde tutarak poz veriyorlar."></p>
            </div>

            <div class="col-12">
                <p>This is the spirit that makes the miner women working at the magnesite mine in Nemli Village, Eskişehir get together to establish a solidarity and assistance association. What brings them together beyond working in the same sector, is being a woman. They all know, discover, and grow themselves while bumping into the same prejudices every day in different houses. Their jobs have grown this awareness and given them a good means of attracting attention: In fact, no one has probably seen a woman working in a mine... The name of the association alone was enough to make an impression. Those who had heard about miner women started searching about them. Once the understanding that mining is a men’s job started breaking into pieces, just like magnesite does, women got excited and decided to grow this acquaintance.</p>
                <p>This is not an easy place contrary to how it seems, says a woman working in the mine. “There is the cold, there is the frost, there is the dust.” It means they do what they do under all the conditions that are not deemed appropriate for women by society. They indeed make a living the hard way. On the other hand, they have not received widespread media attention. In fact, some believe that women working in a mine would bring bad luck. That is why miner women are cautious. First, we need to be well-aware of the job we do and of why we are together in the Association so that we have a strong voice to the outside, they say. Of course, it is very important that they can also express the problems and needs of their line of work from a gender equality perspective.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/kadinlar-isigiyla-madeni-aydinlatiyor/kadinlar-isigiyla-madeni-aydinlatiyor-5.jpg" class="img-fluid" alt="Bir sahnede, bir örnek siyah kıyafetler giymiş kadınlar koro şeklinde şarkı söylüyorlar."></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/kadinlar-isigiyla-madeni-aydinlatiyor/kadinlar-isigiyla-madeni-aydinlatiyor-6.jpg" class="img-fluid" alt="Yan yana ayakta duran altı kadın gülümseyerek poz veriyor. Kadınlardan dördü başörtülü, ikisinde baretler var. Kalın montlar ve sarı ikaz yeleği giymişler."></p>
            </div>

            <div class="col-12">
                <p>That is how this new partnership has been established to gather the women of the Association together. First, the group start trainings with ‘Waist and Neck School’. Above all, they learn ways to protect their physical health in the environment in which they work. Since they are aware that they have the right to work in a safe and healthy environment, considering the special conditions of their business line. Then, the group discuss and learn together how the gender roles in society have formed and how to gain an egalitarian perspective with gender equality trainings.</p>
                <p>After they learn about gender equality and their legal rights in the training, the women can identify what roles are chosen and recirculated by the media for women and men more quickly. Those men who take a stage in an influencer’s video clip, in a popular article or in a commercial film we are frequently exposed to are somehow always though, aggressive, decisive, ambitious, swearer, and they insult the female body.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box mor-box">This is called representation, says a miner woman. “These stories are told as if it is about only one person or it is an isolated event, but it is not a random character chosen for sure. As the name implies, representation... It represents our husbands, our fathers, our big brothers. Whom we already know from our company, from our villages, market, etc. As everyone is familiar with such characters, so why say something different and take a risk. As they want that series to be watched, they create that role for the leading man who expects everything from women. And it is done.”</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="../images/kadinlar-isigiyla-madeni-aydinlatiyor/kadinlar-isigiyla-madeni-aydinlatiyor-8.jpg" class="img-fluid" alt="Madenci Kadınlar Dayanışma ve Sosyal Yardımlaşma Derneği yazan pankartın bulunduğu duvarın önünde kadınlar bir masanın etrafında oturmuş önlerindeki kâğıtlara bakarak birlikte çalışıyorlar."></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="../images/kadinlar-isigiyla-madeni-aydinlatiyor/kadinlar-isigiyla-madeni-aydinlatiyor-9.jpg" class="img-fluid" alt="Bir bandın üzerinde taşlar ve onları ayıklayan eldiven giymiş bir kişinin elleri var."></p>
            </div>

            <div class="col-12">
                <p>The women see how violence against women is normalized this way, and they are astonished by it. They indeed notice that a femicide is first covered on the noon news with words “the man was cheated on and overwhelmed by his anger” and then discussed in the neighborhood with expressions like “but the woman should have behaved respectably”. By the end of the training, all the participants become sure that it is not about Ahmet or Selma. It is about Ahmets and Selmas, their mothers and fathers, their neighbors and relatives, colleagues and children, and in short, the whole society. That is not exclusively a man’s job or a woman’s job, as in sorting rocks in a mine.</p>
                <p>It is a journey which appears extraordinary for the women of Nemli Village, but it is like a reinterpretation of a well-known fact. They might have learned the theory during training, but their sisterhood is very old.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box mor-box">A Member of the Association: ‘When I tell I work in a mine, ‘What do you mean? How can a woman work in a mine?’ they ask. Such jobs are usually known as men’s jobs, but we, as women, can do the same jobs just as good as they can. We exist, we say, despite the challenging conditions. Every job has its difficult and easy aspects. If you asked ‘Housework or a job?’ I would say ‘a job’ for sure!”</p>
            </div>

            <div class="col-12 my-5">
                <div id="kadinlarIsigiylaMadeniAydinlatiyorSlider">
                    <div>
                        <img src="../images/kadinlar-isigiyla-madeni-aydinlatiyor/kadinlar-isigiyla-madeni-aydinlatiyor-2.jpg" class="img-fluid" alt="Bir maden ocağının uzaktan görüntüsü. Bulutlu bir gökyüzü ve büyük bir arazide patlatmalar ile kademe kademe çukurlaşmış bir alan ve arkasında duman tüten bir baca ve binalar bulunuyor.">
                    </div>
                    <div>
                        <img src="../images/kadinlar-isigiyla-madeni-aydinlatiyor/kadinlar-isigiyla-madeni-aydinlatiyor-7.jpg" class="img-fluid" alt="Orta yaşlarda, başörtülü, maske, kulaklık ve eldiven takmış kadınlar, yürüyen bir bandın iki yanında ayakta sıralanmışlar. Bandın üzerinde bulunan maden taşlarını ayıklıyorlar.">
                    </div>
                    <div>
                        <img src="../images/kadinlar-isigiyla-madeni-aydinlatiyor/kadinlar-isigiyla-madeni-aydinlatiyor-10.jpg" class="img-fluid" alt="Açık havada kalabalık bir kadın grubu, üzerinde Madenci Kadınlar Dayanışma ve Sosyal Yardımlaşma Derneği yazan pankartları ellerinde tutarak poz veriyorlar. Kadınların çoğu ayakta, üç tanesi yere oturmuş.">
                    </div>
                    <div>
                        <img src="../images/kadinlar-isigiyla-madeni-aydinlatiyor/kadinlar-isigiyla-madeni-aydinlatiyor-11.jpg" class="img-fluid" alt="Bir konferans salonunun sahnesine benzeyen bir alanda çekilmiş kalabalık bir toplu fotoğraf. Çoğunluğunu kadınların oluşturduğu grup ayakta, önlü arkalı durmuş poz veriyor.">
                    </div>
                </div>
            </div>

            <div class="col-12 mb-5">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/VbhxVNWevM4" title="Miner Women Solidarity and Social Assistance Association | Women Brighten the Mine with Their Light" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>

</main>


{{/content}}
{{/extend}}