---
language: en
title: Youth Work Academy
description: TOY (a Turkish adjective), Uncouth and unskillful, inexperienced, callow, especially because of youth.
script: ../js/content/genclik-calismalari-akademisi.js
langlink: ../genclik-calismalari-akademisi.hbs
bodyClass: genc
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="genclik-calismalari-akademisi-back">
        <div class="container px-0">
            <img src="../images/genclik-calismalari-akademisi/genclik-calismalari-akademisi-1.jpg" class="img-fluid" alt="Düğüm olmuş ipleri çözmeye çalışan gençler.">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> genc-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://facebook.com/toygenclik" target="_blank"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook link</span></a>
                <a class="mx-1 color-icons" href="https://twitter.com/toygenclik" target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter link</span></a>
                <a class="mx-1 color-icons" href="https://instagram.com/toygenclik" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram link</span></a>
                <a class="mx-1 color-icons" href="https://youtube.com/c/ToyGen%C3%A7likDerne%C4%9Fi" target="_blank"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube link</span></a>
                <a class="mx-1 color-icons" href="http://toygenclik.org" target="_blank"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Website link</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-genc text-center border-bottom-grade mb-3">TOY YOUTH ASSOCIATION</h4>
                <h3 class="font-175 bold color-genc text-center">YOUTH WORK ACADEMY</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-genc mb-3">Toy and Brave: Youth Work Academy Has Its First Graduates!</h6>
                <p>TOY (a Turkish adjective): Uncouth and unskillful, inexperienced, callow, especially because of youth.</p>
                <p>Besides the definition in dictionary, there is indeed an understanding that sees young people as individuals who quickly aspire and then give up due to their fast-flowing blood and amateur spirit. In fact, adults do attempt to provide guidance when it comes to regulating the fields of youth rights. What do young people think about that? It is possible to guess what the Toy Youth Association thinks about it from their delightfully ironic choice of naming themselves as ‘toy’ [naïve, inexperienced]. There is no doubt that young people have the strength and competence to regulate their own fields according to their own needs.</p>
                <p>This awareness may be gained after long years of work by those who are not directly involved in youth work. However, for youth workers, it is indispensable to have a rights-based perspective. Because it allows them to support all their peers, especially those suffering discrimination, to be active to find solutions to problems in the field, and to contribute to the social development, from local to global, using their awareness.</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="../images/genclik-calismalari-akademisi/genclik-calismalari-akademisi-2.jpg" class="img-fluid" alt="Çimenlik bir alanda çember şeklinde yere oturmuş gençler. Çembere dâhil olan genç kadınlardan biri ayaklı tahtanın başında, ayakta duruyor. Arka planda çocuk parkı ve tek katlı bir bina bulunuyor."></p>
            </div>

            <div class="col-12">
                <p>Having a rights-based approach is not all about knowing and using the rights granted by a social state, but also requires an understanding gained by looking at the matter from a broader perspective in multiple aspects. It is an understanding gained by internalizing the idea that one’s freedom to exercise their rights guarantees protecting others’ rights. The Toy Youth Association thinks that the non-formal training work in Turkey fails to address the rights-based perspective in a holistic manner. Those organizations working for youth are not there yet to improve their capacities. What about young people who are at the heart of the matter? It seems difficult for them in their limited time to keep track of non-formal training sessions provided by different civil society organizations with different themes and to benefit from all of them.</p>
                <p>Identifying this gap in the field encourages the Toy Youth Association to take the first step to establish the Youth Work Academy. The team embarks on a project to find solutions to the needs of young people with a training series that is planned in an innovative, systematic and well-coordinated manner. How to practice activism; how to encourage young people who are either volunteers or members of civil society organizations to get involved in all processes by being responsible; how to run an advocacy campaign to make sure those policies relevant to young people can be amended to benefit the youth; or where discovering human rights, time management or strategy development lies among all the other works. All these questions are answered under 14-title in four training camps. The Toy Youth team is confident that peers’ experience sharing and experimental learning techniques can adequately be implemented during these camps.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box yesil-box">“Spending days with a group of people each of whom expresses themselves in a different manner in a sincere environment was an inspiring experience for my self-expression,” says a participant and adds “We talked, told, listened and asked questions all the time.” Time literally flies for one who attends a training session of the Toy Youth Association.</p>
                <p class="content-box-alt">Eğitimlere Katılan Bir Gençlik Çalışanı</p>
            </div>

            <div class="col-12">
                <p>One needs to take the initiative and say “let’s go” for taking and implementing a decision during the group works. This allows some to notice their driving power and experience leadership while others have their share to listen to their peers’ entrepreneurship experience and plot new routes. Separate pieces of information gained at different times until they are combined to complement each other. In addition to youth work, young people who are active in various thematic areas of civil society, including children, refugees, health, gender, etc., introduce others to the terminology of these different areas and realize it is possible to make a deeper discovery in the field of youth by understanding the sensitivity and problems of different issues. </p>
                <p>Coming from all around Turkey, they meet in Eskişehir, and attentively put their learning into their baggage. The day they notice their ideas are treated with respect is valuable, and the moment when they know they do not only move together, but they also build something together.</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="../images/genclik-calismalari-akademisi/genclik-calismalari-akademisi-3.jpg" class="img-fluid" alt="Doğal taştan tarihi gibi görünen bir kalıntının basamaklarında oturmuş gençler gülümseyerek poz veriyorlar."></p>
            </div>

            <div class="col-12">
                <p>Furthermore, the Toy Youth team interview youth workers from different provinces under their ‘Research on Youth Workers’ Needs’ and analyze the needs in the youth work at regional and national levels. Data on the working conditions and motivations of youth workers and the problems they experience in the field is collected and made available to all stakeholders, especially to entities that work with young people.</p>
                <p>On the other hand, they create a ‘Visual Aid Box’ including the camera recordings of educational tools and methods used in youth work and make them available for use in the field.</p>
                <p>The Association now asks the young participants to do additional work back in their cities to turn all their learning from the training sessions into an experience so that their learning is not forgotten. To achieve this, the mentoring program, in which young leaders are paired with experienced youth workers in the field, helps the young participants feel the Academy’s support along the way. They keep on going as young people with full bags without losing the courage they get from their ‘naïve’ spirit, by treating their callow side with kid gloves.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box yesil-box">“It is still very uncertain which routes we will take as youth workers. Who knows where we will be, doing what, in five years from now! I believe that this academy will change and improve us further.”</p>
                <p class="content-box-alt">A Youth Worker who attended the Training</p>
            </div>

            <div class="col-12 my-5">
                <div id="genclikCalismalariAkademisiSlider">
                    <div>
                        <img src="../images/genclik-calismalari-akademisi/genclik-calismalari-akademisi-4.jpg" class="img-fluid" alt="Kapalı, aydınlık bir salonda bir grup genç ayakta sunum yapıyor. Gençlerden biri kartondan şapka, kolluk gibi parçalar içeren bir kostüm giymiş. Bir diğer genç onu işaret ederek bir şeyler anlatıyor.">
                    </div>
                    <div>
                        <img src="../images/genclik-calismalari-akademisi/genclik-calismalari-akademisi-5.jpg" class="img-fluid" alt="Kırsal bir arazide ayakta duran bir grup genç, ayakta sırtı kameraya dönük gömlekli bir erkeğin anlattıklarını dinliyorlar.">
                    </div>
                    <div>
                        <img src="../images/genclik-calismalari-akademisi/genclik-calismalari-akademisi-6.jpg" class="img-fluid" alt="Çimenlik, ağaçlıklı bir alanda kalabalık bir grup gencin toplu fotoğrafı. Grubun iki yanında Toy Gençlik Derneği logosunun bulunduğu ayaklı afişler yer alıyor. Gençlerin bir kısmı yerde oturuyor, büyük bir kısmı ise ayakta poz veriyor.">
                    </div>
                    <div>
                        <img src="../images/genclik-calismalari-akademisi/genclik-calismalari-akademisi-7.jpg" class="img-fluid" alt="Çimenlik bir alanda yerde oturmuş iki kadın bir erkek, ciddiyetle bakıyorlar.">
                    </div>
                    <div>
                        <img src="../images/genclik-calismalari-akademisi/genclik-calismalari-akademisi-8.jpg" class="img-fluid" alt="Kapalı, aydınlık bir salonda bir dört genç ayakta sunum yapıyor. Birinin elinde bulunan beyaz kâğıtta yaprak, koza, tırtıl ve kelebek aşamaları resimlenmiş.">
                    </div>
                    <div>
                        <img src="../images/genclik-calismalari-akademisi/genclik-calismalari-akademisi-9.jpg" class="img-fluid" alt="Kapalı, aydınlık bir salonda bir grup genç ayakta sunum yapıyor. Gençlerden biri kartondan şapka, kolluk gibi parçalar içeren bir kostüm giymiş. Bir diğer genç onu işaret ederek bir şeyler anlatıyor.">
                    </div>
                    <div>
                        <img src="../images/genclik-calismalari-akademisi/genclik-calismalari-akademisi-10.jpg" class="img-fluid" alt="Çimenlik bir alanda çember şeklinde yere oturmuş gençler.">
                    </div>
                </div>
            </div>

            <div class="col-12 mb-5">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/4HTQQPvl1PY" title="Toy Youth Association | Youth Work Academy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>

</main>

{{/content}}
{{/extend}}