---
language: tr
title: Alerji İle Yaşam Akademisi
description: Herkes için sıradan görünen bir şeyi yapamadığınız oldu mu hiç? Pek çok kişinin rahatlıkla yiyebildiği bir yiyecek vücudunuza girdiğinde, sağlığınızı tehdit eden bir deri ya da sindirim hasarına yol açıyor mu örneğin? Ya da ilaç alerjisi yüzünden en basit hastalıklara karşı bile savunmasız hâle gelmiş birinin tedirginliğini hayal edebilir misiniz?
script: js/content/alerji-ile-yasam-akademisi.js
langlink: en/academy-on-living-with-allergy.hbs
bodyClass: engelli
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="alerji-ile-yasam-akademisi-back">
        <div class="container px-0">
            <img src="images/alerji-ile-yasam-akademisi/alerji-ile-yasam-akademisi-1.jpg" class="img-fluid" alt="Üç yetişkin kadın ve bir kız, bir oğlan çocuğu ayakta, gülümseyerek poz veriyor. Kadınlardan ikisinin üzerinde doktor önlüğü var.">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> engelli-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://facebook.com/alerjidernegi/ " target="_blank"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook linki</span></a>
                <a class="mx-1 color-icons" href="https://twitter.com/AlerjiDernegi " target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter linki</span></a>
                <a class="mx-1 color-icons" href="https://instagram.com/alerjiileyasamdernegi" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram linki</span></a>
                <a class="mx-1 color-icons" href="https://youtube.com/channel/UClimSU-7dFQF-JvOof7Xfbg" target="_blank"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube linki</span></a>
                <a class="mx-1 color-icons" href="http://alerjiakademisi.alerjidernegi.org.tr" target="_blank"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Websitesi linki</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-engelli text-center border-bottom-grade mb-3">ALERJİ İLE YAŞAM DERNEĞİ</h4>
                <h3 class="font-175 bold color-engelli text-center">ALERJİ İLE YAŞAM AKADEMİSİ</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-engelli mb-3">Aileler Güçlenirse Olur: Alerjik Çocuklar için Eşit Haklar</h6>
                <p>Herkes için sıradan görünen bir şeyi yapamadığınız oldu mu hiç? Pek çok kişinin rahatlıkla yiyebildiği bir yiyecek vücudunuza girdiğinde, sağlığınızı tehdit eden bir deri ya da sindirim hasarına yol açıyor mu örneğin? Ya da ilaç alerjisi yüzünden en basit hastalıklara karşı bile savunmasız hâle gelmiş birinin tedirginliğini hayal edebilir misiniz?</p>
                <p>Hayatımızda sahip olduğumuz tüm özellikler kimliğimizde yazmaz. Hem kendimizin hem de çevremizdekilerin ihtiyaçlarını fark etmekle ve gözetmekle sorumluyuz. Çünkü sağlıklı gelişimin herkes için eşit ve mümkün olduğu bir yaşamı ancak birlikte kurabiliriz.</p>
                <p>Alerji, çoğumuzun bildiğinin aksine basit kızarıklıklar veya hapşırmalardan ibaret değil. Kimi alerji çeşitleri hızlı müdahale edilmediği taktirde hastanın hayatını tehdit edebiliyor. Alerjik hastalıkları tamamen ortadan kaldıran bir tedavi ise henüz yok. Bu yüzden, hikâyemizin seyrini değiştiren şey erken tanıdan ve bilinçli olmaktan geçiyor. Bu da öncelikle çocukluk döneminde belirtilerin farkına varmak demek. Böylece, tedavi süreci gecikmeden başlayabiliyor.</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="images/alerji-ile-yasam-akademisi/alerji-ile-yasam-akademisi-2.jpg" class="img-fluid" alt="Gülümseyen bir kadın ve kucağında bir bebek var. Kadının elinde taşıdığı yuvarlak kartonda hapşıran bir çocuk ikonu var ve alerji bulaşıcı değildir yazıyor."></p>
            </div>

            <div class="col-12">
                <p>Ebeveynlerin hastalığı ve tedavi yollarını iyi bilmesi, çocuğun sağlıklı bir birey olarak büyümesine, okula devamsızlığın azalmasına, hastane yatışlarının ve hatta ölüm oranlarının düşmesine yardımcı oluyor. Çocuklar ise alerjinin hem fiziksel hem de psikolojik yüklerini sırtlandıkları bu süreçte en çok yanlarındaki yetişkinin güçlü olmasına ihtiyaç duyuyor. Peki, ziyaret ettiğiniz doktor ya da hemşirenin kısa süreli muayenelerde bilinç düzeyinizi bir anda değiştirmek gibi sihirli şeyler yapamayacağını hesaba katarsak bu nasıl mümkün olabilir? Örneğin, Türkiye’nin neresinde yaşarsa yaşasın, hangi ekonomik ve sosyal statüye sahip olursa olsun, her ailenin kolaylıkla ulaşabileceği bir eğitim platformu, sorunu çözer miydi?</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/alerji-ile-yasam-akademisi/alerji-ile-yasam-akademisi-3.jpg" class="img-fluid" alt="Yeşil bir duvar önünde sarı saçlı ve doktor önlüklü bir kadın var. Sırtı dönük, ayakta duran kameraman konuşmakta olan kadını kameraya çekiyor."></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/alerji-ile-yasam-akademisi/alerji-ile-yasam-akademisi-4.jpg" class="img-fluid" alt="Yeşil bir duvar önünde takım elbiseli, gözlüklü orta yaşlı bir erkek var. Vidyo çekimi için konuşuyor."></p>
            </div>
            <div class="col-12">
                <p class="my-4"><img src="images/alerji-ile-yasam-akademisi/alerji-ile-yasam-akademisi-10.jpg" class="img-fluid" alt="İki ayrı ekranda vidyo çekiminin ve vidyo kurgu işlemlerinin görüntüleri bulunuyor."></p>
            </div>

            <div class="col-12">
                <p>Alkışlar, 16 alerjik çocuğun ailelerinin bir araya gelerek kurduğu Alerji ile Yaşam Derneği’ne!</p>
                <p>Türkiye’de bir ilk olan dernek yola çıktığı günden bu yana, kamuoyuna, alerjik çocuklar için alınması gereken tedbirleri anlatma sorumluluğu ile durmaksızın çalışıyor. Şimdiye kadar 40 binin üzerinde aileye, alerji ile yaşamalarını kolaylaştırmak için kılavuzluk ettiler. Tecrübelerine göre, yüz yüze yapılan programlarla geniş kitlelere etkili şekilde ulaşabilmek zor. Bir kere, bu tür buluşmalara ancak büyükşehirde yaşayanlar katılabiliyor; öte yandan asıl ulaşılmak istenen grupların başında gelen hamile ve yeni doğum yapmış kadınlar fiziksel programlarda çok verimli şekilde bulunamayabiliyor. İsteyen herkesin, her yerden erişebileceği bir video kütüphanesi içeren Alerji ile Yaşam Akademisi platformunu oluşturmaya, işte böyle karar veriliyor. Platform, dünyanın içinden geçtiği COVID-19 salgını gibi zorlu ve hastaneye erişimin kısıtlı olduğu zamanlarda da güvenilir bir bilgi kaynağı olmasıyla ailelere destek oluyor.</p>
            </div>

            <div class="col-12 text-center my-4">
                <a href="https://alerjiakademisi.alerjidernegi.org.tr" target="_blank">
                    <img src="images/alerji-ile-yasam-akademisi/logo.png" class="img-fluid" alt="Alerji ile Yaşam Akademisi logosu">
                </a>
            </div>

            <div class="col-12">
                <p>Her şey, uzman hekimler, hemşireler, psikologlar, 20 farklı şehirden hasta temsilcileri ve hasta yakınlarıyla yapılan anketlerle başlıyor. Ailelerin en çok hangi konularda zorluk yaşadığıyla ilgili ipuçları, bu anketlerin sonuçlarında saklı. Sıra, ailelerin yönlendirmeleriyle belirlenen 50 başlık altındaki videoların çekilmesinde. Her videoda, Cerrahpaşa Tıp Fakültesi Çocuk Alerji ve İmmünoloji Bölümünden doktorlar, hemşireler, uzmanlar yer alarak merak edilen bilgileri paylaşıyor. Gıda içerik etiketleri bana ne söylüyor? Tedavi için verilen medikal cihazları nasıl kullanacağım, çocuğumla nasıl ilgileneceğim; ona diyetini nasıl yaptıracak, okulda arkadaşları arasında karşılaştığı ayrımcılıklarla baş etmesine nasıl destek olacağım?</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box turuncu-box">“Alerji ile Yaşam Akademisi, benim nefesim oldu,” diyor Antalyalı bir hasta yakını olan Sahabe Tan. “Altı yaşındaki alerjik oğlumu büyütürken yakın çevreme hastalığın ciddiyetini çok anlattım ve soluksuz kaldım, maalesef dikkate almadıklarını görüyordum. Artık sadece ailemi değil, çevremi de eğitebilecek bir platformumuz var!” sözleriyle platformun hayatını nasıl kolaylaştırdığını özetliyor.</p>
            </div>

            <div class="col-12">
                <p>Dernek, Alerji ile Yaşam Akademisi platformunu ziyaret edenleri bir test ile karşılıyor; bu testi henüz tanı almamış, fakat şüpheleri olan ailelerin çözmesi isteniyor. Konuya yabancı olanlar da böylece, bir sağlık kuruluşuna başvurmaları konusundaki uyarıyı vakitlice alarak harekete geçmiş oluyorlar. Çünkü başta da söylediğimiz gibi, erken teşhis tüm hikâyenin seyrini değiştiriyor. Platformda ailelerin öğrendiklerini sınamaları için tasarlamış bir test daha var. Testi başarıyla tamamlayanlara yönelik düzenlenen yeterlilik sertifikası ise hoş bir motivasyon kaynağı... Bu küçük ödül sayesinde, aileler kendilerini alerjinin yol açtığı zorluklarla mücadele ederken daha güçlü hissediyorlar. Ama asıl ödül, videolar aracılığıyla öğrendikleri ve çocuklarının yaşamını değiştirecek bilgiler...</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box turuncu-box">“Yaşadığımız şehirde tek bir çocuk alerji uzmanı bulunduğu için dilediğimiz her an doğru bilgiye erişmekte çok zorlanıyorduk. Bu Akademi bizim pusulamız gibi oldu. Tedavi konusunda yapmamız gerekenler bizim için çok daha netleşti.”</p>
                <p class="content-box-alt">Çimen Şeyhanoğulları - Diyarbakır</p>
            </div>

            <div class="col-12">
                <p>Bir başkasının yaşamında karşılaştığı zorlukları hayal edemeyebiliriz. Ev dışında yemek yemenin bir kişi için imkânsız olabileceğini, alerjisi olan çocukların okulda veya sosyal hayatta karşılaşabileceği zorlukların neler olduğunu bugüne kadar düşünmemiş olabilirsiniz. Ama artık böyle farklı yaşamsal ihtiyaçlara sahip çocukların varlığından haberdarsınız. Böylece, şu andan itibaren sağlıklı bir yaşamın herkes için eşit ve mümkün olduğu o dünyayı kurmaktaki sorumluluğumuz da eşit.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box turuncu-box">“Kızımın hastalığını hakkında internette araştırma yaparken karşıma dernek web sitesi çıktı. Akademi’den edindiğim bilgiler sayesinde doğru uzmana nereden ulaşabileceğimi öğrendim. İyi ki karşıma çıkmış, şimdi baş ucu kitabımız gibi oldu.”</p>
                <p class="content-box-alt">Ayşegül Çakmak - Trabzon</p>
            </div>

            <div class="col-12 my-5">
                <div id="alerjiIleYasamAkademisiSlider">
                    <div>
                        <img src="images/alerji-ile-yasam-akademisi/alerji-ile-yasam-akademisi-5.jpg" class="img-fluid" alt="Bir masa etrafında beş kadın iki erkek oturuyor. Arkadaki ekranda Alerji ile Yaşam Derneği logosu bulunuyor.">
                    </div>
                    <div>
                        <img src="images/alerji-ile-yasam-akademisi/alerji-ile-yasam-akademisi-6.jpg" class="img-fluid" alt="Dört kadın bir erkek, bir fuar standının önünde başlarında mezuniyet kepleri ile ayakta gülümseyerek poz veriyorlar.">
                    </div>
                    <div>
                        <img src="images/alerji-ile-yasam-akademisi/alerji-ile-yasam-akademisi-7.jpg" class="img-fluid" alt="Sarı saçlı, doktor önlüklü bir kadın yerde oturmuş oyuncak bebek üzerinde şırınga ile müdahale anını canlandırıyor. Fotoğrafın sol tarafında bu anı vidyoya alan bir kamera bulunuyor.">
                    </div>
                    <div>
                        <img src="images/alerji-ile-yasam-akademisi/alerji-ile-yasam-akademisi-8.jpg" class="img-fluid" alt="Beyaz önlüklü bir kol, lavaboda musluğun altında tıbbi bir cihazı tutuyor. Fotoğrafın sol tarafında bunu vidyoya çeken bir kamera bulunuyor.">
                    </div>
                    <div>
                        <img src="images/alerji-ile-yasam-akademisi/alerji-ile-yasam-akademisi-9.jpg" class="img-fluid" alt="Kadın ve erkeklerden oluşan kalabalık bir grup, büyük kahverengi bir kitaplığın önünde ayakta gülümseyerek poz veriyor.">
                    </div>
                </div>
            </div>

            <div class="col-12 mb-5">
                <p>Videonun erişilebilir versiyonu için <a href="https://youtu.be/VopY4xaMYkg" class="color-engelli" target="_blank">tıklayınız</a>.</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/wR-RWuIuHfs" title="Alerji ile Yaşam Derneği | Alerji ile Yaşam Akademisi" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>


</main>

{{/content}}
{{/extend}}