---
language: tr
title: Başkan'ın Mesajı
description:
script: js/content/baskanin-mesaji.js
---

{{#extend "base"}}
{{#content "main"}}

<div class="container">
    <p>Başkanın mesajı</p>
</div>

{{/content}}
{{/extend}}