---
language: tr
title: Başkan'ın Mesajı
description: Sabancı Vakfı olarak, “Bu topraklardan kazandıklarımızı bu toprakların insanlarıyla paylaşmak” ilkesiyle 46 yıldır hayırseverlik çalışmalarımızı sürdürüyoruz. Toplumsal gelişmeye katkıda bulunan aktörlerin başında gelen sivil toplum kuruluşlarını destekleme hedefiyle 13 yıl önce başladığımız Hibe Programları kapsamında bugüne kadar Türkiye’nin 76 ilinde 162 projeye hibe desteği vermenin memnuniyeti içindeyiz.
script: js/content/baskanin-mesaji.js
langlink: en/message-from-chair.hbs
---

{{#extend "base"}}
{{#content "main"}}

<main>
    <div class="container-fluid" id="baskanin-mesaji-back">
        <div class="container px-0">
            <img src="images/headers/Baskan-Mesaji.jpg" class="img-fluid" alt="Mavi bir gökyüzünde rengarenk uçurtmalar ve toprak bir arazide bu uçurtmaları uçuran onlarca yetişkin ve çocuk var. Fotoğrafın sağ tarafında, yakın planda bu uçurtmalardan birinin ipini tutan bir çocuk eli bulunuyor.">
        </div>
    </div>
    <div class="container my-4" id="main-content">
        {{> fontResizer}}
        <div class="row">
            <div class="col-sm-10 col-md-6 col-lg-4 mx-auto text-center">
                <img src="images/baskanin-mesaji-anasayfa.png" class="img-fluid my-3" alt="Güler Sabancı’nın portre fotoğrafı. Pembe bir ceket ve kemik çerçeveli gözlükleri ile gülümsüyor.">
            </div>
            <div class="col-12 text-center my-3">
                <h4 class="font-085 color-genc text-center border-bottom-grade mb-3">Güler&nbsp;Sabancı, Sabancı&nbsp;Vakfı Mütevelli&nbsp;Heyeti&nbsp;Başkanı</h4>
                <h3 class="font-175 bold color-genc text-center">BAŞKAN’IN MESAJI</h3>
            </div>
            <div class="col-md-10 mx-auto">
                <p>Sabancı Vakfı olarak, “Bu topraklardan kazandıklarımızı bu toprakların insanlarıyla paylaşmak” ilkesiyle 46 yıldır hayırseverlik çalışmalarımızı sürdürüyoruz. Toplumsal gelişmeye katkıda bulunan aktörlerin başında gelen sivil toplum kuruluşlarını destekleme hedefiyle 13 yıl önce başladığımız Hibe Programları kapsamında bugüne kadar Türkiye’nin 76 ilinde 162 projeye hibe desteği vermenin memnuniyeti içindeyiz.</p>
                <p>Vakıf olarak; kadın, genç ve engelli bireyleri odağına alan, pusulası eğitime, kültürel ve toplumsal gelişmeye katkı sağlamak olan çalışmalar sürdürüyoruz. Bu doğrultuda, sorunları yerinde tespit eden sivil toplum kuruluşlarına hibe desteği veriyor, ilham veren hikâyelerini görünür kılarak iyiliğin gücünü yaygınlaştırıyoruz.</p>
                <p>Bu sene ne yazık ki, etki alanı itibarıyla daha önce hiçbirimizin deneyimlemediği bir pandemi sürecinden geçiyoruz. Tüm dünyayı etkisi altına alan COVID-19 salgınının toplumsal sorunları derinleştirdiğini ve fırsat eşitsizliğini artırdığını üzüntüyle gözlemliyoruz. </p>
                <p>Bu olumsuz etkileri hibe desteği verdiğimiz Türkiye’nin önde gelen sivil toplum kuruluşlarıyla birlikte deneyimliyoruz. Hiç kuşkusuz dezavantajlı gruplar, bu sürecin de etkilerini daha yoğun yaşıyor, sonuçlarından daha fazla etkileniyor. </p>
                <p>Bu nedenle, salgın döneminde Hibe Programlarımız kapsamında “kaliteli eğitimin desteklenmesi”, “eğitime erişimin ve devamının sağlanması” ve “hak temelli yaygın eğitim çalışmalarının desteklenmesi” misyonundan hareketle eğitim alanında faaliyet gösteren projelere olan desteğimizi sürdürmenin ve sivil toplum kuruluşlarının bu zor dönemde ayakta kalabilmesine destek sunmanın her zamankinden önemli olduğunu düşünüyoruz.</p>
                <p>Bu yıl desteklediğimiz projelere baktığımızda, kadınların dayanışması, şiddete karşı korunması ve ekonomik anlamda güçlenmesi için çalışan, görme ve işitme engelli çocukların eğitimi için materyal geliştiren projelerin de dâhil olduğu eğitimde, iş yerinde, toplumsal alanda fırsat eşitliği ilkesiyle hareket eden önemli yerel aktörleri görüyoruz. İçinden geçtiğimiz bu zor dönemde, daha iyi bir toplum hayaliyle özveriyle çalışmayı sürdüren sivil toplum kuruluşlarının yanında yol almaktan büyük mutluluk duyuyoruz.</p>
                <p>Tüm bunlara ek olarak, üyesi olduğumuz Avrupa Vakıflar Merkezi ve Vakıflar Birliği’nin “güvene dayalı filantropi” temeline dayanan taahhütnamelerini Türkiye’den imzalayan ilk vakıf olduğumuzu da gururla paylaşmak istiyoruz. Taahhütname kapsamında, destek verdiğimiz sivil toplum kuruluşlarının COVID-19 salgınının yarattığı krizle baş edebilmelerini kolaylaştırmak, onların üzerindeki yükü hafifletebilmek ve var olan çalışmalarının devamlılığının sağlanması için Hibe Programları süreçlerimizde esneklikler gerçekleştirdik. Her zaman olduğu gibi bu dönemde de destek verdiğimiz tüm kurumlarla birlikte ve el ele yürümeye devam ediyoruz.</p>
                <p>Desteklediğimiz tüm projeler bizim için toprağa ekilen kıymetli birer tohum gibi... Bu tohumlar zaman içinde filizlenip büyüyor, dokundukları ve ilham verdikleri pek çok hayatla bütün bireylerin haklardan eşit yararlandığı bir toplum için çalışan büyük bir orman oluyorlar. Sabancı Vakfı olarak her Ekim Zamanı’nda, bir yıl boyunca desteklediğimiz ve filizlenmesine şahit olduğumuz bu ormanın büyümesine katkı sunmanın gururunu yaşıyoruz. </p>
                <p>Her yıl Ekim Zamanı’nda fark yaratan hikâyeleri görünür kılmak ve bu hikâyelerin daha çok insana ilham vermesi için bu kitabı, bu sene ilk defa online olarak da sizlerle buluşturuyoruz.</p>
                <p>Her daim umut tohumlarının filizlendiği bu topraklarda, birbirinden güç alan hikâyelerin çoğalması dileğiyle...</p>
            </div>
        </div>
    </div>
</main>

{{/content}}
{{/extend}}