---
language: tr
title: Başkan'ın Mesajı
description:
script: js/content/baskanin-mesaji.js
---

{{#extend "base"}}
{{#content "main"}}

<main>
    <div class="container">
        <p>Başkanın mesajı</p>
    </div>
</main>

{{/content}}
{{/extend}}