---
language: tr
title: Başkan'ın Mesajı
description: Sabancı Vakfı olarak, “Bu topraklardan kazandıklarımızı bu toprakların insanlarıyla paylaşmak” ilkesiyle 46 yıldır hayırseverlik çalışmalarımızı sürdürüyoruz. Toplumsal gelişmeye katkıda bulunan aktörlerin başında gelen sivil toplum kuruluşlarını destekleme hedefiyle 13 yıl önce başladığımız Hibe Programları kapsamında bugüne kadar Türkiye’nin 76 ilinde 162 projeye hibe desteği vermenin memnuniyeti içindeyiz.
script: js/content/baskanin-mesaji.js
langlink: en/message-from-chair.hbs
---

{{#extend "base"}}
{{#content "main"}}

<main>
    <div class="container-fluid" id="baskanin-mesaji-back">
        <div class="container px-0">
            <img src="images/headers/Baskan-Mesaji.jpg" class="img-fluid" alt="">
        </div>
    </div>
    <div class="container my-4" id="main-content">
        {{> fontResizer}}
        <div class="row">
            <div class="col-sm-10 col-md-6 col-lg-4 mx-auto text-center">
                <img src="images/baskanin-mesaji-anasayfa.png" class="img-fluid my-3" alt="Güler Sabancı’nın portre fotoğrafı. Pembe bir ceket ve kemik çerçeveli gözlükleri ile gülümsüyor.">
            </div>
            <div class="col-12 text-center my-3">
                <h4 class="font-085 color-genc text-center border-bottom-grade mb-3">Güler&nbsp;Sabancı, Sabancı&nbsp;Vakfı Mütevelli&nbsp;Heyeti&nbsp;Başkanı</h4>
                <h3 class="font-175 bold color-genc text-center">BAŞKAN’IN MESAJI</h3>
            </div>
            <div class="col-md-10 mx-auto">
                <p>Sabancı Vakfı olarak, 47 yıldır “Bu topraklardan kazandıklarımızı bu toprakların insanlarıyla paylaşmak” ilkesiyle, bütün bireylerin haklardan eşit yararlandığı bir toplum hayaliyle çalışıyoruz. Eğitim, kültür ve toplumsal gelişmeye katkıda bulunurken kadın, genç ve engelli bireylerin eşit fırsatlara sahip olmaları ve topluma aktif katılımlarını sağlama hedefiyle, bu alanda emek veren sivil toplum kuruluşlarına hibe desteği veriyoruz. </p>
                <p>Sivil toplum kuruluşlarının; bireylerin haklardan eşit yararlandığı bir toplumun önündeki engellere çözüm üretme ve kamuya örnek olacak modeller geliştirme potansiyeli olduğuna gönülden inanıyoruz. Ve ne mutlu ki, bu inançla attığımız her adımda yüzlerce sivil toplum kuruluşu bize eşlik etti.</p>
                <p>15 yıl, 76 il, 183 proje, 32 milyon TL destek… Dile kolay, tüm bu sayılar, Sabancı Vakfı olarak 2007 yılında hayata geçirdiğimiz Hibe Programları’na verilen emeğin özeti. Türkiye’de sivil topluma kesintisiz hibe desteği sağlayan tek vakıf olmanın gururuyla birlikte 15. yılımızda böylesi rakamlara ulaşarak yüz binlerce insana dokunup destek olabilmenin mutluluğunu yaşıyoruz. </p>
                <p>Hibe desteği verdiğimiz sivil toplum kuruluşları da bu süreçte bizimle birlikte deneyimlerini artırdı, etki alanlarını güçlendirdi. Kimi kurum Hibe Programları kapsamında ilk bütçeli projesini yürütme deneyimini elde ederken; kimi de hem kamu kurumları hem de ulusal ve uluslararası örgütlerin güvenip fikir danışmaya başladığı uzmanlar olarak anılmaya başlandı. Kimi projeler bir mahallede başlayıp önce Türkiye’ye ardından dünyaya yayılabilecek modeller geliştirdi. </p>
                <p>Çıktığımız bu yolda 15. yılımızı böylesi sonuçlarla, insanların hayatlarında fark yarattığımızı bilerek geride bırakmak bizim için büyük mutluluk. Tüm bunlar, bize sonraki 15 yıllar için daha çok çalışmak, daha fazla insanın hayatına değer katmak ve bu etkiyi büyütmek için oldukça büyük bir motivasyon ve güç veriyor. </p>
                <p>Bu yıl da birbirinden kıymetli sekiz projeye destek verdik. İçlerinde kadın dayanışmasına öncülük eden, kadınların toplumsal cinsiyet eşitliği ve hakları konusunda farkındalıklarının artmasına ve iş hayatında eşit koşullarda var olabilmelerine destek olan, özel gereksinimli çocukların daha kaliteli bir eğitim almaları ve ebeveynlerinin de yaşadıkları güçlüklerle baş edebilmesi için dayanışma ağları kuran projeler görüyoruz.</p>
                <p>15 yıl önce büyük bir inanç ve kararlılıkla başlattığımız bu uzun soluklu serüvende desteklediğimiz projeler özverili çalışmalara imza attı, bu ülkeye tohumlar ekti. Tohumların bir kısmının yıllar sonra filizlenecek olduğunu, bu alanın ince ince işlenen bir sabır işi olduğunu bilerek yola çıkmıştık. Geriye dönüp baktığımızda geçen 15 yılda ekilen binlerce tohumun filizlenip serpildiğini görmenin haklı gururu ve artan sorumluluklarımızın farkındalığı ile daha çok çalışmaya, üretmeye devam edeceğiz.</p>
                <p>Ekim Zamanı’nın, geçmiş tohumlardan ilham alan ve geleceğin umudunu taşıyarak güç veren 15. yıl özel kitabındaki öykülerin sizlerin de umudunu pekiştirmesi dileğiyle…</p>
            </div>
        </div>
    </div>
</main>

{{/content}}
{{/extend}}