---
language: tr
title: Başkan'ın Mesajı
description:
script: js/content/baskanin-mesaji.js
---

{{#extend "base"}}
{{#content "main"}}

<main>
    <div class="container-fluid" style="background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(images/baskanin-mesaji.jpg); background-position-x:right;background-position-y:top; background-repeat:no-repeat; background-size:cover;">
        <div class="container px-0">
            <img src="images/baskanin-mesaji.jpg" class="img-fluid" alt="Güler Sabancı">
        </div>
    </div>
    <div class="container my-4">
        <div class="row">
            <div class="col-12">
                <p>Sabancı Vakfı olarak, kurucumuz Hacı Ömer Sabancı’nın “Bu topraklardan kazandıklarımızı bu toprakların insanlarıyla paylaşmak” ilkesiyle 45 yıldır hayırseverlik çalışmalarımızı sürdürüyoruz. Vakfımızın ana hedefi olan eğitime, kültürel ve toplumsal gelişmeye katkıda bulunma misyonundan hareketle, 12 yıl önce başladığımız Hibe Programları’yla bugüne kadar Türkiye’nin 74 ilinde 148 projeye hibe desteği vermenin mutluluğu içerisindeyiz.</p>
                <p>Vakıf olarak gerçekleştirdiğimiz tüm çalışmalarda toplumda fırsat eşitliği sağlama hayali kuruyor ve odağımıza kadın, genç ve engelli bireyleri alıyoruz. Bu kapsamda, sorunları yerinde tespit eden sivil toplum kuruluşlarına hibe desteği sunuyor ve onlarla birlikte çalışarak çözümün bir parçası oluyoruz.</p>
                <p>Türkiye’de Hibe Programları’nı uygulayan ilk vakıf olarak, sivil toplumun dönüşümüne ve köklenip güçlenmesine destek olmanın heyecanını ilk günden beri yaşıyoruz. Hibe Programları ile dokunduğumuz her insanın, aynı zamanda toplumumuzun gelişmesi için gereken değişim hareketinin de bir elçisi olduğuna inanıyoruz.</p>
                <p>Ekim Zamanı ise bizlere her yıl Hibe Programları ile ektiğimiz tohumların meyvelerini verdiğini müjdeliyor, iyiliğin desteklendikçe büyüyerek başkalarına da ilham verdiğini bir kez daha gösteriyor.</p>
                <p>2018-2019 hibe döneminde ağırlıklı olarak; toplumsal gelişmenin sağlanmasında önemli rol üstlenen eğitimcilere yönelik projeleri destekledik. “Kaliteli eğitimin desteklenmesi”, “eğitime erişimin ve devamın sağlanması” ve “hak temelli yaygın eğitim çalışmalarının desteklenmesi” odaklandığımız alanlar arasında yer alıyor.</p>
                <p>Bir yıl boyunca desteklediğimiz projelerle, eğitimde engelli ayrımcılığıyla mücadele etmeye, kadına yönelik şiddeti ve erken yaşta evlilikleri önlemeye, gençleri teknoloji ile güçlendirmeye, katılımcı ve barışçıl eğitim ortamları kurmaya çalıştık.</p>
                <p>Bu sene Ekim Zamanı’nda birbirinden değerli umut hikâyelerini sizlerle paylaşmak ve daha çok insana ulaşmak için bu kitabı hazırladık.</p>
                <p>İyiliğin gücüne inanan ve insan sevgisine gönül verenlerin hepimize ilham olduğu, umut dolu yarınlar dileğiyle...</p>
                <p>GÜLER SABANCI<br>Sabancı Vakfı<br>Mütevelli Heyeti Başkanı</p>
            </div>
        </div>
    </div>
</main>

{{/content}}
{{/extend}}