---
language: tr
title: Çocuklar İçin Önce Öğretmen
description:
script: js/content/cocuklar-icin-once-ogretmen.js
langlink: en/teachers-first-for-children.hbs
bodyClass: genc
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="cocuklar-icin-once-ogretmen-back">
        <div class="container px-0">
            <img src="images/cocuklar-icin-once-ogretmen/cocuklar-icin-once-ogretmen-1.jpg" class="img-fluid" alt="BAŞKA BİR OKUL MÜMKÜN DERNEĞİ">
        </div>
    </div>

    <div class="container my-4">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> genc-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://facebook.com/baskabirokulmumkundernegi" target="_blank"><i class="fab fa-14x fa-facebook-f"></i></a>
                <a class="mx-1 color-icons" href="https://twitter.com/BBOMDernegi" target="_blank"><i class="fab fa-14x fa-twitter"></i></a>
                <a class="mx-1 color-icons" href="https://instagram.com/baskabirokulmumkun" target="_blank"><i class="fab fa-14x fa-instagram"></i></a>
                <a class="mx-1 color-icons" href="https://youtube.com/user/baskabirokulmumkun" target="_blank"><i class="fab fa-14x fa-youtube"></i></a>
                <a class="mx-1 color-icons" href="http://baskabirokulmumkun.net" target="_blank"><i class="fas fa-14x fa-link"></i></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-genc text-center border-bottom-grade mb-3">BAŞKA BİR OKUL MÜMKÜN DERNEĞİ</h4>
                <h3 class="font-175 bold color-genc text-center">ÇOCUKLAR İÇİN ÖNCE ÖĞRETMEN</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-genc mb-3">Bir Öğrenme Yolculuğu: Alışılmışın Dışında, ‘Çember’in İçinde</h6>
                <p>Hayat, çocukluğumuzdan itibaren dünyayı anlamanın peşinde koştuğumuz bir öğrenme yolculuğu. Uzun vakitler geçirdiğimiz okul sıralarında ise hepimizi bu anlamın peşinde koşarken desteklemek üzere hazırlanan birçok ders var. Mesela biyoloji... Dersin esas amacı, çocukların hem kendilerini hem yaşadıkları dünyayı hem de kocaman yeryüzünün içinde yaşayan tüm canlıları tanımaları. Ama insanı, doğayı, evreni tanımak için hücreleri, organları, vücudun sistemlerini, yani biyoloji dersinin temellerinden ötesini bilmek gerekmez mi?</p>
                <p>Bir çocuğun kendini ve dünyayı tanıması için duygularını keşfetmesi, anlamlandırması ve başkalarıyla düşünsel bağlantı kurması gerekir. Bunun için gerekli verileri tahtaya yazmak ne yazık ki mümkün değil. Belki de bunlar öğretilebilir olgular bile değil; aksine deneyimleyerek kazanılan beceriler. Bunun içinse çocuklara yol gösterici olmak; aslında sadece onları dinlemek, seslerini duymak, anlamak ve görüşlerini paylaşmaları için uygun alanlar açmak yeterli.</p>
                <p>Bu noktada, katılımcı ve barışçıl öğrenme topluluklarının yaygınlaşmasını amaçlayan Başka Bir Okul Mümkün Derneği (BBOM), çocukların sosyal ve duygusal gelişimlerini destekleyen, katılımlarını artıran bir eğitim ortamını mümkün kılabilmek için, öğretmenlerle birlikte yepyeni bir model oluşturmaya çalışıyor. Dernek bu kapsamda öğrenme için gerekli olan güvenli alanın oluşmasına yardımcı olacak materyaller üretiyor, katılım mekanizmaları geliştiriyor ve öğretmenlerin bu araçları kullanma konusunda bilgi ve becerilerini destekliyor.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/cocuklar-icin-once-ogretmen/cocuklar-icin-once-ogretmen-2.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/cocuklar-icin-once-ogretmen/cocuklar-icin-once-ogretmen-3.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>BBOM, bu amaç ile 2015’ten bu yana Türkiye’nin her yerinden yüzlerce öğretmene yönelik çocuk hakları, demokratik okul, katılımcı karar alma yöntemleri gibi birçok konuyu içeren Başlangıç Programı’nı uyguluyor. Programa katılan tüm öğretmenleri, Öğretmen Köyü adı verilen topluluğun parçası hâline geliyor ve sonrasında tüm ‘Köylüler’, birbirlerinden öğrenmeye ve çocukları merkeze alan, daha demokratik bir okul hayalini gerçekleştirme yolunda birlikte üretmeye başlıyor.</p>
                <p>BBOM’un 2019 yılında Muğla İl Millî Eğitim Müdürlüğünün desteği ile Köyceğiz’de başlattığı pilot çalışma ise, Öğretmen Köyü’nde hız kazanan bu değişimi sürdürülebilir kılmanın ilk ve en önemli adımı. İlk kez Türkiye’nin farklı yerlerinden başvuran öğretmenler yerine, aynı bölgede ve hatta aynı okulda çalışan öğretmenler Başlangıç Programı’na birlikte katılıyor, böylece sağlanan dönüşümün tüm okul iklimine nasıl sirayet edeceğini gözlemlemek ve bu dönüşümü farklı bölgelere yaygınlaştırmak için ilk adımları atmak mümkün oluyor.</p>
            </div>

            <div class="col-12">
                <p>Çocuklar için Önce Öğretmen projesine katılan öğretmenler, çocukların kendi öğrenme yolculuklarının sorumluluğunu alan aktif bireyler olmaları konusunda kendi becerilerini geliştirmenin yanı sıra, birçok aracın oluşturulmasına da katkı sağlıyorlar.</p>
                <p>Projenin kalbinde ‘Çember’ uygulaması yer alıyor. Çember, sınıfta tüm bireylerin bir araya gelerek duygu, ihtiyaç ve görüşlerini paylaştığı, birbiriyle bağlantı kurduğu, sınırları onu oluşturan bireyler tarafından belirlenen güvenli bir ifade ve özgürlük alanı. Değişim, istemle gerçekleşir. Çember uygulamaları da bu yüzden gönüllülük esasına dayanıyor. Öğretmenin bu çemberde öğrencilerle eşit konumlanması, öğretmeni de öğrenciler kadar sosyal öğrenmeye dâhil ediyor. Sınıfın tümünün farklılıklarıyla birlikte çemberde eş değerli tutulması ve bu eşitliğin katılımcılar tarafından gözlemlenebilir olması; güvenli bir bölge yaratıyor, hem ‘ben’ hem ‘biz’ olmaya katkı sağlıyor. Birbirleriyle bağlantı kurdukları çemberleri ders rutininin bir parçası hâline getirmek, çocukların kendilerini ifade etmelerinde özgür davranabilmelerine yardımcı oluyor. Öğretmen için de öğrencilerini izlemeyi ve anlamayı kolaylaştıran bir şeffaflık yaratıyor.</p>
            </div>

            <div class="col-12">
                <p>Bu projede kullanılan yol gösterici aracın ismi ise ‘Sınıf Çemberi Öğretmen Kılavuzu’. Öğretmenin de öğrencinin de çember çalışmalarına hazırlanmalarını amaçlayan bu araç, Köyceğiz’deki beş okuldan 21 gönüllü öğretmenin katkılarıyla hazırlanıyor. Öğretmenlerin kılavuz aracılığıyla aldıkları yol, somut gözlemlerle haftalık ve aylık toplantılarla izleniyor, değerlendiriliyor ve geliştiriliyor.</p>
            </div>

            {{!-- <div class="col-12 text-center my-4">
                <a href="#" class="d-flex flex-column align-items-center text-decoration-none" target="_blank">
                    <img src="images/link.png" class="img-fluid" alt="">
                </a>
                <p class="bold mt-2">SINIF ÇEMBERİ ÖĞRETMEN KILAVUZU</p>
            </div> --}}

            <div class="col-12">
                <p>Çember uygulamalarının katkısı, çocukların dinleme, ifade ve anlaşmazlık çözme becerilerinin artması olarak gözlemleniyor. Sınıflarda birbirleriyle pek ilişkilenmeyen çocukların çemberde bağlantı kurmaya başlaması bile onlar üzerindeki dönüşümün çok güçlü bir yansıması. Öğretmenlerin kendi ifadeleriyle çember uygulaması “öfkesi azalan”, “duygu ifadesi artan”, “kendini ifade etme hâli artan” çocukların çoğalmasına destek oluyor. </p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box yesil-box">“Duygu ve düşüncelerimizi çemberde paylaşırız. Hafta sonu yaptıklarımızı paylaşırız. Bir olay olduğunda, onu paylaşırız. Daha sonra buna bir çözüm buluruz. Çember bize kendimizi daha iyi ifade etmeyi öğretti.”</p>
                <p class="content-box-alt">Çember Uygulamalarına Katılan Bir Öğrenci</p>
            </div>

            <div class="col-12">
                <p>Uygulama dâhilinde öğretmenlerin de gün geçtikçe bu konuya dair deneyim kazanması, haftalık akışlarını ihtiyaçlar doğrultusunda uyarlama becerilerinin artması ve etkinin çeşitlenmesine kapı aralıyor. Çember uygulamaları, öğretmenlerin kendilerini, sınıf içinde sahip oldukları sorumlulukları ve öğrencileriyle kurdukları ilişkinin yapısı üzerine düşünmeleri yolunda temel değişimi başlatıyor. Ama öğretmenlerdeki değişim bununla da sınırlı değil.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box yesil-box">“Daha severek yapıyorum mesleğimi; çünkü kendimi dinleyerek yapıyorum. Ben sakin olduğumda, sınıf iklimi bundan etkileniyor. Onlar da rahat oluyorlar, kendilerini daha rahat ifade edebiliyorlar. Birbirini anlamamaktan kaynaklı yaşadığımız problemler ortadan kalkıyor.”</p>
                <p class="content-box-alt">Proje Faaliyetlerine Katılan Bir Özel Eğitim Öğretmeni</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/cocuklar-icin-once-ogretmen/cocuklar-icin-once-ogretmen-8.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/cocuklar-icin-once-ogretmen/cocuklar-icin-once-ogretmen-9.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Köyceğiz’den projeye katılan öğretmenler, Öğretmen Köyü’nden gönüllülerle eşleşerek ‘Öğrenme Ortakları’ oluyorlar. Şiddetsiz iletişim araçlarına dayalı bu akran öğrenme modelinde öğretmenler, rutin buluşmalarla sınıflarında hayata geçirmek istedikleri katılımcı ve barışçıl öğrenme ortamını önce kendi akranlarıyla, güvenli bir ortamda deneyimleme imkânı buluyor; takıldıkları konuları birlikte sorguluyor ve birbirlerini destekliyorlar.</p>
                <p>Tüm bu çalışmaların belki de en güçlü yanı bu. Hayat, sınırsız bir öğrenme yolculuğu. Aralarındaki dayanışmayı büyüten öğretmenler, bu yolculuğu hem kendileri hem de çocuklar için benzersiz bir deneyime dönüştürüyorlar.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box yesil-box">“Çember çalışmasında herkes eşitlikçi. Daha önce ya sınıfa genel olarak hitap ediyorduk ya da bireysel çalışmalar yapıyorduk. Bu çember çalışmasında kimse bir şey konuşmasa bile herkes birbirini gördüğü için enerji olarak birbirini gözetmek durumunda. Çemberin fiziksel yapısı bile katkı sağlamaya yeterli. Ortak noktada buluşmayı hedefliyor, gerektiriyor. Yani merkezde buluşabiliyorsunuz.” </p>
                <p class="content-box-alt">Proje Faaliyetlerine Katılan Bir Sınıf Öğretmeni</p>
            </div>

            <div class="col-12 my-5">
                <div id="cocuklarIcinOnceOgretmenSlider">
                    <div>
                        <img src="images/cocuklar-icin-once-ogretmen/cocuklar-icin-once-ogretmen-4.jpg" class="img-fluid" alt="">
                    </div>
                    {{!-- <div>
                        <img src="images/cocuklar-icin-once-ogretmen/cocuklar-icin-once-ogretmen-5.jpg" class="img-fluid" alt="">
                    </div> --}}
                    <div>
                        <img src="images/cocuklar-icin-once-ogretmen/cocuklar-icin-once-ogretmen-6.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/cocuklar-icin-once-ogretmen/cocuklar-icin-once-ogretmen-7.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>

{{/content}}
{{/extend}}