---
language: tr
title: Çok Geç Olmadan - İstanbul
description:
script: js/content/cok-gec-olmadan-istanbul.js
langlink: en/before-its-too-late-istanbul.hbs
bodyClass: genc
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="cok-gec-olmadan-istanbul-back">
        <div class="container px-0">
            <img src="images/cok-gec-olmadan-istanbul/cok-gec-olmadan-istanbul-1.jpg" class="img-fluid" alt="NİRENGİ DERNEĞİ ">
        </div>
    </div>

    <div class="container my-4">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> genc-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://facebook.com/nirengidernegi" target="_blank"><i class="fab fa-14x fa-facebook-f"></i></a>
                <a class="mx-1 color-icons" href="https://twitter.com/NirengiDernegi" target="_blank"><i class="fab fa-14x fa-twitter"></i></a>
                <a class="mx-1 color-icons" href="https://instagram.com/nirengidernegi" target="_blank"><i class="fab fa-14x fa-instagram"></i></a>
                <a class="mx-1 color-icons" href="https://youtube.com/c/NirengiDernegi" target="_blank"><i class="fab fa-14x fa-youtube"></i></a>
                <a class="mx-1 color-icons" href="http://nirengidernegi.org/tr/calismalarimiz/cokgecolmadanistanbul" target="_blank"><i class="fas fa-14x fa-link"></i></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-genc text-center border-bottom-grade mb-3">NİRENGİ DERNEĞİ</h4>
                <h3 class="font-175 bold color-genc text-center">ÇOK GEÇ OLMADAN - İSTANBUL</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-genc mb-3">Herkesin Bir Hikâyesi Var...</h6>
                <p>Bir sınıfta olduğunuzu düşünün, etrafınız gençlerle, kendini yeni keşfeden, hayatla ilgili binbir sorusu olan çocuklarla dolu. Ve siz öğretmensiniz. Bir hikâyeniz var, inandığınız değerler var, ön yargılarınız var. Herkes gibi... Merhamet bile adaletin sık sık düşmanı olurken, tüm öğrenmişliklere ve yaşanmışlıklara rağmen, sınıfta doğru olanı nasıl bulacaksınız? Canı yanan çocuğu görüp, derdini dinleyip onu diğerlerinden ayrıştırmadan sorunu nasıl çözeceksiniz?</p>
                <p>Zor, değil mi? Türkiye’nin dört bir yanında bu zorluklarla baş etmeye çalışan öğretmenler var. Nirengi Derneği bu zorluklardan yola çıkarak bilgi ve tecrübesini, çocuğun üstün yararını merkeze alarak ve insan onurunun muhafazasını en büyük önceliği sayarak, öğretmenleri desteklemek için kullanıyor.</p>
                <p>Akran şiddeti, okulda veya evde istismar ve flört şiddeti çocukluk ve ergenlik yıllarında kişilik gelişimini en çok zedeleyen konular arasında yer alıyor. Çocuk ve ergenlere yönelik ihmal ve istismarın fark edilmesi ve tespit edildikten sonra nasıl müdahale edildiği ise bu duruma maruz kalan çocuğun gelecek yaşantısını derinden etkiliyor. Bu aşamalarda çocukların çevresindeki yetişkinlere, en çok da öğretmenlere rol düşüyor. Öte yandan yetişkinlerin böyle bir durumla nasıl sağlıklı baş edebileceği, hangi yolun izlenmesi gerektiği gibi konularda bilgi eksikliğinin mevcut olduğunu görüyoruz. Öğretmenler, mağdur çocuk ile görüşme, istismar şüphesi hâlinde vakanın nasıl ele alınacağı konularında büyük desteğe ihtiyaç duyuyor. </p>
                <p>Nirengi Derneği’nin çocuğu ve çocuk haklarını merkeze alarak, İstanbul’da başlattığı eğitim projesi ‘Çok Geç Olmadan - İstanbul!’ öğretmenlerin söz konusu soru işaretlerini aydınlığa kavuşturarak, insan onurunu koruyarak duruma müdahale etme ve yaşanan durumun çocukta ikincil travmalara sebep olmadan hızla adli makamlarla buluşması ve sağaltım süreçlerine aktarılması konularında rehber oluyor. </p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/cok-gec-olmadan-istanbul/cok-gec-olmadan-istanbul-5.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/cok-gec-olmadan-istanbul/cok-gec-olmadan-istanbul-6.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Dernek iki yıldır yürüttüğü bu çalışma kapsamında, İstanbul İl Millî Eğitim Müdürlüğü başta olmak üzere, İl Aile, Çalışma ve Sosyal Hizmetler Müdürlüğü, İl Emniyet Müdürlüğü, Sağlık Bakanlığına bağlı Çocuk İzleme Merkezleri ve Baro ile dirsek temasında çalışıyor. Bu kurumların katkıları ile hazırlanan ‘Okul Temelli Standart Operasyon Prosedürü’ akran zorbalığı, istismar ve flört şiddeti gibi konularda, tüm okulların aynı prosedürü uygulaması hedefiyle müdahale mekanizmalarını sistematik hâle getiriyor.</p>
                <p>Proje başladığından bu yana öğretmenlere, okul idarecilerine, velilere ve destek personeline verilen eğitimler de bu mekanizmanın hayata geçebilmesi için kritik bir destek sunuyor. “Akran zorbalığına nasıl müdahale ederim?”, “İstismara uğrayan bir çocuğu nasıl fark ederim?”, “Sorunları nasıl tespit ederim?”, “Çocuğun güvenini nasıl kazanırım?” ve en önemlisi “Çocuğa daha fazla zarar vermeden sorunu nasıl çözerim?” düzenlenen eğitimlerin temel aldığı sorulardan sadece birkaçı.</p>
                <p>Bu soruların yanıtları hayat boyu sürecek travmaları baştan giderebilmek için hayati öneme sahip. Çünkü zorbalığa veya istismara maruz kalan bir çocuk için güveneceği kişi çoğunlukla kendini en yakın hissettiği öğretmeni oluyor. Fakat derdini anlattığı zaman, beklentilerinin tamamen dışında bir tutumla karşılaşırsa, güven mekanizması ciddi bir şekilde hasar alabiliyor. İşte tam bu noktada, durumla nasıl baş edeceğini, nasıl tepkiler vereceğini ve hangi adımları atacağını bilen öğretmen, bütün bu sorunların çocuğun yüksek yararını gözeten biçimde ele alınması ve travmaya dönüşmemesi için önemli bir köprü oluyor. </p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box yesil-box">“Biz bile rehber öğretmen olarak bu risklerin ayrıntılarını bilmiyoruz. Aksiyon konusunda kararsız kalıyoruz ama Standart Operasyon Prosedürü ne yapacağımızı açıkça anlatıyor. Bütün öğretmenlerin bu eğitimi alması lazım.”</p>
                <p class="content-box-alt">Eğitimlere Katılan Bir Rehber Öğretmen</p>
            </div>

            <div class="col-12">
                <p>Nirengi Derneği bugüne kadar İstanbul’un dokuz ilçesinde 3.432 öğretmene bu eğitimi aktarmayı başardı. Eğitimleri daha fazla kişiye ulaştırmak ve yaygınlaşmayı sürekli kılabilmek için gönüllü olan 36 öğretmen ise eğitici eğitimine katıldı ve deneyimlerini kendi okullarındaki, bölgelerindeki meslektaşlarını eğitebilecek düzeye taşıdı. Eğitimleri tamamlayarak ‘eğitici’ öğretmen konumuna gelen öğretmenler, böylece çalıştıkları bölgede farklı bir okulda da bir istismar vakası ile karşılaşıldığında birer başvuru noktası olabilecek ve meslektaşlarına rehberlik yapabilecek. </p>
            </div>

            <div class="col-12">
                <p>COVID-19 salgını süresince de Dernek eğitimlere ara vermeyerek eğitim içeriğini çevrimiçi platforma taşıdı. Dijital dünyanın avantajlarıyla eğitim, 70 farklı ilden, 56 farklı branştan öğretmen, sosyal çalışmacı ve alan öğrencilerinin katılımı ile 482 katılımcıya ulaştırıldı. Ayrıca istismar ve flört şiddeti konularında hazırlanan bilgilendirici videolar bu konulardaki farkındalığın projenin sınırlarını aşmasına destek oldu.</p>
            </div>

            <div class="col-md-6 text-center my-4 video-button">
                <button type="button" class="d-flex flex-column align-items-center w-100" data-toggle="modal" data-target="#cocukIstismariModal">
                    <img src="images/cok-gec-olmadan-istanbul/cocuk-istismari-bilgilendirme-videosu-kapak.jpg" class="img-fluid border" alt="">
                </button>
                <p class="bold mt-2">ÇOCUK İSTİSMARI BİLGİLENDİRME VİDEOSU</p>
            </div>
            <div class="col-md-6 text-center my-4 video-button">
                <button type="button" class="d-flex flex-column align-items-center w-100" data-toggle="modal" data-target="#flortSiddetiModal">
                    <img src="images/cok-gec-olmadan-istanbul/flort-siddeti-bilgilendirme-videosu-kapak.jpg" class="img-fluid" alt="">
                </button>
                <p class="bold mt-2">FLÖRT ŞİDDETİ BİLGİLENDİRME VİDEOSU</p>
            </div>


            <!-- flortSiddetiModal -->
            <div class="modal fade" id="flortSiddetiModal" tabindex="-1" aria-labelledby="flortSiddetiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <video controls class="img-fluid" poster="images/cok-gec-olmadan-istanbul/flort-siddeti-bilgilendirme-videosu-kapak.jpg">
                                <source src="https://www.sabancivakfi.org/i/content/Flort_Siddeti.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>

            <!-- cocukIstismariModal -->
            <div class="modal fade" id="cocukIstismariModal" tabindex="-1" aria-labelledby="cocukIstismariModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <video controls class="img-fluid" poster="images/cok-gec-olmadan-istanbul/cocuk-istismari-bilgilendirme-videosu-kapak.jpg">
                                <source src="http://www.sabancivakfi.org/i/content/Cocuk_Istismari.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <p>Bir travmayı idrak etmek bazen yıllar sürebiliyor. Özellikle, etrafta güvenilecek insanlar ve etkili bir koruma sistemi yoksa, başına gelenden utanma ve dile getirdikten sonra yaşanacakların belirsizliğinden korkma görülebiliyor. Tekrarlanan sorgulamalar ve yaşanan stres, travmanın boyutunun katlanarak artmasına sebep olabiliyor. Nirengi Derneği, öğretmenlere flört şiddeti, akran zorbalığı ve istismar vakalarında, çocuğun yüksek yararına uygun şekilde adım adım izlenmesi gereken yolu aktararak hem öğretmenlerin hayatına hem de çocukların pozitif gelişimine büyük katkı sağlıyor.</p>
                <p>Herkesin bir hikâyesi, kendine ait değerleri var; bu yaşanmışlıklar doğru müdahale konusunda hepimizi zaman zaman yanıltabilir. Ancak, kriz anlarında doğru durum değerlendirmesi yapmayı sağlayacak destek mekanizmaları, tüm korkuları ve değer yargılarını bir kenara bırakmamız için en önemli araçlardan.</p>
            </div>

            <div class="col-md-8 mx-auto text-center my-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/CVhhvif1lQc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-12 my-5">
                <div id="cokGecOlmadanIstanbulSlider">
                    <div>
                        <img src="images/cok-gec-olmadan-istanbul/cok-gec-olmadan-istanbul-2.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/cok-gec-olmadan-istanbul/cok-gec-olmadan-istanbul-3.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/cok-gec-olmadan-istanbul/cok-gec-olmadan-istanbul-4.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/cok-gec-olmadan-istanbul/cok-gec-olmadan-istanbul-7.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/cok-gec-olmadan-istanbul/cok-gec-olmadan-istanbul-8.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/cok-gec-olmadan-istanbul/cok-gec-olmadan-istanbul-9.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/cok-gec-olmadan-istanbul/cok-gec-olmadan-istanbul-10.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>

{{/content}}
{{/extend}}