---
language: tr
title: Destek Ol Projesi
description:
script: js/content/destek-ol-projesi.js
langlink: en/*.hbs
bodyClass: engelli
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="destek-ol-projesi-back">
        <div class="container px-0">
            <img src="images/destek-ol-projesi/destek-ol-projesi-1.jpg" class="img-fluid" alt="">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> engelli-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://www.facebook.com/yegid33/" target="_blank"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook linki</span></a>
                <a class="mx-1 color-icons" href="https://twitter.com/yegid33" target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter linki</span></a>
                <a class="mx-1 color-icons" href="https://www.instagram.com/yegid33/" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram linki</span></a>
                {{!-- <a class="mx-1 color-icons" href="https://youtube.com/" target="_blank"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube linki</span></a> --}}
                <a class="mx-1 color-icons" href="https://www.yegid33.org/" target="_blank"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Websitesi linki</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-engelli text-center border-bottom-grade mb-3">YENİLİKÇİ GİRİŞİM DERNEĞİ (YEGİD)</h4>
                <h3 class="font-175 bold color-engelli text-center">DESTEK OL PROJESİ</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-engelli mb-0">Kaynaştırma Eğitimi İçin Kritik Mekânlar: Destek Eğitim Odaları</h6>
                <p class="mt-0">Eğitim, her çocuğun temel hakkı ve tüm çocukların farklılıklarıyla var olabildiği, haklarından eşit şekilde yararlanabildiği bir dünya için atılacak ilk adım eğitim ortamlarından başlıyor. Çünkü her çocuk özel ve birbirlerinden farklı ihtiyaçları var. Özellikle, özel gereksinimli öğrencilerin nitelikli eğitime eşit şekilde katılabilmesi için eğitim sistemini ve okulları, tüm farklılıkları barındırabilecek şekilde düzenlemek gerekiyor.</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="images/destek-ol-projesi/destek-ol-projesi-2.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Özel gereksinimli öğrencilerin akranlarıyla aynı eğitim ortamlarında eğitim alabilmelerini sağlayan ‘kaynaştırma eğitimi’, işte bunun için vazgeçilmez ilkelerden biri. Öte yandan kaynaştırma eğitimi, yalnızca özel gereksinimli öğrencilerin genel eğitim sınıflarına yerleştirilmesi anlamına gelmiyor. Kaynaştırma eğitiminin etkin şekilde hayata geçebilmesinin yolu hem genel eğitim sınıflarında eğitim gören özel gereksinimli öğrencilere hem de öğretmenlerine ek destek mekanizmaları sağlanmasından geçiyor. Bunun için en kritik alanlardan biri de 2015 yılında Millî Eğitim Bakanlığı tarafından okullarda açılması zorunlu hale getirilen destek eğitim odalarının hazırlanması ve etkin şekilde kullanımının sağlanması.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/destek-ol-projesi/destek-ol-projesi-3.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/destek-ol-projesi/destek-ol-projesi-4.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>2017 yılında Mersin’de kurulan Yenilikçi Girişim Derneği (YEGİD) eğitim alanında engelli bireylere yönelik yenilikçi fikirleri hayata geçirmek için çalışıyor. Özel eğitime ihtiyaç duyan öğrencilerin akranlarıyla uyum içinde eğitime devam etmesi hedefiyle yola çıkan dernek, Destek Ol projesinde kaynaştırma eğitimini nitelikli hale getirmeye katkı sağlayacak destek eğitim odalarının kullanımını iyileştirmeyi ve bu odalarda eğitim veren öğretmenleri Bireyselleştirilmiş Eğitim Programı (BEP) ve teknoloji destekli etkinlik hazırlama konusunda desteklemeyi hedefledi.</p>
            </div>

            <div class="col-12">
                <h6 class="bold color-engelli mb-0">Örnek Bir Destek Eğitim Odası</h6>
                <p class="mt-0">Millî Eğitim Bakanlığı tarafından her okulun imkânlarına göre belirleyeceği bir mekânı destek eğitimleri için kullanması öneriliyor. Bununla birlikte, etkin bir destek eğitim odasının nasıl tasarlanması ve içinde ne tür malzemeler bulunması gerektiğine dair de öneriler sunuluyor. Yine de, okullarda açılan destek eğitim odaları sayısının azlığı ve var olan destek eğitim odalarının Millî Eğitim Bakanlığınca oluşturulan standartlara göre çok çeşitlilik göstermesi üzerine YEGİD, örnek bir destek eğitim odası modeli oluşturmayı ve bu modeli yaygınlaştırmayı amaçladı.</p>
                <p>İnovatif ve Girişimci Toplum Derneği, Erdemli İlçe Eğitim Müdürlüğü ve Erdemli Rehberlik ve Araştırma Merkezi ortaklığında gerçekleşen proje kapsamında, ilk olarak uzmanların katılımıyla çalıştaylar düzenlendi, ihtiyaçlar ve öncelikler belirlendi. Ardından örnek bir destek eğitim odası tasarlanmaya başlandı. YEGİD, bu önerilerden ve düzenlediği çalıştaylardan çıkan sonuçlardan yola çıkarak örnek bir destek eğitim odasını Erdemli ilçesindeki bir ortaokulda oluşturdu. </p>
                <p>Diğer yandan destek eğitim odasının mekânsal olarak hazırlanması, tek başına yeterli değil. Bu odanın kullanımını sağlamak için öğretmenlerin meslekî gelişimlerini de desteklemek gerekiyor. </p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/destek-ol-projesi/destek-ol-projesi-5.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/destek-ol-projesi/destek-ol-projesi-6.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Bunun için proje kapsamında her okul türünden ve her branştan öğretmenin hem teknolojiyi kullanarak etkinlikler tasarlamak konusunda hem de destek eğitim odalarında yapılacak eğitimlerde kullanılacak BEP konularında bilgi ve becerilerini artırmak amacıyla eğitim programları oluşturuldu.</p>
                <p>Mersin’de görev yapan 100’den fazla öğretmenin katıldığı bu eğitimlerin ardından YEGİD, öğretmenlerin uygulama sonrası bilgilendirmelerine göre projeyi geliştirme ve yaygınlaştırma çalışmalarına devam ediyor.</p>
                <p>Destek Ol projesi, bir ilçede başlayıp tüm ülkeye yayılabilecek yenilikçi ve taptaze fırsat eşitliği fikirleri sunuyor. İçeriğindeki örnek modeller ve teknoloji ile hazırlanan programlar tüm çocuklar için okul hayatlarını, fırsat eşitliğinin sağlandığı ve hakları olan eğitime erişebildikleri bir yolculuğa dönüştürmek için büyük bir umut taşıyor.</p>
            </div>

            <div class="col-12 my-5">
                <div id="destekOlProjesiSlider">
                    <div>
                        <img src="images/destek-ol-projesi/destek-ol-projesi-7.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/destek-ol-projesi/destek-ol-projesi-8.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/destek-ol-projesi/destek-ol-projesi-9.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-12 mb-5">
                {{!-- <p>Videonun erişilebilir versiyonu için <a href="https://youtu.be/" class="color-kadin" target="_blank">tıklayınız</a>.</p> --}}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/9K1a5aLne6Y" title="Ekim Zamanı Online Buluşma Zamanı | Yenilikçi Girişim Derneği" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>

</main>

{{/content}}
{{/extend}}