---
language: tr
title: Dokunsal Öğrenme ve Değerlendirme
description: Kendimizi ve bizi çevreleyen dış dünyayı anlayabilmemiz için duyularımızı kullanırız. Bu keşif sürecinde her duyunun ayrı bir katkısı vardır. Gördüğümüz bir nesneye dokunduğumuzda veya duyduğumuz bir sesin kaynağına dönüp baktığımızda, hakkında edindiğimiz bilgiler birbirini tamamlar. Peki, doğuştan görme engelli bir kişinin hayatı nasıl deneyimlediğini, ihtiyaçlarını veya karşılaştığı zorlukları anlamak için engelsiz bireyler tarafından düzenlenen empati çalışmalarına hiç rastladınız mı? Gözlerini bir kuşakla kapatmış gören bireyler, bir saatliğine gözleri kapalı olduğunda gerçekten görme engelli bir kişinin deneyimini yaşayabilir mi?
script: js/content/dokunsal-ogrenme.js
langlink: en/tactile-learning-evaluation.hbs
bodyClass: engelli
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="dokunsal-ogrenme-back">
        <div class="container px-0">
            <img src="images/dokunsal-ogrenme/dokunsal-ogrenme-1.jpg" class="img-fluid" alt="">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> engelli-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://www.facebook.com/AltiNoktaKorlerVakfi/" target="_blank"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook linki</span></a>
                <a class="mx-1 color-icons" href="https://twitter.com/6noktakorler" target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter linki</span></a>
                <a class="mx-1 color-icons" href="https://www.instagram.com/altinoktakorlervakfi/" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram linki</span></a>
                <a class="mx-1 color-icons" href="https://www.youtube.com/user/ALTINOKTA" target="_blank"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube linki</span></a>
                <a class="mx-1 color-icons" href="https://www.6nokta.org.tr/" target="_blank"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Websitesi linki</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-engelli text-center border-bottom-grade mb-3">ALTI NOKTA KÖRLER VAKFI</h4>
                <h3 class="font-175 bold color-engelli text-center">DOKUNSAL ÖĞRENME VE DEĞERLENDİRME</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-engelli mb-0">Farklılıklara Saygılı Eşit Bir Eğitim İçin</h6>
                <p class="mt-0">Kendimizi ve bizi çevreleyen dış dünyayı anlayabilmemiz için duyularımızı kullanırız. Bu keşif sürecinde her duyunun ayrı bir katkısı vardır. Gördüğümüz bir nesneye dokunduğumuzda veya duyduğumuz bir sesin kaynağına dönüp baktığımızda, hakkında edindiğimiz bilgiler birbirini tamamlar. Peki, doğuştan görme engelli bir kişinin hayatı nasıl deneyimlediğini, ihtiyaçlarını veya karşılaştığı zorlukları anlamak için engelsiz bireyler tarafından düzenlenen empati çalışmalarına hiç rastladınız mı? Gözlerini bir kuşakla kapatmış gören bireyler, bir saatliğine gözleri kapalı olduğunda gerçekten görme engelli bir kişinin deneyimini yaşayabilir mi?</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="images/dokunsal-ogrenme/dokunsal-ogrenme-2.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Bu soruya evet yanıtını vermek imkânsız. Hayatı görerek yaşamaya alışmış bir kişi için bir saatlik karanlıkta kalma deneyimi sırasıyla önce korkutucu, ardından görebildiğine şükretme ve en sonunda görme engelli bireylere acıma gibi duygulara yol açabilir. Öte yandan görmeyen bireyler hayatı zannedildiğinden farklı deneyimliyor. Örneğin dokunma duyusu görme engelli bireyler için temel öğrenme araçlarından biridir ve bu duyularını gören bireylerden daha etkin şekilde kullanabilirler. </p>
                <p>Görme engelli bireylerde dokunma duyusunu etkili şekilde kullanabilme becerisini geliştirmeye yönelik, özellikle erken yaşlardan itibaren yapılacak tüm çalışmalar, bireylerin toplumsal hayatın her alanına dâhil olabilme sürecini kolaylaştırır, akademik başarısını artırır ve hatta meslek seçimlerinin çeşitlenmesini sağlayabilir.</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="images/dokunsal-ogrenme/dokunsal-ogrenme-3.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p class="bold color-engelli mb-0">Dokunsal Öğrenmeyi Geliştirmek Nasıl Mümkün Olur? </p>
                <p class="mt-0">1972 yılından beri görme engelli bireyler ile çalışan Altı Nokta Körler Vakfı da dokunsal öğrenme becerilerinin geliştirilmesi amacıyla Parıltı Görmeyen Çocuklara Destek Derneği ve Engelsiz Erişim Derneği ile bir araya gelerek Dokunsal Öğrenme ve Değerlendirme projesini başlattı. Dokunsal öğrenmenin eğitim sisteminin kalıcı bir parçası hâline gelmesini de hedefleyen bu proje sayesinde tüm görme engelli çocukların hem eğitime olan erişiminin yaygınlaşması hem de eğitim deneyimlerinin olumlu yönde gelişmesi bekleniyor.</p>
            </div>

            <div class="col-12 col-xl-8 mx-auto text-center">
                <div class="content-box turuncu-box">
                    <p class="mt-2">“Bir nesneyi görenler, gördükleri zaman bir harita oluşturabiliyorlar, nesne hakkında bir fikir sahibi olabiliyorlar. Ama ben görmediğim için bunu dokunarak yapıyorum.” </p>
                    <p class="bold mb-1">Eğitimlere katılan bir öğrenci</p>
                </div>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/dokunsal-ogrenme/dokunsal-ogrenme-4.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/dokunsal-ogrenme/dokunsal-ogrenme-5.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Proje kapsamında ilk olarak, alanda uzman kişileri bir araya getiren bir ortak akıl toplantısı düzenlendi. Bu konuda çalışan akademisyenlerin katılımı ile gerçekleştirilen toplantıda elde edilen bilgiler ışığında eğitim programı ve eğitim programı sırasında kullanılacak üç boyutlu materyaller ve dokunsal çizimler tasarlandı. Buna ek olarak çocukların dokunsal öğrenme becerilerini ve eğitimler sonrasındaki gelişimlerini takip edebilmek için bir ölçme aracı geliştirildi.</p>
                <p>Uygulama aşamasına geçildiğinde çocuklar ilk olarak gerçek nesneleri, sonrasında ahşap, alüminyum, dakota ve pleksiglas gibi farklı malzemelerle üretilen nesneleri dokunarak incelediler. Yapılan yönlendirmelerle, bu nesneleri şekil ve malzemelerine göre ayırt etmeyi öğrendiler. Bununla birlikte parça-bütün ilişkisi üzerine çalışan çocuklar, artık tanıdıkları bu üç boyutlu nesnelerin iki boyutlu hallerini ve dokunsal çizimlerini de tanıyabilmeye başladılar. </p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/dokunsal-ogrenme/dokunsal-ogrenme-6.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/dokunsal-ogrenme/dokunsal-ogrenme-7.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Öğrencilerin hem eğlendikleri hem de dokunsal öğrenme becerileri geliştirdikleri eğitimler sırasında yapılan gözlemler ve çocuklardan alınan geri bildirimlerle eğitim programı ve materyallerinin güncellenmesine devam ediliyor. </p>
                <p>Projenin sıradaki hedefi, dokunsal öğrenme eğitim programının akademik eğitim müfredatında yer almasını sağlayarak yaygınlaştırmak; bu sayede görme engelli çocukların eğitim hayatlarını farklı alanlarda sürdürebilmelerine olanak sağlamak. </p>
                <p>Eğitimlere katılan çocuklardan birinin söylediği gibi “Bütün geometrik şekiller nasıl farklıysa, insanlar da o şekilde birbirinden farklı”. Ve eğitime erişim tüm çocukların eşit hakkı.</p>
            </div>

            <div class="col-12 col-xl-8 mx-auto text-center">
                <div class="content-box turuncu-box">
                    <p class="mt-2">“Mesela [küpün iki boyutlu] açılımını ilk öğrendiğimde şaşırdım. Çünkü bambaşka bir şekil çıkıyor içinden.” </p>
                    <p class="bold mb-1">Eğitimlere katılan bir öğrenci</p>
                </div>
            </div>

            <div class="col-12 my-5">
                <div id="dokunsalOgrenmeSlider">
                    <div>
                        <img src="images/dokunsal-ogrenme/dokunsal-ogrenme-8.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/dokunsal-ogrenme/dokunsal-ogrenme-9.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/dokunsal-ogrenme/dokunsal-ogrenme-10.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/dokunsal-ogrenme/dokunsal-ogrenme-11.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/dokunsal-ogrenme/dokunsal-ogrenme-12.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/dokunsal-ogrenme/dokunsal-ogrenme-13.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-12 mb-5">
                {{!-- <p>Videonun erişilebilir versiyonu için <a href="https://youtu.be/" class="color-kadin" target="_blank">tıklayınız</a>.</p> --}}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/bTjbpg9Qw4o" title="Ekim Zamanı Online Buluşma Zamanı | Altı Nokta Körler Vakfı" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>


</main>

{{/content}}
{{/extend}}