---
language: tr
title: Eğitimde Engelli Hakları
description: İnsan ne kadar farklı hikâyeye tanıklık ederse o kadar çok farkındalığı gelişir. Farklılıkları tanımak ve onlardan öğrenmek de herkesin eşit haklara sahip olduğu bir dünyanın kapılarını açabilir. Bu noktada kapsayıcı eğitim, bireylere çeşitlilikle tanışmayı ve farklılıkları hayatına birer zenginlik olarak katması için gerekli becerileri sağlar.
script: js/content/egitimde-engelli-haklari.js
langlink: en/disability-rights-in-education.hbs
bodyClass: engelli
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="egitimde-engelli-haklari-back">
        <div class="container px-0">
            <img src="images/egitimde-engelli-haklari/egitimde-engelli-haklari-1.jpg" class="img-fluid" alt="Yüzleri görünmeyen bir grup kadın ve erkek, yumruk yapıp uzattıkları ellerini ortada birleştirmiş. Ellerinin altında yerde bazı kâğıtlar bulunuyor.">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> engelli-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://facebook.com/tohumotizm" target="_blank"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook linki</span></a>
                <a class="mx-1 color-icons" href="https://twitter.com/tohumotizm" target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter linki</span></a>
                <a class="mx-1 color-icons" href="https://instagram.com/tohumotizm" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram linki</span></a>
                <a class="mx-1 color-icons" href="https://youtube.com/user/TohumOtizmVakfi" target="_blank"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube linki</span></a>
                <a class="mx-1 color-icons" href="http://egitimdeengellihaklari.org" target="_blank"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Websitesi linki</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-engelli text-center border-bottom-grade mb-3">TOHUM OTİZM VAKFI &amp; İSTANBUL BİLGİ ÜNİVERSİTESİ SEÇBİR</h4>
                <h3 class="font-175 bold color-engelli text-center">EĞİTİMDE ENGELLİ HAKLARI:<br class="d-none d-sm-block"> OKULDA BİRLİKTE, HAYATTA BİRLİKTE</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-engelli mb-3">Farklılıklarla Birlikte Eşit Bir Dünya</h6>
                <p>İnsan ne kadar farklı hikâyeye tanıklık ederse o kadar çok farkındalığı gelişir. Farklılıkları tanımak ve onlardan öğrenmek de herkesin eşit haklara sahip olduğu bir dünyanın kapılarını açabilir. Bu noktada kapsayıcı eğitim, bireylere çeşitlilikle tanışmayı ve farklılıkları hayatına birer zenginlik olarak katması için gerekli becerileri sağlar.</p>
                <p>Tüm bireylerin nitelikli eğitim alma hakkı var. Buna rağmen maalesef bazı toplumsal gruplar eğitim hakkından eşit koşullarda yararlanamıyor. Engelli çocuklar işte bu gruplardan biri. Fiziksel eğitim mekânlarının ve ders materyallerinin erişilebilir olmaması, kalıpyargılar, öğretmenlerin engelli öğrencileri eğitim ortamına eşit dâhil edebilme konusunda yeterli bilgi, beceri ve kaynağa sahip olmaması gibi sorunlar çocukların nitelikli eğitime erişmesini zorlaştırıyor. Tam da bu sorundan yola çıkan Eğitimde Engelli Hakları: Okulda Birlikte, Hayatta Birlikte projesi, engelli çocukların okulda yaşadığı ayrımcılığı önlemeyi hedefliyor. Tohum Otizm Vakfı ve İstanbul Bilgi Üniversitesi Sosyoloji ve Eğitim Çalışmaları Merkezi (SEÇBİR) iş birliğinde yürütülen proje kapsamında üç yıldır düzenlenen eğitimler ve geliştirilen materyaller ile okul öncesi ve ilkokul öğretmenleri destekleniyor; çocukların farklılıkları zenginlik olarak benimsemeleri için içerikler geliştiriliyor.</p>
                <p>Kapsayıcı eğitim, yalnızca engelli öğrencilerin değil, tüm öğrencilerin farklı gereksinimlerine yanıt verebilme kapasitesini artırmayı amaçlıyor. Çünkü herkesin eğitimden eşit pay alabilmesi, ancak bu şekilde mümkün. Projenin ilk yılında kapsayıcı eğitim anlayışının yaygınlaşması için ihtiyaçlar analiz edildi. Bu ihtiyaçlardan hareketle bir eğitim programı geliştirildi ve öğretmenlerle paylaşıldı.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/egitimde-engelli-haklari/egitimde-engelli-haklari-4.jpg" class="img-fluid" alt="Kapalı bir toplantı odasında ellerindeki kitapçıklara bakan, sandalyelere oturmuş birkaç erkek var."></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/egitimde-engelli-haklari/egitimde-engelli-haklari-5.jpg" class="img-fluid" alt="Kapalı bir toplantı odasında ellerini iki yana açmış kır saçlı bir erkek ayakta duruyor. İki yanında bulunan insanlar yere çömelmiş gülümsüyor."></p>
            </div>

            <div class="col-12">
                <p>İkinci yılda engellilik odağında kapsayıcı eğitim yaklaşımını İstanbul’da iki ilkokulda yaygınlaştırmaya yönelik çalışmalar yapıldı, yaklaşımın hayata geçmesi için kilit role sahip olan öğretmenlerle buluşmalara devam edildi. Buluşmaların ardından öğretmenlerin öğrencilerle birlikte kapsayıcı eğitim yöntemlerini hayata geçirebilmesini desteklemek için sınıf içi etkinlikler, oyunlar, çalışma sayfaları ve bir animasyon film hazırlandı; bu içerikler yine öğretmenlerin katkıları ve geri bildirimleri ile son hâline getirildi.</p>
            </div>

            <div class="col-md-8 mx-auto text-center my-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/gkQmnWtze7Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-12">
                <p>Projenin üçüncü yılında ise pilot çalışmaların yürütüldüğü okullarda derinleşmeye devam edilirken, proje ekibi artık bu yaklaşımı ülke genelinde yaygınlaştırmaya hazırdı.</p>
                <p>Öğretmenlere yönelik eğitimler İstanbul’un yanı sıra Erzurum, Gaziantep ve İzmir’de, 17 ilden gönüllü olan ilkokul ve okul öncesi öğretmenleri ile gerçekleştirildi. Öğretmen Ağı, Öğretmen Akademisi Vakfı ve İl Milli Eğitim Müdürlükleri iş birliği ile düzenlenen ve 90 eğitimcinin dâhil olduğu bu çalışmalar sonrasında, öğretmenlerin %97’sinin bu uygulamaları kendi okulunda/kurumunda hayata geçirmeye hazır olduğunu belirtmesi en önemli kazanımlardan biri oldu. Katıldıkları bu eğitimin hayatlarında bir dönüm noktası olduğunu söyleyen eğitimciler, engelli hakları ve kapsayıcı eğitim konularında güçlendiklerini hissettiklerini belirtti. Ayrıca eğitimciler bulundukları tüm ortamlarda, herkes için adil şartları oluşturmayı kendilerine görev olarak seçmeye başladı. </p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box turuncu-box">“Bu süreç beni bir eğitimci olarak çok güçlendirdi. Harekete geçirme konusunda etkisi de çok kıymetli. Yalnız olmadığımı fark etmek ve paylaşarak çoğalmak, geleceğe ilişkin içimi umutla dolduruyor.”</p>
                <p class="content-box-alt">Merve Tuna - Okul Öncesi Öğretmeni</p>
            </div>

            <div class="col-12">
                <p>Projenin bir sonraki adımında ise geliştirilen materyallerin yüz yüze eğitimlerin ötesinde yaygınlaştırılabilmesi için bir kılavuz hazırlandı. ‘Engelli Hakları Odaklı Kapsayıcı Okul için Öğretmen Kılavuzu’, tüm öğrencilerin eğitim ortamına dâhil olabilmesini sağlayan kapsayıcı eğitimi hayata geçirmek konusunda öğretmenler için kapsamlı bir rehber olma özelliği taşıyor. Kılavuzda kapsayıcı eğitimin teorik arka planına ek olarak okul öncesi öğrencileri ve ilkokul 1-4. sınıf öğrencileri ile sınıf içinde uygulanacak etkinlik önerileri de yer alıyor.</p>
            </div>

            <div class="col-12 text-center my-4">
                <a href="https://www.sabancivakfi.org/i/content/Engelli_Haklari_Odakli_Kapsayici_Okul_Icin_Ogretmen_Kilavuzu.pdf" class="d-flex flex-column align-items-center text-decoration-none" target="_blank">
                    <img src="images/egitimde-engelli-haklari/engelli-haklari-odakli-pdf-kapak.jpg" class="img-fluid" alt="Engelli Hakları Odaklı Kapsayıcı Okul için Öğretmen Kılavuzu Kapağı">
                </a>
                <p class="bold mt-2">ENGELLİ HAKLARI ODAKLI KAPSAYICI OKUL İÇİN ÖĞRETMEN KILAVUZU</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="images/egitimde-engelli-haklari/egitimde-engelli-haklari-6.jpg" class="img-fluid" alt="Üzerinde siyah beyaz resimler olan ufak kağıtlar yerde duruyor. Etrafında birkaç kişi eğilmiş şekilde kağıtlara bakıyor."></p>
            </div>

            <div class="col-12">
                <p>Tohum Otizm Vakfı ve İstanbul Bilgi Üniversitesi SEÇBİR, üç yıldır devam eden proje kapsamında yaygınlaştırmayı amaçladıkları bu yaklaşımı, etkili dijital kampanyalara imza atarak tüm topluma duyurmayı ve engelli hakları konusunda farkındalık yaratmayı başardı. Projenin ikinci yılında 3 Aralık Dünya Engelliler Günü’nde engelli çocukların eğitime eşit erişim talebine dikkat çekmek üzere #BenNedenYokum kampanyası yürütüldü. Bu yıl da 10-16 Mayıs Engelliler Haftası’nda farklı olma hâlinin değerini anlatmak için #HerkesAynıOlsa sloganıyla dijital bir kampanya gerçekleşti.</p>
                <p>Harekete katılan sosyal medya kullanıcıları profil fotoğraflarını kampanya logosuyla; profil isimlerini ise kampanya etiketi ile değiştirerek kampanya videosunu sosyal medya hesaplarında paylaştı ve farkındalığa destek oldu. Kampanya birçok kurum, yayın kuruluşu ve ünlü isimden de destek aldı.</p>
                <p>Bu kampanya ile herkes aynı olsaydı dünyanın ne kadar sıkıcı olabileceğini, birbirimizden öğrendiklerimizden ve çeşitliliğin getirdiği zenginlikten nasıl mahrum kalacağımızı bir günlüğüne hissetmek mümkün oldu. Fakat farklı olma hâlinin değerini gerçekten anlamak için öncelikle hakları öğrenmek gerekiyor. Farklılıkların değer gördüğü bir toplum hayali için yürütülen bu projeye dâhil olan 1.000’in üzerinde öğretmenden biri, hayal edilen bu toplumun inşa edilmesine katkıda bulunmaya gönüllü olduğunu işte bu sözlerle kanıtlıyor:</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box turuncu-box">“Proje her ne kadar engellilik odaklı olsa da aslında bakış açısı olarak hepimizi biraz genişletti belki de. Bütün ayrımcılıklara, bütün kalıpyargılara hayır demek, biri ayrımcı dil kullandığında ‘Orada bir dur bakalım,’ demek. Bunu kendime görev edindim. Bu bana çok iyi geliyor ve içinde bulunduğum en haklı dava bu diyebilirim. Dünya üzerindeki herkes ve her şey için adil şartlar diliyoruz.”</p>
                <p class="content-box-alt">Ezgi İdemen Hazar - Sınıf Öğretmeni</p>
            </div>

            <div class="col-12 my-5">
                <div id="egitimdeEngelliHaklariSlider">
                    <div>
                        <img src="images/egitimde-engelli-haklari/egitimde-engelli-haklari-3.jpg" class="img-fluid" alt="Ahşap bir duvara yapıştırılmış sarı bir dosya kağıdının üzerinde, hayali bir arkadaşım var yazıyor. İki kadın, bir erkek bu kâğıdın önünde konuşuyorlar.">
                    </div>
                    <div>
                        <img src="images/egitimde-engelli-haklari/egitimde-engelli-haklari-7.jpg" class="img-fluid" alt="Kapalı bir toplantı salonda bulunan kalabalık bir grubun toplu fotoğrafı. Grubun yarısı arkada ayakta, yarısı önde yerde oturuyor ve gülümseyerek poz veriyor.">
                    </div>
                    <div>
                        <img src="images/egitimde-engelli-haklari/egitimde-engelli-haklari-8.jpg" class="img-fluid" alt="Kapalı bir toplantı salonunda çember şeklinde bir grup kollarını havaya kaldırmış şekilde, koşarak çember çiziyor.">
                    </div>
                    <div>
                        <img src="images/egitimde-engelli-haklari/egitimde-engelli-haklari-9.jpg" class="img-fluid" alt="Kapalı bir toplantı salonunda mavi gömlekli, siyah saçlı bir erkek ayakta durmuş, karşısında sandalyelere oturmuş yetişkinlere bir şeyler anlatıyor.">
                    </div>
                    <div>
                        <img src="images/egitimde-engelli-haklari/egitimde-engelli-haklari-10.jpg" class="img-fluid" alt="İki kadın bir erkek yan yana gülümserken görünüyor.">
                    </div>
                    <div>
                        <img src="images/egitimde-engelli-haklari/egitimde-engelli-haklari-11.jpg" class="img-fluid" alt="Toplantı salonunda ufak gruplar halinde yere oturmuş insanlar var. Kısa saçlı, gözlüklü bir kadın ayakta onlara bir şeyler anlatıyor.">
                    </div>
                </div>
            </div>

            <div class="col-12 mb-5">
                <p>Videonun erişilebilir versiyonu için <a href="https://youtu.be/eOapxwBipr0" class="color-engelli" target="_blank">tıklayınız</a>.</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/eOapxwBipr0" title="Tohum Otizm Vakfı | Eğitimde Engelli Hakları: Okulda Birlikte, Hayatta Birlikte 3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>

</main>

{{/content}}
{{/extend}}