---
language: tr
title: Engelsiz Fen Öğretimi
description:
script: js/content/engelsiz-fen-ogretimi.js
langlink: en/accessible-science-education.hbs
bodyClass: engelli
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="engelsiz-fen-ogretimi-back">
        <div class="container px-0">
            <img src="images/engelsiz-fen-ogretimi/engelsiz-fen-ogretimi-1.jpg" class="img-fluid" alt="Güler Sabancı">
        </div>
    </div>

    <div class="container my-4">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> engelli-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://twitter.com/Engelsiz_Fen" target="_blank"><i class="fab fa-14x fa-twitter"></i></a>
                <a class="mx-1 color-icons" href="https://www.instagram.com/engelsiz.fen.ogretimi" target="_blank"><i class="fab fa-14x fa-instagram"></i></a>
                <a class="mx-1 color-icons" href="https://engelsizfenogretimi.com" target="_blank"><i class="fas fa-14x fa-link"></i></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-engelli text-center border-bottom-grade mb-3">AKSARAY ÜNİVERSİTESİ EĞİTİM FAKÜLTESİ</h4>
                <h3 class="font-175 bold color-engelli text-center">GÖRME ENGELLİ ÖĞRENCİLER İÇİN ENGELSİZ FEN&nbsp;ÖĞRETİMİ</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-engelli mb-3">Engelsiz Fen için Yeni Olasılıklar</h6>
                <p>Öğrencilik yıllarınızda fen dersiyle aranız nasıldı? Vücudumuzun içini görme şansımız olmamasına rağmen, organlarımızın nasıl çalıştığını rahatlıkla hayal edebiliyor muydunuz örneğin? Öğretmeniniz tahtaya basit elektrik devrelerini çizdiğinde, elektrik akımının o yol boyunca nasıl seyahat ettiğini kestirebilmiş miydiniz? Muhtemelen hepimiz zorlanmıştık. Ancak bu, tamamen bizimle ilgili değildi.</p>
                <p>Malum, fen bilimleri bize doğada olanı kavratmaya çalışıyor. Ancak bu alanın kendisi çoğu zaman o kadar soyut kalıyor ki, beynimiz bilgiyi anlamlı verilere dönüştürebilmek için kolaylaştırıcılara ihtiyaç duyuyor.</p>
                <p>Peki hazırsanız şimdi sıkı bir soru geliyor: Bu tablonun içinde görme engelli öğrenciler nerede duruyor? Kötü haber: Eğitime erişim herkesin hakkıyken, görme engelli bireyler ne yazık ki bu alanda zorluklarla karşılaşıyorlar. İyi haber: Eğitimde eşitliği mümkün kılmak imkânsız değil. Aklınıza öyle büyük icatlar, altından kalkılamaz süper teknolojik girişimler de gelmesin. Basit olan hayat kurtarır. Nasıl mı? Örneğin, ders içeriklerinin görme engeli olan çocuklara hitap edecek şekilde dönüştürüldüğünü hayal edin. İşte Aksaray Üniversitesi Eğitim Fakültesi’nin değerli kadrosu, bu heyecan verici fikrin peşinden giderek bir hareket başlattı. Yola çıkarken çok etkileyici bir iddiaları daha vardı: Öğretmenlere görme engelli öğrenciler için materyaller geliştirmeyi ve uyarlamayı öğretmek. İşte bu gerçek bir kazanım olacaktı. Çünkü sorunun kaynağında, görme engelli çocukların bu dersleri öğrenememesi değil, öğretmenlerin onlara nasıl ulaşacaklarını bilememeleri yatıyordu. Bu da öğretmenlerin, farklı gelişimlere sahip çocukların bir arada eğitim gördüğü kaynaştırma öğrencilerinin bulunduğu sınıflara girmek konusunda gönülsüz davranmalarına neden oluyordu.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box turuncu-box">“Üç yıldır görme engelli öğrenci ile çalışıyorum. Çoğu zaman derslere katılım sağlayamıyordu. Bunun benden kaynaklandığını söyleyebilirim artık. Ama bundan sonra ne yapmam gerektiğini öğrendim, bir de bu işin çok kolay olduğunu gördüm.”</p>
                <p class="content-box-alt">Proje Faaliyetlerine Katılan Bir Öğretmen</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="images/engelsiz-fen-ogretimi/engelsiz-fen-ogretimi-2.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Görme engelli çocuklar nasıl öğrenir? Engelli ve engelsiz öğrencilerin bir arada olduğu bir sınıf nasıl yönetilir? Nasıl bir oturma düzeni daha uygun olur, okulun içinde diğer arkadaşları gibi özgürce hareket edebilmeleri için neler yapılabilir? Bugüne kadar denenmiş yöntemler gözden geçirildi; fen bilimleri alanında yalnızca birkaç konuya dair materyalin görme engeli olan öğrencilere de hitap edecek şekilde üretilmiş olduğu tespit edildi. Bunun yanı sıra, görme engelli öğrencilerin laboratuvar gibi alanları daha rahat kullanılabilmeleri için bazı düzenlemeler yapılmıştı. Ancak tüm bunlar, kapsamlı bir dönüşüm için yetersiz kalıyordu.</p>
                <p>Üniversitede önce, hangi materyallerin nasıl uyarlanacağına, bunların öğretim süreçlerine nasıl dâhil edileceğine dair yoğun bir hazırlık süreci başladı. Öte yandan, tüm öğretmenlere uzun vadede rehber olacak kalıcı bir ürün oluşturmak önemliydi. ‘Engelsiz Fen Öğretimi Kılavuz Kitabı’ işte böyle ortaya çıktı.</p>
            </div>

            <div class="col-12 text-center my-4">
                <a href="pdf/Engelsiz-Fen-Ogretimi-Kilavuzu-Kapak.pdf" class="d-flex flex-column align-items-center text-decoration-none" target="_blank">
                    <img src="images/engelsiz-fen-ogretimi/Engelsiz-Fen-Ogretimi-Kilavuzu-Kapak_Page_1.png" class="img-fluid" alt="">
                </a>
                <p class="bold mt-2">ENGELSİZ FEN ÖĞRETİMİ KILAVUZ KİTABI</p>
            </div>

            <div class="col-12">
                <p>Kitabın başlangıç noktasında, görme engelli öğrencilerin genel özellikleri ve eğitim ihtiyaçları hakkındaki bilgiler duruyordu. İkinci aşamada, fen dersi içeriklerinin, görme engelli öğrencilerin kavrayışlarını artıracak şekilde nasıl zenginleştirildiği anlatılıyordu.</p>
                <p>Süreç, 3 ve 4. sınıf fen kitaplarının elden geçirilmesiyle devam etti. İçerikler, öğrencilerin görme düzeyine göre, Braille alfabesi veya büyük puntolarla yeniden hazırlandı.</p>
                <p>Zorlukları bire bir deneyimleyenler, görme engelli öğrenciler ve öğretmenleriydi; neye ihtiyaç duyduklarını yine en iyi kendileri biliyorlardı. Aksaray Üniversitesi, proje ortağı olan Aksaray İl Milli Eğitim Müdürlüğünün tam desteği ile bu iki grubu atölyelerde buluşturarak, ders materyallerinin uyarlanmasına rehberlik etti. Ortaya, öyle işler çıktı ki, ilham almamak mümkün değildi.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box turuncu-box">“Fen bilimleri dersinde çok fazla materyal kullanırız. Ben bu materyalleri görme engeli olan öğrencime de veriyordum. Bu materyalin onun için yeterli olmadığının farkındaydım. Ama ekstra bir şeyler yapmak için de açıkçası zaman bulamıyordum. Bu projenin özellikle atölye çalışmalarında gördüm ki; aslında bir silikon tabanca bile bu öğrencilerin materyallere erişiminde oldukça etkili oluyor ve çok kısa sürede materyal uyarlanabiliyor.”</p>
                <p class="content-box-alt">Proje Faaliyetlerine Katılan Bir Öğretmen</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/engelsiz-fen-ogretimi/engelsiz-fen-ogretimi-3.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/engelsiz-fen-ogretimi/engelsiz-fen-ogretimi-4.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/engelsiz-fen-ogretimi/engelsiz-fen-ogretimi-5.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/engelsiz-fen-ogretimi/engelsiz-fen-ogretimi-6.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Kumaşlar, katmanlar, kabartma ve büyük puntolu yazılar ve renk zıtlıkları kullanılarak oluşturulan yer küreye dokunduğunuzda kara ve suların kapladığı alanları birbirinden ayırt edebiliyordunuz. CD’ler, balon, zil gibi malzemelerle uyarlanan materyali ellerinizin arasına alıp inceler, çıkardığı seslere kulak kabartırken, itme-çekme kuvvetinin nasıl bir matematikle işlediğini anlamak mümkün hâle geliyordu. Bir mıknatısın maddeleri çekemediğinde ne olduğunu, bir kayacın sertliği ya da kırılganlığının neye benzediğini, bir organın yüzeyindeki pürüzleri ve çalışırken nasıl kasıldığını dokunarak öğrenebiliyordunuz.</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="images/engelsiz-fen-ogretimi/engelsiz-fen-ogretimi-7.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Bu, başka türlü bir öğrenme deneyimi sunuyordu ve çok etkiliydi. Her şeyin ötesinde öğretmenlere, görme engeli olan çocuklara bir şeyler öğretmenin zor olmadığını ispatlıyordu. Yaratıcı seçenekler üretmek her zaman mümkündü ve bu yapıldığında, engeli olan ya da olmayan tüm öğrenciler için daha derin, kalıcı, dönüştürücü bir öğrenme fırsatı var olmaya başlıyordu.</p>
                <p>Bir okulun bahçesini, merdivenlerini ya da laboratuvarlarını engelli çocukların özgürce dolaşabileceği şekilde tasarlamak, şüphesiz ki, eğitime eşit erişimin en öncelikli adımlarından biri. Ne de olsa engellere karşı durmak, önce fiziksel sınırları ortadan kaldırmakla başlıyor. Aksaray Üniversitesi ise, bu temel gerekliliğin ötesinde daha aşılmaz görünen bir zorluğa çözüm sunmayı başarıyor. “Görme engelli öğrencim de diğeriyle aynı ödevden sorumlu; ancak ona nasıl araştırma yapacağıyla ilgili yardımcı olamıyorum, çünkü ben de bu konuda yetersizim.” diyen bir öğretmenin, artık kendisini çaresiz hissetmeyeceği yeni bir olasılıklar evreni yaratıyor. Bu evrende, hepimiz tüm farklılıklarımızla bir arada, yer kabuğunun katmanlarını sayabiliyor, çalışan organların seslerini işitebiliyoruz.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box turuncu-box">“Atölyelerde görme engelli öğrencilerin kendileri de vardı. Biz yaptık onlar denedi. Bu da önemli bir deneyimdi bizim için. Bir de bu öğrenciler için teknolojik cihazlar olduğunu, onların nasıl çalıştığını gördüm bu da benim hem alan içi gelişiminde hem de öğrencilerin derslere erişiminde etkili olacaktır.”</p>
                <p class="content-box-alt">Proje Faaliyetlerine Katılan Bir Öğretmen</p>
            </div>

            <div class="col-12 my-5">
                <div id="engelsizFenOgretimiSlider">
                    <div>
                        <img src="images/engelsiz-fen-ogretimi/Aksaray-Uni-01.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/engelsiz-fen-ogretimi/Aksaray-Uni-02.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/engelsiz-fen-ogretimi/Aksaray-Uni-03.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/engelsiz-fen-ogretimi/Aksaray-Uni-04.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>

{{/content}}
{{/extend}}