---
language: tr
title: Gençlik Çalışmaları Akademisi
description:
script: js/content/genclik-calismalari-akademisi.js
langlink: en/youth-work-academy.hbs
bodyClass: genc
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="genclik-calismalari-akademisi-back">
        <div class="container px-0">
            <img src="images/genclik-calismalari-akademisi/genclik-calismalari-akademisi-1.jpg" class="img-fluid" alt="TOY GENÇLİK DERNEĞİ">
        </div>
    </div>

    <div class="container my-4">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> genc-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://facebook.com/toygenclik" target="_blank"><i class="fab fa-14x fa-facebook-f"></i></a>
                <a class="mx-1 color-icons" href="https://twitter.com/toygenclik" target="_blank"><i class="fab fa-14x fa-twitter"></i></a>
                <a class="mx-1 color-icons" href="https://instagram.com/toygenclik" target="_blank"><i class="fab fa-14x fa-instagram"></i></a>
                <a class="mx-1 color-icons" href="https://youtube.com/c/ToyGen%C3%A7likDerne%C4%9Fi" target="_blank"><i class="fab fa-14x fa-youtube"></i></a>
                <a class="mx-1 color-icons" href="http://toygenclik.org" target="_blank"><i class="fas fa-14x fa-link"></i></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-genc text-center border-bottom-grade mb-3">TOY GENÇLİK DERNEĞİ</h4>
                <h3 class="font-175 bold color-genc text-center">GENÇLİK ÇALIŞMALARI AKADEMİSİ</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-genc mb-3">Toy ve Cesur: Gençlik Çalışmaları Akademisi İlk Mezunlarını Verdi!</h6>
                <p>TOY (sıfat): Gençliği sebebiyle görgüsüz ve beceriksiz olan, deneyimsiz, acemi, çaylak.</p>
                <p>Sözlük anlamının yanı sıra gençleri, deli akan kanları ve amatör ruhları ile çabuk heveslenip vazgeçen kişiler olarak niteleyen bir anlayış gerçekten de var. Öyle ki yetişkinler, gençlere ait hak alanlarını düzenlemek için bile kılavuzluğa soyunabiliyor. Peki, gençler bu işe ne diyor? Toy Gençlik Derneği’nin konuyla ilgili ne düşündüğünü, hoş bir ironi yaparak kendileri için toy ismini seçmelerinden anlamak mümkün. Şüphesiz ki gençler kendi alanlarını kendi ihtiyaçları doğrultusunda düzenleyebilecek güce ve yeterliliğe sahipler.</p>
                <p>Gençlik çalışmalarında bire bir yer almayanların bu farkındalığa sahip olması için belki uzun yıllar çalışmak gerekiyor. Ancak gençlik çalışanlarının hak temelli bakış açısına sahip olmaları vazgeçilmez. Çünkü bu sayede, başta ayrımcılığa uğrayanlar olmak üzere tüm akranlarını destekleyebilir, alandaki sorunlara çözüm üretmek üzere girişimci davranabilir, sahip oldukları farkındalıkla yerelden küresele, toplumsal gelişme için katkı sunabilirler.</p>
                <p>Hak temelli yaklaşıma sahip olmak, yalnızca sosyal devletin sağladığı hakların öğrenilip kullanılmasından ibaret değil; meseleye daha geniş bir çerçeveden ve çok boyutlu bakmakla kazanılan bir kavrayışı gerektiriyor. Bu kavrayış ise birinin hakkını özgürce kullanabilmesinin bir başkasının hakkını koruma altına almanın garantisi olduğunu içselleştirmekle geliyor. Toy Gençlik Derneği’ne göre, Türkiye’de gerçekleşen yaygın eğitim çalışmaları, hak temelli bakış açısını bütüncül şekilde ele almakta yetersiz kalıyor. Gençlik alanında çalışan örgütler de kapasitelerini geliştirmek konusunda istenilen noktaya ulaşamıyor. Peki ya konunun merkezinde duran gençler? Onların da kısıtlı zaman dilimlerinde farklı sivil toplum kuruluşlarının, farklı temalarda düzenlediği yaygın eğitimleri takip etmeleri ve tümünden bütünlüklü biçimde faydalanabilmeleri çok zor görünüyor.</p>
                <p>Alandaki bu eksikliğin fark edilmesi, Toy Gençlik Derneği’nin Gençlik Çalışmaları Akademisi’ni kurma yolunda ilk adımı atması için yüreklendirici oluyor. Ekip; derli toplu, yenilikçi ve sistemli biçimde planlanacak bir eğitim serisi ile gençlerin ihtiyaçlarına çözüm üretmek için kolları sıvıyor. Aktivizm nasıl yapılır; alanda gönüllü çalışan ya da sivil toplum örgütü üyesi gençlerin, sorumluluk hissederek a’dan z’ye tüm süreçlere dâhil olmaları nasıl teşvik edilir; gençleri ilgilendiren politikaların gençlerin yararı doğrultusunda değiştirilebilmesi için savunuculuk nasıl yürütülür; insan haklarını öğrenmek, zaman yönetimi yapabilmek ya da strateji üretmek bütün bu işlerin neresinde durur? Hepsi ve daha fazlası, 14 başlık altında, dört eğitim kampında gençlerle buluşuyor. Toy Gençlik ekibi hem akranlar arası deneyim paylaşımının hem de deneyimsel öğrenme tekniklerinin burada layıkıyla hayata geçeceğinden emin.</p>
                <p>Grup çalışmalarında karar alıp uygularken birinin inisiyatif kullanarak “hadi” demesi gerekiyor. Kimileri bu sayede itici güç olduklarını fark ederek liderliği deneyimliyor; bir başkası yaşıtlarının girişimcilik deneyimlerini dinleyerek yeni rotalar çizmek için payına düşeni alıyor. O güne dek farklı zamanlarda öğrenilen birbirinden kopuk bilgi parçaları, eğitim sırasında birleşerek bir bütüne dönüşüyor. Gençlik çalışmasının yanı sıra çocuk, mülteci, sağlık, toplumsal cinsiyet gibi sivil toplumun çeşitli tematik alanlarında faaliyet gösteren gençler birbirlerini bu farklı alanların terminolojileriyle tanıştırıyor, gençlik sahasını keşfetmenin, aslında farklı konuların hassasiyet ve sorunlarını kavramakla daha da derinleştiğini görüyorlar.</p>
                <p>Türkiye’nin dört bir yanından gelerek, Eskişehir’de öğrendikleri her şeyi heybelerine özenle yerleştiriyorlar: Kendi fikirlerine saygı duyulduğunu fark ettikleri gün de yalnızca birlikte hareket etmedikleri aynı zamanda birlikte bir şeyler inşa ettiklerini anladıkları an da çok değerli.</p>
            </div>

            <div class="col-12 text-center my-4">
                <a href="#" class="d-flex flex-column align-items-center text-decoration-none" target="_blank">
                    <img src="images/link.png" class="img-fluid" alt="link">
                    <p class="color-genc bold border-bottom-grade mt-2">Gençlik Çalışanlarının İhtiyaçları Araştırması Raporu</p>
                </a>
            </div>

            <div class="col-12 text-center">
                <p class="content-box yesil-box">“Samimi bir ortamda, her biri kendini çok farklı ortaya koyan bir grup insanla beraber günler geçirmek, kendimi ifade etme açısından ilham veren bir tecrübe oldu.” diyor bir katılımcı. “Sürekli konuşuyor, anlatıyor, dinliyor ve soruyorduk.” diye de ekliyor. Toy Gençlik Derneği’nin eğitimlerinde gerçekten de zamanın nasıl geçtiği anlaşılmıyor.</p>
                <p class="content-box-alt">Eğitimlere Katılan Bir Gençlik Çalışanı</p>
            </div>

            <div class="col-12">
                <p>Bu arada Toy Gençlik ekibi ‘Gençlik Çalışanlarının İhtiyaçları Araştırması’ ile farklı illerden gençlik çalışanlarıyla görüşmeler gerçekleştirip, gençlik alanının ihtiyaçlarını bölgesel ve ulusal düzeyde analiz ediyor. Gençlik çalışanlarının çalışma koşulları, motivasyonları ve alanda yaşadıkları sorunlara ilişkin veriler toplanarak, gençlerle çalışan kurumlar başta olmak üzere tüm paydaşların ilgili verilerden yararlanmaları sağlanıyor.</p>
                <p>Öte yandan, gençlik çalışmasında kullanılan eğitsel araç ve metotların videolarından bir ‘Görsel Araç Kutusu’ oluşturup, videoları erişilebilir olarak gençlik alanının hizmetine sunuyorlar.</p>
                <p>Dernek şimdi, öğrenilenlerin unutulup kalmaması için gençlerden, geldikleri şehirlerde çalışmalar yürüterek eğitimlerde kazandıkları tüm bilgileri deneyime dönüştürmelerini istiyor. Bunun için gençlik alanında deneyimli gençlik çalışanlarıyla eşleştikleri mentorluk programı, yol boyunca Akademi’nin desteğini yanlarında hissetmelerine yardımcı oluyor. ‘Toy’ ruhlarından aldıkları cesareti yitirmeden, çaylak taraflarına gözleri gibi bakarak, heybeleri dolu gençler olarak yola devam ediyorlar...</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box yesil-box">“Bir gençlik çalışanı olarak hangi rotalardan ilerleyeceğimiz henüz çok belirsiz. Bundan beş yıl sonra her birimiz nerede ne yapıyor olacağız, kim bilir? Ben inanıyorum ki bu akademi bizi daha fazla değiştirip geliştirecek.”</p>
                <p class="content-box-alt">Eğitimlere Katılan Bir Gençlik Çalışanı</p>
            </div>

            <div class="col-12 my-5">
                <div id="genclikCalismalariAkademisiSlider">
                    <div>
                        <img src="images/genclik-calismalari-akademisi/genclik-calismalari-akademisi-2.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/genclik-calismalari-akademisi/genclik-calismalari-akademisi-3.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/genclik-calismalari-akademisi/genclik-calismalari-akademisi-4.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/genclik-calismalari-akademisi/genclik-calismalari-akademisi-5.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/genclik-calismalari-akademisi/genclik-calismalari-akademisi-6.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/genclik-calismalari-akademisi/genclik-calismalari-akademisi-7.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/genclik-calismalari-akademisi/genclik-calismalari-akademisi-8.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/genclik-calismalari-akademisi/genclik-calismalari-akademisi-9.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/genclik-calismalari-akademisi/genclik-calismalari-akademisi-10.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>

{{/content}}
{{/extend}}