---
language: tr
title: Güçlü Kadın, Güçlü Kooperatif
description:
script: js/content/guclu-kadin-guclu-kooperatif.js
langlink: en/strong-woman-strong-cooperative.hbs
bodyClass: kadin
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="guclu-kadin-guclu-kooperatif-back">
        <div class="container px-0">
            <img src="images/guclu-kadin-guclu-kooperatif/guclu-kadin-guclu-kooperatif-1.jpg" class="img-fluid" alt="GENÇ İŞİ KOOPERATİF">
        </div>
    </div>

    <div class="container my-4">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> kadin-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://facebook.com/gencisikoop" target="_blank"><i class="fab fa-14x fa-facebook-f"></i></a>
                <a class="mx-1 color-icons" href="https://twitter.com/gencisikoop" target="_blank"><i class="fab fa-14x fa-twitter"></i></a>
                <a class="mx-1 color-icons" href="https://instagram.com/gencisikoop" target="_blank"><i class="fab fa-14x fa-instagram"></i></a>
                <a class="mx-1 color-icons" href="https://youtube.com/channel/UCLBqtYLsbEVEbyWGTivgC8g" target="_blank"><i class="fab fa-14x fa-youtube"></i></a>
                <a class="mx-1 color-icons" href="http://gencisi.org/guclu-kadin-guclu-kooperatif/" target="_blank"><i class="fas fa-14x fa-link"></i></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-kadin text-center border-bottom-grade mb-3">GENÇ İŞİ KOOPERATİF</h4>
                <h3 class="font-175 bold color-kadin text-center">GÜÇLÜ KADIN, GÜÇLÜ KOOPERATİF</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-kadin mb-3">Bir Kadın Manifestosu: Dayanışırken Özgürleşmek</h6>
                <p>Bu dünyanın yarısı kadın. Gökyüzünün, şehirlerin ve evlerin yarısı kadınların. Onlar, kimseyi tamamlamak için değil; kendi varoluşlarını keşfetmek ve yaşamı kendi güçleriyle daha zengin kılmak için buradalar. Ancak içine doğdukları sistemin kurallarını erkekler koyuyor. Ve onlarla eşit koşullarda bir hayata kavuşmak, ne yazık ki, ömür boyu süren bir mücadeleyi gerektiriyor.</p>
                <p>Kadın emeğine yeterince yer açmayan bir ekonomi mevcutken, kadınların iş gücüne katılımı erkeklerin kat kat gerisinde kalıyor. Bir şekilde çemberin içinde yer alabilenler ise, mesleğini özgürce seçemiyor; kadın oluşları bahane edilerek getirilen sınırların içinde ‘kendilerine uygun’ işlerle tatmin olmaları bekleniyor. Kayıt dışı çalışmak zorunda bırakılan, çalışma saatleri ve ücret bakımından ayrımcılığa uğrayan yine onlar. Peki, başka bir yol yok mu?</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box mor-box">“Bu eğitimlerle birlikte pek de faal olmayan kooperatif ortaklarımızın ilgisini çekmeyi başardık. Ortaklarımız arasında gözle görünür bir şekilde artan bir birliktelik ortamı yakaladık. Bu da motivasyonumuzu arttırarak geleceğe daha umutla bakmamıza neden oldu.”</p>
                <p class="content-box-alt">Eğitimlere Katılan Bir Kooperatif Üyesi</p>
            </div>

            <div class="col-12">
                <p>Genç İşi Kooperatif bize, geleneksel piyasa koşullarının ötesinde bir dünyanın varlığını işaret ediyor: Kadınların, ortak amaçlar etrafında buluşarak güçlerini anımsadıkları, bu güçle üretip kazandıkları; dahası üretip kazanmanın bilgi ve deneyimini başka kadınlara da aktardıkları özerk, demokratik, adil bir alternatif: Sosyal Kooperatifler. Ekonominin içinde kendi ihtiyaçlarımıza göre var olamıyorsak, kendi ekonomimizi yaratırız. Kendimize, kendi gücümüzle yardım ederken, başkalarını da ayağa kaldırırız. Tam bir manifesto!</p>
                <p>Kooperatifler, emeğin, kazancın ve kararların paylaşıldığı işleyişiyle kadınlara ekonomik hayatta varlık göstermenin ötesinde, kendi haklarını öğrenmenin ve dünyayı hak odaklı bakış açısıyla algılamanın yeni fırsatlarını sunuyor. Çünkü bu yapılar, ticari birer işletme olmalarının yanında, insanların kendi başlarına üstesinden gelemedikleri zorlukları aşmak için bir araya geldikleri dayanışma çemberleri.</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="images/guclu-kadin-guclu-kooperatif/guclu-kadin-guclu-kooperatif-2.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Genç İşi Kooperatif, toplumun ihmal edilen kesimlerine sosyal refah hizmeti sunan kooperatiflerin çoğalıp kuvvetlenmesi için büyük emek sarf eden bir oluşum. Mevcut sosyal kooperatiflerin, ortaklaşa yönetimi demokratik standartlarla yürütmek, iş birlikçileri ya da müşterileri olabilecek kişilerle bağlantı kurmak konusunda yetersiz olduklarını tespit ediyorlar. Oysa bu alanlarda gelişme şansları olursa, kendilerini ve her geçen gün daha fazla kişiyi, iş dünyasının kanıksanmış sınırlarından özgürleştirebilirler. </p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box mor-box">“Eğitimler özellikle kooperatifin yönetimi konusunda ufkumuzu açtı. Ortakların arasındaki problemlerin çözümü, adil görev paylaşımı, toplumsal cinsiyet eşitliği vb. alanlarda farklı bakış açıları kazandırdı. En önemlisi ise bir dış ses olarak bizim kendi içimize dönüp öz eleştiri yapmamızı sağladı.”</p>
                <p class="content-box-alt">Eğitimlere Katılan Bir Kooperatif Üyesi</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/guclu-kadin-guclu-kooperatif/guclu-kadin-guclu-kooperatif-3.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/guclu-kadin-guclu-kooperatif/guclu-kadin-guclu-kooperatif-4.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>İşte bu anlayışla, özellikle kadınların iş gücüne katılımlarının düşük seyrettiği beş ilden; Gaziantep, Hatay, Isparta, İstanbul ve Konya’dan, kadınlar tarafından kurulmuş ve yönetilen beş kooperatif seçiliyor. Her biri, proje ekibince ziyaret ediliyor. Nerede duruyorlar, nereye doğru yürümek istiyorlar; bu yolda ilerlemek için nelere ihtiyaçları var; tek tek belirleniyor. İçerikler de tamamlandıktan sonra, her kooperatiften 20 kadının katılımıyla yedi gün boyunca, proje ortağı Impact Hub’ın da katkısı ile yedi farklı uzman tarafından verilen eğitimler başlatılıyor. </p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="images/guclu-kadin-guclu-kooperatif/guclu-kadin-guclu-kooperatif-5.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>İlk gün, tüm katılımcılar için biraz şaşırtıcı geçiyor. Aidatlar nasıl toplanır, emek ücretinin gider makbuzunu kim keser, bölüşümde adalet nasıl sağlanır? Evet, bütün bunlara aşinalar... Ancak keşfettikleri yeni şeyler var: Kooperatif yönetmek, saymanın görevlerini bilmek veya gelir-gider tablosu hazırlamaktan ibaret değil. Dünyada bu iş nasıl yapılıyor; bir kooperatif hedeflerini, felsefesini ve çalışma anlayışını nasıl belirliyor? Yönetim kurulunu toplamak kolay, peki şiddetsiz bir iletişim dili yakalamak ve uzlaşabilmek nasıl başarılıyor? </p>
            </div>

            <div class="col-12 text-center my-4">
                <a href="https://www.sabancivakfi.org/i/content/KOOP_EgitimSeti.pdf" class="d-flex flex-column align-items-center text-decoration-none" target="_blank">
                    <img src="images/guclu-kadin-guclu-kooperatif/KOOP-EgitimSeti.png" class="img-fluid" alt="KOOPERATİFÇİLİK EĞİTİM SETİ">
                </a>
            </div>

            <div class="col-12">
                <p>Bir buluşmada üyeler, kooperatifin bütün yükünün başkanın üzerinde olduğunu fark ediyorlar. Oysa kooperatifleri benzersiz yapan şey; ortakların tümünün, kooperatifin eşit söz ve oy hakkına sahip, dolayısıyla tüm sorumluluğu da eşit paylaşan üyeleri olmaları.</p>
                <p>Başka bir buluşmada, üretimde çalışan kadınların iş modeli, satış ve pazarlama konularına uzak oldukları ortaya çıkıyor. Alıcılarla toplu pazarlama anlaşması nasıl yapılır, daha büyük pazarlara ulaşmak için yeni iş birlikleri nasıl kurulur? Eğitimlerde tüm bunlara dair örnekleri dinliyor, hem ürünlerini çeşitlendirip artı değer yaratabilecek hem de gelirlerde artış sağlayabilecekleri yeni yöntemler keşfediyorlar.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box mor-box">“Kooperatif tam anlamıyla güçlü birlikteliktir. Eğitimlerle detaylarda dikkatli olunması gereken noktaları hatırladık, başarılı olmanın kurallarını tartıştık ve yeni dostlar edindik. Kooperatif kurma cesaretini gösteren, başaran, cesur kadınlara selam olsun...”</p>
                <p class="content-box-alt">Eğitimlere Katılan Bir Kooperatif Üyesi</p>
            </div>

            <div class="col-12">
                <p>Genç İşi Kooperatif, kadınların, sistemin cinsiyet odaklı yapısının nasıl işlediğini tam manasıyla kavradıklarında, seslerinin, haklarını bir arada korumak ve savunmak yolunda da gürleşeceğini biliyor. Eğitim programına, toplumsal cinsiyet eşitliği, üreme sağlığı, kadına yönelik şiddet ve kadının insan hakları gibi alanları dâhil etmeleri de bu yüzden. Günün sonunda katılımcıların yanlarına kâr kalan, yalnızca ürün ve hizmetlerine aldıkları fiyattaki artış değil; kendileri, aileleri ve toplumla aralarındaki ilişkiyi yeni baştan kurmaya cesaret edebildikleri bir bilinç sıçrayışı.</p>
                <p>Bu bilinçlenmenin ötesinde Genç İşi Kooperatif’in uzmanları onları, mentorluk süreci ile desteklemeye ve yol arkadaşlığını sürdürmeye hazır. Her kooperatifin ortakları arasından belirlenen iki kişi düzenlenen mentorluk eğitimi ile bilgi ve becerilerini bir adım daha öteye taşıyor, böylece kooperatifler içindeki gelişim sürekli hâle geliyor.</p>
                <p>Demokratik ve sürdürülebilir bir ekonomik model inşa etme yolunda, tüm bu eğitimlerin içeriklerini herkesle paylaşmak ise bu yaklaşımın olmazsa olmaz bir parçası. ‘Kooperatifçilik Eğitim Seti’, sosyal dayanışma ekonomisini kendi çevresinde örmek isteyen herkesin işine yarayacak bir kılavuz olarak hazırlanıyor.</p>
                <p>Tek başımızayken gözümüzün kesmediği şeyleri bir aradayken başarabilmenin hiçbir şeyle kıyaslanamayan güveni... Sizce de tam bir manifesto değil mi? </p>
            </div>

            <div class="col-12 my-5">
                <div id="gucluKadinGucluKooperatifSlider">
                    <div>
                        <img src="images/guclu-kadin-guclu-kooperatif/guclu-kadin-guclu-kooperatif-6.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/guclu-kadin-guclu-kooperatif/guclu-kadin-guclu-kooperatif-7.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/guclu-kadin-guclu-kooperatif/guclu-kadin-guclu-kooperatif-8.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/guclu-kadin-guclu-kooperatif/guclu-kadin-guclu-kooperatif-9.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/guclu-kadin-guclu-kooperatif/guclu-kadin-guclu-kooperatif-10.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>

{{/content}}
{{/extend}}