---
language: tr
title: Gücümün Farkındayım, İşimin Başındayım
description:
script: js/content/gucumun-farkindayim-isimin-basindayim.js
langlink: en/-.hbs
bodyClass: kadin
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="gucumun-farkindayim-isimin-basindayim-back">
        <div class="container px-0">
            <img src="images/gucumun-farkindayim-isimin-basindayim/gucumun-farkindayim-isimin-basindayim-1.jpg" class="img-fluid" alt="">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> kadin-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://tr-tr.facebook.com/pages/category/Community/Afyonkarahisar-%C4%B0%C5%9F-Kad%C4%B1nlar%C4%B1-Derne%C4%9Fi-1776822449206410/" target="_blank"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook linki</span></a>
                {{!-- <a class="mx-1 color-icons" href="https://twitter.com/ " target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter linki</span></a> --}}
                <a class="mx-1 color-icons" href="https://www.instagram.com/afikad2016/" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram linki</span></a>
                {{!-- <a class="mx-1 color-icons" href="https://youtube.com/" target="_blank"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube linki</span></a> --}}
                <a class="mx-1 color-icons" href="http://www.afikad.org.tr/" target="_blank"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Websitesi linki</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-kadin text-center border-bottom-grade mb-3">AFYONKARAHİSAR İŞ KADINLARI DERNEĞİ</h4>
                <h3 class="font-175 bold color-kadin text-center">GÜCÜMÜN FARKINDAYIM, İŞİMİN BAŞINDAYIM</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-kadin mb-0">Kadınlar İş Hayatının Her Alanında</h6>
                <p class="mt-0">Kadınlar iş gücüne katılımda, neredeyse tüm sektörlerde erkeklerin hâlâ kat kat gerisinde kalırken bazı mesleklerde var olmakta daha fazla zorlanıyorlar. Çünkü bu işlerin kas gücüne dayalı olduğu veya koşulların uygun olmadığı gibi gerekçelerle, kadınlar sadece kendilerine uygun görülen meslekleri seçmek zorunda bırakılıyorlar. </p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/gucumun-farkindayim-isimin-basindayim/gucumun-farkindayim-isimin-basindayim-2.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/gucumun-farkindayim-isimin-basindayim/gucumun-farkindayim-isimin-basindayim-3.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Afyonkarahisar, Türkiye’nin mermer sektöründe öncü kentlerinden biri. Özellikle İscehisar ilçesindeki üretim, tüm ülkedeki mermer ticaretinin büyük bir kısmını karşılıyor. Kentte bu kadar büyük öneme ve istihdam olanaklarına sahip olan mermer sektöründe çalışanların profiline bakıldığında ise toplumsal cinsiyete dayalı eşitsizlikler göze çarpıyor. Sektörde çalışan kadın erkek nüfusu aslında ilk bakışta dengeli gibi görünüyor. Fakat mermer, ‘erkek’ işi olarak değerlendiriliyor. Dolayısıyla kadınlar bu sektörde, ofis işleri veya mozaik taş dizilimi gibi ‘kadınlara uygun görülen’ kısıtlı iş kollarında kendilerine yer bulabiliyorlar. Çoğu sosyal güvenceye sahip olmak ve aile ekonomisine katkı için geçici sürelerle çalışan kadınların büyük kısmı da evlendikten veya çocuk sahibi olduktan sonra işi bırakıyor.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/gucumun-farkindayim-isimin-basindayim/gucumun-farkindayim-isimin-basindayim-4.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/gucumun-farkindayim-isimin-basindayim/gucumun-farkindayim-isimin-basindayim-5.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>2015 yılında her biri farklı sektörlerde çalışan girişimci kadınlar tarafından kurulan Afyonkarahisar İş Kadınları Derneği (AFİKAD), iş hayatında toplumsal cinsiyete dayalı ayrımcılıklarla mücadele etmek, çalışan kadın sayısını artırmak ve kadınların çalışma hayatındaki hakları ile ilgili farkındalık yaratmak için çalışıyor. Gücümün Farkındayım, İşimin Başındayım projesinde ise dernek, kadınların mermer sektöründeki istihdam koşullarına odaklandı.</p>
                <p class="bold color-kadin mb-0">Mesleklerin Cinsiyeti Yoktur</p>
                <p class="mt-0">Teknolojinin gelişmesi ve mermer sektöründe de makineleşmenin artmasıyla kadınların bu sektörün her alanında iş bulabileceğine inanan AFİKAD, “Mesleklerin cinsiyeti yoktur.” mesajını yaygınlaştırmak ve mermer sektörünü dönüştürebilmek için kolları sıvadı.</p>
                <p>Öncelikle mermer fabrikalarında çalışan 105 kadına yönelik anketler uygulandı. Bu yolla kadınların demografik bilgilerinin yanı sıra; ihtiyaçları, çalışma haklarına dair bilgi düzeyleri, evde veya iş yerinde şiddetin herhangi bir çeşidine maruz kalıp kalmadıkları anlaşılmaya çalışıldı. Bütün bu soruların yanı sıra ankette kadınlara “Hangi eğitimi almak ve kendinizi hangi konularda geliştirmek istersiniz?” sorusu da yöneltildi ve projenin devamında gerçekleştirilecek eğitim programı, onların cevaplarına göre şekillendirildi. </p>
                <p>Anketler yoluyla ulaşılan kadınlardan gönüllü olanlar; toplumsal cinsiyet eşitliği, çalışma hakları, temel bilgisayar, finansal okuryazarlık, iş sağlığı ve güvenliği, iletişim gibi konularda, projenin ortağı olan Afyon Kocatepe Üniversitesi ve Afyonkarahisar Barosu’ndan uzmanların desteğiyle düzenlenen eğitimlere katıldılar.</p>
                <p>Dernek, mermer sektörünün her alanında kadınların da erkeklerle eşit koşullarda istihdam edilebileceği algısını yaygınlaştırmak için fabrika sahiplerine ve yöneticilerine ulaşmayı da önemsedi. Yine anket çalışmaları ve görüşmeler yoluyla kadınların sektördeki istihdamına yönelik yaklaşımlarını, mevcut ön yargılarını anlamayı ve dönüştürmeyi hedeflediler. Bu bağlamda, Afyonkarahisar Ticaret ve Sanayi Odası’nın proje ortağı olması, fabrikalara ulaşmayı kolaylaştırmanın yanı sıra, dönüşümü başlatmak için kurulacak diyalog zeminini de güçlendirdi.</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="images/gucumun-farkindayim-isimin-basindayim/gucumun-farkindayim-isimin-basindayim-6.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Mermer sektöründe olduğu gibi kadınların tüm alanlarda var olabileceğini yansıtmak da önemliydi. Bunun için dernek ekibi sosyal medya hesaplarını da aktif kullandı ve kadınların çalışma hayatında sahip oldukları haklara, toplumsal cinsiyet eşitsizliğinin kadınların kariyerlerine devam edebilmelerinin önünde nasıl engeller oluşturduğuna dair bilgilendirmeler yayımladı. Sosyal medya paylaşımları, ülke genelindeki sivil toplum kuruluşlarından da destek gördü.</p>
                <p>Projenin sonunda düzenlenmesi hedeflenen çalıştayla hem sektörde çalışan kadınlar hem de işverenlerle yapılan anketlerin sonuçları ‘Mermer Sektöründe Kadın’ raporu ile duyurulacak. Projenin yereldeki diğer sektörlerde etki yaratması kaçınılmaz. AFİKAD’ın toplumsal boyuttaki hedefi ise gücünün farkına varan, öz güveni artan kadınların hayatın her alanında dönüşümü başlatabileceklerine dair inançları. AFİKAD, kadınlarla birlikte önce Ege Bölgesi’ndeki, daha sonra tüm ülkedeki mermer sektörünü değiştirmeye geliyor.</p>
            </div>


            <div class="col-12 my-5">
                <div id="gucumunFarkindayimIsiminBasindayim">
                    <div>
                        <img src="images/gucumun-farkindayim-isimin-basindayim/gucumun-farkindayim-isimin-basindayim-7.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/gucumun-farkindayim-isimin-basindayim/gucumun-farkindayim-isimin-basindayim-8.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/gucumun-farkindayim-isimin-basindayim/gucumun-farkindayim-isimin-basindayim-9.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/gucumun-farkindayim-isimin-basindayim/gucumun-farkindayim-isimin-basindayim-10.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-12 mb-5">
                {{!-- <p>Videonun erişilebilir versiyonu için <a href="https://youtu.be/" class="color-kadin" target="_blank">tıklayınız</a>.</p> --}}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/eJQiQcfuMl4" title="Ekim Zamanı Online Buluşma Zamanı | Afyonkarahisar İş Kadınları Derneği" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>


</main>

{{/content}}
{{/extend}}