---
language: tr
title: Hayalini Tasarlayanlar
description: Hangi yaşta olursak olalım, hangi çağa doğarsak doğalım hepimiz için çaba gerektiren bir konu zamanı yakalamak... İçinde bulunduğumuz zaman bireylerden hızlı dönüşüyor, bir dakikalık bir es sonrasında bile kişi artık kendi çağının çizdiği çemberin dışında kalabiliyor. Çağın dönüşümü herkesin malumu iken; bu dönüşüme ayak uydurmak ve olumlu katkı sunabilmek sadece geleceğe, yeni nesillere, çocuklara ve onların potansiyeline inananlar için mümkün görünüyor.
script: js/content/hayalini-tasarlayanlar.js
langlink: en/dream-designers.hbs
bodyClass: genc
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="hayalini-tasarlayanlar-back">
        <div class="container px-0">
            <img src="images/hayalini-tasarlayanlar/hayalini-tasarlayanlar-1.jpg" class="img-fluid" alt="Toplantı salonu gibi bir mekânda, üzerinde oyun hamurları, renkli kâğıtlar, makaslar gibi birçok malzemenin olduğu yuvarlak bir masanın etrafında insanlar oturuyor.">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> genc-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://facebook.com/hayalinitasarlayanlar" target="_blank"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook linki</span></a>
                <a class="mx-1 color-icons" href="https://twitter.com/htasarlayanlar" target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter linki</span></a>
                <a class="mx-1 color-icons" href="https://instagram.com/hayalinitasarlayanlar" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram linki</span></a>
                <a class="mx-1 color-icons" href="https://youtube.com/channel/UCdQoL7RQTgBKAzY8GF6ecvg" target="_blank"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube linki</span></a>
                <a class="mx-1 color-icons" href="http://hayalinitasarlayanlar.org" target="_blank"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Websitesi linki</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-genc text-center border-bottom-grade mb-3">TÜRKİYE TEKNOLOJİ GELİŞTİRME VAKFI</h4>
                <h3 class="font-175 bold color-genc text-center">HAYALİNİ TASARLAYANLAR</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-genc mb-3">Zamanı Yakalamak Üzerine: Çağı Dönüştürmek için Teknoloji</h6>
                <p>Hangi yaşta olursak olalım, hangi çağa doğarsak doğalım hepimiz için çaba gerektiren bir konu zamanı yakalamak... İçinde bulunduğumuz zaman bireylerden hızlı dönüşüyor, bir dakikalık bir es sonrasında bile kişi artık kendi çağının çizdiği çemberin dışında kalabiliyor. Çağın dönüşümü herkesin malumu iken; bu dönüşüme ayak uydurmak ve olumlu katkı sunabilmek sadece geleceğe, yeni nesillere, çocuklara ve onların potansiyeline inananlar için mümkün görünüyor.</p>
                <p>Yaşadığımız dönemi anlamak, çağın okumasını yapabilmek ve çağa yeni boyutlar eklemek için teknolojiyi takip etmek şart. Şimdinin çocukları için her ne kadar bu konu, çocuk oyuncağı gibi görünse de tüm kavramlar gibi teknoloji ile haşır neşir olmak da emek gerektiriyor.</p>
                <p>Türkiye Teknoloji Geliştirme Vakfı (TTGV)’nin yürüttüğü Hayalini Tasarlayanlar projesi de teknolojinin yarattığı küresel dönüşümün mesleki niteliklerde yaratacağı değişimi destekleyebilmek, gençleri küresel rekabet ortamına hazırlayabilmek ve eğitim alanı ile iş dünyası arasında bağlantı kurabilmek amacıyla bu alanda yürütülen çalışmaları kapsıyor.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/hayalini-tasarlayanlar/hayalini-tasarlayanlar-3.jpg" class="img-fluid" alt="Sınıf düzeninde yetişkinlerin oturduğu bir toplantı salonunda, konuşma yapan iki kadın bir erkek ayakta duruyor."></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/hayalini-tasarlayanlar/hayalini-tasarlayanlar-4.jpg" class="img-fluid" alt="Kare masaların etrafında küçük gruplar hâlinde oturmuş insanlar yapışkanlı kâğıtlar kullanarak birlikte çalışıyorlar."></p>
            </div>

            <div class="col-12">
                <p>Hayalini Tasarlayanlar projesi ile öğrencilere donanım, yazılım ve algoritmik bakış kazandırmak, bilim ve teknoloji ekseninde yaratıcı öz güven aşılamak, akademik ve iş dünyası odaklı bir perspektif oluşturmaları konusunda onlara destek olmak hedefleniyor. Proje kapsamında sürecin kendisi de başlı başına bir eğitim. Ortaya konan projelerde süreç tasarımı, süreç ve insan odaklılık bu deneyimin getirdiği en büyük veriyken; problemi tanımlamak, birlikte fikir kurgulamak, hayal etmek ve üretmek öğrenciler için bu deneyimi bambaşka sınırlara taşıyor.</p>
                <p>Hayalini Tasarlayanlar, öğrencilere etki etmesi hedeflenen bu değişimi önce öğretmenlerden başlatıyor. Tasarım odaklı düşünme metodolojisinin kullanıcıyı merkeze alan yaklaşımıyla kurgulanan ‘İnsan Odaklı Tasarım’ eğitimleri beş hafta sonu boyunca Adana, Adıyaman, Afyonkarahisar, Balıkesir ve Bartın’da öğretmenlerle gerçekleştirildi. Bu eğitimle öğretmenler bir proje geliştirme metodolojisi ve süreç tasarımının temellerini kavrıyor, bu bilgileri öğrencileri ile proje geliştirirken uygulama becerisi kazanıyor. </p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/hayalini-tasarlayanlar/hayalini-tasarlayanlar-5.jpg" class="img-fluid" alt="Bir toplantı salonunda iki kadın bir erkek sunum yapıyor. Kadınlardan birinin elinde mikrofon bulunuyor. Kişilerin solunda üzerine Hayalini Tasarlayanlar projesinin logosu olan ayaklı bir afiş, sağ taraflarında ise Balıkesir İl Milli Eğitim Müdürlüğü logosu bulunan ayaklı bir afiş var."></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/hayalini-tasarlayanlar/hayalini-tasarlayanlar-6.jpg" class="img-fluid" alt="Bir toplantı salonunda üç kadın bir erkek sunum yapıyor. Kişilerin solunda üzerine Hayalini Tasarlayanlar projesinin logosu olan ayaklı bir afiş, sağ taraflarında ise Adana İl Milli Eğitim Müdürlüğü logosu bulunan ayaklı bir afiş var."></p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box yesil-box">“Biraz teknik, teknolojiyle ilgili olduğu için çekinerek başvurdum ancak ilk gün o tedirginliklerim kalmadı. Teknikten çok sürece odaklanılması, keşfetme sürecinin yaşanması, bütün programın adım adım mükemmel bir şekilde ifade edilmesi öğrenme sürecini zevkli hâle getirdi benim için.”</p>
                <p class="content-box-alt">Proje Katılımcısı Bir Öğretmen</p>
            </div>

            <div class="col-12">
                <p>Öğretmenlerin ardından sıra öğrencilerin bilgi ve donanımını desteklemeye geliyor. Pandemi nedeniyle okulların kapanması ve uzaktan eğitime geçilmesi, bu aşamanın da yeniden tasarlanması ihtiyacını doğuruyor. Aslında bu süreç de tasarım odaklı düşünmeyi gerektiriyor ve projenin kendisi de öğretmen ve öğrencilere aktarmayı hedeflediği beceriler sayesinde kendini dönüştürmeyi başarıyor. Herkesin kolaylıkla erişebilmesi için hazırlanan çevrimiçi platformda, projeye dâhil olan öğretmenlerin yanı sıra lise öğrencilerine elektroniğin temelleri, algoritmik düşünme ve programlama, tasarım ilkeleri ve üç boyutlu tasarım gibi çağın gereksinimi olan teknik becerileri kazandırmayı amaçlayan eğitimler yayınlanıyor. Platformda bu teknik becerilerin yanı sıra; prototip yapma, sistematik düşünme, problemleri fark edebilme, fikir üretebilme, ortak çalışabilme, bir çerçeve etrafında münazara yapabilme, empati kurma yeteneği gibi becerilere yönelik eğitimler de yer alıyor. </p>
                <p>Bu tür beceriler aslında teknolojinin bir amaç değil; toplumsal değişime giden yolda bir araç olduğunu hatırlatıyor. Çözümden önce sorunun ne olduğuna ve insanların ihtiyaçlarını anlamaya odaklanan insan odaklı düşünme metodolojisi sayesinde öğretmenler ve elbette onların rehberliğinde projelerini geliştirecek olan öğrenciler, önce hangi sorunu çözmek istediklerine karar veriyorlar. Proje üretim sürecinin başlangıç noktası, öğrencilerin sorunun kaynağındaki kişiyle empati kurması olarak belirleniyor. Öğrencilerin konunun ilgilileriyle mülakatlar gerçekleştirmesi, topladıkları verilerle tasarım sorusu etrafında ihtiyaçlara yanıt vermeye odaklanmasıyla bir sorunun birden fazla çözümü olabileceği açığa çıkıyor.</p>
                <p>Platformun içerdiği eğitim videoları yalnızca projeye katılan öğretmen ve öğrenciler için değil konuya ilgi duyan herkes için zengin bir kaynak sunuyor.</p>
            </div>

            <div class="col-md-4 mx-auto text-center my-5">
                <a href="https://www.hayalinitasarlayanlar.org/" class="d-flex flex-column align-items-center text-decoration-none" target="_blank">
                    <img src="images/hayalini-tasarlayanlar/hayalinitasarlayanlar-logo.png" class="img-fluid" alt="Hayalini Tasarlayanlar Logosu">
                </a>
            </div>

            <div class="col-12">
                <p>Çağın gerektirdiği yetkinlikleri artıracak bir ekosistem oluşturma amacı da taşıyan Hayalini Tasarlayanlar projesi, beş ile yayılan öğretmen eğitimleri ve öğrencilere yönelik çevrimiçi eğitimler ile başlayan döngüsünü, COVID-19 salgınının yaşandığı dönemde de yeniliklerle şekillendirmeye devam etti. Düzenlenen webinarlar, öğrencileri dünyanın farklı yerlerinde teknolojiyi toplumsal dönüşüm için kullanarak çalışmalar yapan kişilerle buluşturdu, kariyer seçimlerine ışık tuttu.</p>
                <p>Bu projeye dâhil olan lise öğrencilerinin günün sonunda sahip oldukları deneyim, onların gelecekte yetkinlikleri ve isteklerine uygun bir alanda yer almalarına kapı aralıyor. Öğretmenlerin bu konudaki kazanımıysa kolaylaştırıcı ve rehber pozisyonun güçlenmesi yönünde... Bu karşılıklı kazanımların sağladığı sosyal fayda ise çağın gerektirdiği yetkinliklerin herkes için ulaşılabilir hâle gelmesi, farklı kitlelerce kullanılması, yerel teknoloji topluluklarının oluşması için çağın dönüşümüne sağlanan önemli katkıların ilk adımları... Çünkü çağı dönüştürmek, gerekli araçlara sahip oldukça yaşamak istediğimiz geleceği hayallerimiz doğrultusunda tasarlamak bizim elimizde.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box yesil-box">“Daha önceki çalışmalarımda hep tasarım odaklı ilerlemiştim. Bu çalışmada problem odaklı ilerlemek, problemin çözümüne daha iyi ışık tuttu. Benzer süreçleri öğrencilerimin yaşamasını da istiyorum.”</p>
                <p class="content-box-alt">Proje Katılımcısı Bir Öğretmen</p>
            </div>

            <div class="col-md-8 mx-auto text-center my-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/8bfzHK6JAsA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-12 my-5">
                <div id="hayaliniTasarlayanlarSlider">
                    <div>
                        <img src="images/hayalini-tasarlayanlar/hayalini-tasarlayanlar-2.jpg" class="img-fluid" alt="Açık havada, bir binanın girişine benzeyen alanda, basamakların üzerinde arka arkaya duran kalabalık bir grubun toplu fotoğrafı. Herkes kameraya el sallayarak ve gülümseyerek poz veriyor.">
                    </div>
                    <div>
                        <img src="images/hayalini-tasarlayanlar/hayalini-tasarlayanlar-7.jpg" class="img-fluid" alt="Kapalı bir toplantı salonunda kalabalık bir grup insan, yuvarlak masaların etrafında duruyor. Kimi ayakta kimi otururken ellerinde kâğıtlar ile birbirleriyle konuşuyorlar.">
                    </div>
                    <div>
                        <img src="images/hayalini-tasarlayanlar/hayalini-tasarlayanlar-8.jpg" class="img-fluid" alt="Kapalı, ahşap duvarlı bir toplantı salonunda bulunan kalabalık bir grubun toplu fotoğrafı. Çoğu ayakta duruyor, en önde beş kişi sandalyelerde oturuyor.">
                    </div>
                    <div>
                        <img src="images/hayalini-tasarlayanlar/hayalini-tasarlayanlar-9.jpg" class="img-fluid" alt="Bir toplantı salonunda bir kadın iki erkek sunum yapıyor. Kişilerin solunda üzerine Hayalini Tasarlayanlar projesinin logosu olan ayaklı bir afiş, sağ taraflarında ise Adana İl Milli Eğitim Müdürlüğü logosu bulunan ayaklı bir afiş var. Kadının gözünde dürbüne benzeyen bir gözlük var.">
                    </div>
                    <div>
                        <img src="images/hayalini-tasarlayanlar/hayalini-tasarlayanlar-10.jpg" class="img-fluid" alt="Bir toplantı salonunda iki kadın sunum yapıyor. Kişilerin solunda üzerine Hayalini Tasarlayanlar projesinin logosu ve Afyonkarahisar İl Milli Eğitim Müdürlüğü logosu olan iki afiş var. Kadınlardan biri elinde tablo içeren büyük bir poster tutuyor.">
                    </div>
                    <div>
                        <img src="images/hayalini-tasarlayanlar/hayalini-tasarlayanlar-12.jpg" class="img-fluid" alt="İki erkek bir kadın, bir masanın etrafında kâğıtların üzerine eğilmiş dikkatle çalışıyorlar.">
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>

{{/content}}
{{/extend}}