---
language: tr
title: Hibe Programları Hakkında
description: Sabancı Vakfı, Hibe Programları’nı ilk defa 2007 yılında, kadın, genç ve engellilere yönelik projeler yürüten sivil toplum kuruluşlarını desteklemek üzere hayata geçirdi.
script: js/content/hibe-programi-hakkinda.js
langlink: en/grant-programs-in-brief.hbs
---

{{#extend "base"}}
{{#content "main"}}

<main>
    <div class="container-fluid" id="hibe-programi-hakkinda-back">
        <div class="container px-0">
            <img src="images/headers/Hibe-Programi.jpg" class="img-fluid" alt="Çapraz şekilde birbirini tutan beş farklı kadın ve erkek eli.">
        </div>
    </div>
    <div class="container my-4" id="main-content">
        {{> fontResizer}}
        <div class="row">
            <div class="col-12 text-center">
                <h6 class="border-bottom-yesil color-yesil bold mt-5 mb-3">HİBE PROGRAMLARI HAKKINDA</h6>
            </div>
            <div class="col-12">
                <p>Sabancı Vakfı, Hibe Programları’nı ilk defa 2007 yılında, kadın, genç ve engellilere yönelik projeler yürüten sivil toplum kuruluşlarını desteklemek üzere hayata geçirdi.</p>
            </div>
            <div class="col-12 title-top-space-for-header" id="neden-kadin-genc-ve-engelliler">
                <h6 class="color-yesil bold mb-3">Neden Kadın, Genç ve Engelliler?</h6>
                <p>Türkiye’de 41,7 milyon kadın, 13 milyon genç, 8,5 milyon engelli var. Dolayısıyla kadın, genç ve engelliler bugün nüfusun büyük bir kısmını oluşturuyor. Öte yandan, iş, eğitim, politik katılım gibi çeşitli göstergeler; bu grupların toplumsal hayata eşit ve aktif katılımında sorunlar yaşandığını ortaya koyuyor:</p>
                <ul>
                    <li><strong>Kadınlar</strong>, hayatın her alanında şiddete maruz kalıyor ve toplumsal cinsiyet eşitsizliğiyle mücadele ediyorlar.</li>
                    <li>Ekonomik, sosyal ve kültürel imkânları kısıtlı <strong>gençler</strong>in yaşadığı zorluklar, onları, yaşıtlarının sahip olduğu fırsatlara erişmekten alıkoyuyor.</li>
                    <li>Yasalarla tanınmış haklarına erişmekte zorluk yaşayan <strong>engelli bireyler</strong>, yalnızca fiziksel bariyerleri değil; toplumun ön yargılarını aşmak için de yaşamları boyunca çaba sarf ediyorlar.</li>
                </ul>
                <p>Bu grupların birden fazlasında yer alanlar için ise tablo biraz daha karamsar: “engelli kadın”, “genç kadın” ya da “engelli genç” olanlar, diğerlerine göre iki kat daha fazla ayrımcılığa uğruyorlar.</p>
            </div>
            <div class="col-12 title-top-space-for-header" id="neden-sivil-toplum-kuruluslari">
                <h6 class="color-yesil bold mb-5">Neden Sivil Toplum Kuruluşları? </h6>
                <p>Sabancı Vakfı, kadın, genç ve engellilerin eşit haklara sahip olmalarını ve topluma aktif katılımlarını sağlamak amacıyla, Hibe Programları ile sivil toplum kuruluşlarının (STK) desteklenmesi gerektiğine inanıyor. </p>
                <p>Çünkü; kadın, genç ve engelli hakları alanında uzman olan STK’ların, bireylerin haklardan eşit yararlandığı bir toplumun önündeki engellere çözüm üretme ve kamuya örnek olacak modeller geliştirme potansiyeli var. Öte yandan Türkiye’de hak temelli STK’lara fon sağlayan yerli kuruluş veya vakıflar yok denecek kadar az.</p>
                <p>Bu çıkış noktasıyla Sabancı Vakfı, son 15 yıldır kesintisiz olarak Hibe Programları ile sivil toplum kuruluşlarını destekliyor. Hibe Programları ile desteklenen projeler, <strong>“eğitim”, “engelli hakları”, “erken yaşta ve zorla evliliklerle mücadele”, “birlikte yaşam” ve “öğretmenlerin güçlenmesi”</strong> alanlarına odaklanıyor.</p>
            </div>
            <div class="col-12 mt-5 mb-0 svg-frame">
                {{> hibe-programlari-hakkinda-tr}}
            </div>
            <div class="col-12 title-top-space-for-header" id="hibe-programlari-sureci-nasil-isler">
                <h6 class="color-yesil bold mb-5">Hibe Programları Süreci Nasıl İşler?</h6>
                <p>Sabancı Vakfı, STK’lara sadece maddi destek değil, ihtiyaç duydukları konularda teknik destekler vereceği, kurumlar arası bilgi paylaşım ortamları yaratacağı, kurumlarla ortaklaşa çalışmalar yürüteceği bir hibe süreci yönetiyor:</p>
                <p>Bu süreç, kapsamlı bir değerlendirme ve seçim dönemi sonunda hibe almaya hak kazanan kurumların, Hibe Programları ağı içinde yerini almasıyla başlar. </p>
                <p>Kurumlar, Hibe Programları ağı içinde benzer alanlarda çalışan diğer kurumlarla tanışır, çeşitli bilgi paylaşım ortamlarına katılır. </p>
                <p>Sabancı Vakfı, yürütülen çalışmaları; bire bir görüşmeler, saha ziyaretleri, kurumlardan gelen raporların kapsamlı değerlendirilmesi ve geri bildirim verilmesi gibi yöntemlerle yakından takip ederek, kurumlarla ortaklaşa çalışma yürütür.</p>
                <p>Bu takipler sonucu kurumlara iletişimden, izleme ve değerlendirmeye kadar ihtiyaç duyulan konularda destek verilir. </p>
                <p>Kamuoyunu yapılan çalışmalar konusunda bilgilendirmek amacıyla basın bülteni, özel haber, etkinlikler gibi iletişim fırsatları yaratılır.</p>
                <p>Bu kitapta, Türkiye’de sivil toplum kuruluşlarını desteklemek yoluyla toplumsal gelişmeye katkı sağlamayı hedefleyen Sabancı Vakfı Hibe Programları kapsamında, 2020 – 2021 döneminde desteklenen 8 projenin ilham veren hikâyeleri yer alıyor.</p>
            </div>
        </div>
    </div>
</main>

{{/content}}
{{/extend}}