---
language: tr
title: İkidilli Okuma Gelişimi
description: Dünyayı, sonu gelmez bir anlam arayışı olarak deneyimliyoruz. Dil, bu anlamı kovalarken bize paha biçilmez imkânlar sunan bilişsel bir yetimiz. Çevremizi dili kullanarak tanımlayabiliyor ve tanımladıkça daha fazlasını kavrayabilmenin imkânlarıyla buluşuyoruz.
script: js/content/ikidilli-okuma-gelisimi.js
langlink: en/bilingual-reading-development.hbs
bodyClass: engelli
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="ikidilli-okuma-gelisimi-back">
        <div class="container px-0">
            <img src="images/ikidilli-okuma-gelisimi/ikidilli-okuma-gelisimi-1.jpg" class="img-fluid" alt="Çimenlik açık bir alanda ayakta duran çocuklar ellerini havaya kaldırmış poz veriyorlar. Arka planda tarihi binalar bulunuyor.">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> engelli-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://facebook.com/tied1959" target="_blank"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook linki</span></a>
                <a class="mx-1 color-icons" href="https://twitter.com/tied1959" target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter linki</span></a>
                <a class="mx-1 color-icons" href="https://instagram.com/tied1959" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram linki</span></a>
                <a class="mx-1 color-icons" href="https://youtube.com/channel/UCyX1SRuvuVPKHjA7mPosvJw" target="_blank"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube linki</span></a>
                <a class="mx-1 color-icons" href="http://tied.org.tr" target="_blank"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Websitesi linki</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-engelli text-center border-bottom-grade mb-3">TÜRKİYE İŞİTME ENGELLİLER DERNEĞİ</h4>
                <h3 class="font-175 bold color-engelli text-center">TÜRK İŞARET DİLİ KULLANAN SAĞIR ÇOCUKLAR İÇİN İKİDİLLİ OKUMA GELİŞİMİ UYGULAMALARI</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-engelli mb-3">Söz İşitsel Değil, Bilişseldir</h6>
                <p>Dünyayı, sonu gelmez bir anlam arayışı olarak deneyimliyoruz. Dil, bu anlamı kovalarken bize paha biçilmez imkânlar sunan bilişsel bir yetimiz. Çevremizi dili kullanarak tanımlayabiliyor ve tanımladıkça daha fazlasını kavrayabilmenin imkânlarıyla buluşuyoruz.</p>
                <p>Duyan çocuklar, içine doğdukları ortamda hangi dil konuşuluyorsa o dili, duyarak ve konuşanlarla etkileşim kurarak öğreniyorlar. Eğitim sayesinde dinlemeyi, konuşmak, okumak ve yazmakla tamamlıyorlar. Peki ya sağır çocuklar? Sağır ailelerde doğan çocuklar, işaret dilini aynı diğer doğal diller gibi işaret dili bilen ebeveynleriyle etkileşim kurarak öğreniyorlar. Ebeveynleri işiten sağır çocuklarsa, işaret dilini öğrenmeye çoğu zaman okulla başlıyor ve anadili gelişimi açısından geç kalınmış oluyor. Bununla birlikte, sağır çocukların sadece işaret dilini bilmeleri, toplumsal hayatta ilerleyebilmeleri, özellikle de herkes gibi hakları olan eğitime erişebilmeleri için yeterli olmuyor. Sağır çocukların, içinde bulundukları toplumun yazılı dilinde kullanılan sözcük dağarcığından yoksunken, öğretmenleri işaret dilini bilmezken ve kendilerine özel üretilmiş eğitim malzemeleri mevcut değilken nitelikli bir eğitim almaları iyice zorlaşıyor.</p>
                <p>Türkiye İşitme Engelliler Derneği (TİED) ikidilli bir yaklaşımla, “Sağır çocuklar için küçük yaştan itibaren, işaret diliyle birlikte yazılı dili de öğrenmelerine destek olacak eğitici malzemeler geliştirirsek, bu mümkün olabilir,” diyor. Onlara bu ilhamı veren, dünyanın ilk sağır üniversitesi olan Gallaudet Üniversitesi tarafından tasarlanan dijital bir uygulama. Bu uygulama ile geliştirilen çocuk kitaplarında öyküler, işaret dili, resim ve metinlerle birlikte hazırlanıyor.</p>
                <p>Projenin ortakları olan Boğaziçi Üniversitesi Dilbilim Bölümü ve Gallaudet Üniversitesinin desteği ile TİED, bu sistemi iki öykü üzerinden Türkiye’ye uyarlıyor ve hem çocukların yaratıcılıklarını teşvik edip okumayı sevdirmeyi hem de sözcük dağarcıklarını ve öz güvenlerini geliştirmeyi hedefliyor.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/ikidilli-okuma-gelisimi/ikidilli-okuma-gelisimi-3.jpg" class="img-fluid" alt="İşaret dilinde konuştuğu anlaşılan bir kız çocuğu ve onu izleyen bir kız çocuğu bir masanın başında oturuyorlar."></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/ikidilli-okuma-gelisimi/ikidilli-okuma-gelisimi-4.jpg" class="img-fluid" alt="İşaret dilinde konuştuğu anlaşılan bir oğlan çocuğu ve onu izleyen bir kız çocuğu karşılıklı ayakta duruyorlar."></p>
            </div>

            <div class="col-12">
                <p>Çocukların dil becerilerini, bunu kazanmaya açık ve hazır oldukları zaman tetiklemek çok önemli. Erken yaşlarda dil gelişimi yeterince oturmazsa, eksikleri sonradan telafi etmek çok zor oluyor. İşte Boğaziçi Üniversitesi Dilbilim Bölümü’nün dil ve kavram gelişimi, işaret dili yapısı ve eğitimi üzerine uzmanlığıyla TİED de dört yaş ve üzeri sağır çocuklara yönelik tasarladığı öykülerle, çocukların tüm eğitim yaşamlarına ve toplumsal hayata katılımlarına katkı sunabilmeyi hedefliyor.</p>
                <p>Derneğin elinde Gallaudet Üniversitesi tarafından yazılmış örnek bir öykü var. Ormanda gezinirken tanıştığı yaşlı adam sayesinde haberdar olduğu Baobab meyvesinin peşine düşen küçük bir kızın hikâyesi bu. Hikâye, çocuklara yeni sözcükler öğretmenin yanı sıra, onlara doğa bilincini, merak ve keşif duygusunu, yardım ve paylaşmanın güzelliği gibi değerleri de aşılıyor. </p>
                <p>TİED’in, bu küçük kızın öyküsünden aldığı esinle, Türkiye kültüründen motiflerle renklendirdiği ikinci öykünün başrolünde ise Keloğlan var. Çocuklar bu öyküde Keloğlan’ın, köyünde hayvanları otlattığı yaz tatili sırasında, yerde tesadüfen bulduğu oyuncak gemi sayesinde nasıl gemi mühendisi olmaya karar verdiğine tanıklık ediyor. Ailesiyle İstanbul’a gelip, vapurları ve gemileri yakından gözlemleyen Keloğlan ile, çocuklar da İstanbul ve tarihiyle tanışıyor.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box turuncu-box">“Daha önce hikâye kitabını okurken kelimenin ne olduğunu hiç anlamıyordum. Anneme sürekli sorardım. Ailem işitme engelli. Türkçe terimleri çok zayıftır. Zorluk çekiyordum. Ama bu uygulamayı görünce gerçekten çok mutlu oldum. Daha önce böyle uygulamalı hiçbir çalışma olmamıştı. Çok mutluyum.”</p>
                <p class="content-box-alt">Uygulamayı Kullanan Çocuk (14 yaş)</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/ikidilli-okuma-gelisimi/ikidilli-okuma-gelisimi-5.jpg" class="img-fluid" alt="Küçük çocuklar loş bir odada perdeye yansıtılmış bir görüntüye bakıyorlar. Görüntüde bir kız çocuğu var."></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/ikidilli-okuma-gelisimi/ikidilli-okuma-gelisimi-6.jpg" class="img-fluid" alt="Fotoğrafta sırtları dönük oturan iki oğlan çocuğu masanın üzerinde bulunan resimli bir kitaba bakıyor."></p>
            </div>

            <div class="col-12">
                <p>Her iki öykü de önce Türk İşaret Dili (TİD)’e çevriliyor. Dernek bu noktada, sağır işaretçilerin çocuk öyküsü anlatımı konusunda yeterli eğitimi almalarına özen gösteriyor. Çünkü anlatım ritminin kimi yerde yavaşlayıp kimi yerde hızlanması, işaretlerin belirgin, akıcı şekilde yapılması ve elbette işaret dilinin önemli bir bileşeni olan yüz ifadeleriyle desteklenmesi çocukların kavrayışında büyük fark yaratıyor. </p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box turuncu-box">“Uygulama gerçekten harika ötesi. Kızım benden yardım istemeden hikâyeyi hem izliyor hem de öğreniyor. İşaret dili bilmeyen çocuklar uygulamayı indirip rahat rahat öğrenebilirler. Bu uygulamanın çok faydalı olacağına inanıyorum.”</p>
                <p class="content-box-alt">Uygulamayı Kullanan Çocuk (6 yaş) Velisi</p>
            </div>

            <div class="col-12">
                <p>Çeviriyi, öykülerin videoya çekilmesi takip ediyor. Videolarda öyküyü TİD’de işaretleyen anlatıcıyı izliyor ve seslendirmeyi duyuyoruz. Aynı zamanda çocukların öykünün atmosferine girmelerini sağlayacak etkileyici görseller ile animatif öğelere doğru çekiliyoruz. Böylece, hem biyonik kulak kullanan veya kendisi duyan ama anne babası sağır çocukların hem de sağır çocukların duyan anne babalarının da işaret dili öğrenmeleri için bir fırsat yaratılmış oluyor.</p>
                <p>Ortaya çıkan sonucu, içini açınca kendi öyküsünü anlatmaya başlayan canlı bir masal anlatıcısına benzetmek hiç de yanlış olmaz. Öyle ki video son aşamada sesli ve görsel öğelerin yanı sıra, yazılı içerikleri de kapsayacak şekilde tam bir kitaba dönüştürülüyor. Her sayfanın altında seslendirilen metnin cümleleri yer alırken, öğretilmesi gereken sözcükler de renkli biçimde belirtiliyor. Daha güzeli, çocuk her sözcüğün üzerine geldiğinde, o sözcüğün işaretini de görebiliyor. Çocukların öğrendiklerini pekiştirmeleri için, kitabın sonunda bir de tüm sözcüklerin alfabetik sıralaması var.</p>
                <p>TİED, tüm bu hazırlığı son hâline getirmeden önce, sağır çocuklarla paylaşarak fikirlerini almayı ihmal etmiyor ve çalışma çocukların ihtiyaçları doğrultusunda düzenleniyor. Yalnızca IOS tabletlerde çalışan Gallaudet Üniversitesinin uygulamasına karşılık, TİED hem Android hem de IOS kullanan telefon ve tabletlere uyumlu bir uygulama geliştiriyor. Böylece etkileşimli elektronik kitap çok daha fazla kişiye ulaşmaya açık hâle geliyor. İşin en heyecan verici taraflarından biri de işaretli masal anlatıcımızın, üniversitelerin çocuk gelişim bölümlerinde ve sağır okullarında da tanıtılarak öğretmenlere çok etkili bir sağır eğitim modeli sunacak olması.</p>
            </div>

            <div class="col-12 text-center my-4">
                <a href="https://tied.org.tr/haberler/oykulerimiz/" class="d-flex flex-column align-items-center text-decoration-none" target="_blank">
                    <img src="images/ikidilli-okuma-gelisimi/link.png" class="img-fluid" alt="Türkiye İşitme Engelliler Derneği Logosu">
                </a>
            </div>

            <div class="col-12">
                <p>Dünyayı yaşanır kılan, içindeki anlamı kovalamak. Bu arayışı, her gün yeni imkânlarla sürdürebilmek için dile ihtiyacımız var. Bir dille yaşamak; okuyarak keşfetmek, alışıldık şeyleri yaratıcı yollarla yeniden düşünmek, hayal kurabilmek, merak edebilmek ve daha fazlasını görmeye heves etmek demek. Dil, Baobab meyvesini tadabilmek, Keloğlan’ın gemisine binebilmek demek. Neyse ki insan ufku geniş. Ve duymamak engel değil, çünkü söz duymaktan ibaret değil; bilişsel.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box turuncu-box">“Hikâyeyi artık işaret dili ile izliyorum. Hem de alfabe öğreniyorum. Çok beğendim. Hep böyle devamlı farklı hikâyeler olsun istiyorum.”</p>
                <p class="content-box-alt">Uygulamayı Kullanan Çocuk (6 yaş)</p>
            </div>

            <div class="col-12 my-5">
                <div id="ikidilliOkumaGelisimiSlider">
                    <div>
                        <img src="images/ikidilli-okuma-gelisimi/ikidilli-okuma-gelisimi-2.jpg" class="img-fluid" alt="Beyaz yazı tahtasının önünde yetişkin ve çocukların olduğu bir toplu fotoğraf. Ortalarında, üzerinde Türk İşaret Dili Kullanan Sağır Çocuklar İçin İkidilli Okuma Gelişimi Uygulamaları yazan ayaklı bir afiş var. En sağda tekerlekli sandalyede oturan bir erkek dışında herkes ayakta, gülümseyerek poz veriyor.">
                    </div>
                    <div>
                        <img src="images/ikidilli-okuma-gelisimi/ikidilli-okuma-gelisimi-7.jpg" class="img-fluid" alt="Sınıf gibi bir odada, perdeye yansıtılmış bir animasyon görüntüsünün önünde ayakta duran çocuklar ve onların karşısında işaret dili ile bir şeyler anlattıkları anlaşılan iki kadın var.">
                    </div>
                    <div>
                        <img src="images/ikidilli-okuma-gelisimi/ikidilli-okuma-gelisimi-8.jpg" class="img-fluid" alt="Biri işaret dili ile konuştuğu anlaşılan, diğeri onu izleyen iki kız çocuğu yan yana oturuyor.">
                    </div>
                    <div>
                        <img src="images/ikidilli-okuma-gelisimi/ikidilli-okuma-gelisimi-9.jpg" class="img-fluid" alt="Açık havada taş merdivenlerin iki basamağına arka arkaya oturmuş dokuz küçük çocuk ellerini havaya kaldırmış şekilde, işaret dilinde alkış işaretini yaparken, gülümseyerek poz veriyorlar.">
                    </div>
                    <div>
                        <img src="images/ikidilli-okuma-gelisimi/ikidilli-okuma-gelisimi-11.jpg" class="img-fluid" alt="Yakın planda çekilmiş karşılıklı birbirlerine bakan üç kız çocuğu.">
                    </div>
                    <div>
                        <img src="images/ikidilli-okuma-gelisimi/ikidilli-okuma-gelisimi-12.jpg" class="img-fluid" alt="Duvardaki perdeye yansıtılan görüntüde Dünya İşaret Dilleri Günü yazıyor. Perdenin önünde ayakta duran bir kadın ve tekerlekli sandalyede oturan bir erkek bir şeyler anlatıyorlar. ">
                    </div>
                </div>
            </div>

            <div class="col-12 mb-5">
                <p>Videonun erişilebilir versiyonu için <a href="https://youtu.be/6udFPMQet98" class="color-engelli" target="_blank">tıklayınız</a>.</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/6udFPMQet98" title="TİED | Türk İşaret Dili Kullanan Sağır Çocuklar için İkidilli Okuma Gelişimi Uygulamaları" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>

</main>

{{/content}}
{{/extend}}