---
language: tr
title: EKİM ZAMANI HİBE ÖYKÜLERİ 2020-2021
description:
script: js/content/home.js
langlink: en/index.hbs
---

{{#extend "base"}}
{{#content "main"}}

<main>
    {{> homePage}}
</main>

{{/content}}
{{/extend}}