---
language: tr
title: Kadınlar Işığıyla Madeni Aydınlatıyor
description:
script: js/content/kadinlar-isigiyla-madeni-aydinlatiyor.js
langlink: en/women-brigthen-the-mine-with-their-light.hbs
bodyClass: kadin
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="kadinlar-isigiyla-madeni-aydinlatiyor-back">
        <div class="container px-0">
            <img src="images/kadinlar-isigiyla-madeni-aydinlatiyor/kadinlar-isigiyla-madeni-aydinlatiyor-1.jpg" class="img-fluid" alt="MADENCİ KADINLAR DAYANIŞMA VE SOSYAL YARDIMLAŞMA DERNEĞİ">
        </div>
    </div>

    <div class="container my-4">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> kadin-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://instagram.com/madencikadinlardernegi" target="_blank"><i class="fab fa-14x fa-instagram"></i></a>
                <a class="mx-1 color-icons" href="http://madencikadinlar.org/hakkimizda-kadinlar-isigiyla-madeni-aydinlatiyor" target="_blank"><i class="fas fa-14x fa-link"></i></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-kadin text-center border-bottom-grade mb-3">MADENCİ KADINLAR DAYANIŞMA VE SOSYAL YARDIMLAŞMA DERNEĞİ</h4>
                <h3 class="font-175 bold color-kadin text-center">KADINLAR IŞIĞIYLA MADENİ AYDINLATIYOR</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-kadin mb-3">Kız Kardeşler Madeni: Kendine Güvenen Kadın Olmak Ne Güzel Şey!</h6>
                <p>Dünya üzerindeki tüm kadınlar, birbirleriyle sözsüz bir ortaklığı paylaşarak doğuyor: Toplumun yüzyıllardır cinsiyetlere atadığı roller sebebiyle, hayatın her alanında fırsatlara erişimde kadınlar erkeklerden geride kalıyor. Kadınlar için tüm yaşam, farkında olsunlar ya da olmasınlar, işte bu mesafeyi kapatmak için verilen bir mücadeleye dönüşüyor.</p>
                <p>Kuralları erkeklerin koyduğu bir işleyişte, mücadeleyi tek başına vermek hiç de kolay olmuyor. Hele de aradaki -aslında var olmaması gereken mesafe- şiddet, istismar, erken yaşta evlilik gibi vakalarla giderek daha da açılıyorsa... Dayanışmanın kıymeti de işte tam burada ortaya çıkıyor: Her yaş, coğrafya ve kimlikten kadınların deneyimlediği benzer zorluklar, aynı zamanda onları bir araya getiren doğal bir kız kardeşlik bağının da düğümünü atıyor.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/kadinlar-isigiyla-madeni-aydinlatiyor/kadinlar-isigiyla-madeni-aydinlatiyor-3.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/kadinlar-isigiyla-madeni-aydinlatiyor/kadinlar-isigiyla-madeni-aydinlatiyor-4.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Eskişehir’in Nemli Köyü’ndeki manyezit ocağında çalışan madenci kadınlara, bir araya gelerek bir dayanışma ve yardımlaşma derneği kurduran tam da bu ruh. Onları buluşturan, aynı sektörün çalışanı olmaktan önce, kadın olmaları. Hepsi, farklı hanelerde her gün, aynı ön yargılara çarpa çarpa, kendilerini tanıyor, keşfediyor, inşa ediyor. Yaptıkları iş ise, bu farkındalığı büyütmüş, dikkatleri üzerlerine toplayabilmeleri için onlara iyi bir vesile vermiş: Öyle ya, duyulmuş şey mi kadın kısmının madende çalışması... Derneğin ismi bile tek başına ses getirmeye yetmiş. Madenci kadınları duyanlar, bunlar kimdir, diye araştırmaya başlamış. Madenciliğin erkek işi olduğu algısı, manyezit taşları gibi işte böyle yavaş yavaş kırılınca, kadınlar heyecanlanarak, bu tanışıklığı büyütmeye karar vermiş. </p>
                <p>Burası öyle göründüğü gibi basit bir yer değil, diyor madende çalışan kadınlardan biri. “Soğuğu var, ayazı var, tozu var.” Yani aslında, toplumun kadınlar için uygun görmediği tüm koşullarla iç içeler. Ve ekmeklerini taştan çıkarıyorlar. Bununla birlikte, medyada ne kadar görünür oldukları tartışılır. Öyle ki, kadınların madende çalışmalarının uğursuzluk getireceğine inananlar bile var. Madenci kadınlar bu yüzden temkinli. Önce biz hem yaptığımız işin hem de Dernek olarak neden bir arada olduğumuzun iyice bilicine varalım ki, dışarıya karşı güçlü bir ses verebilelim, diyorlar. Elbette meslek kollarına ait sorun ve ihtiyaçları, toplumsal cinsiyet eşitliği bakış açısından ifade edebilmeleri de çok önemli. </p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/kadinlar-isigiyla-madeni-aydinlatiyor/kadinlar-isigiyla-madeni-aydinlatiyor-5.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/kadinlar-isigiyla-madeni-aydinlatiyor/kadinlar-isigiyla-madeni-aydinlatiyor-6.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Derneğin kadınlarını buluşturacak yeni ortaklık böylece kuruluyor: Grup, ilk olarak ‘Bel Boyun Okulu’ ile eğitimlere başlıyor. Her şeyden önce çalıştıkları ortamda kendi fiziksel sağlıklarını korumanın yollarını öğreniyorlar. Çünkü çalıştıkları iş kolunun özel koşullarını gözeterek güvenli ve sağlıklı bir ortamda çalışma hakkına sahip olduklarının farkındalar. Ardından toplumsal cinsiyet eşitliği eğitimleri ile toplumdaki cinsiyet rollerinin nasıl oluştuğunu, eşitlikçi bir bakış açısının nasıl kazanılabileceğini birlikte tartışıyor ve öğreniyor. </p>
                <p>Toplumsal cinsiyet eşitliğini ve yasal haklarını öğrendikleri eğitimlerin ardından kadınlar, medyanın kadın ve erkekler için hangi rolleri özellikle seçerek yeniden dolaşıma soktuğunu daha hızlı teşhis eder hâle geliyorlar. Bir fenomenin çektiği video, çok okunan bir köşe yazısı ya da sıkça maruz kaldığımız bir reklam filminde sahneye çıkan erkekler, ne hikmetse her zaman sert, agresif, kararlı, hırslı, küfürbaz ve kadın bedenine hakaret eden karakterlere denk geliyor. </p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box mor-box">Buna temsil diyorlar, diyor bir madenci kadın. “Sanki bir kişinin mevzusuymuş ya da işte münferit bir vakaymış gibi aktarılıyor bu hikâyeler ama tesadüfen seçilmiş bir karakter değil o elbette. Adı üzerinde, temsil... Bizim kocalarımızı, babalarımızı, ağabeylerimizi temsil ediyor. Bizim şirkette, ne bileyim, köyde, pazarda ne varsa o yani. Madem herkes buna alışık, neden aykırı bir şey söyleyip de risk alsın. O dizinin izlenmesini istiyorsa, koyuyor oraya her işi kadından bekleyen esas oğlanı. İşte bitti.” </p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/kadinlar-isigiyla-madeni-aydinlatiyor/kadinlar-isigiyla-madeni-aydinlatiyor-8.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/kadinlar-isigiyla-madeni-aydinlatiyor/kadinlar-isigiyla-madeni-aydinlatiyor-9.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Kadına karşı şiddetin de bu yolla normalleştiğini görüp hayrete düşüyor kadınlar. Öyle ya, öğlen bülteninde “erkek aldatılınca öfkesine yenik düştü” sözleriyle aktarılan bir kadın cinayeti haberi, akşam olunca mahallede, “kadın da namuslu davransaydı o zaman” diye konuşuluyor. Eğitim sonunda tüm katılımcılar, bunun Ahmet ya da Selma’nın meselesi olmadığından emin hâle geliyorlar. Bu, Ahmetler ve Selmaların, hatta onların anneleri ve babalarının, komşuları ve akrabalarının, iş arkadaşları ve çocuklarının, özetle tüm toplumun meselesi. Yani madende taş ayıklamak gibi ne yalnız kadın ne yalnız erkek işi.</p>
                <p>Bu yolculuk, Nemli Köyü’nün kadınları için sıra dışı gibi görünse de zaten bilinen bir gerçeği yeniden okumak gibi aslında. İşin teorisini eğitimler sırasında öğrenmiş olabilirler ama kız kardeşlikleri çok eski.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box mor-box">Dernek üyesi bir kadının da söylediği gibi: “Madende çalışıyorum deyince ‘Nasıl yani, kadın madende çalışır mı?’ diye soruyorlar. Bu işleri genelde erkekler yapıyor olarak biliniyor fakat aynı işleri biz kadınlar olarak yapabiliyoruz. Zor koşullara rağmen biz de varız diyoruz. Her işin zorluğu, kolaylığı vardır. ‘Ev işi mi, çalışmak mı?’ dersen, tabii ki çalışmak!”</p>
            </div>

            <div class="col-12 my-5">
                <div id="kadinlarIsigiylaMadeniAydinlatiyorSlider">
                    <div>
                        <img src="images/kadinlar-isigiyla-madeni-aydinlatiyor/kadinlar-isigiyla-madeni-aydinlatiyor-2.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/kadinlar-isigiyla-madeni-aydinlatiyor/kadinlar-isigiyla-madeni-aydinlatiyor-7.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/kadinlar-isigiyla-madeni-aydinlatiyor/kadinlar-isigiyla-madeni-aydinlatiyor-10.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/kadinlar-isigiyla-madeni-aydinlatiyor/kadinlar-isigiyla-madeni-aydinlatiyor-11.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>

{{/content}}
{{/extend}}