---
language: tr
title:
description: Bebekler henüz anne karnındayken öğrenmeye başlar. En iyi yaptıkları şey etrafları ile ilişki kurmaktır. Çünkü öğrenmeleri için ilişki kurmaları gerekir. Beyin gelişiminin %85’inin tamamlandığı ilk üç yıl, insan hayatının en kritik dönemini oluşturur. Fizyolojik gelişimlerinin yanı sıra zihinsel olarak da bu erken yaşlarda edindikleri deneyimler tüm hayatlarını etkileyebilir.
script: js/content/kiz-kardesimle-gucluyum.js
langlink: en/-.hbs
bodyClass: kadin
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="kiz-kardesimle-gucluyum-back">
        <div class="container px-0">
            <img src="images/kiz-kardesimle-gucluyum/kiz-kardesimle-gucluyum-1.jpg" class="img-fluid" alt="">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> kadin-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://www.facebook.com/pages/Esenyali%20Kad%C4%B1n%20Dayan%C4%B1%C5%9Fma%20Derne%C4%9Fi/1402514063334708/" target="_blank"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook linki</span></a>
                <a class="mx-1 color-icons" href="https://twitter.com/esenyalikdd" target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter linki</span></a>
                <a class="mx-1 color-icons" href="https://www.instagram.com/esenyalikadindayanisma/" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram linki</span></a>
                {{!-- <a class="mx-1 color-icons" href="https://youtube.com/" target="_blank"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube linki</span></a> --}}
                {{!-- <a class="mx-1 color-icons" href="#" target="_blank"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Websitesi linki</span></a> --}}
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-kadin text-center border-bottom-grade mb-3">ESENYALI KADIN DAYANIŞMA DERNEĞİ</h4>
                <h3 class="font-175 bold color-kadin text-center">KIZ KARDEŞİMLE GÜÇLÜYÜM</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-kadin mb-0">Kız Kardeşlik Hayat Kurtarır</h6>
                <p class="mt-0">Kadınlar yüzyıllardır cinsiyetlere atanan roller sebebiyle, hayatın her alanında erkeklerden daha fazla mücadele etmek zorunda bırakılıyor. Yaş, coğrafya veya kimliklerinden bağımsız olarak yaşadıkları benzer zorluklar ise onları bir araya getiren ve güçlendiren bir dayanışmayı doğuruyor.</p>
                <p>Çoğunlukla işçi ailelerin yaşadığı İstanbul Esenyalı’da işte bu dayanışma ağının umut veren bir örneği örgütleniyor. Bu mahallede yaşayan emekçi kadınlar, ortak sorunlarından yola çıkarak hak ve özgürlükler ile ilgili farkındalıkları artırmak ve karşılaştıkları zorluklarla birlikte mücadele edebilmek için bir araya geldiler ve Esenyalı Kadın Dayanışma Derneği’ni kurdular.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/kiz-kardesimle-gucluyum/kiz-kardesimle-gucluyum-2.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/kiz-kardesimle-gucluyum/kiz-kardesimle-gucluyum-3.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Kuruldukları 2013 yılından beri mahallede yaptıkları tüm çalışmaları sistematik hâle getirecek ve yerel örgütlenme modellerini sürekli kılacak Kız Kardeşimle Güçlüyüm projesi, bölgedeki kadınların toplumsal cinsiyete dair farkındalıklarını artırmaya ve mahalledeki kadın dayanışmasını güçlendirmeye odaklanıyor. Gülsuyu Gülensu Kadın Dayanışma Evi ortaklığıyla hayata geçen projenin, birbiriyle etkileşim hâlinde olan üç ayağı bulunuyor.</p>
            </div>

            <div class="col-12 text-center">
                <div class="content-box mor-box">
                    <p class="mt-2">“Hayatımda ilk defa ‘kalıpyargı’ diye bir şey duydum. Ön yargı ne demek biliyordum ama kalıpyargıyı bilmiyordum. Aslında biz de farkında olmadan ayrımcılık yapıyoruz.”</p>
                    <p class="bold mb-1">Bir Katılımcı </p>
                </div>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="images/kiz-kardesimle-gucluyum/kiz-kardesimle-gucluyum-4.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Kız Kardeşimle Öğreniyorum başlıklı ilk bölümde mahalledeki kadınların hak temelli farkındalıklarının arttırılması için eğitimler ve etkinlikler düzenlendi. Toplumsal cinsiyet, kadının insan hakları, şiddet, şiddetle mücadelede hukuki mekanizmalar, kent hakları, medya ve cinsiyetçilik, beden ve sağlık gibi konulardan oluşan bu eğitim programını Esenyalı ve Gülsuyu mahallelerinden 90 kadın tamamladı. Eğitimlerin en mutluluk verici çıktısı ise katılımcıların kalıcı bir gruba dönüşmesi oldu. Mahallede haklarını merak eden, araştıran, birbirleriyle tartışarak öğrenmeyi sürdüren bir kız kardeş grubu var artık!</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/kiz-kardesimle-gucluyum/kiz-kardesimle-gucluyum-5.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/kiz-kardesimle-gucluyum/kiz-kardesimle-gucluyum-6.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Projenin ikinci ayağı olan Kız Kardeşimle Üretiyorum atölyeleri ise kadınların bedensel, psikolojik ve sosyal olarak desteklenmesine odaklanan bir bölüm olarak kurgulandı. 300 kadın nefes, yaratıcı drama, ritim, yazarlık, resim alanlarında düzenlenen atölyelere katıldı.</p>
                <p>Projenin sonunda yapılan Kız Kardeşimle El Ele Şenliği ise mahalledeki tüm kadınların birlikte organize ettiği kocaman bir festivale dönüştü. Kadınların organizasyon becerilerini, birlikte hareket etmeyi ve dayanışmayı güçlendirmeyi hedefleyen bu etkinlik; kadın, erkek, çocuk, yaşlı demeden tüm mahalleliyi içine aldı ve herkese umut veren bir soluk oluşturdu.</p>
            </div>

            <div class="col-12 text-center">
                <div class="content-box mor-box">
                    <p class="mt-2">“8 Mart’ı biliyordum ama nereden çıktığını bilmiyordum. Meğer ne çok şeyin kavgasını vermişiz. Hep bir şeyler için mücadele etmemiz gerekmiş.”</p>
                    <p class="bold mb-1">Bir Katılımcı</p>
                </div>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/kiz-kardesimle-gucluyum/kiz-kardesimle-gucluyum-7.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/kiz-kardesimle-gucluyum/kiz-kardesimle-gucluyum-8.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Esenyalı Kadınları, Türkiye’nin şiddete en sık rastlanan mahallelerinden birinde, tüm mahalleli kadınların hızlıca ulaşabileceği bir mesafede örgütlenerek hayat kurtaran değişimi çoktan başlattı. Dünyadaki tüm kadınların paylaştığı bu kız kardeşlik bağı, karşılarına çıkan tüm zorluklardan daha güçlü. Mahallelerden başlayan bu dayanışmanın sesi de tüm ülkede ve tüm dünyada yankılanarak çoğalacak. Çünkü kız kardeşlik hayat kurtarır!</p>
            </div>

            <div class="col-12 text-center">
                <div class="content-box mor-box">
                    <p class="mt-2">“Doyuran biz, giydiren biz, aç kalan, çıplak kalan biz... Bu kaderi biz yazmadık, bozacak olan biziz...”</p>
                    <p class="bold mb-1">Kız Kardeşimle El Ele Şenliği Erbane Korosu</p>
                </div>
            </div>

            <div class="col-12 my-5">
                <div id="kizKardesimleGucluyumSlider">
                    <div>
                        <img src="images/kiz-kardesimle-gucluyum/kiz-kardesimle-gucluyum-9.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/kiz-kardesimle-gucluyum/kiz-kardesimle-gucluyum-10.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/kiz-kardesimle-gucluyum/kiz-kardesimle-gucluyum-11.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-12 mb-5">
                {{!-- <p>Videonun erişilebilir versiyonu için <a href="https://youtu.be/" class="color-kadin" target="_blank">tıklayınız</a>.</p> --}}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/FyLLM2J74rk" title="Ekim Zamanı Online Buluşma Zamanı | İstanbul Esenyalı Kadın Dayanışma Derneği" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>


</main>

{{/content}}
{{/extend}}