---
language: tr
title: Köy Öğretmenleri
description:
script: js/content/koy-ogretmenleri.js
langlink: en/rural-teachers.hbs
bodyClass: genc
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="koy-ogretmenleri-back">
        <div class="container px-0">
            <img src="images/koy-ogretmenleri/koy-ogretmenleri-1.jpg" class="img-fluid" alt="KÖY OKULLARI DEĞİŞİM AĞI DERNEĞİ">
        </div>
    </div>

    <div class="container my-4">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> genc-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://facebook.com/kodegisim" target="_blank"><i class="fab fa-14x fa-facebook-f"></i></a>
                <a class="mx-1 color-icons" href="https://twitter.com/kodegisim" target="_blank"><i class="fab fa-14x fa-twitter"></i></a>
                <a class="mx-1 color-icons" href="https://instagram.com/kodegisim" target="_blank"><i class="fab fa-14x fa-instagram"></i></a>
                <a class="mx-1 color-icons" href="https://youtube.com/channel/UCyiAbqsWLe4U261oMXGTm9A" target="_blank"><i class="fab fa-14x fa-youtube"></i></a>
                <a class="mx-1 color-icons" href="http://kodegisim.org/koy-ogretmenleri-projesi" target="_blank"><i class="fas fa-14x fa-link"></i></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-genc text-center border-bottom-grade mb-3">KÖY OKULLARI DEĞİŞİM AĞI DERNEĞİ</h4>
                <h3 class="font-175 bold color-genc text-center">KÖY ÖĞRETMENLERİ</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-genc mb-3">Tohum Yeşertmeyi Öğrenmek</h6>
                <p>Topraklar özüyle büyür. Üzerine atılan her tohum başka bir renkle filizlenir, gelişir, yaşadığı coğrafyaya değer katar. Bir tohumun filizlenmesi için çok temel gereksinimleri vardır. Ama ne yazık ki her tohumun birbirine eş koşulları yok. Köy Okulları Değişim Ağı Derneği (KODA), Türkiye’nin köylerinde eğitim gören ve sayıları 500 bine yaklaşan çocukların her biri bir çınara dönüşsün diye köy okullarında kırsal koşullara uygun, bütünsel ve nitelikli eğitimi gerçek kılmayı amaçlıyor.</p>
                <p>Her köyün doğasında bambaşka özler var. Bu nedenle çalışmalarının temelini, köy okullarındaki sorunlar yerine bu renkliliğin getirdiği fırsatlara ve köy okullarının filizlenmeyi bekleyen potansiyeline odaklıyor. Bu potansiyeli de köy öğretmenleriyle el ele vererek büyütebileceğine inanıyor. Böylece, varlığını bulunduğu vahaya tüm potansiyeliyle sunacak öğretmenleri desteklemek için, temel stratejisini köy öğretmenlerini güçlendirmek olarak tanımlıyor.</p>
                <p>Köylerin demografik ve sosyolojik yapıları sebebiyle buralarda yürütülen eğitim, çoğu zaman birleştirilmiş sınıflarda gerçekleştiriliyor. Birden fazla kademenin bir arada öğrenim gördüğü birleşmiş sınıf uygulamasının iyileştirilmesi, eğitimde fırsat eşitliğinin sağlanabilmesi için kritik önem taşıyor. Nitelikli eğitime erişimin herkes adına mümkün olması için köy okullarında görev yapan öğretmenlerin de bu noktada her türlü desteğe ihtiyacı var.</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="images/koy-ogretmenleri/koy-ogretmenleri-2.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box yesil-box">“Birleştirilmiş Sınıflı Köy Okullarında Görev Yapan Öğretmenlere Yönelik Uzaktan Mesleki Gelişim Kursunu EBA üzerinden tamamladım. Kurs içeriği öğretmenlere rehberlik eden bir dizi örnek olay üzerinden planlanmış. Yaşanabilecek olası sorunlar, çözüm önerileri ile sunulmuş. Eğitim, öğretmenlerin mesleki gelişimine katkı sağlayıp pedagojik açıdan farkındalık oluşturarak kılavuzluk edecek.”</p>
                <p class="content-box-alt">Uzaktan Mesleki Gelişim Kursuna Katılan Öğretmen - Kocaeli</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/koy-ogretmenleri/koy-ogretmenleri-3.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/koy-ogretmenleri/koy-ogretmenleri-4.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/koy-ogretmenleri/koy-ogretmenleri-5.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/koy-ogretmenleri/koy-ogretmenleri-6.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Proje ilk başladığından bu yana içerdiği çalışmalarla hem köy öğretmenlerinin hem de öğretmen adaylarının köy okullarındaki eğitime dair pozitif bir algı geliştirmesini hedefliyor. Bu kitaplar da hem görevine yeni başlayan köy öğretmenlerinin mesleklerinin ilk yıllarında, en etkili yardımcıları hâline geliyor hem de deneyimli köy öğretmenlerini ihtiyaç duydukları konularda desteklemeye devam ediyor. Öğretmenler okuldaki sobayı nasıl yakacağından, aileleri eğitim süreçlerine nasıl daha fazla dâhil edebileceğine kadar pek çok konuda Başucu Kitabı’ndan faydalanabiliyor. Etkinlik Kitabı ise, köy öğretmenlerinin özellikle birleştirilmiş sınıflarda eğitim yapabilmelerine dair becerilerinin geliştirilmesine kapı aralıyor. Nitelikli bir eğitim hedefiyle sınıf içinde uygulayabilecekleri, Millî Eğitim Bakanlığının müfredat için belirlediği kazanımlara uygun etkinlik önerileri, öğretmen deneyimleri ve uzman görüşleri sunularak kendi çözümlerini bulmalarına destek olunuyor.</p>
                <p>Öğretmenler arasında kurulan dayanışma ağları Köy Öğretmenleri projesini farklı kılan en önemli kazanımlardan biri. Genellikle mesleğinin ilk yıllarında köylerde görev yapmak üzere atanan öğretmenlerin deneyim paylaşarak birbirlerinden güç almaları hem eğitimin niteliğini pozitif yönde etkiliyor hem de öğretmenleri daha yolun başında yalnızlıktan kurtarıyor. Bu yaklaşımla paralel olarak, MEB’in projeye dâhil olması ile 300 öğretmen eğitici eğitimi alıyor ve Türkiye’deki toplam 7.000 köy öğretmenine hizmet içi eğitimler kapsamında aktarmaları planlanan bilgi ve beceriler ile donanıyor. Öğretmenler arası dayanışma, akranlar arası bu öğrenme modeli ile katlanarak büyüyor. Üstelik bu eğitim içerikleri de MEB’in Eğitim Bilişim Ağı’na yüklenerek tüm öğretmenlerin kullanımına açılıyor. MEB’in Eğitim Bilişim Ağı’na yüklenen Birleştirilmiş Sınıflı Köy Okullarında Görev Yapan Öğretmenlere Yönelik Uzaktan Mesleki Gelişim Kursu; 21 eğitsel video içeren ve Köy Öğretmeninin Başucu Kitabı ile Etkinlik Kitabı’na yönlendirmeler yapan bütünsel bir eğitim programı. Uzaktan Mesleki Gelişim Kursu’nu da 3.000’den fazla öğretmen başarıyla tamamlayıp sertifika almaya hak kazanıyor.</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4 text-center my-4">
                <a href="https://www.sabancivakfi.org/i/content/Birlestirilmis_Sinifli_Koy_Okullari_icin_Etkinlik_Kitabi.pdf" class="d-flex flex-column align-items-center text-decoration-none" target="_blank">
                    <img src="images/koy-ogretmenleri/pdf-kapak-2.jpg" class="w-75" alt="">
                    <p class="font-085 color-genc bold border-bottom-grade mt-2">BİRLEŞTİRİLMİŞ&nbsp;SINIFLI KÖY&nbsp;OKULLARI İÇİN ETKİNLİK&nbsp;KİTABI</p>
                </a>
            </div>
            <div class="col-md-4 text-center my-4">
                <a href="https://www.sabancivakfi.org/i/content/Koy_Ogretmeninin_Basucu_Kitabi.pdf" class="d-flex flex-column align-items-center text-decoration-none" target="_blank">
                    <img src="images/koy-ogretmenleri/pdf-kapak-1.jpg" class="w-75" alt="">
                    <p class="font-085 color-genc bold border-bottom-grade mt-2">BİRLEŞTİRİLMİŞ&nbsp;SINIFLARDA GÖREV&nbsp;YAPAN KÖY&nbsp;ÖĞRETMENLERİNİN ORYANTASYON ve MESLEKİ GELİŞİM&nbsp;EĞİTİMİ</p>
                </a>
            </div>
            <div class="col-md-2"></div>

            <div class="col-12">
                <p>Bu eğitimler aracılığıyla desteklenen becerilerin tümü köy öğretmenlerinin köy okullarındaki öğrencilere bütüncül eğitim vermeleri üzerine kurgulanıyor. Böylelikle köy okullarındaki eğitimin niteliğini artıran değişimler ortaya çıkıyor. Projenin her aşamasında öğretmenlerle iletişim hem yüz yüze hem çevrimiçi etkinliklerle diri tutuluyor. Öğretmenlerin ihtiyaçları doğrultusunda içerikler şekillendiriliyor.</p>
                <p>Proje ekibi her adımında güçlü bir gelecek için projenin bir sonraki adımını da hayal ediyor ve öğretmenlerin geri bildirimleri doğrultusunda kendini güncelliyor. Yani bu toprakların her yanında filizler çiçek açsın diye doğaya uyumlanıyor. KODA, her çocuğun doğasında yeşermek olduğunun farkındalığıyla tohumların atıldığı toprakların verimini yükseltiyor, hem filizleri hem toprağı besliyor, toprak ve köklerin temasını kuvvetlendiriyor.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box yesil-box">“Bu programın önemli bileşenlerinden bir tanesi, ilk kez köye atanan öğretmenlerimizin daha önce köylerde görev yapmış, o deneyime, o bilgiye sahip öğretmenlerimizle birlikte bir ortak ağ içerisinde yer almaları, birlikte çalışmaları ve köy okullarına ve köydeki yaşama hazır hâle gelmeleri.”</p>
                <p class="content-box-alt">Adnan Boyacı - Millî Eğitim Bakanlığı - Öğretmen Yetiştirme Genel Müdürü </p>
            </div>

            <div class="col-12 my-5">
                <div id="koyOgretmenleriSlider">
                    <div>
                        <img src="images/koy-ogretmenleri/KODA 01.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/koy-ogretmenleri/KODA 04.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/koy-ogretmenleri/koy-ogretmenleri-7.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>

{{/content}}
{{/extend}}