---
language: tr
title: Koza Ebeveynden Ebeveyne Destek Programı Geliştirilmesi Projesi
description: Bebekler henüz anne karnındayken öğrenmeye başlar. En iyi yaptıkları şey etrafları ile ilişki kurmaktır. Çünkü öğrenmeleri için ilişki kurmaları gerekir. Beyin gelişiminin %85’inin tamamlandığı ilk üç yıl, insan hayatının en kritik dönemini oluşturur. Fizyolojik gelişimlerinin yanı sıra zihinsel olarak da bu erken yaşlarda edindikleri deneyimler tüm hayatlarını etkileyebilir.
script: js/content/koza-projesi.js
langlink: en/-.hbs
bodyClass: engelli
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="koza-projesi-back">
        <div class="container px-0">
            <img src="images/koza-projesi/koza-projesi-1.jpg" class="img-fluid" alt="">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> engelli-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://facebook.com// " target="_blank"><i class="fab fa-14x fa-facebook-f"></i> <span class="sr-only">Facebook linki</span></a>
                <a class="mx-1 color-icons" href="https://twitter.com/ " target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter linki</span></a>
                <a class="mx-1 color-icons" href="https://instagram.com/" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram linki</span></a>
                <a class="mx-1 color-icons" href="https://youtube.com/" target="_blank"><i class="fab fa-14x fa-youtube"></i> <span class="sr-only">Youtube linki</span></a>
                <a class="mx-1 color-icons" href="#" target="_blank"><i class="fas fa-14x fa-link"></i> <span class="sr-only">Websitesi linki</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-engelli text-center border-bottom-grade mb-3">ESKİŞEHİR GELİŞİM VAKFI (EGEV)</h4>
                <h3 class="font-175 bold color-engelli text-center">KOZA EBEVEYNDEN EBEVEYNE DESTEK PROGRAMI<br class="d-none d-lg-block"> GELİŞTİRİLMESİ PROJESİ</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-engelli mb-0">Kapsayıcı Bir Dünya İçin Ebeveyn Dayanışması</h6>
                <p class="mt-0">Bebekler henüz anne karnındayken öğrenmeye başlar. En iyi yaptıkları şey etrafları ile ilişki kurmaktır. Çünkü öğrenmeleri için ilişki kurmaları gerekir. Beyin gelişiminin %85’inin tamamlandığı ilk üç yıl, insan hayatının en kritik dönemini oluşturur. Fizyolojik gelişimlerinin yanı sıra zihinsel olarak da bu erken yaşlarda edindikleri deneyimler tüm hayatlarını etkileyebilir. </p>
                <p>Erken çocukluk dönemi, söz konusu özel gereksinimli çocuklar olduğunda çok daha kritik önem taşır. Ebeveynlerin bu süreçte karşılaşacakları engellerle nasıl baş edeceklerini bilmeleri hem kendilerinin hem de çocuklarının hayatını kolaylaştırarak onlara daha mutlu bir gelecek sunabilmelerine olanak sağlar. Yani, çocuğu yeni tanı alan ebeveynler, hayatlarını büyük ölçüde değiştiren bu noktadan itibaren hem bilgiyle hem de psikolojik anlamda desteklenmeye ihtiyaç duyarlar. </p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="images/koza-projesi/koza-projesi-2.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Eskişehir Gelişim Vakfı (EGEV), işte bu ihtiyaçtan yola çıkarak özel gereksinimle dünyaya gelen çocukların ebeveynlerine erken çocukluk döneminde destek olacak Koza projesini başlattı. Kapsayıcı bir toplum hayali ile yola çıkan EGEV, ebeveynlerin hızla harekete geçmeleri gereken erken çocukluk dönemini, eksik bilgiyle ve kabullenme mücadelesiyle geçirdiklerini vurguluyor. Araştırmalar bu süreçte ebeveynlerin ihtiyaç duydukları bilgi ve yönlendirmeye büyük oranda benzer tanı almış çocukların ailelerinden ulaştıklarını gösteriyor. Çünkü bu destek aynı zamanda ailelerin kabullenme sürecini de kolaylaştırıyor.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/koza-projesi/koza-projesi-3.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/koza-projesi/koza-projesi-4.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p class="bold color-engelli mb-0">“En İyi Yaşayan Bilir”</p>
                <p class="mt-0">İşte bu yüzden EGEV, “En iyi yaşayan bilir” sözüne bağlı kalarak, ebeveynler arası destek ağını, ‘koza’ metaforu üzerine kurdu. Tecrübeli, yani kelebek ebeveynlerin; çocuğu yeni tanı almış, yani tırtıl ebeveynlere tecrübelerini aktardığı bir etkileşim alanı oluşturularak çocukların geç kalmadan gerekli eğitimlere, haklara ve sağlık hizmetlerine erişimleri desteklendi.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box turuncu-box">“Bu yolculukta kelebek olmak diye bir şey yok, hep tırtılız, kimimiz daha büyük, kimimiz daha küçük tırtılız. Bu projeye katılma nedenim başka annelere destek olmaktı ama ben de buradan çok destek aldım, çok şey öğrendim.” </p>
                <p class="content-box-alt">Proje katılımcısı bir anne</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="images/koza-projesi/koza-projesi-5.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Koza projesinde ilk olarak uzmanlarla birlikte problemin belirlenmesi için çalışıldı. Ardından daha önce benzer tecrübeleri yaşamış ebeveynlerden oluşan bir grupla bir araya gelindi ve en çok ihtiyaç duyulan konulara çözüm getirecek eğitim içerikleri hazırlandı. Sosyal duygusal öğrenme, bilgi edinme, hak savunuculuğu desteği konu başlıklarıyla düzenlenen eğitimlerde önce gönüllü 15 kelebek ebeveyn bilgi ve becerilerini artırdı; ardından tırtıl ebeveynler ile yaptıkları deneyim paylaşım buluşmalarında aileler arasında dayanışma sağlandı.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box turuncu-box">“Önünüzde size bir bilgi verebilecek başka bir Down sendromlu çocuğu olan aile aramak aklınıza gelmiyor o esnada, ama sonrasında yavaş yavaş ‘başka bir aileyi görsem iyi olacak, onlar neler yapmış, bu aşamayı nasıl geçmişler?’ gibi bilgilere ihtiyacınız oluyor.” </p>
                <p class="content-box-alt">Proje katılımcısı bir baba</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/koza-projesi/koza-projesi-6.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/koza-projesi/koza-projesi-7.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>EGEV, kelebek ve tırtıl ebeveynlerin bir araya getirildiği buluşmalardan elde edilen çıktılarla aileler arası bu dayanışmayı sürekli hale getirebilmek için ebeveyn eğitim uygulama kitabı üzerine çalışıyor. Bu süreçte EGEV’in Erkek Çocuklukta Müdahale Derneği, Down Sendromu Derneği, Otizmli Çocuklar Farkındalık Derneği ve Eskişehir Büyükşehir Belediyesi ile yaptığı iş birlikleri, ailelere daha hızlı ve kolay ulaşmalarını sağladığı gibi, çözümleri de diğer tecrübeli ortaklarıyla dirsek temasında ortaya çıkarmalarına yarıyor.</p>
                <p>EGEV, çocuğu yeni tanı almış ailelere destek olmaya devam ederken doğru bilgilerin yayılması için de çalışmalarını sürdürüyor. Sadece Eskişehir’de değil; tüm ülke genelinde hızla harekete geçilmesi gereken böylesi önemli bir konuda farkındalık oluşturarak kapsayıcı bir toplum hayaline aileler arasında güçlü bir dayanışma kurarak bir adım daha yaklaşıyor.</p>
            </div>

            {{!-- <div class="col-12 my-5">
                <div id="ebeveynDestekProgramiSlider">
                    <div>
                        <img src="images/koza-projesi/koza-projesi-1.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/koza-projesi/koza-projesi-2.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/koza-projesi/koza-projesi-3.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/koza-projesi/koza-projesi-4.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/koza-projesi/koza-projesi-5.jpg" class="img-fluid" alt="Kadın ve erkeklerden oluşan kalabalık bir grup, büyük kahverengi bir kitaplığın önünde ayakta gülümseyerek poz veriyor.">
                    </div>
                </div>
            </div> --}}

            <div class="col-12 mb-5">
                {{!-- <p>Videonun erişilebilir versiyonu için <a href="https://youtu.be/" class="color-kadin" target="_blank">tıklayınız</a>.</p> --}}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/Ln_GKUYaNzU" title="Ekim Zamanı Online Buluşma Zamanı | Eskişehir Gelişim Vakfı" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>


</main>

{{/content}}
{{/extend}}