---
language: tr
title: Sayılarla Hibeler
description: Hibe Programları Haritası ve İnfografikler
script: js/content/sayilarla-hibeler.js
langlink: en/grants-in-numbers.hbs
---

{{#extend "base"}}
{{#content "main"}}

<main>
    <div class="container-fluid" id="sayilarla-hibeler-back">
        <div class="container px-0">
            <img src="images/headers/Sayilarla-Hibeler.jpg" class="img-fluid" alt="">
        </div>
    </div>

    <div class="container my-4" id="main-content">
        {{> fontResizer}}
        <div class="row">
            <div class="col-12 text-center title-top-space-for-header" id="hibe-programlari-haritasi">
                <h6 class="border-bottom-yesil color-yesil bold mb-3">HİBE PROGRAMLARI HARİTASI 2020-2021</h6>
            </div>
            <div class="col-12 text-center my-5">
                {{> hibe-programi-haritasi}}
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center title-top-space-for-header" id="infografikler">
                <h6 class="border-bottom-yesil color-yesil bold mb-3">İNFOGRAFİKLER</h6>
            </div>
            <div class="col-12 my-5">
                {{> infografikler}}
            </div>
        </div>
    </div>
</main>

{{/content}}
{{/extend}}