---
language: tr
title: Sayılarla Hibeler
description:
script: js/content/sayilarla-hibeler.js
langlink: en/sayilarla-hibeler.hbs
---

{{#extend "base"}}
{{#content "main"}}

<main>
    <div class="container my-4">
        {{> fontResizer}}
        <div class="row">
            <div class="col-12 text-center title-top-space-for-header" id="hibe-programlari-haritasi">
                <h6 class="border-bottom-yesil color-yesil bold mb-3">HİBE PROGRAMLARI HARİTASI 2019-2020</h6>
            </div>
            <div class="col-12 text-center my-5">
                {{> hibe-programi-haritasi}}
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center title-top-space-for-header" id="infografikler">
                <h6 class="border-bottom-yesil color-yesil bold mb-3">İNFOGRAFİKLER</h6>
            </div>
            <div class="col-12 text-center my-5">

            </div>
        </div>
    </div>
</main>

{{/content}}
{{/extend}}