---
language: tr
title: Yüksekova’da Kadın Olmak
description: Yüksekova, yıllardır etrafında devam eden çatışmaların arasında, ekonomik ve sosyal açıdan Türkiye’nin en dezavantajlı ilçelerinden biri. Kadınlar açısından durumu değerlendirdiğimizde ise toplumsal cinsiyet eşitliği gündeminin son yıllarda ivme kazandığı bir ilçe.
script: js/content/yuksekovada-kadin-olmak.js
langlink: en/being-a-woman-in-yuksekova-2.hbs
bodyClass: kadin
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="yuksekovada-kadin-olmak-back">
        <div class="container px-0">
            <img src="images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-1.jpg" class="img-fluid" alt="Toprak bir yolda yürüyen altı kadının arkadan çekilmiş fotoğrafı. Arka planda tek tük evler ve onların arkasında mavi, bulutsuz gökyüzü ile dağlar var.">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> kadin-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://twitter.com/YUKADER_ " target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter linki</span></a>
                <a class="mx-1 color-icons" href="https://instagram.com/yukader_30" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram linki</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-kadin text-center border-bottom-grade mb-3">YÜKSEKOVA KADINLARI TOPLUMSAL DESTEKLEME VE KÜLTÜR DERNEĞİ</h4>
                <h3 class="font-175 bold color-kadin text-center">YÜKSEKOVA’DA KADIN OLMAK - 2</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-kadin mb-0">Yerelde Başlayan Bir Eşitlik Mücadelesi</h6>
                <p class="mt-0">Yüksekova, yıllardır etrafında devam eden çatışmaların arasında, ekonomik ve sosyal açıdan Türkiye’nin en dezavantajlı ilçelerinden biri. Kadınlar açısından durumu değerlendirdiğimizde ise toplumsal cinsiyet eşitliği gündeminin son yıllarda ivme kazandığı bir ilçe.</p>
                <p>2018 yılında kurulan Yüksekova Kadınları Toplumsal Destekleme ve Kültür Derneği (YUKADER)’in buna katkısı da çok büyük. YUKADER, 2019 yılında başlattığı “Yüksekova’da Kadın Olmak” projesi ile her geçen gün daha çok kadının güvendiği bir ortam oluşturmayı başarıyor.</p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-2.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>KAMER Vakfı’nın gönüllü desteği ile gücüne güç katan proje, öncelikli olarak YUKADER üyelerinin toplumsal cinsiyet eşitliği farkındalığını geliştirmeleri ve bu farkındalıklarını Yüksekova’da yaygınlaştırmaları amacıyla başladı. Buna bağlı olarak dernek ekibi toplumsal cinsiyet rolleri, şiddet ve ayrımcılık, eşitsizlik ile mücadeleye yönelik uygulamalar konularında eğitimlere katıldı. Bu atölyelerin ardından ekip, ilçenin en dezavantajlı kesimlerindeki 607 kadın ile yüz yüze görüşmeler yaptı. Uzun zamandır ilçede elde edilmemiş verileri topladı ve ilçedeki kadın sorununu görünür bir hâle getirmeyi başardı. </p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-3.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-4.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>Yüksekova’da omuz omuza dertlerini paylaşan, birlikte öğrenen ve gelişen, gittikçe büyüyen bir kadın hareketi de böylece güçlenmeye başlamış oldu. YUKADER bu çalışmalar sonucunda kadınların en çok, sosyalleştikleri, öz güven kazandıkları, paylaştıkları, öğrendikleri ve yeni arkadaşlarla tanıştıkları alanlara ihtiyaç duyduklarını da ortaya çıkarmış oldu.</p>
                <p class="bold color-kadin mb-0">Projede 2. Yıl...</p>
                <p class="mt-0">İlk yıldaki başarıyla birlikte kadınların birçok konuda başvuru noktası hâline gelen YUKADER, ikinci yılda kapasitesini güçlendirerek bir kadın destek merkezi olarak yapılanmak üzerine çalışmalar yürüttü. </p>
            </div>

            <div class="col-12">
                <p class="my-4"><img src="images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-5.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>İkinci yılın odağında kamu kuruluşları ile bağlantılar kurmak ve 300 kadına yönelik farkındalık atölyeleri gerçekleştirmek vardı. YUKADER ekibi, pandemi koşullarını da gözeterek, birkaç kişinin bir araya gelebildiği durumlarda bile farkındalık atölyelerini düzenledi. Köy köy, mahalle mahalle gezerek yapılan bu çalışmalar sonucunda Yüksekova’daki birçok farklı kadın profili ile tanışma fırsatını da yakalamış oldu. Farkındalık çalışmalarının en önemli çıktısı artan şiddet başvuruları oldu. Bu da konuşulmayan konuların, bastırılan sorunların konuşulmaya başlandığına ve daha iyisine olan inancın arttığına dair bir kanıt. </p>
            </div>

            <div class="col-12 col-xl-9 mx-auto text-center">
                <div class="content-box mor-box">
                    <p class="mt-2">“Farkındalık çalışmaları sayesinde kadınların konuşabilecekleri, sorgulayabilecekleri, fark edebilecekleri ve en çok da doğru bilinçlenebilecekleri bir ortamı yaratmanın önemini kavradık. Bu çalışmadan sonra, aile içerisinde yaşanan olumsuzluklara başka bir pencereden bakmaya ve bunu düzeltmeye yönelik girişimlerde bulunan birçok kadının da olduğunu görmeye başladık.” </p>
                    <p class="bold mb-1">Bahar Sağkol, Proje Saha Çalışanı</p>
                </div>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-6.jpg" class="img-fluid" alt=""></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-7.jpg" class="img-fluid" alt=""></p>
            </div>

            <div class="col-12">
                <p>YUKADER, kamu kurumlarıyla olan ilişkilerini güçlendirmek için de ciddi bir çaba harcadı. Yıl boyunca ortaklık kurduğu Yüksekova Kaymakamlığı, Belediye, Baro, İlçe Sağlık Müdürlüğü, Şiddet Önleme ve İzleme Merkezi Müdürlüğü, Sosyal Hizmet Merkezi Müdürlüğü gibi kadınların haklarına erişimde önemli rol oynayan kurumlar ile düzenli koordinasyon toplantılarının yapılmasına önayak oldu. Kamu kurumlarını bir araya getirmekle kalmadı, bu kurumların temsilcilerinin sağladıkları hizmetler ve başvuru yollarıyla ilgili Yüksekovalı kadınlara ulaşmalarına da ortam hazırladı. Düzenlediği seminerler ile 600’ü aşkın kadın yaşadıkları şiddetten kurtulmak için hangi kamu kurumuna başvurabileceği, hangi hizmetlerden yararlanabileceği hakkında bilgilendi.</p>
                <p>Kadınların haklarına erişebilecekleri zemini her geçen gün sağlamlaştıran YUKADER, toplumsal cinsiyet eşitliği için umudu büyütmeye devam ediyor.</p>
            </div>

            <div class="col-12 my-5">
                <div id="yuksekovadaKadinOlmakSlider">
                    <div>
                        <img src="images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-8.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-9.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-10.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-11.jpg" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-12.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-12 mb-5">
                {{!-- <p>Videonun erişilebilir versiyonu için <a href="https://youtu.be/" class="color-kadin" target="_blank">tıklayınız</a>.</p> --}}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/0HxHGfrgnHo" title="Ekim Zamanı Online Buluşma Zamanı | Yüksekova Kadınları Toplumsal Destekleme ve Kültür Derneği" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>

</main>

{{/content}}
{{/extend}}