---
language: tr
title: Yüksekova’da Kadın Olmak
description: Toplumsal cinsiyet eşitsizliği dünyanın her yerinde farklı seviyelerde de olsa devam ediyor. Kadınlar için dünyanın her yeri zorluklarla dolu. Bazıları eğitim hakkından mahrum kalıyor ya da çalışma hayatına katılamıyor; kimi erken yaşta evlenmeyi deneyimlerken, çoğunluğu, yaşamının bir noktasında şiddetle yüz yüze geliyor. Bununla beraber, yağmur ne kadar yağarsa, ağaçlar da o kadar güçlü büyüyor. Evet, ayrımcılık var. Ama yıllar içinde dünyanın en güçlü hareketlerinden birine dönüşen kadın örgütlenmesi de var.
script: js/content/yuksekovada-kadin-olmak.js
langlink: en/being-a-woman-in-yuksekova.hbs
bodyClass: kadin
---

{{#extend "base"}}
{{#content "main"}}

<main>

    <div class="container-fluid" id="yuksekovada-kadin-olmak-back">
        <div class="container px-0">
            <img src="images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-1.jpg" class="img-fluid" alt="Toprak bir yolda yürüyen altı kadının arkadan çekilmiş fotoğrafı. Arka planda tek tük evler ve onların arkasında mavi, bulutsuz gökyüzü ile dağlar var.">
        </div>
    </div>

    <div class="container my-4" id="main-content">

        <div class="below-the-header">
            <div class="font-resizer text-center text-md-left">{{> fontResizer}}</div>
            <div class="category-icon text-center">{{> kadin-icon}}</div>
            <div class="sm-icons text-center text-md-right">
                <a class="mx-1 color-icons" href="https://twitter.com/YUKADER_ " target="_blank"><i class="fab fa-14x fa-twitter"></i> <span class="sr-only">Twitter linki</span></a>
                <a class="mx-1 color-icons" href="https://instagram.com/yukader_30" target="_blank"><i class="fab fa-14x fa-instagram"></i> <span class="sr-only">Instagram linki</span></a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h4 class="font-085 color-kadin text-center border-bottom-grade mb-3">YÜKSEKOVA KADINLARI TOPLUMSAL DESTEKLEME VE KÜLTÜR DERNEĞİ</h4>
                <h3 class="font-175 bold color-kadin text-center">YÜKSEKOVA’DA KADIN OLMAK</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <h6 class="bold color-kadin mb-3">Yüksekova’nın Dönüşen Kadınları: Farkında, Özgür, Güçlü</h6>
                <p>Toplumsal cinsiyet eşitsizliği dünyanın her yerinde farklı seviyelerde de olsa devam ediyor. Kadınlar için dünyanın her yeri zorluklarla dolu. Bazıları eğitim hakkından mahrum kalıyor ya da çalışma hayatına katılamıyor; kimi erken yaşta evlenmeyi deneyimlerken, çoğunluğu, yaşamının bir noktasında şiddetle yüz yüze geliyor. Bununla beraber, yağmur ne kadar yağarsa, ağaçlar da o kadar güçlü büyüyor. Evet, ayrımcılık var. Ama yıllar içinde dünyanın en güçlü hareketlerinden birine dönüşen kadın örgütlenmesi de var.</p>
                <p>Peki sizin, Hakkâri Yüksekova’da büyümekte olan kadın derneğinden haberiniz var mı? Yüksekova Kadınları Toplumsal Destekleme ve Kültür Derneği (YUKADER)’den bahsediyoruz. Onlar, bütün yağmurlara rağmen ve yağmurlarla birlikte, önce kendilerini, sonra tüm Yüksekovalı kadınları büyütüp gökyüzüne yükseltmekte kararlı.</p>
                <p>Yüksekova, 120 bine yaklaşan nüfusu ve uygun coğrafi yapısıyla, gelişime çoğu şehirden daha açık bir ilçe. Ancak çatışmaların eşlik ettiği yaşamın içinde, çok temel pek çok sorun güvenlik tehdidinin gölgesinde kalarak ertelenmiş, belki çoğunun bir sorun olduğu bile fark edilmemiş. Elbette kadınların uğradığı ayrımcılık da... YUKADER, ilçenin kadınlarını bir araya getirme gücüne sahip olan bir kadın örgütlenmesi olarak, öncelikle bu farkındalığı yaygınlaştırmak istiyor. Kadınlara bu konuda kılavuzluk edebilmek için ise kendilerinden emin hissetmeleri şart. Çekirdek ekip olarak kendileri yeterli donanımı kazanmadan, kadınların birbirinden çok çeşitli ihtiyaçlarına karşılık veremeyeceklerinin bilincindeler.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-3.jpg" class="img-fluid" alt="Üzerinde boyalar, kâğıtlar ve tabaklar bulunan uzun bir masanın iki yanına oturmuş kadınlar el işi yapıyorlar."></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-4.jpg" class="img-fluid" alt="Bir evin salonunda kadınlar. Birkaçı koltuklarda oturmuş, birkaçı halıda yerde oturmuş kadınlar, ikişerli şekilde sohbet ederken görünüyorlar. "></p>
            </div>

            <div class="col-12">
                <p>Böylece, uzun yıllardır birçok ilde kadının insan hakları üzerine çalışmalar yürüten KAMER Vakfı’nın deneyimli ekibinin destekleriyle Derneğin çalışanları ve üyelerinin katıldığı atölyeler düzenleniyor. Kadına yönelik ayrımcılık ve şiddet hangi şekillerde ortaya çıkıyor? Şiddetle nasıl baş edilir? Kadınlara nasıl ulaşılır, nasıl iletişimde kalınır, hayatlarını sahiplenmeleri yönünde nasıl yanlarında durulur? Bütün bu soruların konuşulduğu farkındalık atölyelerinde, kadınlarla bağımsız atölyeler düzenleme kapasitesi kazanan grup kolaylaştırıcıları da yetişmiş oluyor.</p>
                <p>Sıra edindikleri bilgi ve deneyimi derneğe gelen Yüksekovalı kadınlarla paylaşmakta... İlk atölyelerde yetişen grup kolaylaştırıcıları, kendi atölyelerini ilk kez uygularken ister istemez biraz tedirginler. Zaman içinde kendilerinden örnekler vererek ortamı hazırlıyor, samimi ve herkesin güvende hissedeceği bir atmosfer yaratıyorlar. Atölye katılımcısı kadınlar da ikna olunca çekingenlikleri gidiyor; onlar da kendi kalplerini açıyor, hikâyelerini paylaşıyorlar. Herkesin yaşamının içinde az veya çok ayrımcılık var. Bazıları bunun farkında, bazıları ise bunu şaşkınlıkla atölye sırasında kavrıyor. Kendilerini keşfederken, seviniyor ya da şaşırıyor ama her seferinde eskisinden çok daha özgür ve öz güven kazanarak atölyeden ayrılıyorlar.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box mor-box">Atölyeye katılan kadınlardan birinin duygularını “Kendi yaşadığım sorunları herkesin yaşadığını ve yalnız olmadığımı gördüm,” sözleriyle açıklaması, dernek sayesinde bir araya gelen kadınların bundan sonra daha güçlü ve dayanışma içinde hareket edebileceğinin en büyük göstergesi.</p>
            </div>

            <div class="col-12">
                <p>Kadınların hangi alanlarda haklarını kullanmaktan geri kaldıklarını bilmek, bunlarla baş etmenin öncelikli koşulu. Peki Yüksekovalı kadınlarla ilgili en doğru ihtiyaç analizini yapabilmek için güncel bilgi nerede bulunur? Elbette konunun asıl öznesi olan kadınlarda! YUKADER, ikinci aşamada, Yüksekova’nın genellikle göç etmiş, istihdama katılamamış, hizmetlere ulaşmakta zorlanan, gelir düzeyi düşük ailelerinin yaşadığı mahalleleri seçerek hane ziyaretleri yapıyor. Amaç, kadınların gerçek gereksinimlerini kayda geçirmek. Öte yandan, kadınların destek alabilecekleri birimler ve yaşama katılmalarını sağlayacak farklı yöntemler hakkında da bilgi veriliyor.</p>
            </div>

            <div class="col-md-6">
                <p class="my-4"><img src="images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-5.jpg" class="img-fluid" alt="Bir evin salonunda yer minderinde oturmuş sohbet eden iki kadın. Birinin elinde kâğıtlar var."></p>
            </div>
            <div class="col-md-6">
                <p class="my-4"><img src="images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-6.jpg" class="img-fluid" alt="Bir evin salonunda yer minderinde oturmuş sohbet eden iki kadın. Birinin kucağında kâğıtlar var."></p>
            </div>

            <div class="col-12">
                <p>607 kadın ile yüz yüze yapılan görüşmenin sonuçları pek de iç açıcı sayılmaz. Örneğin 18 yaşın altında evlendirilenlerin oranı yüzde 35’lerde. Görüşülenlerin neredeyse yüzde 90’ı, kadınlar şiddet yaşıyor mu sorusuna evet yanıtını veriyor. Üstelik şiddetten kurtulmak için destek alabilecekleri kurum ve mekanizmalar hakkında ya bilgi sahibi değiller ya da korktukları için başvurmaktan çekiniyorlar. Katılımcıların yüzde 39’u okur-yazar değil ve yüzde 84’ünün ev dışında gelir getiren herhangi bir istihdam imkânına erişemediği görülüyor.</p>
                <p>Verileri titizlikle rapora dönüştüren YUKADER, projenin ortağı ve destekçisi olan Yüksekova Kaymakamlığı başta olmak üzere ilgili kuruluşlara ziyaretlerde bulunarak, ellerindeki verileri paylaşıyor ve çözüm için ortak hareket etmeyi talep ediyor.</p>
            </div>

            <div class="col-12 text-center my-4">
                <a href="http://www.sabancivakfi.org/i/content/Yuksekova_Hane_Ziyaretleri_Raporu_2020.pdf" class="d-flex flex-column align-items-center text-decoration-none" target="_blank">
                    <img src="images/yuksekovada-kadin-olmak/Yuksekova-Hane-Ziyaretleri-Raporu-kapak.jpg" class="img-fluid" alt="Yüksekova Hane Ziyaretleri Raporu Kapak">
                </a>
                <p class="bold mt-2">YÜKSEKOVA'DA KADIN OLMAK PROJESİ<br>2020 HANE ZİYARETLERİ ANALİZ SONUÇLARI</p>
            </div>

            <div class="col-12">
                <p>Bu çalışmalar yapılırken Yüksekovalı kadınlar birer birer haklarının farkına varıyor, birbirleriyle dayanışma içinde özgürleşiyor ve güçleniyorlar. Okuma yazmayı kendi imkânlarıyla söken Elif, hiç beklemediği bir anda hane ziyareti için kapılarını çalan YUKADER’in anlattıklarından o kadar etkileniyor ki, çok geçmeden annesiyle birlikte Derneği ziyaret ederken buluyor kendini. İlk kez kadınların bu kadar çok olduğu bir ortamda bulunduğunu belirten Elif, burada kendisini çok değerli ve özel hissettiğini söylüyor. O şimdi, Dernekte, seramik ve çömlek eğitimlerine, okuma yazma kurslarına katıldıkça, renkli giyinmenin ya da boşanmanın ayıp olmadığını, başkalarını memnun etmek için fedakârlık yapmanın gerekmediğini ve hiçbir şeyin şiddetin gerekçesi sayılamayacağını yavaş yavaş özümseyen onlarca kadın gönüllüden biri. Yağmurlarla birlikte, yağmurlara rağmen yan yana büyüyen güzel ağaçlar gibi.</p>
            </div>

            <div class="col-12 text-center">
                <p class="content-box mor-box">“Yuvayı dişi kuşun yapacağına inanmıyorum, ama Yüksekova’yı kadınlar dönüştürecek.”</p>
                <p class="content-box-alt">Farkındalık Çalışmasına Katılan Bir Kadın</p>
            </div>

            <div class="col-md-8 mx-auto text-center my-4">
                <p>Videonun erişilebilir versiyonu için <a href="https://youtu.be/MQxWpqZYyNE" class="color-engelli" target="_blank">tıklayınız</a>.</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/WRs-_MNFiGE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-12 my-5">
                <div id="yuksekovadaKadinOlmakSlider">
                    <div>
                        <img src="images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-2.jpg" class="img-fluid" alt="Taş bir bina ve demir kapısının önünde kalabalık bir toplu fotoğraf. Ayaktaki kadınlar ellerinde sertifika benzeri kâğıtlar tutuyorlar. Bir genç kadın ile birkaç çocuk ise önde yere çömelmiş. Kadınların ve çocukların bazıları yüzlerine maske takmışlar. Arkalarında, üzerinde Yüksekova’da Kadın Olmak Projesi yazan ayaklı bir afiş var.">
                    </div>
                    <div>
                        <img src="images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-7.jpg" class="img-fluid" alt="Kapalı bir toplantı odasında çember şeklinde sandalyelere oturmuş insanlar. Arkadaki cam cephenin önünde üzerinde Yüksekova’da Kadın Olmak Projesi yazan ayaklı bir afiş var. Çemberdeki herkes, yüzünü konuştuğu anlaşılan bir kadına dönmüş, dinliyor.">
                    </div>
                    <div>
                        <img src="images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-8.jpg" class="img-fluid" alt="Üzerinde Yüksekova’da Kadın Olmak Projesi yazan ayaklı bir afişin iki yanında yan yana ayakta duran altı kadın, gülümseyerek poz veriyor.">
                    </div>
                    <div>
                        <img src="images/yuksekovada-kadin-olmak/yuksekovada-kadin-olmak-10.jpg" class="img-fluid" alt="Toprak bir arazide yan yana ayakta duran ve gülümseyen beş kadın. Arkalarında birkaç katlı evler ve dağ manzarası bulunuyor.">
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>

{{/content}}
{{/extend}}