/*Variables*/
$red: #ed222e;
$koyugri: #888993;
$acikgri: #e7e7e9;
$sub-header: #6e8089;

$sv-kahve: #a79989;
$sv-yesil: #00b159;
$sv-mavi: #00529f;
$sv-mavi-80: rgba(#00529f, 0.8);

$yesil-grad: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(var(--yesil-grad), 1) 25%, rgba(var(--yesil-grad), 1) 75%, rgba(0, 0, 0, 0) 100%);
$yesil-grad-II: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(var(--yesil-grad-II), 1) 25%, rgba(var(--yesil-grad-II), 1) 75%, rgba(0, 0, 0, 0) 100%);
$mavi-grad: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 82, 159, 1) 25%, rgba(0, 82, 159, 1) 75%, rgba(0, 0, 0, 0) 100%);

:root {
    --sv-header-back-color: #00529f;
    --navbar-back-color: #f9f9f9;
    --hamburger-line-color: #00529f;
    --yesil-grad: 0, 177, 89;
    --yesil-grad-II: 0, 177, 89;
    --navbar-border-bottom: #888993;
    --sv-nav-metin: #a79989;
    --sv-nav-metin-II: #00b159;
    --sv-nav-boxshadow-color: #bbbbbb;
    --sv-lang-back: #00b159;
    --sv-kadin-mor: #8071b3;
    --sv-engelli-turuncu: #f79327;
    --sv-genc-yesil: #00b159;
    --sv-icons: #333333;

    body.kadin {
        --slider-dot: 128, 113, 179;
    }
    body.genc {
        --slider-dot: 0, 177, 89;
    }
    body.engelli {
        --slider-dot: 247, 147, 39;
    }

    body.scrolled {
        --navbar-back-color: #00b159;
        --sv-nav-metin: #ffffff;
        --sv-nav-metin-II: #ffffff;
        --yesil-grad: 255, 255, 255;
        --yesil-grad-II: 0, 177, 89;
        --sv-nav-boxshadow-color: #ffffff;
        --hamburger-line-color: #ffffff;
        --sv-lang-back: #00529f;
        &.kadin {
            --navbar-back-color: #8071b3;
        }
        &.genc {
            --navbar-back-color: #00b159;
        }
        &.engelli {
            --navbar-back-color: #f79327;
        }
    }
}

/*breakpoint variables*/
$xmobile-width: 425px;
$mobile-width: 576px;
$tablet-width: 768px;
$smalldesktop-width: 992px;
$desktop-width: 1200px;

/* mixin media queries	*/
@mixin xsm {
    @media (min-width: #{$xmobile-width}) and (max-width: #{$mobile-width - .02px}) {
        @content;
    }
}

@mixin sm {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - .02px}) {
        @content;
    }
}

@mixin md {
    @media (min-width: #{$tablet-width}) and (max-width: #{$smalldesktop-width - .02px}) {
        @content;
    }
}

@mixin lg {
    @media (min-width: #{$smalldesktop-width}) and (max-width: #{$desktop-width - .02px}) {
        @content;
    }
}

@mixin xl {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin min-lg {
    @media (min-width: #{$smalldesktop-width}) {
        @content;
    }
}

@mixin min-md {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin min-sm {
    @media (min-width: #{$mobile-width}) {
        @content;
    }
}

@mixin min-xsm {
    @media (min-width: #{$xmobile-width}) {
        @content;
    }
}

@mixin max-xl {
    @media (max-width: #{$desktop-width - .02px}) {
        @content;
    }
}

@mixin max-lg {
    @media (max-width: #{$smalldesktop-width - .02px}) {
        @content;
    }
}

@mixin max-md {
    @media (max-width: #{$tablet-width - .02px}) {
        @content;
    }
}

@mixin max-sm {
    @media (max-width: #{$mobile-width - .02px}) {
        @content;
    }
}

@mixin max-xsm {
    @media (max-width: #{$xmobile-width - .02px}) {
        @content;
    }
}
