/* purgecss start ignore */
body {
    font-family: "Montserrat", sans-serif;
}

.light {
    font-weight: 300 !important;
}

.regular {
    font-weight: 400 !important;
}

.medium {
    font-weight: 500 !important;
}

.semibold {
    font-weight: 600 !important;
}

.bold {
    font-weight: 700 !important;
}

.xbold {
    font-weight: 800 !important;
}

.black {
    font-weight: 900 !important;
}

.font-125 {
    font-size: 1.25rem;
}
.font-15 {
    font-size: 1.5rem;
}
.font-2 {
    font-size: 2rem;
}
.font-3 {
    font-size: 3rem;
}
.font-4 {
    font-size: 4rem;
}
.font-5 {
    font-size: 5rem;
}

a {
    color: $koyugri;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $sv-mavi;
        text-decoration: underline;
    }
}
    .sv-header-back {
        background-color: $sv-mavi;
    }
    
    .sv-header-back-80 {
        background-color: $sv-mavi-80;
    }

#nav.navbar {
    z-index: 999;
    width: 100%;
    background-color: var(--navbar-back-color);
    border-bottom: 1px solid var(--navbar-border-bottom);

    .hamburger {
        padding: 15px 15px 8px;
    }

    .dropdown-menu {
        margin-top:-0.2rem;
    }

}

.tns-nav {
    padding: 15px;
    text-align: center;

    button {
        border-radius: 50px;
        width: 20px;
        height: 20px;
        margin-left: 5px;
        margin-right: 5px;
        border: 2px solid $white;
        background-color: rgba($sv-yesil, .5);

        &.tns-nav-active {
            background-color: $sv-yesil;
        }
    }
}

button:focus {
    outline: none !important;
}

a:hover {
    span {
        text-decoration: none !important;
    }
}

.fa-14x {
    font-size:1.4rem;
}
/* purgecss end ignore */
