/* purgecss start ignore */
@font-face {
    font-family: 'odudo_slabbold';
    src: url('../fonts/odudo-slab-bold-webfont.woff2') format('woff2'),
        url('../fonts/odudo-slab-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'odudo_slablight';
    src: url('../fonts/odudo-slab-light-webfont.woff2') format('woff2'),
        url('../fonts/odudo-slab-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'odudo_slabsemi_bold';
    src: url('../fonts/odudo-slab-semi-bold-webfont.woff2') format('woff2'),
        url('../fonts/odudo-slab-semi-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: "Montserrat", sans-serif;
}

.light {
    font-weight: 300 !important;
}

.regular {
    font-weight: 400 !important;
}

.medium {
    font-weight: 500 !important;
}

.semibold {
    font-weight: 600 !important;
}

.bold {
    font-weight: 700 !important;
}

.xbold {
    font-weight: 800 !important;
}

.black {
    font-weight: 900 !important;
}

.font-125 {
    font-size: 1.25rem;
}

.font-15 {
    font-size: 1.5rem;
}

.font-2 {
    font-size: 2rem;
}

.font-3 {
    font-size: 3rem;
}

.font-4 {
    font-size: 4rem;
}

.font-5 {
    font-size: 5rem;
}

a {
    color: $koyugri;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $sv-mavi;
        text-decoration: underline;
    }
}

.sv-header-back {
    background-color: $sv-mavi;
}

.sv-header-back-80 {
    background-color: $sv-mavi-80;
}

.border-bottom-yesil {
    position: relative;
    display: inline-block;
}

.border-bottom-yesil::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: $yesil-grad;
}

.color-kahve {
    color: $sv-kahve;
}

.color-yesil {
    color: $sv-yesil;
}

#nav.navbar {
    z-index: 999;
    width: 100%;
    background-color: var(--navbar-back-color);
    padding: 0 1rem;

    .hamburger {
        padding: 15px 15px 8px;
    }

    .dropdown-menu {
        margin-top: 0;
        border: 0;
        border-radius: 0;
        background-color: var(--navbar-back-color);

        @include xl {
            text-align: center;
            box-shadow: 0px -8px 15px -5px var(--sv-nav-boxshadow-color);
        }

        &::before {
            content: "";
            position: absolute;
            left: calc(50% - 15px);
            top: -15px;
            width: 0;
            height: 0;
            border-color: transparent transparent var(--navbar-back-color);
            border-style: solid;
            border-width: 0 15px 15px;
            z-index: 9999;
        }

        a.dropdown-item {
            color: var(--sv-nav-metin);
            font-weight: 600;

            &:hover,
            &:focus {
                color: $sv-yesil;
            }
        }
    }

    .dropdown-toggle {
        display: flex;
        align-items: center;
    }

    @include xl {
        .dropdown-toggle::after {
            display: none;
        }
    }

    ul.navbar-nav {
        a.nav-link {
            font-size: 1.1rem;

            @include xl {
                padding: 1.5rem 0.5rem;
            }
        }

        #menuitem1 {
            a.nav-link {
                color: var(--sv-nav-metin-II);
                font-weight: 700;
            }
        }

        #menuitem2,
        #menuitem3,
        #menuitem4 {
            @include xl {
                display: flex;
                align-items: center;
            }

            a.nav-link {
                color: var(--sv-nav-metin);
                font-weight: 500;
            }
        }

        a.nav-link div {
            position: relative;
        }

        a.nav-link:hover div::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            width: 100%;
            background: $yesil-grad;
        }

        .nav-item.dropdown.show {
            .nav-link div::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 2px;
                width: 100%;
                background: $yesil-grad;
            }
        }

    }

    .navbar-brand {
        img {
            &.unscrolled-image {
                display: inline;
            }

            &.scrolled-image {
                display: none;
            }
        }
    }
}

body.scrolled {
    #nav.navbar {
        .navbar-brand {
            img {
                &.unscrolled-image {
                    display: none;
                }

                &.scrolled-image {
                    display: inline;
                }
            }
        }
    }
}

.tns-controls {
    position: absolute;
    top: calc(50% - 14px);
    width: calc(100% - 30px);

    @include max-sm {
        width: calc(100% - 60px);
        left: 0;
        right: 0;
        margin: auto;
    }

    display: flex;
    justify-content: space-between;
    z-index: 99;

    button {
        background-color: transparent;
        border: 0;

        &[data-controls=prev] {
            img {
                margin-left: -45px
            }
        }

        &[data-controls=next] {
            img {
                margin-right: -45px
            }
        }
    }
}

.tns-slider {

    &#sayilarla-hibeler-slider {

        .tns-item {
            transform: scale(.75);
            transition-timing-function: ease-out;
            transition: 0.5s;
        }

        .active--slide {
            transform: scale(1);
            transition-timing-function: ease-in;
            transition: 0.5s;
        }

    }

    .yesil-yuvarlak {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        background: radial-gradient(#00b159, #00b159);


        .sayi {
            color: $white;
            text-align: center;
            font-size: 5rem;
            font-weight: 800;

            span {
                font-size: 3rem;
                font-weight: 800;
            }
        }

        .spot {
            color: $white;
            text-align: center;
            font-size: 1.5rem;
        }
    }
}

.tns-nav {
    padding: 15px;
    text-align: center;

    button {
        border-radius: 50px;
        width: 20px;
        height: 20px;

        @include max-md {
            width: 10px;
            height: 12px;
        }

        margin-left: 5px;
        margin-right: 5px;
        border: 0;
        background-color: rgba(var(--slider-dot), .5);

        &.tns-nav-active {
            background-color: rgb(var(--slider-dot));
        }
    }
}

.kunye {
    .dropdown-toggle {
        border: 0;
        background: none;
        color: $sv-mavi;
        font-size: 1rem;
        font-weight: 600;
        width: 290px;
        text-align: center;
        position: relative;
        padding: .5rem;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 2px;
            background: $mavi-grad;
        }
    }

    .dropup .dropdown-toggle::after {
        display: none;
    }

}

button:focus {
    outline: none !important;
}

a:hover {
    span {
        text-decoration: none !important;
    }
}

.fa-14x {
    font-size: 1.4rem;
}

#anaSlider {
    .slide {
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: bottom;
    }

    .slide1 {
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(/images/slider/slider1.jpg);
    }

    .slide2 {
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(/images/slider/slider1.jpg);
    }

    .slide3 {
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(/images/slider/slider1.jpg);
    }
}

/* purgecss end ignore */