/* purgecss start ignore */
@font-face {
    font-family: 'odudo_slabbold';
    src: url('../fonts/odudo-slab-bold-webfont.woff2') format('woff2'),
        url('../fonts/odudo-slab-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'odudo_slablight';
    src: url('../fonts/odudo-slab-light-webfont.woff2') format('woff2'),
        url('../fonts/odudo-slab-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'odudo_slabsemi_bold';
    src: url('../fonts/odudo-slab-semi-bold-webfont.woff2') format('woff2'),
        url('../fonts/odudo-slab-semi-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: "Montserrat", sans-serif;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.odudo-bold {
    font-family: 'odudo_slabbold' !important;
}

.odudo-semibold {
    font-family: 'odudo_slabsemi_bold' !important;
}

.odudo-light {
    font-family: 'odudo_slablight' !important;
}

.light {
    font-weight: 300 !important;
}

.regular {
    font-weight: 400 !important;
}

.medium {
    font-weight: 500 !important;
}

.semibold {
    font-weight: 600 !important;
}

.bold {
    font-weight: 700 !important;
}

.xbold {
    font-weight: 800 !important;
}

.black {
    font-weight: 900 !important;
}

.font-125 {
    font-size: 1.25rem;
}

.font-15 {
    font-size: 1.5rem;
}

.font-2 {
    font-size: 2rem;
}

.font-3 {
    font-size: 3rem;
}

.font-4 {
    font-size: 4rem;
}

.font-5 {
    font-size: 5rem;
}

a {
    color: $sv-yesil;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $sv-mavi;
        text-decoration: underline;
    }
}

.sv-header-back {
    background-color: $sv-mavi;
}

.sv-header-back-80 {
    background-color: $sv-mavi-80;
}

.border-bottom-yesil {
    position: relative;
    display: inline-block;
}

.border-bottom-yesil::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 100%;
    background: $yesil-grad-II;
}

.color-kahve {
    color: $sv-kahve;
}

.color-yesil {
    color: $sv-yesil;
}

html[lang=en] {
    #nav.navbar {
        #menuitem1 {
            .dropdown-menu {
                left: calc(50% - 135px);
            }
        }

        #menuitem3 {
            .dropdown-menu {
                left: calc(50% - 228px);
            }
        }

        #menuitem4 {
            .dropdown-menu {
                left: calc(50% - 90px);
            }
        }
    }
}

html[lang=tr] {
    #nav.navbar {
        #menuitem1 {
            .dropdown-menu {
                left: calc(50% - 135px);
            }
        }

        #menuitem3 {
            .dropdown-menu {
                left: calc(50% - 170px);
            }
        }

        #menuitem4 {
            .dropdown-menu {
                left: calc(50% - 90px);
            }
        }
    }
}

#nav.navbar {
    z-index: 999;
    width: 100%;
    background-color: var(--navbar-back-color);
    padding: 0 1rem;

    .hamburger {
        padding: 15px 15px 8px;
    }

    .dropdown-menu {
        margin-top: 0;
        border: 0;
        border-radius: 0;
        background-color: #f9f9f9;

        @include xl {
            text-align: center;
            box-shadow: 0px -8px 15px -5px var(--sv-nav-boxshadow-color);
        }

        &::before {
            content: "";
            position: absolute;
            left: calc(50% - 15px);
            top: -15px;
            width: 0;
            height: 0;
            border-color: transparent transparent var(--navbar-back-color);
            border-style: solid;
            border-width: 0 15px 15px;
            z-index: 9999;
        }

        a.dropdown-item {
            color: var(--sv-nav-metin);
            font-weight: 600;

            &:hover,
            &:focus {
                color: var(--sv-lang-back);
                background: none;
            }
        }
    }

    .dropdown-toggle {
        display: flex;
        align-items: center;
    }

    @include xl {
        .dropdown-toggle::after {
            display: none;
        }
    }

    ul.navbar-nav {
        a.nav-link {
            font-size: 1rem;

            @include xl {
                padding: 1.5rem 0.5rem;
            }
        }

        #menuitem1 {
            a.nav-link {
                color: var(--sv-nav-metin-II);
                font-weight: 700;
            }
        }

        #menuitem0,
        #menuitem2,
        #menuitem3,
        #menuitem4,
        #menuitem5 {
            @include xl {
                display: flex;
                align-items: center;
            }

            a.nav-link {
                color: var(--sv-nav-metin);
                font-size: 0.75rem;
                font-weight: 700;

                &:hover,
                &:focus {
                    color: var(--sv-nav-metin-II);
                }
            }
        }

        #menuitem5 {
            position: relative;

            a.nav-link {
                color: #FFF;

                @include max-xl {
                    &:hover div::after {
                        background: none;
                    }
                }
            }
        }

        #menuitem5:before {
            content: "";
            background-color: var(--sv-lang-back);
            border-radius: 50%;
            position: absolute;
            top: calc(50% - 12px);
            left: calc(50% - 13px);
            width: 25px;
            height: 25px;

            @include max-xl {
                top: calc(50% - 13px);
                left: -3px;
            }

        }

        a.nav-link div {
            position: relative;
        }

        a.nav-link:hover div::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -3px;
            height: 2px;
            width: 100%;
            background: $yesil-grad;
        }

        .nav-item.dropdown.show {
            .nav-link {
                color: var(--sv-nav-metin-II);

                div::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -3px;
                    height: 2px;
                    width: 100%;
                    background: $yesil-grad;
                }
            }

            .dropdown-menu.show {
                .dropdown-item:active {
                    background-color: $acikgri;
                }
            }
        }

    }

    .navbar-brand {
        img {
            &.unscrolled-image {
                display: inline;
            }

            &.scrolled-image {
                display: none;
            }
        }
    }
}

body.scrolled {
    #nav.navbar {
        .navbar-brand {
            img {
                &.unscrolled-image {
                    display: none;
                }

                &.scrolled-image {
                    display: inline;
                }
            }
        }
    }
}

.tns-controls {
    position: absolute;
    top: calc(50% - 14px);
    width: calc(100% - 30px);
    outline: none;

    @include max-sm {
        width: calc(100% - 60px);
        left: 0;
        right: 0;
        margin: auto;
    }

    display: flex;
    justify-content: space-between;
    z-index: 99;

    button {
        background-color: transparent;
        border: 0;

        &[data-controls=prev] {
            img {
                margin-left: -45px
            }
        }

        &[data-controls=next] {
            img {
                margin-right: -45px
            }
        }
    }
}

.tns-slider {

    &#sayilarla-hibeler-slider {

        .tns-item {
            transform: scale(.75);
            transition-timing-function: ease-out;
            transition: 0.5s;
        }

        .active--slide {
            transform: scale(1);
            transition-timing-function: ease-in;
            transition: 0.5s;
        }

    }

    .yesil-yuvarlak {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        background: radial-gradient(#00b159, #00b159);


        .sayi {
            color: $white;
            text-align: center;
            font-size: 5rem;
            font-weight: 800;

            span {
                font-size: 3rem;
                font-weight: 800;
            }
        }

        .spot {
            color: $white;
            text-align: center;
            font-size: 1.5rem;
        }
    }
}

.tns-nav {
    padding: 15px;
    text-align: center;

    button {
        border-radius: 50px;
        width: 20px;
        height: 20px;

        @include max-md {
            width: 10px;
            height: 12px;
        }

        margin-left: 5px;
        margin-right: 5px;
        border: 0;
        background-color: rgba(var(--slider-dot), .5);

        &.tns-nav-active {
            background-color: rgb(var(--slider-dot));
        }
    }
}

.kunye {
    .dropdown-toggle {
        border: 0;
        background: none;
        color: $sv-mavi;
        font-size: 1rem;
        font-weight: 600;
        width: 290px;
        text-align: center;
        position: relative;
        padding: .5rem;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 2px;
            background: $mavi-grad;
        }
    }

    .dropup .dropdown-toggle::after {
        display: none;
    }

    .dropup {
        .dropdown-menu {
            font-family: "Montserrat", sans-serif;
            font-size: .65rem;
            text-align: center;
            width: 292px;
            padding: 1rem 1rem 0;
            margin-bottom: 20px;
            box-shadow: 0px 15px 20px -5px #ccc;
        }

        .dropdown-menu::after {
            content: "";
            position: absolute;
            left: calc(50% - 15px);
            top: auto;
            width: 0;
            height: 0;
            border-color: #FFF transparent transparent;
            border-style: solid;
            border-width: 15px 15px 0px;
            z-index: 9999;
        }
    }
}

#baskanin-mesaji-back {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/baskanin-mesaji.jpg);
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#hibe-programi-hakkinda-back {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/hibe-programi-hakkinda.jpg);
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#engelsiz-fen-ogretimi-back {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/engelsiz-fen-ogretimi/engelsiz-fen-ogretimi-1.jpg);
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
}

button:focus {
    outline: none !important;
}

a:hover {
    span {
        text-decoration: none !important;
    }
}

.fa-14x {
    font-size: 1.4rem;
}

#anaSlider {
    .slide {
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: bottom;
    }

    .slide1 {
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(/images/slider/slider1.jpg);
    }

    .slide2 {
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(/images/slider/slider1.jpg);
    }

    .slide3 {
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(/images/slider/slider1.jpg);
    }
}

.js-font-decrease {
    font-size: 75%;
    cursor: pointer
}

.js-font-increase {
    font-size: 125%;
    cursor: pointer
}

.js-font-normal {
    cursor: pointer
}

.title-top-space-for-header {
    padding-top: 100px;
    margin-top: -35px;
}

#footer {
    a {
        color: $white;

        &:hover,
        &:focus {
            color: $acikgri;
        }
    }
}

.svg-frame {
    overflow-y: scroll;

    svg {
        min-width: 720px;
    }
}

.content-box {
    margin: 15px 0;
    padding: 20px;
    border: 2px dotted $sv-yesil;

    span {
        font-weight: 700;
        color: $sv-yesil;
    }
}

svg {
    .svgicon {
        cursor: pointer;

        .drop {
            display: none;
        }
    }
}

/* purgecss end ignore */