<!DOCTYPE html>
<html lang="{{#eq language 'tr'}}tr{{else}}en{{/eq}}">
{{> head}}

<body {{#if bodyClass}}class="{{ bodyClass }}" {{/if}}>
    {{#eq language 'tr'}}
    {{> browser-upgrade-tr}}
    <header>
        {{> sabanci-vakfi-header}}
        {{> navigasyon}}
    </header>
    {{else}}
    {{> browser-upgrade-en}}
    <header>
        {{> sabanci-vakfi-header}}
        {{> navigation}}
    </header>
    {{/eq}}
    <!-- /main-container -->
    <!-- /main-container -->
    {{#block "main"}}
    {{/block}}
    <!-- /main-container -->
    {{> sabanci-vakfi-footer}}
    <script src="{{ script }}"></script>
</body>

</html>