<!DOCTYPE html>
<html lang="{{ language }}">
{{> head}}

<body>
    {{> browser-upgrade-tr}}
    <header>
        {{> sabanci-vakfi-header}}
        {{> navigasyon}}
    </header>
    <!-- /main-container -->
    {{#block "main"}}
    {{/block}}
    <!-- /main-container -->
    {{> sabanci-vakfi-footer}}
    <script src="{{ script }}"></script>
</body>

</html>