<!DOCTYPE html>
<html lang="{{ language }}">
{{> head}}

<body>
    {{> browser-upgrade-tr}}
    {{> navigasyon}}
    <!-- /main-container -->
    {{#block "main"}}
    {{/block}}
    <!-- /main-container -->
    <script src="{{ script }}"></script>
</body>

</html>